<link rel="stylesheet" href="{{ 'all_products.css' | asset_url }}" media="print" onload="this.media='all'">

{%- style -%}

{%- endstyle -%}

<div class="all-products" id="all-products">
	<div class="all-products__title">All Products</div>
	<div class="all-products__list">				
		<div class="all-products__list-product-wrap">
			<div class="all-products__list-product">
				<div class="all-products__list-product-gallery">
					<div class="all-products__list-product-gallery-thumbs">
						<div class="all-products__list-product-gallery-thumb"></div>
						<div class="all-products__list-product-gallery-thumb"></div>
						<div class="all-products__list-product-gallery-thumb"></div>
						<div class="all-products__list-product-gallery-thumb"></div>
						<div class="all-products__list-product-gallery-more">
							<img src="{{ 'expand.png' | asset_url }}">
						</div>								
					</div>
					<div class="all-products__list-product-gallery-current">
						<div class="all-products__list-product-gallery-image"></div>
						<div class="all-products__list-product-gallery-play">
							<img src="{{ 'play_button.png' | asset_url }}">
						</div>
						<div class="all-products__list-product-gallery-nav all-products__list-product-gallery-nav-prev">
							<img src="{{ 'gallery_prev.png' | asset_url }}">
						</div>
						<div class="all-products__list-product-gallery-nav all-products__list-product-gallery-nav-next">
							<img src="{{ 'gallery_next.png' | asset_url }}">
						</div>
					</div>
				</div>
				<div class="all-products__list-product-info">
					<div>
						<div class="all-products__list-product-title">Teslogic transmitter</div>
						<div class="all-products__list-product-price">$99.99</div>
						<div class="all-products__list-product-subtitle">
							The pack contains Teslogic transmitter, phone holder and iOS / Android Teslogic app
						</div>
					</div>
					<div>
						<div class="all-products__list-product-amount">
							<button class="all-products__list-product-amount-button all-products__list-product-amount-button-minus">
								<div style="width: 20px; height: 4px; background: #0F0F0F; position: absolute; left: 18px; top: 26px;"></div>
							</button>
							<span class="all-products__list-product-amount-value">1</span>
							<button class="all-products__list-product-amount-button all-products__list-product-amount-button-plus">
								<div style="width: 20px; height: 4px; background: #0F0F0F; position: absolute; left: 18px; top: 26px;"></div>
								<div style="width: 20px; height: 4px; background: #0F0F0F; position: absolute; left: 18px; top: 26px; transform: rotate(-90deg); transform-origin: center;"></div>
							</button>
						</div>
						<button class="all-products__list-product-add">Add to cart</button>
					</div>
				</div>
			</div>	
			<div class="all-products__list-product-more_info">
				<button class="all-products__list-product-more_info-button">More info</button>				
			</div>		
		</div>					
		<div class="all-products__list-product-wrap">
			<div class="all-products__list-product">
				<div class="all-products__list-product-gallery">
					<div class="all-products__list-product-gallery-thumbs">
						<div class="all-products__list-product-gallery-thumb"></div>
						<div class="all-products__list-product-gallery-thumb"></div>
						<div class="all-products__list-product-gallery-thumb"></div>
						<div class="all-products__list-product-gallery-thumb"></div>
						<div class="all-products__list-product-gallery-more">
							<img src="{{ 'expand.png' | asset_url }}">
						</div>								
					</div>
					<div class="all-products__list-product-gallery-current">
						<div class="all-products__list-product-gallery-image"></div>
						<div class="all-products__list-product-gallery-play">
							<img src="{{ 'play_button.png' | asset_url }}">
						</div>
						<div class="all-products__list-product-gallery-nav all-products__list-product-gallery-nav-prev">
							<img src="{{ 'gallery_prev.png' | asset_url }}">
						</div>
						<div class="all-products__list-product-gallery-nav all-products__list-product-gallery-nav-next">
							<img src="{{ 'gallery_next.png' | asset_url }}">
						</div>
					</div>
				</div>
				<div class="all-products__list-product-info">
					<div>
						<div class="all-products__list-product-title">Teslogic transmitter</div>
						<div class="all-products__list-product-price">$99.99</div>
						<div class="all-products__list-product-subtitle">
							The pack contains Teslogic transmitter, phone holder and iOS / Android Teslogic app
						</div>
					</div>
					<div>
						<div class="all-products__list-product-amount">
							<button class="all-products__list-product-amount-button all-products__list-product-amount-button-minus">
								<div style="width: 20px; height: 4px; background: #0F0F0F; position: absolute; left: 18px; top: 26px;"></div>
							</button>
							<span class="all-products__list-product-amount-value">1</span>
							<button class="all-products__list-product-amount-button all-products__list-product-amount-button-plus">
								<div style="width: 20px; height: 4px; background: #0F0F0F; position: absolute; left: 18px; top: 26px;"></div>
								<div style="width: 20px; height: 4px; background: #0F0F0F; position: absolute; left: 18px; top: 26px; transform: rotate(-90deg); transform-origin: center;"></div>
							</button>
						</div>
						<button class="all-products__list-product-add">Add to cart</button>
					</div>
				</div>
			</div>	
			<div class="all-products__list-product-more_info">
				<button class="all-products__list-product-more_info-button">More info</button>				
			</div>		
		</div>		
	</div>
</div>
