<style type="text/css">	
	.box_block-title {
		font-family: 'SF Pro';
		font-style: normal;
		font-weight: 700;
		font-size: 52px;
		line-height: 64px;
		letter-spacing: 0.02em;
		color: #000000;
		/*margin-left: 128px;*/
		margin-top: 36px;
		margin-bottom: 45px;
		text-align: left;
	}
	.box_block-title-break {
		display: none;
	}
	.box_block-content {
		width: 1366px;
		height: 862px;
	}
	.box_block-content-mobile {
		display: none;
	}
	.box_block-top {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		grid-column-gap: 70px;
	}
	.box_block-transmitter {
		width: 382px;
		height: 340px;
		margin-left: 109px;
		position: relative;
	}
	.box_block-transmitter img {
		width: 100%;
	}
	.box_block-description {
		width: 653px;
		height: 128px;
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 400;
		font-size: 22px;
		line-height: 32px;
		color: #000000;
	}
	.pointer-transmitter {
		width: 141px;
		height: 77px;
		left: 63px;
		bottom: 5px;
	}
	.pointer-wrap {
		position: relative;
	}
	.pointer-transmitter .pointer-legend, .box_block-item .pointer-legend {
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: rgba(0, 0, 0, 0.64);
		position: absolute;
		bottom: calc(-1 * (17px + 12px));
		top: unset;
		white-space: nowrap;
	}
	.box_block-middle {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		width: 1142.04px;
		margin-top: 52px;
		margin-left: 144px;
		margin-bottom: 104.46px;
	}
	.box_block-item {
		position: relative;
	}
	.box_block-item img {
		width: 100%;
	}
	.box_block-item-1 {
		width: 254.92px;
		height: 215.31px;
		margin-top: 40.5px;
	}
	.box_block-item-2 {
		width: 196px;
		height: 197px;
		margin-top: 41px;
		margin-left: 102.96px;
	}
	.box_block-item-3 {
		width: 251px;
		height: 245px;
		margin-top: 25px;
		margin-left: 80.04px;
	}
	.box_block-item-4 {
		width: 228px;
		height: 319.54px;
		margin-top: 0;
		margin-left: 10.96px;
	}
	.pointer-item-1 {
		width: 130px;
		height: 74px;
		top: 173.5px;
		left: 34px;
	}
	.pointer-item-2 {
		width: 118px;
		height: 74px;
		top: 176px;
		left: -23px;
	}
	.pointer-item-3 {
		width: 118px;
		height: 74px;
		top: 192px;
		left: 4px;
	}
	.pointer-item-4 {
		width: 81px;
		height: 74px;
		top: 217.23px;
		left: 35px;
	}
	@media screen and (min-width: 1000px) and (max-width: 1366px) {
		.box_block-title {
			font-size: calc(52 * 100vw / 1366);
			line-height: calc(64 * 100vw / 1366);
			margin-top: calc(36 * 100vw / 1366);
			margin-bottom: calc(45 * 100vw / 1366);
		}
		.box_block-content {
			width: calc(1366 * 100vw / 1366);
			height: calc(862 * 100vw / 1366);
		}
		.box_block-top {
			grid-column-gap: calc(70 * 100vw / 1366);
		}
		.box_block-transmitter {
			width: calc(382 * 100vw / 1366);
			height: calc(340 * 100vw / 1366);
			margin-left: calc(109 * 100vw / 1366);
		}
		.box_block-description {
			width: calc(653 * 100vw / 1366);
			height: calc(128 * 100vw / 1366);
			font-size: calc(22 * 100vw / 1366);
			line-height: calc(32 * 100vw / 1366);
		}
		.pointer-transmitter {
			width: calc(141 * 100vw / 1366);
			height: calc(77 * 100vw / 1366);
			left: calc(63 * 100vw / 1366);
			bottom: calc(5 * 100vw / 1366);
		}
		.pointer-transmitter .pointer-legend, .box_block-item .pointer-legend {
			font-size: calc(14 * 100vw / 1366);
			line-height: calc(17 * 100vw / 1366);
			bottom: calc(-1 * (calc(17 * 100vw / 1366) + 12px));
			/*top: unset;*/
		}
		.box_block-middle {
			width: calc(1142.04 * 100vw / 1366);
			margin-top: calc(52 * 100vw / 1366);
			margin-left: calc(144 * 100vw / 1366);
			margin-bottom: calc(104.46 * 100vw / 1366);
		}
		.box_block-item-1 {
			width: calc(254.92 * 100vw / 1366);
			height: calc(215.31 * 100vw / 1366);
			margin-top: calc(40.5 * 100vw / 1366);
		}
		.box_block-item-2 {
			width: calc(196 * 100vw / 1366);
			height: calc(197 * 100vw / 1366);
			margin-top: calc(41 * 100vw / 1366);
			margin-left: calc(102.96 * 100vw / 1366);
		}
		.box_block-item-3 {
			width: calc(251 * 100vw / 1366);
			height: calc(245 * 100vw / 1366);
			margin-top: calc(25 * 100vw / 1366);
			margin-left: calc(80.04 * 100vw / 1366);
		}
		.box_block-item-4 {
			width: calc(228 * 100vw / 1366);
			height: calc(319.54 * 100vw / 1366);
			margin-top: 0;
			margin-left: calc(10.96 * 100vw / 1366);
		}
		.pointer-item-1 {
			width: calc(130 * 100vw / 1366);
			height: calc(74 * 100vw / 1366);
			top: calc(173.5 * 100vw / 1366);
			left: calc(34 * 100vw / 1366);
		}
		.pointer-item-2 {
			width: calc(118 * 100vw / 1366);
			height: calc(74 * 100vw / 1366);
			top: calc(176 * 100vw / 1366);
			left: calc(-23 * 100vw / 1366);
		}
		.pointer-item-3 {
			width: calc(118 * 100vw / 1366);
			height: calc(74 * 100vw / 1366);
			top: calc(192 * 100vw / 1366);
			left: calc(4 * 100vw / 1366);
		}
		.pointer-item-4 {
			width: calc(81 * 100vw / 1366);
			height: calc(74 * 100vw / 1366);
			top: calc(217.23 * 100vw / 1366);
			left: calc(35 * 100vw / 1366);
		}
	}
	@media screen and (max-width: 999px) {
		.box_block-title {
			width: 100%;
			height: 86px;
			font-family: 'SF Pro';
			font-style: normal;
			font-weight: 700;
			font-size: 36px;
			line-height: 43px;
			letter-spacing: 0.02em;
			/*margin-top: 80px;*/
			margin-bottom: 0;
		}
    	.box_block-title-break {
    		display: block;
    	}
		.box_block-content {
			display: none;
		}
		.box_block-content-mobile {
			display: flex;
			flex-direction: column;
			height: 997px;
		}
		.box_block-description {
			width: 331px;
			height: 125px;
			font-family: 'Gotham';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 140%;
			color: #000000;
			margin: 40.29px 40px 39.71px 20px;
		}
		.box_block-items-mobile {
			position: relative;
			margin-top: 0;
			width: 100%;
		}
		.box_block-item-mobile {
			position: absolute;
		}
		.box_block-item-mobile-wrap {
			position: relative;
		}
		.box_block-item-mobile-transmitter {
			top: 0;
			right: 68.02px;
			width: 177.96px;
			height: 158px;
		}
		.box_block-item-mobile-1 {
			top: 146px;
			left: 8px;
			width: 175.12px;
			height: 147.91px;
		}
		.box_block-item-mobile-2 {
			top: 319.43px;
			right: 45px;
			width: 136px;
			height: 137px;
		}
		.box_block-item-mobile-3 {
			top: 464.56px;
			left: -6px;
			width: 172px;
			height: 167px;
		}
		.box_block-item-mobile-4 {
			top: 590.56px;
			right: 42px;
			width: 179px;
			height: 201px;
		}
		.box_block-item-mobile-wrap {
			width: 100%;
		}
		.box_block-item-mobile-wrap img {
			width: 100%;
		}
		.box_block-item-mobile .pointer {
			height: 0;
			border: 1px solid #3374FB;
		}
		.box_block-item-mobile .pointer-point {
			top: -4px;
			width: 7px;
			height: 7px;
		}
		.box_block-item-mobile .pointer-left .pointer-legend {
			left: 0;
		}
		.box_block-item-mobile .pointer-right .pointer-legend {
			right: 0;
		}
		.box_block-item-mobile .pointer-left .pointer-point {
			right: -4px;
		}
		.box_block-item-mobile .pointer-right .pointer-point {
			left: -4px;
		}
		.pointer-mobile-transmitter {
			width: 168px;
			right: 134.98px;
			top: 79px;
		}
		.pointer-item-mobile-1 {
			width: 168px;
			left: 155px;
			top: 88px;
		}
		.pointer-item-mobile-2 {
			width: 205px;
			right: 120px;
			top: 73px;
		}
		.pointer-item-mobile-3 {
			width: 219px;
			left: 119px;
			top: 86px;
		}
		.pointer-item-mobile-4 {
			width: 239px;
			right: 91px;
			top: 112.5px;
		}
		.box_block-content-mobile .pointer-legend {
			top: calc(-1 * (17px + 12px));
		}
	}
</style>
<div id="box_block">
	<div class="block_title box_block-title">What’s <br class="box_block-title-break">in the box</div>				
	<div class="box_block-content">
		<div class="box_block-top">
			<div class="box_block-transmitter">
				<img src="{{ 'transmitter.png' | asset_url }}" srcset="{{ 'transmitter-retina.png' | asset_url }} 2x" loading="lazy">
	      <div class="pointer pointer-bottom pointer-left pointer-transmitter">
	        <div class="pointer-wrap">
	          <div class="pointer-legend">
	            Teslogic transmitter
	          </div>
	          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
	        </div>
	      </div>
			</div>
			<div class="box_block-description">
				In the box, you will find a Teslogic transmitter and everything you need to install it, as well as a holder for placing the phone where you are used to seeing the car dashboard.
			</div>
		</div>	
		<div class="box_block-middle">
			<div class="box_block-item box_block-item-1">
				<img src="{{ 'box-item-1.png' | asset_url }}" srcset="{{ 'box-item-1-retina.png' | asset_url }} 2x" loading="lazy">
	      <div class="pointer pointer-bottom pointer-left pointer-item-1">
	        <div class="pointer-wrap">
	          <div class="pointer-legend">
	            Transmitter Wiring
	          </div>
	          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
	        </div>
	      </div>			
			</div>
			<div class="box_block-item box_block-item-2">
				<img src="{{ 'box-item-2.png' | asset_url }}" srcset="{{ 'box-item-2-retina.png' | asset_url }} 2x" loading="lazy">
	      <div class="pointer pointer-bottom pointer-left pointer-item-2">
	        <div class="pointer-wrap">
	          <div class="pointer-legend">
	            Magsafe Magnet
	          </div>
	          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
	        </div>
	      </div>			
			</div>
			<div class="box_block-item box_block-item-3">
				<img src="{{ 'box-item-3.png' | asset_url }}" srcset="{{ 'box-item-3-retina.png' | asset_url }} 2x" loading="lazy">
	      <div class="pointer pointer-bottom pointer-left pointer-item-3">
	        <div class="pointer-wrap">
	          <div class="pointer-legend">
	            Phone Holder
	          </div>
	          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
	        </div>
	      </div>			
			</div>
			<div class="box_block-item box_block-item-4">
				<img src="{{ 'box-item-4.png' | asset_url }}" srcset="{{ 'box-item-4-retina.png' | asset_url }} 2x" loading="lazy">
	      <div class="pointer pointer-bottom pointer-left pointer-item-4">
	        <div class="pointer-wrap">
	          <div class="pointer-legend">
	            Plastic Tool
	          </div>
	          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
	        </div>
	      </div>			
			</div>
		</div>
	</div>
	<div class="box_block-content-mobile">		
		<div class="box_block-description">
			In the box, you will find a Teslogic transmitter and everything you need to install it, as well as a holder for placing the phone where you are used to seeing the car dashboard.
		</div>
		<div class="box_block-items-mobile">
			<div class="box_block-item-mobile box_block-item-mobile-transmitter">
				<div class="box_block-item-mobile-wrap">
					<img src="{{ 'transmitter-mobile.png' | asset_url }}">
		      <div class="pointer pointer-left pointer-mobile-transmitter">
		        <div class="pointer-wrap">
		          <div class="pointer-legend">
		            Teslogic transmitter
		          </div>
		          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
		        </div>
		      </div>			
	      </div>			
			</div>
			<div class="box_block-item-mobile box_block-item-mobile-1">
				<div class="box_block-item-mobile-wrap">
					<img src="{{ 'box-item-1-mobile.png' | asset_url }}">
		      <div class="pointer pointer-right pointer-item-mobile-1">
		        <div class="pointer-wrap">
		          <div class="pointer-legend">
		            Transmitter Wiring
		          </div>
		          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
		        </div>
		      </div>			
	      </div>			
			</div>
			<div class="box_block-item-mobile box_block-item-mobile-2">
				<div class="box_block-item-mobile-wrap">
					<img src="{{ 'box-item-2-mobile.png' | asset_url }}">
		      <div class="pointer pointer-left pointer-item-mobile-2">
		        <div class="pointer-wrap">
		          <div class="pointer-legend">
		            Magsafe Magnet
		          </div>
		          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
		        </div>
		      </div>			
	      </div>			
			</div>
			<div class="box_block-item-mobile box_block-item-mobile-3">
				<div class="box_block-item-mobile-wrap">
					<img src="{{ 'box-item-3-mobile.png' | asset_url }}">
		      <div class="pointer pointer-right pointer-item-mobile-3">
		        <div class="pointer-wrap">
		          <div class="pointer-legend">
		            Phone Holder
		          </div>
		          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
		        </div>
		      </div>			
	      </div>			
			</div>
			<div class="box_block-item-mobile box_block-item-mobile-4">
				<div class="box_block-item-mobile-wrap">
					<img src="{{ 'box-item-4-mobile.png' | asset_url }}">
		      <div class="pointer pointer-left pointer-item-mobile-4">
		        <div class="pointer-wrap">
		          <div class="pointer-legend">
		            Plastic Tool
		          </div>
		          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
		        </div>
		      </div>			
	      </div>			
			</div>
		</div>
	</div>
</div>