<style type="text/css">	
	.box_block-title {
		font-family: 'SF Pro';
		font-style: normal;
		font-weight: 700;
		font-size: 52px;
		line-height: 64px;
		letter-spacing: 0.02em;
		color: #000000;
		/*margin-left: 128px;*/
		margin-bottom: 45px;
		text-align: center;
	}
	.box_block-top {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		grid-column-gap: 70px;
	}
	.box_block-transmitter {
		width: 382px;
		height: 340px;
		margin-left: 109px;
		position: relative;
	}
	.box_block-transmitter img {
		width: 100%;
	}
	.box_block-description {
		width: 653px;
		height: 128px;
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 400;
		font-size: 22px;
		line-height: 32px;
		color: #000000;
	}
	.pointer-transmitter {
		width: 141px;
		height: 77px;
		left: 63px;
		bottom: 5px;
	}
	.pointer-wrap {
		position: relative;
	}
	.pointer-legend {
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: rgba(0, 0, 0, 0.64);
		position: absolute;
		bottom: calc(-1 * (17px + 12px));
	}
</style>
<div id="box_block">
	<div class="box_block-title">What’s in the box</div>				
	<div class="box_block-top">
		<div class="box_block-transmitter">
			<img src="{{ 'transmitter.png' | asset_url }}" srcset="{{ 'transmitter-retina.png' | asset_url }} 2x" loading="lazy">
			<!-- <div class="box_block-transmitter-pointer"></div> -->
      <div class="pointer pointer-bottom pointer-left pointer-transmitter">
        <div class="pointer-wrap">
          <div class="pointer-legend">
            Teslogic transmitter
          </div>
          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
        </div>
      </div>
		</div>
		<div class="box_block-description">
			In the box, you will find a Teslogic transmitter and everything you need to install it, as well as a holder for placing the phone where you are used to seeing the car dashboard.
		</div>
	</div>	
	{% assign indices = "1,2,3,4" | split: ',' %}		
	<div class="box_block-middle">
		{% for index in indices %}
		<div class="box_block-item">
			<img src="{{ 'box-item-' + index + '.png' | asset_url }}" srcset="{{ 'box-item-' + index + '-retina.png' | asset_url }} 2x" loading="lazy">
			<!-- <div class="box_block-transmitter-pointer"></div> -->
      <div class="pointer pointer-bottom pointer-left pointer-item-1">
        <div class="pointer-wrap">
          <div class="pointer-legend">
            Teslogic transmitter
          </div>
          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
        </div>
      </div>			
		</div>
		{% endfor %}
	</div>
</div>