<link rel="stylesheet" href="{{ 'box.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'box-responsive.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="box_block" id="box_block">
	<div class="box_block-wrap">
		<div class="box_block-top">
			<div class="box_block-info">
				<div class="box_block-info-title">
					<span class="box_block-info-title-what">What’s</span> in the box
				</div>
				<div class="box_block-info-description">
					In the box, you will find a Teslogic transmitter and everything you need to install it, as well as a holder for placing the phone where you are used to seeing the car dashboard.
				</div>
				
			</div>
			<div class="box_block-image">
				<img src="{{ 'box-image-desktop.png' | asset_url }}" srcset="{{ 'box-image-retina.png' | asset_url }} 2x" loading="lazy">
			</div>
			
		</div>
		<div class="box_block-items">
			<div class="box_block-item box_block-item-big">
				<div class="box_block-item-top">
					<img class="box_block-item-ellipse" src="{{ 'box-ellipse-234-desktop.png' | asset_url }}" srcset="{{ 'box-ellipse-234-retina.png' | asset_url }} 2x" loading="lazy">
					<img class="box_block-item-image" src="{{ 'box-item-1-desktop.png' | asset_url }}" srcset="{{ 'box-item-1-retina.png' | asset_url }} 2x" loading="lazy">
				</div>
			</div>
			<div class="box_block-item"></div>
			<div class="box_block-item"></div>
			<div class="box_block-item"></div>
			<div class="box_block-item"></div>
			
		</div>
	</div>
	<div class="box_block-content">
		<div class="box_block-top">
			<div class="box_block-transmitter">
				<img src="{{ 'transmitter.png' | asset_url }}" srcset="{{ 'transmitter-retina.png' | asset_url }} 2x" loading="lazy">
	      <div class="pointer pointer-bottom pointer-left pointer-transmitter">
	        <div class="pointer-wrap">
	          <div class="pointer-legend">
	            Teslogic transmitter
	          </div>
	          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
	        </div>
	      </div>
			</div>
			<div class="box_block-description">
				In the box, you will find a Teslogic transmitter and everything you need to install it, as well as a holder for placing the phone where you are used to seeing the car dashboard.
			</div>
		</div>	
		<div class="box_block-middle">
			<div class="box_block-item box_block-item-1">
				<img src="{{ 'box-item-1.png' | asset_url }}" srcset="{{ 'box-item-1-retina.png' | asset_url }} 2x" loading="lazy">
	      <div class="pointer pointer-bottom pointer-left pointer-item-1">
	        <div class="pointer-wrap">
	          <div class="pointer-legend">
	            Transmitter Wiring
	          </div>
	          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
	        </div>
	      </div>			
			</div>
			<div class="box_block-item box_block-item-2">
				<img src="{{ 'box-item-2.png' | asset_url }}" srcset="{{ 'box-item-2-retina.png' | asset_url }} 2x" loading="lazy">
	      <div class="pointer pointer-bottom pointer-left pointer-item-2">
	        <div class="pointer-wrap">
	          <div class="pointer-legend">
	            Magsafe Magnet
	          </div>
	          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
	        </div>
	      </div>			
			</div>
			<div class="box_block-item box_block-item-3">
				<img src="{{ 'box-item-3.png' | asset_url }}" srcset="{{ 'box-item-3-retina.png' | asset_url }} 2x" loading="lazy">
	      <div class="pointer pointer-bottom pointer-left pointer-item-3">
	        <div class="pointer-wrap">
	          <div class="pointer-legend">
	            Phone Holder
	          </div>
	          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
	        </div>
	      </div>			
			</div>
			<div class="box_block-item box_block-item-4">
				<img src="{{ 'box-item-4.png' | asset_url }}" srcset="{{ 'box-item-4-retina.png' | asset_url }} 2x" loading="lazy">
	      <div class="pointer pointer-bottom pointer-left pointer-item-4">
	        <div class="pointer-wrap">
	          <div class="pointer-legend">
	            Plastic Tool
	          </div>
	          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
	        </div>
	      </div>			
			</div>
		</div>
	</div>
	<div class="box_block-content-mobile">		
		<div class="box_block-description">
			In the box, you will find a Teslogic transmitter and everything you need to install it, as well as a holder for placing the phone where you are used to seeing the car dashboard.
		</div>
		<div class="box_block-items-mobile">
			<div class="box_block-item-mobile box_block-item-mobile-transmitter">
				<div class="box_block-item-mobile-wrap">
					<img src="{{ 'transmitter-mobile.png' | asset_url }}">
		      <div class="pointer pointer-left pointer-mobile-transmitter">
		        <div class="pointer-wrap">
		          <div class="pointer-legend">
		            Teslogic transmitter
		          </div>
		          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
		        </div>
		      </div>			
	      </div>			
			</div>
			<div class="box_block-item-mobile box_block-item-mobile-1">
				<div class="box_block-item-mobile-wrap">
					<img src="{{ 'box-item-1-mobile.png' | asset_url }}">
		      <div class="pointer pointer-right pointer-item-mobile-1">
		        <div class="pointer-wrap">
		          <div class="pointer-legend">
		            Transmitter Wiring
		          </div>
		          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
		        </div>
		      </div>			
	      </div>			
			</div>
			<div class="box_block-item-mobile box_block-item-mobile-2">
				<div class="box_block-item-mobile-wrap">
					<img src="{{ 'box-item-2-mobile.png' | asset_url }}">
		      <div class="pointer pointer-left pointer-item-mobile-2">
		        <div class="pointer-wrap">
		          <div class="pointer-legend">
		            Magsafe Magnet
		          </div>
		          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
		        </div>
		      </div>			
	      </div>			
			</div>
			<div class="box_block-item-mobile box_block-item-mobile-3">
				<div class="box_block-item-mobile-wrap">
					<img src="{{ 'box-item-3-mobile.png' | asset_url }}">
		      <div class="pointer pointer-right pointer-item-mobile-3">
		        <div class="pointer-wrap">
		          <div class="pointer-legend">
		            Phone Holder
		          </div>
		          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
		        </div>
		      </div>			
	      </div>			
			</div>
			<div class="box_block-item-mobile box_block-item-mobile-4">
				<div class="box_block-item-mobile-wrap">
					<img src="{{ 'box-item-4-mobile.png' | asset_url }}">
		      <div class="pointer pointer-left pointer-item-mobile-4">
		        <div class="pointer-wrap">
		          <div class="pointer-legend">
		            Plastic Tool
		          </div>
		          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
		        </div>
		      </div>			
	      </div>			
			</div>
		</div>
	</div>
</div>