<link rel="stylesheet" href="{{ 'box.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'box-responsive.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="box_block" id="box_block">
	<div class="box_block-wrap">
		<div class="box_block-top">
			<div class="box_block-info">
				<div class="box_block-info-title">
					<span class="box_block-info-title-what">What’s</span> in the box
				</div>
				<div class="box_block-info-description">
					In the box, you will find a Teslogic transmitter and everything you need to install it, as well as a holder for placing the phone where you are used to seeing the car dashboard.
				</div>
				<div class="box_block-info-description-mobile">
					<div>
						In the box, you will find a Teslogic transmitter and everything you need to install it.
					</div>
					<div>
						Also a holder for placing the phone where you are used to seeing the car dashboard is included
					</div>
				</div>
			</div>
			<div class="box_block-image">
				<img src="{{ 'box-image-desktop.png' | asset_url }}" srcset="{{ 'box-image-retina.png' | asset_url }} 2x" loading="lazy">
			</div>			
		</div>
		<div class="box_block-items">
			<div class="box_block-item box_block-item-big">
				<div class="box_block-item-top">
					<img class="box_block-item-ellipse" src="{{ 'box-ellipse-234-desktop.png' | asset_url }}" srcset="{{ 'box-ellipse-234-retina.png' | asset_url }} 2x" loading="lazy">
					<img class="box_block-item-image" src="{{ 'box-item-1-desktop.png' | asset_url }}" srcset="{{ 'box-item-1-retina.png' | asset_url }} 2x" loading="lazy">
				</div>
				<div class="box_block-item-name">Teslogic transmitter</div>
			</div>
			<div class="box_block-item">
				<div class="box_block-item-top">
					<img class="box_block-item-ellipse" src="{{ 'box-ellipse-170-desktop.png' | asset_url }}" srcset="{{ 'box-ellipse-170-retina.png' | asset_url }} 2x" loading="lazy">
					<img class="box_block-item-image" src="{{ 'box-item-2-desktop.png' | asset_url }}" srcset="{{ 'box-item-2-retina.png' | asset_url }} 2x" loading="lazy">
				</div>
				<div class="box_block-item-name">Magsafe Magnet</div>
			</div>
			<div class="box_block-item">
				<div class="box_block-item-top">
					<img class="box_block-item-ellipse" src="{{ 'box-ellipse-170-desktop.png' | asset_url }}" srcset="{{ 'box-ellipse-170-retina.png' | asset_url }} 2x" loading="lazy">
					<img class="box_block-item-image" src="{{ 'box-item-3-desktop.png' | asset_url }}" srcset="{{ 'box-item-3-retina.png' | asset_url }} 2x" loading="lazy">
				</div>
				<div class="box_block-item-name">Phone Holder</div>
			</div>
			<div class="box_block-item">
				<div class="box_block-item-top">
					<img class="box_block-item-ellipse" src="{{ 'box-ellipse-170-desktop.png' | asset_url }}" srcset="{{ 'box-ellipse-170-retina.png' | asset_url }} 2x" loading="lazy">
					<img class="box_block-item-image" src="{{ 'box-item-4-desktop.png' | asset_url }}" srcset="{{ 'box-item-4-retina.png' | asset_url }} 2x" loading="lazy">
				</div>
				<div class="box_block-item-name">Transmitter Wiring</div>
			</div>
			<div class="box_block-item">
				<div class="box_block-item-top">
					<img class="box_block-item-ellipse" src="{{ 'box-ellipse-170-desktop.png' | asset_url }}" srcset="{{ 'box-ellipse-170-retina.png' | asset_url }} 2x" loading="lazy">
					<img class="box_block-item-image" src="{{ 'box-item-5-desktop.png' | asset_url }}" srcset="{{ 'box-item-5-retina.png' | asset_url }} 2x" loading="lazy">
				</div>
				<div class="box_block-item-name">Plastic Tool</div>
			</div>
		</div>
		<div class="box_block-charger">
			<div class="box_block-charger-images">
				<img class="box_block-charger-images-ellipse" src="{{ 'box-ellipse-355-desktop.png' | asset_url }}" srcset="{{ 'box-ellipse-355-retina.png' | asset_url }} 2x" loading="lazy">
				<div class="box_block-charger-images-image">
					<img src="{{ 'box-charger-image-desktop.png' | asset_url }}" srcset="{{ 'box-charger-image-retina.png' | asset_url }} 2x" loading="lazy">
				</div>
				<div class="box_block-charger-images-photo">
					<img src="{{ 'box-charger-photo-desktop.png' | asset_url }}" srcset="{{ 'box-charger-photo-retina.png' | asset_url }} 2x" loading="lazy">
				</div>
			</div>
			<div class="box_block-charger-info">
				<div class="box_block-charger-info-title">Additional Wireless Charger</div>
				<div class="box_block-charger-info-description">
					This magnetic charger installs on a phone holder instead of a magnet. It is compatible with the iPhone 12 and above, as well as any phone that supports wireless charging (when using the included magnetic ring).
				</div>
				<div class="box_block-charger-images-mobile">
					<div class="box_block-charger-images-image">
						<img src="{{ 'box-charger-image-desktop.png' | asset_url }}" srcset="{{ 'box-charger-image-retina.png' | asset_url }} 2x" loading="lazy">
					</div>
					<div class="box_block-charger-images-photo">
						<img src="{{ 'box-charger-photo-desktop.png' | asset_url }}" srcset="{{ 'box-charger-photo-retina.png' | asset_url }} 2x" loading="lazy">
					</div>
				</div>
				<div class="box_block-charger-items">
					<div class="box_block-charger-item">
						<div class="box_block-charger-item-image">
							<img class="box_block-charger-item-image-ellipse" src="{{ 'box-ellipse-86-desktop.png' | asset_url }}" srcset="{{ 'box-ellipse-86-retina.png' | asset_url }} 2x" loading="lazy">
							<img class="box_block-charger-item-image-image box_block-charger-item-image-image-1" src="{{ 'box-charger-item-1-desktop.png' | asset_url }}" srcset="{{ 'box-charger-item-1-retina.png' | asset_url }} 2x" loading="lazy">
						</div>
						<div class="box_block-charger-item-description">
							90 Degree USB Type C to USB Type C Adapter for Convenient Charging Connection
						</div>
					</div>
					<div class="box_block-charger-item">
						<div class="box_block-charger-item-image">
							<img class="box_block-charger-item-image-ellipse" src="{{ 'box-ellipse-86-desktop.png' | asset_url }}" srcset="{{ 'box-ellipse-86-retina.png' | asset_url }} 2x" loading="lazy">
							<img class="box_block-charger-item-image-image box_block-charger-item-image-image-2" src="{{ 'box-charger-item-2-desktop.png' | asset_url }}" srcset="{{ 'box-charger-item-2-retina.png' | asset_url }} 2x" loading="lazy">
						</div>
						<div class="box_block-charger-item-description">
							USB Type C to USB Type A Adapter for Tesla Model 3 Cars
						</div>
					</div>					
				</div>
			</div>			
		</div>
	</div>
</div>