{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<!-- <div class="color-{{ section.settings.color_scheme }} gradient"> -->
  <!-- <div class="contact page-width page-width--narrow section-{{ section.id }}-padding"> -->
  <div class="contact">
    <!-- <h2 class="title title-wrapper--no-top-margin">{{ section.settings.heading | escape }}</h2> -->
    <h2 class="block_title contact__title">Contact us</h2>
    {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
      {%- if form.errors -%}
        <div class="form__message">
          <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
        </div>
        <ul class="form-status-list caption-large" role="list">
          <li>
            <a href="#ContactForm-email" class="link">
              {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
            </a>
          </li>
        </ul>
      {%- endif -%}
      <div class="contact__wrap">
        {% assign form_classes = 'contact__form' %}
        {%- if form.posted_successfully? -%}
          {% assign form_classes = form_classes | append: ' contact__form-success' %}
        {% endif %}
        <div class="{{ form_classes }}">
          <div class="contact__form-ellipse"></div>
          {%- if form.posted_successfully? -%}
            <div class="contact__success">
              Thanks for contacting us.<br>
              We will get back to you as soon as possible!
            </div>
          {%- else -%}
            <div class="contact__fields">
              <div class="contact__field">
                <label class="contact__field-label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
                <input class="contact__field-input" autocomplete="name" type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="Enter your name">
              </div>
              <div class="contact__field field--with-error">
                <label class="contact__field-label" for="ContactForm-email">{{ 'templates.contact.form.email' | t }}<!--  <span aria-hidden="true">*</span> --></label>
                <input
                  autocomplete="email"
                  type="email"
                  id="ContactForm-email"
                  class="contact__field-input"
                  name="contact[email]"
                  spellcheck="false"
                  autocapitalize="off"
                  value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                  aria-required="true"
                  {% if form.errors contains 'email' %}
                    aria-invalid="true"
                    aria-describedby="ContactForm-email-error"
                  {% endif %}
                  placeholder="johnsmith@mail.com"
                >
                {%- if form.errors contains 'email' -%}
                  <small class="contact__field-error" id="ContactForm-email-error">
                    <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                    <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
                  </small>
                {%- endif -%}
              </div>
              <div class="contact__field">
                <label class="contact__field-label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
                <input type="tel" id="ContactForm-phone" class="contact__field-input" autocomplete="tel" name="contact[{{ 'templates.contact.form.phone' | t }}]" pattern="+[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="+1">
              </div>
              <div class="contact__field">
                <!-- <label class="contact__field-label" for="ContactForm-body">{{ 'templates.contact.form.comment' | t }}</label> -->
                <textarea
                  rows="10"
                  id="ContactForm-body"
                  class="contact__field-input contact__field-textarea"
                  name="contact[{{ 'templates.contact.form.comment' | t }}]"
                  placeholder="{{ 'templates.contact.form.comment' | t }}"
                >
                  {{- form.body -}}
                </textarea>
              </div>
            </div>
            <!-- <div class="contact__button"> -->
              <button type="submit" class="contact__button">
                {{ 'templates.contact.form.send' | t }}
              </button>
            <!-- </div> -->
          {%- endif -%}
        </div>
        <div class="contact__info">
          <div class="contact__info-item">
            <div class="contact__info-item-title">Email</div>
            <div class="contact__info-item-text">info@teslogic.co</div>
          </div>
          <div class="contact__info-item">
            <div class="contact__info-item-title">Address</div>
            <div class="contact__info-item-text">Teslogic Inc.<br>
              2093 Philadelphia Pike #3248<br>
              Claymont, DE 19703</div>
          </div>
        </div>
      </div>
    {%- endform -%}
  </div>
<!-- </div> -->

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Contact us",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 56
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 120
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
