<style type="text/css">
	.devices_supporting {
		width: 1296px;
		margin: 180px auto;
		display: flex;
		justify-content: space-between;
		grid-column-gap: 24px;
	}
	.devices_supporting > div {		
		width: 636px;
		height: 636px; 
	}
	.devices_supporting-info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 60px;
		box-sizing: border-box;
		border-radius: 40px;
		background: url({{ 'devices_supporting-info-bg.png' | asset_url }})/*, lightgray 2799.678px 1595.298px / -690.99% -523.739% no-repeat, #FFF*/;
	}
	.devices_supporting-info-suptext {
		color: #FFF;
		font-family: Manrope;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 20px;
		margin-bottom: 12px;
	}
	.devices_supporting-info-title {
		color: #FFF;
		font-family: Manrope;
		font-size: 52px;
		font-style: normal;
		font-weight: 600;
		line-height: 64px;
		margin-bottom: 16px;
	}
	.devices_supporting-info-subtitle {
		color: #DAD6FC;
		font-family: Manrope;
		font-size: 24px;
		font-style: normal;
		font-weight: 300;
		line-height: 32px;
	}
	.devices_supporting-info-nouns {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		grid-row-gap: 26.08px;
	}
	.devices_supporting-info-noun-row-desktop {
		display: flex;
		grid-column-gap: 25.9px;
	}
	.devices_supporting-info-noun-row-mobile {
		display: none;
	}
	.devices_supporting-image img {
		width: 100%;
	}
	.devices_supporting-image-desktop {
		display: block;
	}
	.devices_supporting-image-mobile {
		display: none;
	}
	@media screen and (min-width: 1000px) and (max-width: 1440px) {
		.devices_supporting {
			width: calc(1296 * 100vw / 1440);
			margin: calc(180 * 100vw / 1440) auto;
			grid-column-gap: calc(24 * 100vw / 1440);
		}
		.devices_supporting > div {		
			width: calc(636 * 100vw / 1440);
			height: calc(636 * 100vw / 1440); 
		}
		.devices_supporting-info {
			padding: calc(60 * 100vw / 1440);
			border-radius: calc(40 * 100vw / 1440);
		}
		.devices_supporting-info-suptext {
			font-size: calc(16 * 100vw / 1440);
			line-height: calc(20 * 100vw / 1440);
		}
		.devices_supporting-info-title {
			font-size: calc(52 * 100vw / 1440);
			line-height: calc(64 * 100vw / 1440);
		}
		.devices_supporting-info-subtitle {
			font-size: calc(24 * 100vw / 1440);
			line-height: calc(32 * 100vw / 1440);
		}
		.devices_supporting-info-nouns {
			grid-row-gap: calc(26.08 * 100vw / 1440);
		}
		.devices_supporting-info-noun-row {
			grid-column-gap: calc(25.9 * 100vw / 1440);
		}
	}
	@media screen and (max-width: 999px) {
		.devices_supporting {
			width: 335px;
			margin: 96px auto;
			flex-direction: column-reverse;
			background: #F0F0F0;
			border-radius: 24px;
		}
		.devices_supporting > div {		
			width: 335px;
			height: 335px; 
		}
		.devices_supporting-image-desktop {
			display: none;
		}
		.devices_supporting-image-mobile {
			display: block;
		}
		.devices_supporting-info {
			padding: 24px;
			border-radius: 24px;
			background-position: center;
		}
		.devices_supporting-info-suptext {
			font-size: 14px;
			line-height: 20px;
			margin-bottom: 8px;
		}
		.devices_supporting-info-title {
			font-size: 32px;
			line-height: 40px;
			margin-bottom: 6px;
		}
		.devices_supporting-info-subtitle {
			font-size: 16px;
			line-height: 20px;
		}
		.devices_supporting-info-nouns {
			grid-row-gap: 12.49px;
		}
		.devices_supporting-info-noun-row-desktop {
			display: none;
		}
		.devices_supporting-info-noun-row-mobile {
			display: flex;
			grid-column-gap: 12.68px;
		}

	}
</style>

<div class="devices_supporting">
	<div class="devices_supporting-info">
		<div class="devices_supporting-info-texts">
			<div class="devices_supporting-info-suptext">v2 new feature avaliable</div>
			<div class="devices_supporting-info-title">Multiple devices support</div>
			<div class="devices_supporting-info-subtitle">
				You can easily connect<br>
				2+ cross platform devices<br>
				simultaneously
			</div>			
		</div>
		<div class="devices_supporting-info-nouns">
			<div class="devices_supporting-info-noun-row-desktop">
				<img src="{{ 'noun-iphone-1.svg' | asset_url }}">
				<img src="{{ 'noun-iphone-2.svg' | asset_url }}">
				<img src="{{ 'noun-iphone-3.svg' | asset_url }}">
			</div>
			<div class="devices_supporting-info-noun-row-desktop">
				<img src="{{ 'noun-ipad-1.svg' | asset_url }}">
				<img src="{{ 'noun-ipad-2.svg' | asset_url }}">
			</div>
			<div class="devices_supporting-info-noun-row-mobile">
				<img src="{{ 'noun-iphone-1-mobile.svg' | asset_url }}">
				<img src="{{ 'noun-iphone-2-mobile.svg' | asset_url }}">
				<img src="{{ 'noun-iphone-3-mobile.svg' | asset_url }}">
			</div>
			<div class="devices_supporting-info-noun-row-mobile">
				<img src="{{ 'noun-ipad-1-mobile.svg' | asset_url }}">
				<img src="{{ 'noun-ipad-2-mobile.svg' | asset_url }}">
			</div>
		</div>
		
	</div>
	<div class="devices_supporting-image">
		<img class="devices_supporting-image-desktop" src="{{ 'devices_supporting.png' | asset_url }}" srcset="{{ 'devices_supporting-retina.png' | asset_url }} 2x" loading="lazy">
		<img class="devices_supporting-image-mobile" src="{{ 'devices_supporting-mobile.png' | asset_url }}" srcset="{{ 'devices_supporting-mobile-retina.png' | asset_url }} 2x" loading="lazy">
	</div>
</div>