<link rel="stylesheet" href="{{ 'faq.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'faq-responsive.css' | asset_url }}" media="print" onload="this.media='all'">

{%- style -%}

{%- endstyle -%}

<div class="faq" id="faq">
	<div class="faq__title">FAQ</div>
	<div class="faq__chapters">
		<div class="faq__chapter">
			<div class="faq__chapter-title">
				<div class="faq__chapter-title-sign">
					<img src="{{ 'chapter_sign.png' | asset_url }}">
				</div>
				<div class="faq__chapter-title-text">Раздел</div>
			</div>
			<div class="faq__chapter-question">
				<div class="faq__chapter-question-text">Вопрос вопросович вопросов вопросик длинный вопрос</div>
				<div class="faq__chapter-question-answer">Непосредственные участники технического прогресса в равной степени предоставлены сами себе. Являясь всего лишь частью общей картины, предприниматели в сети интернет, инициированные исключительно синтетически, преданы социально-демократической анафеме.</div>
				<div class="faq__chapter-question-expand">+</div>
			</div>
			<div class="faq__chapter-question">
				<div class="faq__chapter-question-text">Вопрос вопросович вопросов вопросик</div>
				<div class="faq__chapter-question-answer">Непосредственные участники технического прогресса в равной степени предоставлены сами себе. Являясь всего лишь частью общей картины, предприниматели в сети интернет, инициированные исключительно синтетически, преданы социально-демократической анафеме.</div>
				<div class="faq__chapter-question-expand">+</div>
			</div>
			<div class="faq__chapter-question">
				<div class="faq__chapter-question-text">Вопрос вопросович вопросов вопросик</div>
				<div class="faq__chapter-question-answer">Непосредственные участники технического прогресса в равной степени предоставлены сами себе. Являясь всего лишь частью общей картины, предприниматели в сети интернет, инициированные исключительно синтетически, преданы социально-демократической анафеме.</div>
				<div class="faq__chapter-question-expand">+</div>
			</div>
		</div>
		<div class="faq__chapter">
			<div class="faq__chapter-title">
				<div class="faq__chapter-title-sign">
					<img src="{{ 'chapter_sign.png' | asset_url }}">
				</div>
				<div class="faq__chapter-title-text">Раздел</div>
			</div>
			<div class="faq__chapter-question">
				<div class="faq__chapter-question-text">Вопрос вопросович вопросов вопросик</div>
				<div class="faq__chapter-question-answer">Непосредственные участники технического прогресса в равной степени предоставлены сами себе. Являясь всего лишь частью общей картины, предприниматели в сети интернет, инициированные исключительно синтетически, преданы социально-демократической анафеме.</div>
				<div class="faq__chapter-question-expand">+</div>
			</div>
			<div class="faq__chapter-question">
				<div class="faq__chapter-question-text">Вопрос вопросович вопросов вопросик</div>
				<div class="faq__chapter-question-answer">Непосредственные участники технического прогресса в равной степени предоставлены сами себе. Являясь всего лишь частью общей картины, предприниматели в сети интернет, инициированные исключительно синтетически, преданы социально-демократической анафеме.</div>
				<div class="faq__chapter-question-expand">+</div>
			</div>
			<div class="faq__chapter-question">
				<div class="faq__chapter-question-text">Вопрос вопросович вопросов вопросик</div>
				<div class="faq__chapter-question-answer">Непосредственные участники технического прогресса в равной степени предоставлены сами себе. Являясь всего лишь частью общей картины, предприниматели в сети интернет, инициированные исключительно синтетически, преданы социально-демократической анафеме.</div>
				<div class="faq__chapter-question-expand">+</div>
			</div>
		</div>
		<div class="faq__chapter">
			<div class="faq__chapter-title">
				<div class="faq__chapter-title-sign">
					<img src="{{ 'chapter_sign.png' | asset_url }}">
				</div>
				<div class="faq__chapter-title-text">Раздел</div>
			</div>
			<div class="faq__chapter-question">
				<div class="faq__chapter-question-text">Вопрос вопросович вопросов вопросик</div>
				<div class="faq__chapter-question-answer">Непосредственные участники технического прогресса в равной степени предоставлены сами себе. Являясь всего лишь частью общей картины, предприниматели в сети интернет, инициированные исключительно синтетически, преданы социально-демократической анафеме.</div>
				<div class="faq__chapter-question-expand">+</div>
			</div>
			<div class="faq__chapter-question">
				<div class="faq__chapter-question-text">Вопрос вопросович вопросов длинный вопрос очень длинный вопросик</div>
				<div class="faq__chapter-question-answer">Непосредственные участники технического прогресса в равной степени предоставлены сами себе. Являясь всего лишь частью общей картины, предприниматели в сети интернет, инициированные исключительно синтетически, преданы социально-демократической анафеме.</div>
				<div class="faq__chapter-question-expand">+</div>
			</div>
			<div class="faq__chapter-question">
				<div class="faq__chapter-question-text">Вопрос вопросович вопросов вопросик</div>
				<div class="faq__chapter-question-answer">Непосредственные участники технического прогресса в равной степени предоставлены сами себе. Являясь всего лишь частью общей картины, предприниматели в сети интернет, инициированные исключительно синтетически, преданы социально-демократической анафеме.</div>
				<div class="faq__chapter-question-expand">+</div>
			</div>
			<div class="faq__chapter-question">
				<div class="faq__chapter-question-text">Вопрос вопросович вопросов длинный вопрос очень длинный вопросик</div>
				<div class="faq__chapter-question-answer">Непосредственные участники технического прогресса в равной степени предоставлены сами себе. Являясь всего лишь частью общей картины, предприниматели в сети интернет, инициированные исключительно синтетически, преданы социально-демократической анафеме.</div>
				<div class="faq__chapter-question-expand">+</div>
			</div>
		</div>
		<div class="faq__chapter">
			<div class="faq__chapter-title">
				<div class="faq__chapter-title-sign">
					<img src="{{ 'chapter_sign.png' | asset_url }}">
				</div>
				<div class="faq__chapter-title-text">Раздел</div>
			</div>
			<div class="faq__chapter-question">
				<div class="faq__chapter-question-text">Вопрос вопросович вопросов вопросик</div>
				<div class="faq__chapter-question-answer">Непосредственные участники технического прогресса в равной степени предоставлены сами себе. Являясь всего лишь частью общей картины, предприниматели в сети интернет, инициированные исключительно синтетически, преданы социально-демократической анафеме.</div>
				<div class="faq__chapter-question-expand">+</div>
			</div>
			<div class="faq__chapter-question">
				<div class="faq__chapter-question-text">Вопрос вопросович вопросов вопросик</div>
				<div class="faq__chapter-question-answer">Непосредственные участники технического прогресса в равной степени предоставлены сами себе. Являясь всего лишь частью общей картины, предприниматели в сети интернет, инициированные исключительно синтетически, преданы социально-демократической анафеме.</div>
				<div class="faq__chapter-question-expand">+</div>
			</div>
			<div class="faq__chapter-question">
				<div class="faq__chapter-question-text">Вопрос вопросович вопросов длинный вопрос очень длинный вопросик</div>
				<div class="faq__chapter-question-answer">Непосредственные участники технического прогресса в равной степени предоставлены сами себе. Являясь всего лишь частью общей картины, предприниматели в сети интернет, инициированные исключительно синтетически, преданы социально-демократической анафеме.</div>
				<div class="faq__chapter-question-expand">+</div>
			</div>
			<div class="faq__chapter-question">
				<div class="faq__chapter-question-text">Вопрос вопросович вопросов вопросик</div>
				<div class="faq__chapter-question-answer">Непосредственные участники технического прогресса в равной степени предоставлены сами себе. Являясь всего лишь частью общей картины, предприниматели в сети интернет, инициированные исключительно синтетически, преданы социально-демократической анафеме.</div>
				<div class="faq__chapter-question-expand">+</div>
			</div>
			<div class="faq__chapter-question">
				<div class="faq__chapter-question-text">Вопрос вопросович вопросов вопросик</div>
				<div class="faq__chapter-question-answer">Непосредственные участники технического прогресса в равной степени предоставлены сами себе. Являясь всего лишь частью общей картины, предприниматели в сети интернет, инициированные исключительно синтетически, преданы социально-демократической анафеме.</div>
				<div class="faq__chapter-question-expand">+</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('.faq__chapter-question-expand').on('click', function() {
			if ($(this).text() == '+') {
				$(this).parent('.faq__chapter-question').find('.faq__chapter-question-answer').show()
				$(this).text('-')
				return
			}
			if ($(this).text() == '-') {
				$(this).parent('.faq__chapter-question').find('.faq__chapter-question-answer').hide()
				$(this).text('+')
				return
			}
		})
	})
</script>

{% schema %}
{
	"name": "FAQ",
	"class": "index-section index-section — featured-sider",
	"settings": [
	],
	"blocks": [
		{
			"type": "slide",
			"name": "Question",
			"settings": [
				{
					"type": "header",
					"content": "Question Item"
				},
				{
					"type": "number",
					"id": "id",
					"label": "id - integer"
				},
				{
					"type": "text",
					"id": "question",
					"label": "Question - text"
				},
				{
					"type": "html",
					"id": "answer",
					"label": "Answer - html"
				}
			]
		},
		{
			"type": "header",
			"name": "Header",
			"settings": [
				{
					"type": "header",
					"content": "Header"
				},
				{
					"type": "text",
					"id": "header",
					"label": "Header"
				}
			]
		}
	]
}
{% endschema %}