<link rel="stylesheet" href="{{ 'faq.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'faq-responsive.css' | asset_url }}" media="print" onload="this.media='all'">

{%- style -%}

{%- endstyle -%}

<div class="faq" id="faq">
	<div class="block_title faq__title">FAQ</div>
	<div class="faq__chapters">
		{% for block in section.blocks %}
			{% if block.type == "chapter" %}
				<div class="faq__chapter">
					<div class="faq__chapter-top">
						<div class="faq__chapter-title" mobile_hidden="1">
							<div class="faq__chapter-title-sign">
								<!-- <img class="faq__chapter-title-sign-opened" src="{{ 'chapter_sign.png' | asset_url }}">
								<img class="faq__chapter-title-sign-closed" src="{{ 'chapter_sign_blue.png' | asset_url }}"> -->
								<img src="{{ 'battery.svg' | asset_url }}">
							</div>
							<div class="faq__chapter-title-text">{{ block.settings.chapter }}</div>
						</div>
						<div class="faq__chapter-chevron">
							<img src="{{ 'chevron-down-blue.svg' | asset_url }}">
						</div>
					</div>
					{% for subblock in section.blocks %}
						{% if subblock.type == "question" %}
							{% if subblock.settings.chapter_id == block.settings.chapter_id %}
								<div class="faq__chapter-question">
									<div class="faq__chapter-question-text">{{ subblock.settings.question }}</div>
									<div class="faq__chapter-question-answer">{{ subblock.settings.answer }}</div>
									<!-- <div class="faq__chapter-question-expand">+</div> -->
								</div>
							{% endif %}
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		window.is_mobile = window.innerWidth < 1000
		$(window).on('resize', checkMobile)
		function checkMobile() {
			window.is_mobile = window.innerWidth < 1000
			// console.log(window.is_mobile)
			if (!window.is_mobile) {
				// $('.faq__chapter-title-sign-closed').hide()
				// $('.faq__chapter-title-sign-opened').show()
				$('.faq__chapter-question').show()
				$('.faq__chapter-title').css('margin-bottom', '36px')
			}
			else {
				// $('.faq__chapter-title-sign-closed').show()
				// $('.faq__chapter-title-sign-opened').hide()
				$('.faq__chapter-question').hide()
				$('.faq__chapter-title').css('margin-bottom', '0')
			}
		}
		$('.faq__chapter-question-text').on('click', function() {
			if ($(this).parent('.faq__chapter-question').find('.faq__chapter-question-expand').text() == '+') {
				$(this).parent('.faq__chapter-question').find('.faq__chapter-question-answer').show()
				$(this).parent('.faq__chapter-question').find('.faq__chapter-question-expand').text('-')
				if (window.is_mobile) {
					$(this).parent('.faq__chapter-question').find('.faq__chapter-question-expand').css('margin-bottom', '28px')
				}
				return
			}
			if ($(this).parent('.faq__chapter-question').find('.faq__chapter-question-expand').text() == '-') {
				$(this).parent('.faq__chapter-question').find('.faq__chapter-question-answer').hide()
				$(this).parent('.faq__chapter-question').find('.faq__chapter-question-expand').text('+')
				if (window.is_mobile) {
					$(this).parent('.faq__chapter-question').find('.faq__chapter-question-expand').css('margin-bottom', '4px')
				}
				return
			}
		})
		$('.faq__chapter-question-expand').on('click', function() {
			if ($(this).text() == '+') {
				$(this).parent('.faq__chapter-question').find('.faq__chapter-question-answer').show()
				$(this).text('-')
				if (window.is_mobile) {
					$(this).css('margin-bottom', '28px')
				}
				return
			}
			if ($(this).text() == '-') {
				$(this).parent('.faq__chapter-question').find('.faq__chapter-question-answer').hide()
				$(this).text('+')
				if (window.is_mobile) {
					$(this).css('margin-bottom', '4px')
				}
				return
			}
		})
		$('.faq__chapter-title').on('click', function() {
			// console.log('is_mobile: ' + window.is_mobile)
			if (window.is_mobile) {
				// if ($(this).find('.faq__chapter-title-sign-opened').is(':visible')) {
				if ($(this).attr('mobile_hidden') == '0') {
					$(this).parent('.faq__chapter').find('.faq__chapter-question').hide()
					$(this).find('.faq__chapter-title-sign-opened').hide()
					$(this).find('.faq__chapter-title-sign-closed').show()
					$(this).attr('mobile_hidden', '1')
					$(this).css('margin-bottom', '0')
					return
				}
				// if ($(this).find('.faq__chapter-title-sign-closed').is(':visible')) {
				if ($(this).attr('mobile_hidden') == '1') {
					$(this).parent('.faq__chapter').find('.faq__chapter-question').show()
					$(this).find('.faq__chapter-title-sign-closed').hide()
					$(this).find('.faq__chapter-title-sign-opened').show()
					$(this).attr('mobile_hidden', '0')
					$(this).css('margin-bottom', '24px')
					return
				}
			}
		})
	})
</script>

{% schema %}
{
	"name": "FAQ",
	"class": "index-section index-section-featured-sider",
	"settings": [
	],
	"blocks": [
		{
			"type": "chapter",
			"name": "Chapter",
			"settings": [
				{
					"type": "header",
					"content": "Edit Chapter"
				},
				{
					"type": "text",
					"id": "chapter_id",
					"label": "Chapter ID"
				},
				{
					"type": "text",
					"id": "chapter",
					"label": "Chapter Name"
				}
			]
		},
		{
			"type": "question",
			"name": "Question",
			"settings": [
				{
					"type": "header",
					"content": "Edit Question"
				},
				{
					"type": "text",
					"id": "chapter_id",
					"label": "Chapter ID"
				},
				{
					"type": "textarea",
					"id": "question",
					"label": "Question"
				},
				{
					"type": "textarea",
					"id": "answer",
					"label": "Answer"
				}
			]
		}
	]
}
{% endschema %}
