<link rel="stylesheet" href="{{ 'features.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'features-responsive.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'pointers.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'pointers-responsive.css' | asset_url }}" media="print" onload="this.media='all'">

{%- style -%}

{%- endstyle -%}

<div class="features" id="features">
  <div class="features__title">App features</div>
  <div class="features__block features__block-odd features__block-dashboard">
    <div class="features__block-legend">
      <div class="features__block-legend-title">Dashboard</div>
      <div class="features__block-legend-subtitle">Easily control the speed, power and battery of your Tesla</div>
      <div class="features__block-switcher" current_side="dark">
        <div class="features__block-switcher-case features__block-switcher-case-dark">Dark</div>    
        <div class="features__block-switcher-case features__block-switcher-case-light">Light</div>      
      </div>
    </div>
    <figure class="features__block-screen">
      <div class="features__block-screen-wrap features__block-screen-desktop">
        <img class="features__block-screen-dark" src="{{ '1-desktop.png' | asset_url }}" srcset="{{ '1-retina.png' | asset_url }} 2x" loading="lazy">
        <img class="features__block-screen-light" src="{{ '1L-desktop.png' | asset_url }}" srcset="{{ '1L-retina.png' | asset_url }} 2x" loading="lazy">
      </div>
      <div class="features__block-screen-wrap features__block-screen-mobile">
        <img class="features__block-screen-dark" src="{{ '1-mobile.png' | asset_url }}" srcset="{{ '1-desktop.png' | asset_url }} 2x" loading="lazy">
        <img class="features__block-screen-light" src="{{ '1L-mobile.png' | asset_url }}" srcset="{{ '1L-desktop.png' | asset_url }} 2x" loading="lazy">
      </div>
      <div class="pointer pointer-top pointer-left pointer-dashboard-top-left" data-view="dashboard-top-left">
        <div class="pointer-wrap">
          <div class="pointer-legend">
            Recognizable autopilot, cruise and speed limit indicators
          </div>
          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
        </div>
      </div>
      <div class="pointer pointer-top pointer-right pointer-dashboard-top-right" data-view="dashboard-top-right">
        <div class="pointer-wrap">
          <div class="pointer-legend">
            Monitor your Tesla battery status
          </div>
          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
        </div>
      </div>
      <div class="pointer pointer-bottom pointer-left pointer-dashboard-bottom-left" data-view="dashboard-bottom-left">
        <div class="pointer-wrap">
          <div class="pointer-legend">
            Miles saved by regeneration and current energy consumption
          </div>
          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
        </div>
      </div>
      <div class="pointer pointer-desktop pointer-bottom pointer-left pointer-dashboard-bottom-right" data-view="dashboard-bottom-right">
        <div class="pointer-wrap">
          <div class="pointer-legend">
            Monitor your current trip distance and average speed
          </div>
          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
        </div>
      </div>
      <div class="pointer pointer-mobile pointer-bottom pointer-right pointer-dashboard-bottom-right" data-view="dashboard-bottom-right">
        <div class="pointer-wrap">
          <div class="pointer-legend">
            Monitor your current trip distance and average speed
          </div>
          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
        </div>
      </div>
    </figure>
  </div>
  <div class="features__block features__block-even features__block-notifications">
    <div class="features__block-legend">
      <div class="features__block-legend-title">Notifications</div>
      <div class="features__block-legend-subtitle">All notifications are duplicated<br>on your phone</div>
      <div class="features__block-switcher" current_side="dark">
        <div class="features__block-switcher-case features__block-switcher-case-dark">Dark</div>  
        <div class="features__block-switcher-case features__block-switcher-case-light">Light</div>        
      </div>
    </div>
    <figure class="features__block-screen">
      <div class="features__block-screen-wrap features__block-screen-desktop">
        <img class="features__block-screen-dark" src="{{ '2-desktop.png' | asset_url }}" srcset="{{ '2-retina.png' | asset_url }} 2x" loading="lazy">
        <img class="features__block-screen-light" src="{{ '2L-desktop.png' | asset_url }}" srcset="{{ '2L-retina.png' | asset_url }} 2x" loading="lazy">
      </div>
      <div class="features__block-screen-wrap features__block-screen-mobile">
        <img class="features__block-screen-dark" src="{{ '2-mobile.png' | asset_url }}" srcset="{{ '2-desktop.png' | asset_url }} 2x" loading="lazy">
        <img class="features__block-screen-light" src="{{ '2L-mobile.png' | asset_url }}" srcset="{{ '2L-desktop.png' | asset_url }} 2x" loading="lazy">
      </div>
      <div class="pointer pointer-top pointer-left pointer-notifications-top-left" data-view="notifications-top-left">
        <div class="pointer-wrap">
          <div class="pointer-legend">
            Current and maximum horsepower
          </div>
          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
        </div>
      </div>
      <div class="pointer pointer-top pointer-right pointer-notifications-top-right" data-view="notifications-top-right">
        <div class="pointer-wrap">
          <div class="pointer-legend">
            True range based on your driving style
          </div>
          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
        </div>
      </div>
      <div class="pointer pointer-desktop pointer-bottom pointer-left pointer-notifications-bottom-left" data-view="notifications-bottom-left">
        <div class="pointer-wrap">
          <div class="pointer-legend">
            All notifications displayed in front of you
          </div>
          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
        </div>
      </div>
      <div class="pointer pointer-mobile pointer-bottom pointer-right pointer-notifications-bottom-right" data-view="notifications-bottom-left">
        <div class="pointer-wrap">
          <div class="pointer-legend">
            All notifications displayed in front of you
          </div>
          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
        </div>
      </div>
    </figure>
  </div>
  <div class="features__block features__block-odd features__block-performance">
    <div class="features__block-legend">
      <div class="features__block-legend-title">Perfomance</div>
      <div class="features__block-legend-subtitle">Experience the performance mode data even if you are driving<br>a standard range</div>
      <div class="features__block-switcher" current_side="dark">
        <div class="features__block-switcher-case features__block-switcher-case-dark">Dark</div> 
        <div class="features__block-switcher-case features__block-switcher-case-light">Light</div>         
      </div>
    </div>
    <figure class="features__block-screen">
      <div class="features__block-screen-wrap features__block-screen-desktop">
        <img class="features__block-screen-dark" src="{{ '3-desktop.png' | asset_url }}" srcset="{{ '3-retina.png' | asset_url }} 2x" loading="lazy">
        <img class="features__block-screen-light" src="{{ '3L-desktop.png' | asset_url }}" srcset="{{ '3L-retina.png' | asset_url }} 2x" loading="lazy">
      </div>
      <div class="features__block-screen-wrap features__block-screen-mobile">
        <img class="features__block-screen-dark" src="{{ '3-mobile.png' | asset_url }}" srcset="{{ '3-desktop.png' | asset_url }} 2x" loading="lazy">
        <img class="features__block-screen-light" src="{{ '3L-mobile.png' | asset_url }}" srcset="{{ '3L-desktop.png' | asset_url }} 2x" loading="lazy">
      </div>
      <div class="pointer pointer-top pointer-left pointer-performance-top-left" data-view="performance-top-left">
        <div class="pointer-wrap">
          <div class="pointer-legend">
            G-sensor
          </div>
          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
        </div>
      </div>
      <div class="pointer pointer-top pointer-right pointer-performance-top-right" data-view="performance-top-right">
        <div class="pointer-wrap">
          <div class="pointer-legend">
            The best performance during your current trip
          </div>
          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
        </div>
      </div>
      <div class="pointer pointer-bottom pointer-left pointer-performance-bottom-left" data-view="performance-bottom-left">
        <div class="pointer-wrap">
          <div class="pointer-legend">
            To reach best results battery should be neither cold, nor overheated
          </div>
          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
        </div>
      </div>
      <div class="pointer pointer-bottom pointer-left pointer-performance-bottom-right" data-view="performance-bottom-right">
        <div class="pointer-wrap">
          <div class="pointer-legend">
            Current horsepower value
          </div>
          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
        </div>
      </div>
    </figure>
  </div>
  <div class="features__block features__block-even features__block-energy_screen">
    <div class="features__block-legend">
      <div class="features__block-legend-title">Energy screen</div>
      <div class="features__block-legend-subtitle">Detailed pictures of how different<br>vehicle systems consume power</div>
      <div class="features__block-switcher" current_side="dark">
        <div class="features__block-switcher-case features__block-switcher-case-dark">Dark</div> 
        <div class="features__block-switcher-case features__block-switcher-case-light">Light</div>         
      </div>
    </div>
    <figure class="features__block-screen">
      <div class="features__block-screen-wrap features__block-screen-desktop">
        <img class="features__block-screen-dark" src="{{ '4-desktop.png' | asset_url }}" srcset="{{ '4-retina.png' | asset_url }} 2x" loading="lazy">
        <img class="features__block-screen-light" src="{{ '4L-desktop.png' | asset_url }}" srcset="{{ '4L-retina.png' | asset_url }} 2x" loading="lazy">
      </div>
      <div class="features__block-screen-wrap features__block-screen-mobile">
        <img class="features__block-screen-dark" src="{{ '4-mobile.png' | asset_url }}" srcset="{{ '4-desktop.png' | asset_url }} 2x" loading="lazy">
        <img class="features__block-screen-light" src="{{ '4L-mobile.png' | asset_url }}" srcset="{{ '4L-desktop.png' | asset_url }} 2x" loading="lazy">
      </div>
      <div class="pointer pointer-desktop pointer-top pointer-left pointer-energy_screen-top-left" data-view="energy_screen-top-left">
        <div class="pointer-wrap">
          <div class="pointer-legend">
            Look at the battery power distribution map and try to optimize consumption
          </div>
          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
        </div>
      </div>
      <div class="pointer pointer-mobile pointer-top pointer-right pointer-energy_screen-top-right" data-view="energy_screen-top-right">
        <div class="pointer-wrap">
          <div class="pointer-legend">
            Look at the battery power distribution map and try to optimize consumption
          </div>
          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
        </div>
      </div>
    </figure>
  </div>
  <div class="features__block features__block-odd features__block-car_info">
    <div class="features__block-legend">
      <div class="features__block-legend-title">Car info</div>
      <div class="features__block-legend-subtitle">Get and share all needed info about your Tesla</div>
      <div class="features__block-switcher" current_side="dark">
        <div class="features__block-switcher-case features__block-switcher-case-dark">Dark</div>  
        <div class="features__block-switcher-case features__block-switcher-case-light">Light</div>        
      </div>
    </div>
    <figure class="features__block-screen">
      <div class="features__block-screen-wrap features__block-screen-desktop">
        <img class="features__block-screen-dark" src="{{ '5-desktop.png' | asset_url }}" srcset="{{ '5-retina.png' | asset_url }} 2x" loading="lazy">
        <img class="features__block-screen-light" src="{{ '5L-desktop.png' | asset_url }}" srcset="{{ '5L-retina.png' | asset_url }} 2x" loading="lazy">
      </div>
      <div class="features__block-screen-wrap features__block-screen-mobile">
        <img class="features__block-screen-dark" src="{{ '5-mobile.png' | asset_url }}" srcset="{{ '5-desktop.png' | asset_url }} 2x" loading="lazy">
        <img class="features__block-screen-light" src="{{ '5L-mobile.png' | asset_url }}" srcset="{{ '5L-desktop.png' | asset_url }} 2x" loading="lazy">
      </div>
      <div class="pointer pointer-desktop pointer-top pointer-left pointer-car_info-top-left" data-view="car_info-top-left">
        <div class="pointer-wrap">
          <div class="pointer-legend">
            Get complete unique info about your Tesla
          </div>
          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
        </div>
      </div>
      <div class="pointer pointer-top pointer-left pointer-car_info-top-right" data-view="car_info-top-right">
        <div class="pointer-wrap">
          <div class="pointer-legend">
            Share the info with your friends on social networks
          </div>
          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
        </div>
      </div>
      <div class="pointer pointer-mobile pointer-bottom pointer-right pointer-car_info-bottom-right" data-view="car_info-bottom-right">
        <div class="pointer-wrap">
          <div class="pointer-legend">
            Get complete unique info about your Tesla
          </div>
          <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
        </div>
      </div>
    </figure>
  </div>
  <div class="features__block features__block-even features__block-energy_screen">
    <div class="features__block-legend">
      <div class="features__block-legend-title">Low vision mode</div>
      <div class="features__block-legend-subtitle">Enlarged interface elements and fonts. Will be convenient for drivers with glasses and anyone who wants to increase the comfort for the eyes</div>
      <div class="features__block-switcher" current_side="dark">
        <div class="features__block-switcher-case features__block-switcher-case-dark">Dark</div> 
        <div class="features__block-switcher-case features__block-switcher-case-light">Light</div>         
      </div>
    </div>
    <figure class="features__block-screen">
      <div class="features__block-screen-wrap features__block-screen-desktop">
        <img class="features__block-screen-dark" src="{{ '6L-desktop.png' | asset_url }}" srcset="{{ '6L-desktop.png' | asset_url }} 2x" loading="lazy">
        <img class="features__block-screen-light" src="{{ '6L-desktop.png' | asset_url }}" srcset="{{ '6L-desktop.png' | asset_url }} 2x" loading="lazy">
      </div>
      <div class="features__block-screen-wrap features__block-screen-mobile">
        <img class="features__block-screen-dark" src="{{ '6L-mobile.png' | asset_url }}" srcset="{{ '6L-desktop.png' | asset_url }} 2x" loading="lazy">
        <img class="features__block-screen-light" src="{{ '6L-mobile.png' | asset_url }}" srcset="{{ '6L-desktop.png' | asset_url }} 2x" loading="lazy">
      </div>
    </figure>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.features__block-switcher').on('click', function() {
      var current_side = $(this).attr('current_side')
      if (current_side == 'dark') {
        $(this).parents('.features__block').find('.features__block-screen-dark').hide()
        $(this).parents('.features__block').find('.features__block-switcher-case-dark').hide()
        $(this).parents('.features__block').find('.features__block-screen-light').show()
        $(this).parents('.features__block').find('.features__block-switcher-case-light').show()
        $(this).attr('current_side', 'light')
      }
      if (current_side == 'light') {
        $(this).parents('.features__block').find('.features__block-screen-light').hide()
        $(this).parents('.features__block').find('.features__block-switcher-case-light').hide()
        $(this).parents('.features__block').find('.features__block-screen-dark').show()
        $(this).parents('.features__block').find('.features__block-switcher-case-dark').show()
        $(this).attr('current_side', 'dark')
      }
    })
  })
</script>
