<link rel="stylesheet" href="{{ 'features.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'features-responsive.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'pointers.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'pointers-responsive.css' | asset_url }}" media="print" onload="this.media='all'">

{%- style -%}

{%- endstyle -%}

<div class="features" id="features">
  <div class="block_title features__title">App Screens</div>
  <div class="features__blocks">
  <div class="features__blocks-scroller">
    <div class="features__block features__block-odd features__block-dashboard">
      <div class="features__block-legend">
        <div class="features__block-legend-title">Dashboard</div>
        <div class="features__block-legend-subtitle">Easily control the speed, power and battery of your Tesla</div>
        <div class="features__block-switcher" current_side="dark">
          <div class="features__block-switcher-case features__block-switcher-case-dark">Dark</div>    
          <div class="features__block-switcher-case features__block-switcher-case-light">Light</div>      
        </div>
      </div>
      <figure class="features__block-screen">
        <div class="features__block-screen-wrap features__block-screen-desktop">
          <img class="features__block-screen-dark" src="{{ '1-desktop.png' | asset_url }}" srcset="{{ '1-retina.png' | asset_url }} 2x" loading="lazy">
          <img class="features__block-screen-light" src="{{ '1L-desktop.png' | asset_url }}" srcset="{{ '1L-retina.png' | asset_url }} 2x" loading="lazy">
        </div>
        <div class="features__block-screen-wrap features__block-screen-mobile">
          <img class="features__block-screen-dark" src="{{ '1-mobile.png' | asset_url }}" srcset="{{ '1-desktop.png' | asset_url }} 2x" loading="lazy">
          <img class="features__block-screen-light" src="{{ '1L-mobile.png' | asset_url }}" srcset="{{ '1L-desktop.png' | asset_url }} 2x" loading="lazy">
        </div>
        <div class="pointer pointer-top pointer-left pointer-dashboard-top-left" data-view="dashboard-top-left">
          <div class="pointer-wrap">
            <div class="pointer-legend">
              Recognizable autopilot, cruise and speed limit indicators
            </div>
            <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
          </div>
        </div>
        <div class="pointer pointer-top pointer-right pointer-dashboard-top-right" data-view="dashboard-top-right">
          <div class="pointer-wrap">
            <div class="pointer-legend">
              Monitor your Tesla battery status
            </div>
            <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
          </div>
        </div>
        <div class="pointer pointer-bottom pointer-left pointer-dashboard-bottom-left" data-view="dashboard-bottom-left">
          <div class="pointer-wrap">
            <div class="pointer-legend">
              Miles saved by regeneration and current energy consumption
            </div>
            <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
          </div>
        </div>
        <div class="pointer pointer-desktop pointer-bottom pointer-left pointer-dashboard-bottom-right" data-view="dashboard-bottom-right">
          <div class="pointer-wrap">
            <div class="pointer-legend">
              Monitor your current trip distance and average speed
            </div>
            <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
          </div>
        </div>
        <div class="pointer pointer-mobile pointer-bottom pointer-right pointer-dashboard-bottom-right" data-view="dashboard-bottom-right">
          <div class="pointer-wrap">
            <div class="pointer-legend">
              Monitor your current trip distance and average speed
            </div>
            <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
          </div>
        </div>
      </figure>
    </div>    
    <div class="features__block features__block-odd features__block-performance">
      <div class="features__block-legend">
        <div class="features__block-legend-title">Perfomance</div>
        <div class="features__block-legend-subtitle">Experience the performance mode data even if you are driving<br>a standard range</div>
        <div class="features__block-switcher" current_side="dark">
          <div class="features__block-switcher-case features__block-switcher-case-dark">Dark</div> 
          <div class="features__block-switcher-case features__block-switcher-case-light">Light</div>         
        </div>
      </div>
      <figure class="features__block-screen">
        <div class="features__block-screen-wrap features__block-screen-desktop">
          <img class="features__block-screen-dark" src="{{ '3-desktop.png' | asset_url }}" srcset="{{ '3-retina.png' | asset_url }} 2x" loading="lazy">
          <img class="features__block-screen-light" src="{{ '3L-desktop.png' | asset_url }}" srcset="{{ '3L-retina.png' | asset_url }} 2x" loading="lazy">
        </div>
        <div class="features__block-screen-wrap features__block-screen-mobile">
          <img class="features__block-screen-dark" src="{{ '3-mobile.png' | asset_url }}" srcset="{{ '3-desktop.png' | asset_url }} 2x" loading="lazy">
          <img class="features__block-screen-light" src="{{ '3L-mobile.png' | asset_url }}" srcset="{{ '3L-desktop.png' | asset_url }} 2x" loading="lazy">
        </div>
        <div class="pointer pointer-top pointer-left pointer-performance-top-left" data-view="performance-top-left">
          <div class="pointer-wrap">
            <div class="pointer-legend">
              G-sensor
            </div>
            <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
          </div>
        </div>
        <div class="pointer pointer-top pointer-right pointer-performance-top-right" data-view="performance-top-right">
          <div class="pointer-wrap">
            <div class="pointer-legend">
              The best performance during your current trip
            </div>
            <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
          </div>
        </div>
        <div class="pointer pointer-bottom pointer-left pointer-performance-bottom-left" data-view="performance-bottom-left">
          <div class="pointer-wrap">
            <div class="pointer-legend">
              To reach best results battery should be neither cold, nor overheated
            </div>
            <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
          </div>
        </div>
        <div class="pointer pointer-bottom pointer-left pointer-performance-bottom-right" data-view="performance-bottom-right">
          <div class="pointer-wrap">
            <div class="pointer-legend">
              Current horsepower value
            </div>
            <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
          </div>
        </div>
      </figure>
    </div>
    <div class="features__block features__block-odd features__block-energy_screen">
      <div class="features__block-legend">
        <div class="features__block-legend-title">Energy screen</div>
        <div class="features__block-legend-subtitle">Detailed pictures of how different<br>vehicle systems consume power</div>
        <div class="features__block-switcher" current_side="dark">
          <div class="features__block-switcher-case features__block-switcher-case-dark">Dark</div> 
          <div class="features__block-switcher-case features__block-switcher-case-light">Light</div>         
        </div>
      </div>
      <figure class="features__block-screen">
        <div class="features__block-screen-wrap features__block-screen-desktop">
          <img class="features__block-screen-dark" src="{{ '4-desktop.png' | asset_url }}" srcset="{{ '4-retina.png' | asset_url }} 2x" loading="lazy">
          <img class="features__block-screen-light" src="{{ '4L-desktop.png' | asset_url }}" srcset="{{ '4L-retina.png' | asset_url }} 2x" loading="lazy">
        </div>
        <div class="features__block-screen-wrap features__block-screen-mobile">
          <img class="features__block-screen-dark" src="{{ '4-mobile.png' | asset_url }}" srcset="{{ '4-desktop.png' | asset_url }} 2x" loading="lazy">
          <img class="features__block-screen-light" src="{{ '4L-mobile.png' | asset_url }}" srcset="{{ '4L-desktop.png' | asset_url }} 2x" loading="lazy">
        </div>
        <div class="pointer pointer-desktop pointer-top pointer-right pointer-energy_screen-top-right" data-view="energy_screen-top-right">
          <div class="pointer-wrap">
            <div class="pointer-legend">
              Look at the battery power distribution map and try to optimize consumption
            </div>
            <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
          </div>
        </div>
        <div class="pointer pointer-mobile pointer-top pointer-right pointer-energy_screen-top-right" data-view="energy_screen-top-right">
          <div class="pointer-wrap">
            <div class="pointer-legend">
              Look at the battery power distribution map and try to optimize consumption
            </div>
            <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
          </div>
        </div>
      </figure>
    </div>
    <div class="features__block features__block-odd features__block-car_info">
      <div class="features__block-legend">
        <div class="features__block-legend-title">Car data</div>
        <div class="features__block-legend-subtitle">Get and share all needed info about your Tesla</div>
        <div class="features__block-switcher" current_side="dark">
          <div class="features__block-switcher-case features__block-switcher-case-dark">Dark</div>  
          <div class="features__block-switcher-case features__block-switcher-case-light">Light</div>        
        </div>
      </div>
      <figure class="features__block-screen">
        <div class="features__block-screen-wrap features__block-screen-desktop">
          <img class="features__block-screen-dark" src="{{ 'car-data-desktop.png' | asset_url }}" srcset="{{ 'car-data-retina.png' | asset_url }} 2x" loading="lazy">
          <img class="features__block-screen-light" src="{{ 'car-dataL-desktop.png' | asset_url }}" srcset="{{ 'car-dataL-retina.png' | asset_url }} 2x" loading="lazy">
        </div>
        <div class="features__block-screen-wrap features__block-screen-mobile">
          <img class="features__block-screen-dark" src="{{ 'car-data-mobile.png' | asset_url }}" srcset="{{ 'car-data-desktop.png' | asset_url }} 2x" loading="lazy">
          <img class="features__block-screen-light" src="{{ 'car-dataL-mobile.png' | asset_url }}" srcset="{{ 'car-dataL-desktop.png' | asset_url }} 2x" loading="lazy">
        </div>
        <div class="pointer pointer-desktop pointer-top pointer-left pointer-car_info-top-left" data-view="car_info-top-left">
          <div class="pointer-wrap">
            <div class="pointer-legend">
              Get complete unique info about your Tesla
            </div>
            <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
          </div>
        </div>
        <div class="pointer pointer-top pointer-left pointer-car_info-top-right" data-view="car_info-top-right">
          <div class="pointer-wrap">
            <div class="pointer-legend">
              Share the info with your friends on social networks
            </div>
            <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
          </div>
        </div>
        <div class="pointer pointer-mobile pointer-bottom pointer-right pointer-car_info-bottom-right" data-view="car_info-bottom-right">
          <div class="pointer-wrap">
            <div class="pointer-legend">
              Get complete unique info about your Tesla
            </div>
            <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
          </div>
        </div>
      </figure>
    </div>
    <div class="features__block features__block-odd features__block-map">
      <div class="features__block-legend">
        <div class="features__block-legend-title">Map and Navigation</div>
        <div class="features__block-switcher" current_side="dark">
          <div class="features__block-switcher-case features__block-switcher-case-dark">Dark</div> 
          <div class="features__block-switcher-case features__block-switcher-case-light">Light</div> 
        </div>
      </div>
      <figure class="features__block-screen">
        <div class="features__block-screen-wrap features__block-screen-desktop">
          <img class="features__block-screen-dark" src="{{ 'map-desktop.png' | asset_url }}" srcset="{{ 'map-retina.png' | asset_url }} 2x" loading="lazy">
          <img class="features__block-screen-light" src="{{ 'mapL-desktop.png' | asset_url }}" srcset="{{ 'mapL-retina.png' | asset_url }} 2x" loading="lazy">
        </div>
        <div class="features__block-screen-wrap features__block-screen-mobile">
          <img class="features__block-screen-dark" src="{{ 'map-mobile.png' | asset_url }}" srcset="{{ 'map-desktop.png' | asset_url }} 2x" loading="lazy">
          <img class="features__block-screen-light" src="{{ 'mapL-mobile.png' | asset_url }}" srcset="{{ 'mapL-desktop.png' | asset_url }} 2x" loading="lazy">
        </div>
        <div class="pointer pointer-desktop pointer-top pointer-left pointer-map-top-left" data-view="car_info-top-left">
          <div class="pointer-wrap">
            <div class="pointer-legend">
              All important indicators, such as autopilot mode and others, remain visible
            </div>
            <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
          </div>
        </div>
        <div class="pointer pointer-desktop pointer-bottom pointer-left pointer-map-bottom-left" data-view="car_info-bottom-left">
          <div class="pointer-wrap">
            <div class="pointer-legend">
              Teslogic utilizes Google's map and navigation
            </div>
            <div class="pointer-point"><!-- <img src="{{ 'point.png' | asset_url }}"> --></div>
          </div>
        </div>
      </figure>
    </div>
  </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    /*$('.features__blocks-scroller').draggable({
      axis: "x",
      containment: '.features__blocks',
      // scroll: true
    })*/
    $('.features__blocks-scroller').on('mousemove', function() {
      console.log('mousemoved')
    })
    $('.features__block-switcher').on('click', function() {
      var current_side = $(this).attr('current_side')
      if (current_side == 'dark') {
        $(this).parents('.features__block').find('.features__block-screen-dark').hide()
        $(this).parents('.features__block').find('.features__block-switcher-case-dark').hide()
        $(this).parents('.features__block').find('.features__block-screen-light').show()
        $(this).parents('.features__block').find('.features__block-switcher-case-light').show()
        $(this).attr('current_side', 'light')
      }
      if (current_side == 'light') {
        $(this).parents('.features__block').find('.features__block-screen-light').hide()
        $(this).parents('.features__block').find('.features__block-switcher-case-light').hide()
        $(this).parents('.features__block').find('.features__block-screen-dark').show()
        $(this).parents('.features__block').find('.features__block-switcher-case-dark').show()
        $(this).attr('current_side', 'dark')
      }
    })
  })
</script>
