<link rel="stylesheet" type="text/css" href="{{ 'footer.css' | asset_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'footer-responsive.css' | asset_url }}">

{%- style -%}

{%- endstyle -%}

<footer id="contacts">
  <div class="footer__wrap">
    <div class="footer-top">
      <div class="footer-top-left">
        <div class="logo">
          <img src="{{ 'logo.svg' | asset_url }}">
        </div>
        <div class="footer-links">
          <a class="footer-links__item" href="https://apps.apple.com/am/app/teslogic-dash/id1623563438" target="_blank">
            <img src="{{ 'app_store.svg' | asset_url }}">
          </a>
          <a class="footer-links__item" href="https://play.google.com/store/apps/details?id=co.teslogic.teslogic_dash" target="_blank">
            <img src="{{ 'google_play.svg' | asset_url }}">
          </a>
        </div>
      </div>
      <div class="footer-menu">
        {% for link in linklists.main-menu.links %}
          {% if link.title == 'Screenmate' %}
            <div class="footer-menu__list">
              <div class="footer-menu__list-title">
                {{ link.title }}
              </div>
              <ul class="footer-menu__list-items">
                <li><a href="/screenmate">What is Screenmate</a>
              </ul>
            </div>
          {% endif %}
        {% endfor %}
        {% for link in linklists.main-menu.links %}
          {% if link.title == 'Teslogic v2' or link.title == 'Dashboard Kit' %}
            <div class="footer-menu__list">
              <div class="footer-menu__list-title">
                Dashboard Kit
              </div>
              {% if link.links.size > 0 %}
                <ul class="footer-menu__list-items">
                  {% for child_link in link.links %}
                    <li><a href="{{ child_link.url }}">{{ child_link.title }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
        {% for link in linklists.main-menu.links %}
          {% if link.title == 'Teslogic Pro' %}
            <div class="footer-menu__list">
              <div class="footer-menu__list-title">
                {{ link.title }}
              </div>
              {% if link.links.size > 0 %}
                <ul class="footer-menu__list-items">
                  {% for child_link in link.links %}
                    <li><a href="{{ child_link.url }}">{{ child_link.title }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
        {% for link in linklists.main-menu.links %}
          {% if link.title == 'Other Products' or link.title == 'Accessories' %}
            <div class="footer-menu__list footer-menu__list-big">
              <div class="footer-menu__list-title">
                Accessories
              </div>
              <ul class="footer-menu__list-items">
                <li>
                  <a href="/pages/pro">Teslogic Pro</a>
                </li>
                {% for product in collections['all'].products %}
                  {% if product.handle != 'teslogic-transmitter-kit' and product.handle != 'teslogic-transmitter-kit-v2' and product.handle != 'teslogic-pro-boost-transmitter-kit' and product.handle != 'teslogic-pro-performace-transmitter-kit' %}
                    <li>
                      <a href="/products/{{ product.handle }}">{{ product.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endfor %}
        <div class="footer-menu__list footer-menu__list-contacts">
          <div class="footer-menu__list-title">
            Contacts
          </div>
          <ul class="footer-menu__list-items">
            <li><a href="mailto:info@teslogic.co">info@teslogic.co</a></li>
            <li>
              2093 Philadelphia Pike<br>
              #3248 Claymont<br>
              DE 19703
            </li>
          </ul>
        </div>
        {% for link in linklists.main-menu.links %}
          {% if link.title == 'Contacts' or link.title == 'For customer' %}
            <div class="footer-menu__list">
              <div class="footer-menu__list-title">
                For customer
              </div>
              {% if link.links.size > 0 %}
                <ul class="footer-menu__list-items">
                  {% for child_link in link.links %}
                    <li><a href="{{ child_link.url }}">{{ child_link.title }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
        <div class="footer-menu__list footer-menu__list-social">
          <div class="footer-menu__list-title">
            Social
          </div>
          <ul class="footer-menu__list-items">
            <li>
              <a href="https://www.facebook.com/teslogic" target="_blank">Facebook</a>
            </li>
            <li>
              <a href="https://twitter.com/teslogic_inc" target="_blank">Twitter</a>
            </li>
            <li>
              <a href="https://instagram.com/teslogic.inc?igshid=YmMyMTA2M2Y=" target="_blank">Instagram</a>
            </li>
            <li>
              <a href="https://tiktok.com/@teslogic" target="_blank">Tik Tok</a>
            </li>
          </ul>
        </div>
        <div class="footer-menu__list footer-menu__list-big footer-menu__list-legal">
          <div class="footer-menu__list-title">
            Legal
          </div>
          <ul class="footer-menu__list-items">
            <li><a href="/privacy">Privacy Policy</a></li>
            <!-- <li>Cookie Policy</li> -->
            <li><a href="/terms">Terms of Service</a></li>
            <!-- <li>Return Policy</li> -->
          </ul>
        </div>
      </div>
      <div class="footer-links-mobile">
        <a class="footer-links__item" href="https://apps.apple.com/am/app/teslogic-dash/id1623563438" target="_blank">
          <img src="{{ 'app_store.svg' | asset_url }}">
        </a>
        <a class="footer-links__item" href="https://play.google.com/store/apps/details?id=co.teslogic.teslogic_dash" target="_blank">
          <img src="{{ 'google_play.svg' | asset_url }}">
        </a>
      </div>
    </div>
    <div class="footer-divider"></div>
    <div class="footer-bottom">
      <div class="footer-bottom__text">
        Tesla, Model 3, Model Y are trademarks or registered trademarks of their respective holders. <br>
        Any references to these trademarks does not imply any affiliation or endorsement.
      </div>
      <div class="footer-bottom__right">
        <div class="footer-bottom__icons">
          <!-- 
            visa; master; paypal; amazon pay; apple pay; google pay; shop pay
          -->
          {% assign footer_icons = "Visa,Master Card,Paypal,Amazon,Apple,Google,Shopify" | split: ',' %}
          {% for icon in footer_icons %}
            <img src="{{ icon | append: '.svg' | asset_url }}" />
          {% endfor %}
        </div>
        <div class="footer-bottom__copyright">
          © 2023 Teslogic
        </div>
      </div>
    </div>
  </div>
    {% if template == 'index' %}
      <!-- <div class="ellipse-bottom-container">
        <div class="ellipse-bottom-wrap">
          <div class="ellipse-bottom"></div>
        </div>
      </div> -->
    {% elsif page.handle == 'all-products' %}
      <div class="ellipse-all_products-container">
        <div class="ellipse-all_products-wrap">
          <div class="ellipse-all_products"></div>
        </div>
      </div>
    {% endif %}
</footer>
