<link rel="stylesheet" type="text/css" href="{{ 'footer.css' | asset_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'footer-responsive.css' | asset_url }}">

{%- style -%}

{%- endstyle -%}

<footer id="contacts" {% if template == 'cart' %}{% if cart.item_count == 0 %} style="position: fixed; bottom: 0; left: 0; right: 0;" {% endif %}{% endif %}>
  <div class="footer__wrap">
    <div class="footer-top">
      <div class="logo">
        <img src="{{ 'logo.png' | asset_url }}">
      </div>
      <div class="footer-menu">
        <div class="footer-menu__list footer-menu__list-contacts">
          <div class="footer-menu__list-title">
            Contacts
          </div>
          <ul class="footer-menu__list-items">
            <li><a href="mailto:info@teslogic.co">info@teslogic.co</a></li>
            <li>2093 Philadelphia<br>
              Pike #3248<br>
              Claymont, DE 19703</li>
          </ul>
        </div>
        <!-- <div class="footer-menu__list footer-menu__list-resources">
          <div class="footer-menu__list-title">
            Resources
          </div>
          <ul class="footer-menu__list-items">
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Manuals</a></li>
          </ul>
        </div> -->
        {% for link in linklists.main-menu.links %}
          {% if link.title == 'Dashboard kit' %}
            <div class="footer-menu__list footer-menu__list-dashboard-kit">
              <div class="footer-menu__list-title">
                {{ link.title }}
              </div>
              {% if link.links.size > 0 %}
                <ul class="footer-menu__list-items">
                  {% for child_link in link.links %}
                    <li><a href="{{ child_link.url }}">{{ child_link.title }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
        {% for link in linklists.main-menu.links %}
          {% if link.title == 'Other Products' %}
            <div class="footer-menu__list footer-menu__list-other-products">
              <div class="footer-menu__list-title">
                {{ link.title }}
              </div>
              <ul class="footer-menu__list-items">
                {% for product in collections['all'].products %}
                  {% if product.handle != 'teslogic-transmitter-kit' %}
                    <li>
                      <a href="/products/{{ product.handle }}">{{ product.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endfor %}
        <div class="footer-menu__list footer-menu__list-legal">
          <div class="footer-menu__list-title">
            Legal
          </div>
          <ul class="footer-menu__list-items">
            <li><a href="/privacy">Privacy Policy</a></li>
            <!-- <li>Cookie Policy</li> -->
            <li><a href="/terms">Terms of Service</a></li>
            <!-- <li>Return Policy</li> -->
          </ul>
        </div>
        <!-- {% for link in linklists.main-menu.links %}
          {% if link.title == 'Community' %}
            <div class="footer-menu__list footer-menu__list-community">
              <div class="footer-menu__list-title">
                {{ link.title }}
              </div>
              {% if link.links.size > 0 %}
                <ul class="footer-menu__list-items">
                  {% for child_link in link.links %}
                    <li><a href="{{ child_link.url }}">{{ child_link.title }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %} -->
        <div class="footer-menu__list footer-menu__list-social">
          <div class="footer-menu__list-title">
            Social
          </div>
          <ul class="footer-menu__list-items">
            <li>
              <a href="https://instagram.com/teslogic.inc?igshid=YmMyMTA2M2Y=" target="_blank">Instagram</a>
            </li>
            <li>
              <a href="https://www.facebook.com/teslogic" target="_blank">Facebook</a>
            </li>
            <li>
              <a href="https://twitter.com/teslogic_inc" target="_blank">Twitter</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-links">
      <a class="footer-links__item" href="https://apps.apple.com/am/app/teslogic-dash/id1623563438" target="_blank">
        <img src="{{ 'app_store.png' | asset_url }}">
      </a>
      <a class="footer-links__item" href="https://play.google.com/store/apps/details?id=co.teslogic.teslogic_dash" target="_blank">
        <img src="{{ 'google_play.png' | asset_url }}">
      </a>
    </div>
    <div class="footer-divider"></div>
    <div class="footer-bottom">
      <div class="footer-bottom__text">
        Tesla, Model 3, Model Y are trademarks or registered trademarks of their respective holders. Any references to these trademarks do not imply any affiliation or endorsement.
      </div>
      <div class="footer-bottom__copyright">
        © 2023 Teslogic
      </div>
    </div>
  </div>
    {% if template == 'index' %}
      <!-- <div class="ellipse-bottom-container">
        <div class="ellipse-bottom-wrap">
          <div class="ellipse-bottom"></div>
        </div>
      </div> -->
    {% elsif page.handle == 'all-products' %}
      <div class="ellipse-all_products-container">
        <div class="ellipse-all_products-wrap">
          <div class="ellipse-all_products"></div>
        </div>
      </div>
    {% endif %}
</footer>
