<link rel="stylesheet" type="text/css" href="{{ 'header_screenmate.css' | asset_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'header_screenmate-responsive.css' | asset_url }}">

{%- style -%}
  .pro-shadow {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    background: rgba(0, 0, 0, 0.66);
  }
  .banner-desktop-image-wrap {
    background: url({{ 'screenmate_bg.png' | asset_url}});
    background-size: cover;
    background-position: center;
  }
  @media screen and (min-width: 1920px) {
    .banner-desktop-image-wrap {
      width: 3840px;
      left: calc(-1 * (3840px - 100vw) / 2);
      background: url({{ 'screenmate_bg_2.png' | asset_url}});
      background-size: cover;
      background-position: center;
    }
  }
  @media screen and (min-width: 3840px) {
    .banner-desktop-image-wrap {
      width: calc(3840 * 100vw / 3840);
    }
  }

  .banner {
/*    background: url({{ 'bg_mobile_2x.png' | asset_url}});*/
/*    background-position: right calc(-1 * (830px - 100vw) / 2) center;*/
/*    background: linear-gradient(0deg, #070A08 23.08%, rgba(7, 10, 8, 0.00) 34.36%), linear-gradient(180deg, #070A08 5.73%, rgba(7, 10, 8, 0.00) 31.94%), url({{ 'bg_mobile_2x.png' | asset_url}}), lightgray -768.819px -107.262px / 371.789% 96.682% no-repeat; */
/*    background: url({{ 'bg_mobile_2x.png' | asset_url}}), lightgray -91.807px -318.013px / 131.806% 139.158% no-repeat; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
{%- endstyle -%}

<header id="header_main">
  <div class="top-wrap">
    <div class="top">
      <a href="/" class="logo">
        <img src="{{ 'logo.svg' | asset_url }}">
      </a>
      <div class="menu">
        {% for link in linklists.main-menu.links %}
        {% if link.title == 'Teslogic Pro' %}
          <div class="menu__item menu__item-pro">
              <a href="{{ link.url }}">{{ link.title }} <span>NEW</span></a>
          </div>
        {% elsif link.title != 'Community' %}
          <div
            class="menu__item {% if link.title == 'Buy Now' %}menu__item-button{% endif %}"
            {% if link.title == 'Buy Now' and cart.item_count != 0 %} style="display: none;" {% endif %}
          >
            <a href="{{ link.url }}">{{ link.title }}</a>
            {% if link.links.size > 0 or link.title == 'Other Products' %}
              <img class="menu__item-chevron menu__item-chevron-down" src="{{ 'chevron-down.svg' | asset_url }}">
              <img class="menu__item-chevron menu__item-chevron-up" src="{{ 'chevron-up-grey.svg' | asset_url }}">
              {% if link.title == 'Other Products' %}
                <ul class="menu__item-dropdown">
                  {% for product in collections['all'].products %}
                    {% if product.handle != 'teslogic-transmitter-kit' and product.handle != 'teslogic-transmitter-kit-v2' and product.handle != 'teslogic-pro-boost-transmitter-kit' and product.handle != 'teslogic-pro-performace-transmitter-kit' %}
                      <li class="menu__item-dropdown-link">
                        <a href="/products/{{ product.handle }}">{{ product.title }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% else %}
                <ul class="menu__item-dropdown">
                  {% for child_link in link.links %}
                    <li class="menu__item-dropdown-link">
                      <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endif %}
          </div>
        {% endif %}
        {% endfor %}
        <div 
          class="menu__item menu__item-cart"
          {% if cart.item_count == 0 %} style="display: none;" {% endif %}
        >
          <a href="/cart">
            <div class="cart-icon-wrap">
              <img src="{{ 'cart-white.svg' | asset_url }}">
              <div class="cart-qty">{{ cart.item_count }}</div>
            </div>
            <span>Cart</span>
          </a>
        </div>      
      </div>
    </div>
  </div>
  <div class="header_main-fix"></div>
  <div class="banner-desktop-wrap">
    <div class="banner-desktop">
      <div class="banner-desktop-image-wrap"></div>
      <div class="screenmate-logo">
        <img src="{{ 'screenmate-logo.svg' | asset_url }}">
      </div>
      <div class="screenmate-video">
        <video autoplay loop>
         <source src="{{ 'screenmate.mp4' | asset_url }}">
        </video>
      </div>
      <div class="screenmate-info">
        <div class="screenmate-info-text">
          Introducing our Tesla Extra Computer, with limitless apps,<br>
          an HDMI interface, CarPlay, and endless possibilities.
        </div>
        <div class="screenmate-info-link">
          <span>Notify me when Teslogic ScreenMate is live</span>
          <img src="{{ 'screenmate-chevron.svg' | asset_url}}">
        </div>
      </div>
    </div>
  </div>
</header>
<header id="header_sticky">
  <div class="top-wrap">
    <div class="top">
      <a href="/" class="logo">
        <img src="{{ 'logo.svg' | asset_url }}">
      </a>
      <div class="menu">
        {% for link in linklists.main-menu.links %}
        {% if link.title == 'Teslogic Pro' %}
          <div class="menu__item menu__item-pro">
              <a href="{{ link.url }}">{{ link.title }} <span>NEW</span></a>
          </div>
        {% elsif link.title != 'Community' %}
          <div
            class="menu__item {% if link.title == 'Buy Now' %}menu__item-button{% endif %}"
            {% if link.title == 'Buy Now' and cart.item_count != 0 %} style="display: none;" {% endif %}
          >
            <a href="{{ link.url }}">{{ link.title }}</a>
            {% if link.links.size > 0 or link.title == 'Other Products' %}
              <img class="menu__item-chevron menu__item-chevron-down" src="{{ 'chevron-down.svg' | asset_url }}">
              <img class="menu__item-chevron menu__item-chevron-up" src="{{ 'chevron-up-grey.svg' | asset_url }}">
              {% if link.title == 'Other Products' %}
                <ul class="menu__item-dropdown">
                  {% for product in collections['all'].products %}
                    {% if product.handle != 'teslogic-transmitter-kit' and product.handle != 'teslogic-transmitter-kit-v2' and product.handle != 'teslogic-pro-boost-transmitter-kit' and product.handle != 'teslogic-pro-performace-transmitter-kit' %}
                      <li class="menu__item-dropdown-link">
                        <a href="/products/{{ product.handle }}">{{ product.title }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% else %}
                <ul class="menu__item-dropdown">
                  {% for child_link in link.links %}
                    <li class="menu__item-dropdown-link">
                      <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endif %}
          </div>
        {% endif %}
        {% endfor %}
        <div 
          id="cart-animate"
          class="menu__item menu__item-cart"
          {% if cart.item_count == 0 %} style="display: none;" {% endif %}
        >
          <a href="/cart">
            <div class="cart-icon-wrap">
              <img src="{{ 'cart-white.svg' | asset_url }}">
              <div class="cart-qty">{{ cart.item_count }}</div>
            </div>
            <span>Cart</span>
          </a>
        </div>      
      </div>
    </div>
  </div>
</header>

<header id="header_mobile">
  <div class="top-wrap">
    <div class="top top-menu-closed">
      <a href="/" class="logo">
        <img class="logo-white" src="{{ 'logo.svg' | asset_url }}">
        <img class="logo-black" src="{{ 'logo_black.svg' | asset_url }}">
      </a>
      <div class="buttons">
        <!-- <div class="mob-button button-cart"><img src="{{ 'cart.png' | asset_url }}"></div> -->
        <div 
          class="menu__item menu__item-cart"
          {% if cart.item_count == 0 %} style="display: none;" {% endif %}
        >
          <a href="/cart">
            <div class="cart-icon-wrap">
              <img src="{{ 'cart-white.svg' | asset_url }}">
              <div class="cart-qty">{{ cart.item_count }}</div>
            </div>
          </a>
        </div>      
        <!-- <div class="mob-button button-burger"><img src="{{ 'burger.svg' | asset_url }}"></div> -->
        <button type="button" class="mob-button button-menu">Menu</button>
        <div class="mob-button button-close"><img src="{{ 'close-review-form.svg' | asset_url }}"></div>
      </div>
    </div>
  </div>
  <div class="burger-menu-wrap">
    <div class="burger-menu">
      {% for link in linklists.main-menu.links %}
      {% if link.title == 'Teslogic Pro' %}
        <div class="menu__item menu__item-pro">
            <a href="{{ link.url }}">{{ link.title }} <span>NEW</span></a>
        </div>
      {% elsif link.title != 'Community' %}
        <div
          class="menu__item {% if link.title == 'Buy Now' %}menu__item-button{% endif %}"
          {% if link.title == 'Buy Now' %} style="display: none;" {% endif %}
        >
          {% if link.links.size > 0 or link.title == 'Other Products' %}
            <div class="menu__item-title">
              <a href="{{ link.url }}">{{ link.title }}</a>
              <img class="menu__item-chevron menu__item-chevron-down" src="{{ 'chevron-down-black.svg' | asset_url }}">
              <img class="menu__item-chevron menu__item-chevron-up" src="{{ 'chevron-up-grey.svg' | asset_url }}">
            </div>
            {% if link.title == 'Other Products' %}
              <ul class="menu__item-dropdown">
                {% for product in collections['all'].products %}
                  {% if product.handle != 'teslogic-transmitter-kit' and product.handle != 'teslogic-transmitter-kit-v2' and product.handle != 'teslogic-pro-boost-transmitter-kit' and product.handle != 'teslogic-pro-performace-transmitter-kit' %}
                    <li class="menu__item-dropdown-link">
                      <a href="/products/{{ product.handle }}">{{ product.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% else %}
              <ul class="menu__item-dropdown">
                {% for child_link in link.links %}
                  <li class="menu__item-dropdown-link">
                    <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% else %}
            <div class="menu__item-title">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </div>
          {% endif %}
        </div>
      {% endif %}
      {% endfor %}   
    </div>
      <div class="banner-buttons">
        <a href="#shop-now" class="banner-button-buy">Buy now</a>
        <a href="#using" class="banner-button-learn">Learn more</a>
      </div>
  </div>
  <!-- <div class="header_mobile-fix"></div> -->
  <div class="banner banner-menu-closed">
    <img class="banner-mobile-image" src="{{ 'pro_banner_mobile.png' | asset_url}}" srcset="{{ 'pro_banner_2_mobile.png' | asset_url }} 2x" loading="lazy">
    <div class="banner-top">
      <div class="banner__title">
        Unlock the true<br>
        potential<br>
        of your Tesla<br>
        Model 3/Y<br>
        with Teslogic Pro
      </div>
      <div class="banner__subtitle">
        The ultimate performance upgrade for<br>
        Tesla enthusiasts
      </div>
    </div>
    <div class="banner-bottom">
      <div class="addtext">
        <div class="addtext-sup">up to</div>
        <div class="addtext-main">+150 HP</div>
      </div>
      <div class="banner-buttons">
        <a href="#shop-now" class="banner-button-buy">Buy now</a>
        <a href="#using" class="banner-button-learn">Learn more</a>
      </div>
    </div>
  </div>
  <div class="experience-block-wrap">
    <div class="experience-block">
      <div class="experience-block-title">
        Experience the power<br>
        of Teslogic Pro<br>
        featuring two: Boost<br>
        and Performance
      </div>
      <div class="experience-block-options">
        <div class="experience-block-options-left">
          <div class="experience-block-options-item experience-block-options-both">
            <div class="experience-block-options-both-title">
              Both of them offer<br>
              All Teslogic v2<br>
              Dashboard features +
            </div>
            <div class="experience-block-options-both-image">
              <img src="{{ 'pro-experience-both-image.png' | asset_url}}" srcset="{{ 'pro-experience-both-image-retina.png' | asset_url }} 2x" loading="lazy">
            </div>
            <div class="experience-block-options-both-icons">
              <img src="{{ 'pro-experience-block-icon-1.svg' | asset_url}}">
              <img src="{{ 'pro-experience-block-icon-2.svg' | asset_url}}">
              <img src="{{ 'pro-experience-block-icon-3.svg' | asset_url}}">
              <img src="{{ 'pro-experience-block-icon-4.svg' | asset_url}}">
              <img src="{{ 'pro-experience-block-icon-5.svg' | asset_url}}">
              <img src="{{ 'pro-experience-block-icon-6.svg' | asset_url}}">
            </div>            
          </div>          
        </div>
        <div class="experience-block-options-right">
          <div class="experience-block-options-right-top">
            <div class="experience-block-options-item experience-block-options-one">
              <div class="experience-block-options-item experience-block-options-one-title">Pro Boost</div>
              <div class="experience-block-options-item experience-block-options-one-caption">power increase</div>
              <div class="experience-block-options-item experience-block-options-one-value">+50 HP</div>
            </div>
            <div class="experience-block-options-item experience-block-options-one">
              <div class="experience-block-options-item experience-block-options-one-title">Pro Performance</div>
              <div class="experience-block-options-item experience-block-options-one-caption">power increase</div>
              <div class="experience-block-options-item experience-block-options-one-value">+150 HP</div>
              <div class="experience-block-options-item experience-block-options-one-plus">
                <img class="experience-block-options-one-plus-icon" src="{{ 'pro-flag.svg' | asset_url}}">
                <div class="experience-block-options-one-plus-text">Plus Track Mode</div>
              </div>
            </div>            
          </div>
          <div class="experience-block-options-right-bottom">
            <div class="experience-block-options-item experience-block-options-add">
              <div class="experience-block-options-add-text">
                Also, with Pro,<br>you can activate the following<br>additional functionality:
              </div>
              <div class="experience-block-options-add-features">
                <div class="experience-block-options-add-features-item">
                  <img class="experience-block-options-add-features-item-icon" src="{{ 'pro-experience-add-icon-1.svg' | asset_url}}">
                  <div class="experience-block-options-add-features-item-text">Adaptive<br>Matrix<br>Headlights</div>
                </div>
                <div class="experience-block-options-add-features-item">
                  <img class="experience-block-options-add-features-item-icon" src="{{ 'pro-experience-add-icon-2.svg' | asset_url}}">
                  <div class="experience-block-options-add-features-item-text">Amber<br>Taillights<br>Retrofit</div>
                </div>
                <div class="experience-block-options-add-features-item">
                  <img class="experience-block-options-add-features-item-icon" src="{{ 'pro-experience-add-icon-3.svg' | asset_url}}">
                  <div class="experience-block-options-add-features-item-text">Steering<br>Wheel<br>Heating</div>
                </div>
                <div class="experience-block-options-add-features-item">
                  <img class="experience-block-options-add-features-item-icon" src="{{ 'pro-experience-add-icon-4.svg' | asset_url}}">
                  <div class="experience-block-options-add-features-item-text">Rear<br>Seats<br>Heating</div>
                </div>
              </div>
            </div>
          </div>          
        </div>        
      </div>
    </div>
  </div>
</header>
  
<script type="text/javascript">
  // console.log('userAgent')
  // console.log(window.navigator.userAgent)
  // console.log(window.innerWidth)
  // console.log(window.innerHeight)
  var logo_white_url = "{{ 'logo.svg' | asset_url }}"
  // var logo_black_url = "{{ 'logo_black.svg' | asset_url }}"
  var chevron_white = "{{ 'chevron-down.svg' | asset_url }}"
  // var chevron_black = "{{ 'chevron-down-black.svg' | asset_url }}"
  // console.log(logo_white_url)
  // console.log(logo_black_url)
  $(document).ready(function() {
    // window.addEventListener('scroll', setStickyHeader)
    $(document.body).on('touchmove', setStickyHeader)
    $(document.body).on('scroll', setStickyHeader)
    $(window).on('scroll', setStickyHeader) 
    function setStickyHeader() {
      if (window.innerWidth >= 575) {
        var header_main_height = $('#header_main').height()
        var header_top_height = $('#header_main').find('.top').height()
        if (window.pageYOffset >= header_top_height) {
          $('#header_sticky').css({display: 'flex'})
          if (window.pageYOffset >= header_top_height) {
            $('#header_sticky').css({background: 'rgba(0, 0, 0, 0.32)', backdropFilter: 'blur(32px)'})
            // $('#header_sticky').find('.logo img').attr('src', logo_black_url)
            $('#header_sticky').find('.menu__item').addClass('menu__item-sticky')
            // $('.menu__item-chevron-down').attr('src', chevron_black)
            // $('#header_sticky').find('.menu__item').css({color: '#000000'})
            // $('#header_sticky').find('.menu__item a').css({color: '#000000'})
            // $('#header_sticky').find('.menu__item-button').css({color: '#FFFFFF'})
            // $('#header_sticky').find('.menu__item-button a').css({color: '#FFFFFF'})
            /*$('.menu__item-button').on('mouseover', function() {
              $(this).css({color: '#000000'})
              $(this).find('a').css({color: '#000000'})
            })
            $('.menu__item-button').on('mouseleave', function() {
              $(this).css({color: '#FFFFFF'})
              $(this).find('a').css({color: '#FFFFFF'})
            })*/
          }
          else {
            $('#header_sticky').css({background: 'transparent', backdropFilter: 'unset'})
            $('#header_sticky').find('.logo img').attr('src', logo_white_url)
            $('#header_sticky').find('.menu__item').removeClass('menu__item-sticky')
            $('.menu__item-chevron-down').attr('src', chevron_white)
            // $('#header_sticky').find('.menu__item').css({color: '#FFFFFF'})
            // $('#header_sticky').find('.menu__item a').css({color: '#FFFFFF'})
          }
        }
        else {      
          $('#header_sticky').css({display: 'none'})
        }
      }
      else {
        if ($('body').scrollTop() >= window.innerHeight) {
          $('.top-wrap').addClass('top-wrap-scrolled')
        }
        else {
          $('.top-wrap').removeClass('top-wrap-scrolled')
        }
      }
    }

    $('.button-menu').on('click', function() {
      $('.burger-menu-wrap').css('display', 'flex')
      $('.button-close').show()
      $(this).hide()
      $(this).parents('.top').removeClass('top-menu-closed').addClass('top-menu-opened')
      $(this).parents('.top').find('.logo-white').hide()
      $(this).parents('.top').find('.logo-black').show()
      $(this).parents('#header_mobile').find('.banner').removeClass('banner-menu-closed').addClass('banner-menu-opened')
    })
    $('.button-close').on('click', function() {
      $('.burger-menu-wrap').hide()
      $('.button-menu').show()
      $(this).hide()
      $(this).parents('.top').removeClass('top-menu-opened').addClass('top-menu-closed')
      $(this).parents('.top').find('.logo-black').hide()
      $(this).parents('.top').find('.logo-white').show()
      $(this).parents('#header_mobile').find('.banner').removeClass('banner-menu-opened').addClass('banner-menu-closed')
    })

    $(document).on('click', 'a[href^="#"]', function (e) {
      /*$('.burger-menu-wrap').hide()
      $('.button-close').hide()
      if ($(this).attr('href') == '#') {
        e.preventDefault()
      }*/
      if ($(this).attr('href') != '#') {
        e.preventDefault()
        $('.burger-menu-wrap').hide()
        $('.button-close').hide()
        $('html, body').animate({
            scrollTop: $($(this).attr('href')).offset().top
        }, 500)
      }
    })
    if (window.innerWidth >= 575) {
      $('.menu__item').on('mouseover', function() {
        let dropdown = $(this).find('.menu__item-dropdown')
        let chevron_down = $(this).find('.menu__item-chevron-down')
        let chevron_up = $(this).find('.menu__item-chevron-up')
          $('.menu__item-dropdown').each(function() {
            $(this).css('display', 'none')
            $(this).parent('.menu__item').removeClass('menu__item-opened')
          })
          $(dropdown).css('display', 'flex')
          $(chevron_down).hide()
          $(chevron_up).show()
          $(this).addClass('menu__item-opened')
      })
      $('.menu__item').on('mouseleave', function() {
        let dropdown = $(this).find('.menu__item-dropdown')
        let chevron_down = $(this).find('.menu__item-chevron-down')
        let chevron_up = $(this).find('.menu__item-chevron-up')
          $(dropdown).css('display', 'none')
          $(chevron_down).show()
          $(chevron_up).hide()
          $(this).removeClass('menu__item-opened')
      })
    }
    else {
      $('.menu__item').on('click', function() {
        let dropdown = $(this).find('.menu__item-dropdown')
        let chevron_down = $(this).find('.menu__item-chevron-down')
        let chevron_up = $(this).find('.menu__item-chevron-up')
        if ($(dropdown).is(':visible')) {
          $(dropdown).css('display', 'none')
          $(chevron_down).show()
          $(chevron_up).hide()
          $(this).removeClass('menu__item-opened')
        }
        else {
          $('.menu__item-dropdown').each(function() {
            $(this).css('display', 'none')
            $(this).parent('.menu__item').removeClass('menu__item-opened')
          })
          $(dropdown).css('display', 'flex')
          $(chevron_down).hide()
          $(chevron_up).show()
          $(this).addClass('menu__item-opened')
        }      
      })
    }
    $(document).click(function(event) { 
      var $target = $(event.target)
      if (!$target.closest('.menu__item-opened').length) {
        $('.menu__item-dropdown').each(function() {
          $(this).css('display', 'none')
          let chevron_down = $(this).find('.menu__item-chevron-down')
          let chevron_up = $(this).find('.menu__item-chevron-up')
          $(chevron_down).show()
          $(chevron_up).hide()
          $(this).parent('.menu__item').removeClass('menu__item-opened')
        })
      }        
    })
  })  
</script>
