<link rel="stylesheet" type="text/css" href="{{ 'header_custom.css' | asset_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'header_custom-responsive.css' | asset_url }}">

{%- style -%}  
  .burger-menu-wrap {
    /*background: url({{ 'burger_menu_light.png' | asset_url}});
    background-size: 100% 460px;
    background-position-x: center;
    background-repeat: no-repeat;*/
    background: white;
  }
{%- endstyle -%}

<header id="header_custom">
  <div class="top-wrap">
    <div class="top">
      <a href="/" class="logo">
        <img src="{{ 'logo_black.png' | asset_url }}">
      </a>
      <div class="menu">
        {% for link in linklists.main-menu.links %}
          <div class="menu__item {% if link.title == 'Buy Now' %}menu__item-button{% endif %}">
            <a href="{{ link.url }}">{{ link.title }}</a>
            {% if link.links.size > 0 %}
              <img class="menu__item-chevron menu__item-chevron-down" src="{{ 'chevron-down.svg' | asset_url }}">
              <img class="menu__item-chevron menu__item-chevron-up" src="{{ 'chevron-up-grey.svg' | asset_url }}">
              <ul class="menu__item-dropdown">
                {% for child_link in link.links %}
                  <li class="menu__item-dropdown-link">
                    <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        {% endfor %}
        <div 
          id="cart-animate"
          class="menu__item cart-link"
          {% if cart.item_count == 0 %} style="display: none;" {% endif %}
        >
          <a href="/cart">
            <div class="cart-icon-wrap">
              <img src="{{ 'shopping_cart.png' | asset_url }}">
              <div class="cart-qty">{{ cart.item_count }}</div>
            </div>
            <span>Cart</span>
          </a>
        </div>      
      </div>
    </div>
  </div>
</header>

<div class="header-fix"></div>
  
<script type="text/javascript">
  var chevron_white = "{{ 'chevron-down.svg' | asset_url }}"
  var chevron_black = "{{ 'chevron-down-black.svg' | asset_url }}"
  $(document).ready(function() {
    $('.menu__item-button').on('mouseover', function() {
      $(this).css({color: '#000000'})
      $(this).find('a').css({color: '#000000'})
    })
    $('.menu__item-button').on('mouseleave', function() {
      $(this).css({color: '#FFFFFF'})
      $(this).find('a').css({color: '#FFFFFF'})
    })
    $('.button-burger').on('click', function() {
      $('.burger-menu-wrap').show()
      $('.button-close').show()
    })
    $('.button-close').on('click', function() {
      $('.burger-menu-wrap').hide()
      $('.button-close').hide()
    })
    $('.menu__item').on('mouseover', function() {
      let dropdown = $(this).find('.menu__item-dropdown')
      let chevron_down = $(this).find('.menu__item-chevron-down')
      let chevron_up = $(this).find('.menu__item-chevron-up')
        $('.menu__item-dropdown').each(function() {
          $(this).css('display', 'none')
          $(this).parent('.menu__item').removeClass('menu__item-opened')
        })
        $(dropdown).css('display', 'flex')
        $(chevron_down).hide()
        $(chevron_up).show()
        $(this).addClass('menu__item-opened')
    })
    $('.menu__item').on('mouseleave', function() {
      let dropdown = $(this).find('.menu__item-dropdown')
      let chevron_down = $(this).find('.menu__item-chevron-down')
      let chevron_up = $(this).find('.menu__item-chevron-up')
        $(dropdown).css('display', 'none')
        $(chevron_down).show()
        $(chevron_up).hide()
        $(this).removeClass('menu__item-opened')
    })
  })  
</script>
