<link rel="stylesheet" type="text/css" href="{{ 'header_screenmate.css' | asset_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'header_screenmate-responsive.css' | asset_url }}">

{%- style -%}
  .banner-desktop-image-wrap {
    background: url({{ 'screenmate_bg.png' | asset_url}});
    background-size: cover;
    background-position: center;
  }
  .screenmate-form-agree-checkbox {
    background: url({{ 'screenmate_checkbox_inactive.svg' | asset_url }});
    background-size: cover;
    background-position: center;
  }
  .screenmate-form-agree-checkbox:checked {
    background: url({{ 'screenmate_checkbox_active.svg' | asset_url }});
    background-size: cover;
    background-position: center;
  }
  @media screen and (min-width: 1920px) {
    .banner-desktop-image-wrap {
      width: 3840px;
      left: calc(-1 * (3840px - 100vw) / 2);
      background: url({{ 'screenmate_bg_2.png' | asset_url}});
      background-size: cover;
      background-position: center;
    }
  }
  @media screen and (min-width: 3840px) {
    .banner-desktop-image-wrap {
      width: calc(3840 * 100vw / 3840);
      left: 0;
    }
  }

  .banner {
    background: url({{ 'screenmate_bg_mobile.png' | asset_url}});
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
{%- endstyle -%}

<header id="header_main">
  <div class="top-wrap">
    <div class="top">
      <a href="/" class="logo">
        <img src="{{ 'logo.svg' | asset_url }}">
      </a>
      <div class="menu">
        {% for link in linklists.main-menu.links %}
        {% if link.title == 'Teslogic Pro' %}
          <div class="menu__item menu__item-pro">
              <a href="{{ link.url }}">{{ link.title }} <span>NEW</span></a>
          </div>
        {% elsif link.title != 'Community' %}
          <div
            class="menu__item {% if link.title == 'Buy Now' %}menu__item-button{% endif %}"
            {% if link.title == 'Buy Now' and cart.item_count != 0 %} style="display: none;" {% endif %}
          >
            <a href="{{ link.url }}">{{ link.title }}</a>
            {% if link.links.size > 0 or link.title == 'Other Products' %}
              <img class="menu__item-chevron menu__item-chevron-down" src="{{ 'chevron-down.svg' | asset_url }}">
              <img class="menu__item-chevron menu__item-chevron-up" src="{{ 'chevron-up-grey.svg' | asset_url }}">
              {% if link.title == 'Other Products' %}
                <ul class="menu__item-dropdown">
                  {% for product in collections['all'].products %}
                    {% if product.handle != 'teslogic-transmitter-kit' and product.handle != 'teslogic-transmitter-kit-v2' and product.handle != 'teslogic-pro-boost-transmitter-kit' and product.handle != 'teslogic-pro-performace-transmitter-kit' %}
                      <li class="menu__item-dropdown-link">
                        <a href="/products/{{ product.handle }}">{{ product.title }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% else %}
                <ul class="menu__item-dropdown">
                  {% for child_link in link.links %}
                    <li class="menu__item-dropdown-link">
                      <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endif %}
          </div>
        {% endif %}
        {% endfor %}
        <div 
          class="menu__item menu__item-cart"
          {% if cart.item_count == 0 %} style="display: none;" {% endif %}
        >
          <a href="/cart">
            <div class="cart-icon-wrap">
              <img src="{{ 'cart-white.svg' | asset_url }}">
              <div class="cart-qty">{{ cart.item_count }}</div>
            </div>
            <span>Cart</span>
          </a>
        </div>      
      </div>
    </div>
  </div>
  <div class="header_main-fix"></div>
  <div class="banner-desktop-wrap">
    <div class="banner-desktop">
      <div class="banner-desktop-image-wrap"></div>
      <div class="screenmate-logo">
        <img src="{{ 'screenmate-logo.svg' | asset_url }}">
      </div>
      <div class="screenmate-logo-shadow"></div>
      <div class="screenmate-video">
        <video autoplay loop muted playsinline>
         <source src="{{ 'screenmate.mp4' | asset_url }}">
        </video>
      </div>
      <div class="screenmate-info">
        <div class="screenmate-info-text">
          Introducing our Tesla Extra Computer with smart dashboard,<br>
          limitless apps, an HDMI interface and endless possibilities.
        </div>
        <div class="screenmate-info-link">
          <span>Notify me when Teslogic Screenmate is live on</span>
          <img class="screenmate-info-link-kickstarter" src="{{ 'kickstarter.svg' | asset_url }}">
          <img class="screenmate-info-link-chevron" src="{{ 'screenmate-chevron.svg' | asset_url }}">
        </div>
      </div>
      <div class="screenmate-steamdeck">
        <img src="{{ 'steamdeck.png' | asset_url }}">
      </div>
    </div>
  </div>
</header>
<header id="header_sticky">
  <div class="top-wrap">
    <div class="top">
      <a href="/" class="logo">
        <img src="{{ 'logo.svg' | asset_url }}">
      </a>
      <div class="menu">
        {% for link in linklists.main-menu.links %}
        {% if link.title == 'Teslogic Pro' %}
          <div class="menu__item menu__item-pro">
              <a href="{{ link.url }}">{{ link.title }} <span>NEW</span></a>
          </div>
        {% elsif link.title != 'Community' %}
          <div
            class="menu__item {% if link.title == 'Buy Now' %}menu__item-button{% endif %}"
            {% if link.title == 'Buy Now' and cart.item_count != 0 %} style="display: none;" {% endif %}
          >
            <a href="{{ link.url }}">{{ link.title }}</a>
            {% if link.links.size > 0 or link.title == 'Other Products' %}
              <img class="menu__item-chevron menu__item-chevron-down" src="{{ 'chevron-down.svg' | asset_url }}">
              <img class="menu__item-chevron menu__item-chevron-up" src="{{ 'chevron-up-grey.svg' | asset_url }}">
              {% if link.title == 'Other Products' %}
                <ul class="menu__item-dropdown">
                  {% for product in collections['all'].products %}
                    {% if product.handle != 'teslogic-transmitter-kit' and product.handle != 'teslogic-transmitter-kit-v2' and product.handle != 'teslogic-pro-boost-transmitter-kit' and product.handle != 'teslogic-pro-performace-transmitter-kit' %}
                      <li class="menu__item-dropdown-link">
                        <a href="/products/{{ product.handle }}">{{ product.title }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% else %}
                <ul class="menu__item-dropdown">
                  {% for child_link in link.links %}
                    <li class="menu__item-dropdown-link">
                      <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endif %}
          </div>
        {% endif %}
        {% endfor %}
        <div 
          id="cart-animate"
          class="menu__item menu__item-cart"
          {% if cart.item_count == 0 %} style="display: none;" {% endif %}
        >
          <a href="/cart">
            <div class="cart-icon-wrap">
              <img src="{{ 'cart-white.svg' | asset_url }}">
              <div class="cart-qty">{{ cart.item_count }}</div>
            </div>
            <span>Cart</span>
          </a>
        </div>      
      </div>
    </div>
  </div>
</header>

<header id="header_mobile">
  <div class="top-wrap">
    <div class="top top-menu-closed">
      <a href="/" class="logo">
        <img class="logo-white" src="{{ 'logo.svg' | asset_url }}">
        <img class="logo-black" src="{{ 'logo_black.svg' | asset_url }}">
      </a>
      <div class="buttons">
        <!-- <div class="mob-button button-cart"><img src="{{ 'cart.png' | asset_url }}"></div> -->
        <div 
          class="menu__item menu__item-cart"
          {% if cart.item_count == 0 %} style="display: none;" {% endif %}
        >
          <a href="/cart">
            <div class="cart-icon-wrap">
              <img src="{{ 'cart-white.svg' | asset_url }}">
              <div class="cart-qty">{{ cart.item_count }}</div>
            </div>
          </a>
        </div>      
        <!-- <div class="mob-button button-burger"><img src="{{ 'burger.svg' | asset_url }}"></div> -->
        <button type="button" class="mob-button button-menu">Menu</button>
        <div class="mob-button button-close"><img src="{{ 'close-review-form.svg' | asset_url }}"></div>
      </div>
    </div>
  </div>
  <div class="burger-menu-wrap">
    <div class="burger-menu">
      {% for link in linklists.main-menu.links %}
      {% if link.title == 'Teslogic Pro' %}
        <div class="menu__item menu__item-pro">
            <a href="{{ link.url }}">{{ link.title }} <span>NEW</span></a>
        </div>
      {% elsif link.title != 'Community' %}
        <div
          class="menu__item {% if link.title == 'Buy Now' %}menu__item-button{% endif %}"
          {% if link.title == 'Buy Now' %} style="display: none;" {% endif %}
        >
          {% if link.links.size > 0 or link.title == 'Other Products' %}
            <div class="menu__item-title">
              <a href="{{ link.url }}">{{ link.title }}</a>
              <img class="menu__item-chevron menu__item-chevron-down" src="{{ 'chevron-down-black.svg' | asset_url }}">
              <img class="menu__item-chevron menu__item-chevron-up" src="{{ 'chevron-up-grey.svg' | asset_url }}">
            </div>
            {% if link.title == 'Other Products' %}
              <ul class="menu__item-dropdown">
                {% for product in collections['all'].products %}
                  {% if product.handle != 'teslogic-transmitter-kit' and product.handle != 'teslogic-transmitter-kit-v2' and product.handle != 'teslogic-pro-boost-transmitter-kit' and product.handle != 'teslogic-pro-performace-transmitter-kit' %}
                    <li class="menu__item-dropdown-link">
                      <a href="/products/{{ product.handle }}">{{ product.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% else %}
              <ul class="menu__item-dropdown">
                {% for child_link in link.links %}
                  <li class="menu__item-dropdown-link">
                    <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% else %}
            <div class="menu__item-title">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </div>
          {% endif %}
        </div>
      {% endif %}
      {% endfor %}   
    </div>
      <div class="banner-buttons">
        <a href="#shop-now" class="banner-button-buy">Buy now</a>
      </div>
  </div>
  <!-- <div class="header_mobile-fix"></div> -->
  <div class="banner banner-menu-closed">
      <div class="screenmate-logo">
        <img src="{{ 'screenmate-logo-mobile.svg' | asset_url }}">
      </div>
      <div class="screenmate-logo-shadow"></div>
      <div class="screenmate-video">
        <video autoplay loop muted playsinline>
         <source src="{{ 'screenmate.mp4' | asset_url }}">
        </video>
      </div>
      <div class="screenmate-info">
        <div class="screenmate-info-text">
          Introducing our Tesla Extra<br>
          Computer with smart dashboard,<br>
          limitless apps, an HDMI interface<br>
          and endless possibilities.
        </div>
        <div class="screenmate-info-link">
          <span>Notify me when Teslogic<br>Screenmate is live on</span>
          <img class="screenmate-info-link-kickstarter" src="{{ 'kickstarter.svg' | asset_url }}">
          <img class="screenmate-info-link-chevron" src="{{ 'screenmate-chevron.svg' | asset_url }}">
        </div>
      </div>
  </div>
</header>

<div class="screenmate-shadow">
  <div class="screenmate-logo">
    <img src="{{ 'screenmate-logo.svg' | asset_url }}">
  </div>
  <div class="screenmate-form">
    <div class="screenmate-form-top">
      <div class="screenmate-form-title">Subscribe to Screenmate launch updates</div>
      <img class="screenmate-form-close" src="{{ 'close-white.svg' | asset_url }}">
    </div>
    <div class="screenmate-form-fields">
      <div class="screenmate-form-field">
        <label class="screenmate-form-field-label">Name:</label>
        <input class="screenmate-form-field-input screenmate-form-name" type="text" placeholder="Enter your name">
      </div>
      <div class="screenmate-form-field">
        <label class="screenmate-form-field-label">E-mail:</label>
        <input class="screenmate-form-field-input screenmate-form-email" type="email" placeholder="John.smith@example.com">
      </div>
    </div>
    <div class="screenmate-form-submit">
      <button class="screenmate-form-button">Subscribe</button>
      <div class="screenmate-form-agree">
        <div class="screenmate-form-agree-checkbox-wrap">
          <input type="checkbox" id="check-agree" class="screenmate-form-agree-checkbox" checked>
        </div>
        <label for="check-agree" class="screenmate-form-agree-label">I agree to receive Information emails from Teslogic</label>
      </div>
    </div>
  </div>
  <div class="screenmate-success">
    <div class="screenmate-success-top">
      <div class="screenmate-success-title">Thank you!</div>
      <img class="screenmate-success-close" src="{{ 'close-white.svg' | asset_url }}">
    </div>
    <div class="screenmate-success-body">
      <span>We will inform you when <br>Screenmate сampaign goes live on Kickstarter.</span>
      <!-- <img src="{{ 'kickstarter-green.svg' | asset_url }}"> -->
    </div>
  </div>
</div>
  
<script type="text/javascript">
  var logo_white_url = "{{ 'logo.svg' | asset_url }}"
  // var logo_black_url = "{{ 'logo_black.svg' | asset_url }}"
  var chevron_white = "{{ 'chevron-down.svg' | asset_url }}"
  // var chevron_black = "{{ 'chevron-down-black.svg' | asset_url }}"

  $(document).ready(function() {
    // window.addEventListener('scroll', setStickyHeader)
    $(document.body).on('touchmove', setStickyHeader)
    $(document.body).on('scroll', setStickyHeader)
    $(window).on('scroll', setStickyHeader) 
    function setStickyHeader() {
      if (window.innerWidth >= 575) {
        var header_main_height = $('#header_main').height()
        var header_top_height = $('#header_main').find('.top').height()
        if (window.pageYOffset >= header_top_height) {
          $('#header_sticky').css({display: 'flex'})
          if (window.pageYOffset >= header_top_height) {
            $('#header_sticky').css({background: 'rgba(0, 0, 0, 0.32)', backdropFilter: 'blur(32px)'})
            // $('#header_sticky').find('.logo img').attr('src', logo_black_url)
            $('#header_sticky').find('.menu__item').addClass('menu__item-sticky')
            // $('.menu__item-chevron-down').attr('src', chevron_black)
            // $('#header_sticky').find('.menu__item').css({color: '#000000'})
            // $('#header_sticky').find('.menu__item a').css({color: '#000000'})
            // $('#header_sticky').find('.menu__item-button').css({color: '#FFFFFF'})
            // $('#header_sticky').find('.menu__item-button a').css({color: '#FFFFFF'})
            /*$('.menu__item-button').on('mouseover', function() {
              $(this).css({color: '#000000'})
              $(this).find('a').css({color: '#000000'})
            })
            $('.menu__item-button').on('mouseleave', function() {
              $(this).css({color: '#FFFFFF'})
              $(this).find('a').css({color: '#FFFFFF'})
            })*/
          }
          else {
            $('#header_sticky').css({background: 'transparent', backdropFilter: 'unset'})
            $('#header_sticky').find('.logo img').attr('src', logo_white_url)
            $('#header_sticky').find('.menu__item').removeClass('menu__item-sticky')
            $('.menu__item-chevron-down').attr('src', chevron_white)
            // $('#header_sticky').find('.menu__item').css({color: '#FFFFFF'})
            // $('#header_sticky').find('.menu__item a').css({color: '#FFFFFF'})
          }
        }
        else {      
          $('#header_sticky').css({display: 'none'})
        }
      }
      else {
        if ($('body').scrollTop() >= window.innerHeight) {
          $('.top-wrap').addClass('top-wrap-scrolled')
        }
        else {
          $('.top-wrap').removeClass('top-wrap-scrolled')
        }
      }
    }

    const video = $('.screenmate-video video')

    // const totalVideoDuration = 33
    const animateStart = 21
    const animateEnd = 27

    let startTime = Date.now()
    let animate = false
    let videoEnded = false

    // steamdeckAnimate()

    video.play()

    $(video).on('play', function() {
      console.log('Video started')
      steamdeckAnimate()
    })

    $(video).on('ended', function() {
        console.log('Video ended')
        videoEnded = true
    })

    $(video).on('timeupdate', function() {
        if (videoEnded && this.currentTime < 0.5) {
            console.log('Video started')
            steamdeckAnimate()
            videoEnded = false
        }
    })

    function steamdeckAnimate() {
      startTime = Date.now()
      animate = false
      const animateInterval = setInterval(() => {
        console.log(Date.now() - startTime)
        if (!animate && Date.now() - startTime >= animateStart * 1000) {
          animate = true
          $('.screenmate-steamdeck').fadeIn(250)
        } else if (animate && Date.now() - startTime >= animateEnd * 1000) {
          animate = false
          $('.screenmate-steamdeck').fadeOut(250)
          clearInterval(animateInterval)
        }
      }, 250)
      // setTimeout(steamdeckAnimate, totalVideoDuration * 1000)
    }

    $('.screenmate-info-link').on('click', function () {
      $('.screenmate-shadow').css('display', 'flex')
    })

    $('.screenmate-form-close, .screenmate-success-close').on('click', function () {
      $(this).parents('.screenmate-shadow').css('display', 'none')
    })

    $('.screenmate-form-field-input').on('keydown', function () {      
      $(this).css('border-color', '#D9D9D9')
    })

    $('#check-agree').on('change', function () {
      $(this).parent('div').css('border', 'none')
    })

    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/
    const sendMailUrl = 'https://api.teslogic.co/mail/screenmate-subscribe'

    $('.screenmate-form-button').on('click', async function () {
      const name = $('.screenmate-form-name').val()
      const email = $('.screenmate-form-email').val()
      const isAgree = $('#check-agree').prop('checked')

      if (!isAgree) {
        $('#check-agree').parent('div').css('border', '1px solid #FC3E30')
        return
      }

      if (!name) {
        $('.screenmate-form-name').css('border-color', '#FC3E30')
        return
      }

      if (!emailRegex.test(email)) {
        $('.screenmate-form-email').css('border-color', '#FC3E30')
        return
      }

      const response = await fetch(sendMailUrl, {
          method: 'post',
          body: JSON.stringify({ name, email }),
          headers: {'Content-Type': 'application/json'}
      })
      const data = await response.json()
      
      console.log(data)
      if (response.status == 200) {
        if (data.success) {
          $('.screenmate-form').css('display', 'none')
          $('.screenmate-success').css('display', 'flex')
        }
      }
    })

    $('.button-menu').on('click', function() {
      $('.burger-menu-wrap').css('display', 'flex')
      $('.button-close').show()
      $(this).hide()
      $(this).parents('.top').removeClass('top-menu-closed').addClass('top-menu-opened')
      $(this).parents('.top').find('.logo-white').hide()
      $(this).parents('.top').find('.logo-black').show()
      $(this).parents('#header_mobile').find('.banner').removeClass('banner-menu-closed').addClass('banner-menu-opened')
    })
    $('.button-close').on('click', function() {
      $('.burger-menu-wrap').hide()
      $('.button-menu').show()
      $(this).hide()
      $(this).parents('.top').removeClass('top-menu-opened').addClass('top-menu-closed')
      $(this).parents('.top').find('.logo-black').hide()
      $(this).parents('.top').find('.logo-white').show()
      $(this).parents('#header_mobile').find('.banner').removeClass('banner-menu-opened').addClass('banner-menu-closed')
    })

    $(document).on('click', 'a[href^="#"]', function (e) {
      /*$('.burger-menu-wrap').hide()
      $('.button-close').hide()
      if ($(this).attr('href') == '#') {
        e.preventDefault()
      }*/
      if ($(this).attr('href') != '#') {
        e.preventDefault()
        $('.burger-menu-wrap').hide()
        $('.button-close').hide()
        $('html, body').animate({
            scrollTop: $($(this).attr('href')).offset().top
        }, 500)
      }
    })
    if (window.innerWidth >= 575) {
      $('.menu__item').on('mouseover', function() {
        let dropdown = $(this).find('.menu__item-dropdown')
        let chevron_down = $(this).find('.menu__item-chevron-down')
        let chevron_up = $(this).find('.menu__item-chevron-up')
          $('.menu__item-dropdown').each(function() {
            $(this).css('display', 'none')
            $(this).parent('.menu__item').removeClass('menu__item-opened')
          })
          $(dropdown).css('display', 'flex')
          $(chevron_down).hide()
          $(chevron_up).show()
          $(this).addClass('menu__item-opened')
      })
      $('.menu__item').on('mouseleave', function() {
        let dropdown = $(this).find('.menu__item-dropdown')
        let chevron_down = $(this).find('.menu__item-chevron-down')
        let chevron_up = $(this).find('.menu__item-chevron-up')
          $(dropdown).css('display', 'none')
          $(chevron_down).show()
          $(chevron_up).hide()
          $(this).removeClass('menu__item-opened')
      })
    }
    else {
      $('.menu__item').on('click', function() {
        let dropdown = $(this).find('.menu__item-dropdown')
        let chevron_down = $(this).find('.menu__item-chevron-down')
        let chevron_up = $(this).find('.menu__item-chevron-up')
        if ($(dropdown).is(':visible')) {
          $(dropdown).css('display', 'none')
          $(chevron_down).show()
          $(chevron_up).hide()
          $(this).removeClass('menu__item-opened')
        }
        else {
          $('.menu__item-dropdown').each(function() {
            $(this).css('display', 'none')
            $(this).parent('.menu__item').removeClass('menu__item-opened')
          })
          $(dropdown).css('display', 'flex')
          $(chevron_down).hide()
          $(chevron_up).show()
          $(this).addClass('menu__item-opened')
        }      
      })
    }
    $(document).click(function(event) { 
      var $target = $(event.target)
      if (!$target.closest('.menu__item-opened').length) {
        $('.menu__item-dropdown').each(function() {
          $(this).css('display', 'none')
          let chevron_down = $(this).find('.menu__item-chevron-down')
          let chevron_up = $(this).find('.menu__item-chevron-up')
          $(chevron_down).show()
          $(chevron_up).hide()
          $(this).parent('.menu__item').removeClass('menu__item-opened')
        })
      }        
    })
  })  
</script>
