<link rel="stylesheet" type="text/css" href="{{ 'header_main.css' | asset_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'header_main-responsive.css' | asset_url }}">

{%- style -%}
  header#header_main {
  }
  .banner-desktop-wrap {
    background: url({{ 'header_bg.png' | asset_url}});
    background-size: 100%;
    background-position-x: center;
    background-repeat: no-repeat; 
  }
  @media screen and (min-width: 1701px) { 
    .banner-desktop-wrap {
      background: url({{ 'header_bg_full.png' | asset_url}});
      background-size: cover;
      /*background-position: right 20% center;*/
      background-position: right center;
      background-repeat: no-repeat; 
    }
  }
  @media screen and (min-width: 1251px) and (max-width: 1366px) {  
    .banner-desktop-wrap {
      background-size: 1366px 768px;
    }      
  }
  .banner {
    background: url({{ 'banner_mobile_full.png' | asset_url}});
    background-position: right calc(-1 * (830px - 100vw) / 2) center;
    background-repeat: no-repeat; 
  }
  .burger-menu-wrap {
    /*background: url({{ 'burger_menu_dark.png' | asset_url}});
    background-size: 100% 460px;
    background-position-x: center;
    background-repeat: no-repeat;*/
    background: black;
  }
{%- endstyle -%}

<header id="header_main">
  <div class="top-wrap">
    <div class="top">
      <a href="/" class="logo">
        <img src="{{ 'logo.png' | asset_url }}">
      </a>
      <div class="menu">
        {% for link in linklists.main-menu.links %}
        {% if link.title != 'Community' %}
          <div class="menu__item {% if link.title == 'Buy Now' %}menu__item-button{% endif %}">
            <a href="{{ link.url }}">{{ link.title }}</a>
            {% if link.links.size > 0 or link.title == 'Other Products' %}
              <img class="menu__item-chevron menu__item-chevron-down" src="{{ 'chevron-down.svg' | asset_url }}">
              <img class="menu__item-chevron menu__item-chevron-up" src="{{ 'chevron-up-grey.svg' | asset_url }}">
              {% if link.title == 'Other Products' %}
                <ul class="menu__item-dropdown">
                  {% for product in collections['all'].products %}
                    {% if product.handle != 'teslogic-transmitter-kit' %}
                      <li class="menu__item-dropdown-link">
                        <a href="/products/{{ product.handle }}">{{ product.title }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% else %}
                <ul class="menu__item-dropdown">
                  {% for child_link in link.links %}
                    <li class="menu__item-dropdown-link">
                      <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endif %}
          </div>
        {% endif %}
        {% endfor %}
        <div 
          class="menu__item menu__item-cart"
          {% if cart.item_count == 0 %} style="display: none;" {% endif %}
        >
          <a href="/cart">
            <div class="cart-icon-wrap">
              <img src="{{ 'cart-white.svg' | asset_url }}">
              <div class="cart-qty">{{ cart.item_count }}</div>
            </div>
            <span>Cart</span>
          </a>
        </div>      
      </div>
    </div>
  </div>
  <div class="header_main-fix"></div>
  <div class="banner-desktop-wrap">
    <div class="banner-desktop">
      <div class="title">Model 3 and Y portable dashboard on your phone</div>
      <!-- <div class="expand">
        <img src="{{ 'expand.png' | asset_url }}">
      </div> -->
    </div>
  </div>
</header>
<header id="header_sticky">
  <div class="top-wrap">
    <div class="top">
      <a href="/" class="logo">
        <img src="{{ 'logo.png' | asset_url }}">
      </a>
      <div class="menu">
        {% for link in linklists.main-menu.links %}
        {% if link.title != 'Community' %}
          <div class="menu__item {% if link.title == 'Buy Now' %}menu__item-button{% endif %}">
            <a href="{{ link.url }}">{{ link.title }}</a>
            {% if link.links.size > 0 or link.title == 'Other Products' %}
              <img class="menu__item-chevron menu__item-chevron-down" src="{{ 'chevron-down.svg' | asset_url }}">
              <img class="menu__item-chevron menu__item-chevron-up" src="{{ 'chevron-up-grey.svg' | asset_url }}">
              {% if link.title == 'Other Products' %}
                <ul class="menu__item-dropdown">
                  {% for product in collections['all'].products %}
                    {% if product.handle != 'teslogic-transmitter-kit' %}
                      <li class="menu__item-dropdown-link">
                        <a href="/products/{{ product.handle }}">{{ product.title }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% else %}
                <ul class="menu__item-dropdown">
                  {% for child_link in link.links %}
                    <li class="menu__item-dropdown-link">
                      <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endif %}
          </div>
        {% endif %}
        {% endfor %}
        <div 
          id="cart-animate"
          class="menu__item menu__item-cart"
          {% if cart.item_count == 0 %} style="display: none;" {% endif %}
        >
          <a href="/cart">
            <div class="cart-icon-wrap">
              <img src="{{ 'cart-white.svg' | asset_url }}">
              <div class="cart-qty">{{ cart.item_count }}</div>
            </div>
            <span>Cart</span>
          </a>
        </div>      
      </div>
    </div>
  </div>
</header>

<header id="header_mobile">
  <div class="top">
    <a href="/" class="logo">
      <img src="{{ 'logo.png' | asset_url }}">
    </a>
    <div class="buttons">
      <!-- <div class="mob-button button-cart"><img src="{{ 'cart.png' | asset_url }}"></div> -->
      <div 
        class="menu__item menu__item-cart"
        {% if cart.item_count == 0 %} style="display: none;" {% endif %}
      >
        <a href="/cart">
          <div class="cart-icon-wrap">
            <img src="{{ 'cart-white.svg' | asset_url }}">
            <div class="cart-qty">{{ cart.item_count }}</div>
          </div>
        </a>
      </div>      
      <div class="mob-button button-burger"><img src="{{ 'burger.png' | asset_url }}"></div>
      <div class="mob-button button-close"><img src="{{ 'close.png' | asset_url }}"></div>
    </div>
    <div class="burger-menu-wrap">
      <div class="burger-menu">
        {% for link in linklists.main-menu.links %}
        {% if link.title != 'Community' %}
          <div class="menu__item {% if link.title == 'Buy Now' %}menu__item-button{% endif %}">
            <a href="{{ link.url }}">{{ link.title }}</a>
            {% if link.links.size > 0 or link.title == 'Other Products' %}
              <img class="menu__item-chevron menu__item-chevron-down" src="{{ 'chevron-down.svg' | asset_url }}">
              <img class="menu__item-chevron menu__item-chevron-up" src="{{ 'chevron-up-grey.svg' | asset_url }}">
              {% if link.title == 'Other Products' %}
                <ul class="menu__item-dropdown">
                  {% for product in collections['all'].products %}
                    {% if product.handle != 'teslogic-transmitter-kit' %}
                      <li class="menu__item-dropdown-link">
                        <a href="/products/{{ product.handle }}">{{ product.title }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% else %}
                <ul class="menu__item-dropdown">
                  {% for child_link in link.links %}
                    <li class="menu__item-dropdown-link">
                      <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endif %}
          </div>
        {% endif %}
        {% endfor %}
        <!-- <div class="menu__item menu__item-button"><a href="/#shop-now">Shop Now</a></div>
        <div class="menu__item"><a href="/#features">Features</a></div>
        <div class="menu__item"><a href="/manuals">Manuals</a></div>
        <div class="menu__item"><a href="/faq">FAQ</a></div>
        <div class="menu__item"><a href="/contacts">Contacts</a></div>
        <div 
          class="menu__item cart-link"
          {% if cart.item_count == 0 %} style="display: none;" {% endif %}
        >
          <a href="/cart">
            <div class="cart-icon-wrap">
              <img src="{{ 'cart-white.svg' | asset_url }}">
              <div class="cart-qty">{{ cart.item_count }}</div>
            </div>
            <span>Cart</span>
          </a>
        </div>  -->       
      </div>
    </div>
  </div>
  <div class="header_mobile-fix"></div>
  <div class="banner">
    <div class="banner__text">Model 3 and Y portable dashboard on your phone</div>
  </div>
</header>
  
<script type="text/javascript">
  console.log('userAgent')
  console.log(window.navigator.userAgent)
  var logo_white_url = "{{ 'logo.png' | asset_url }}"
  var logo_black_url = "{{ 'logo_black.png' | asset_url }}"
  var chevron_white = "{{ 'chevron-down.svg' | asset_url }}"
  var chevron_black = "{{ 'chevron-down-black.svg' | asset_url }}"
  // console.log(logo_white_url)
  // console.log(logo_black_url)
  $(document).ready(function() {
    window.addEventListener('scroll', setStyckyHeader)
    function setStyckyHeader() {
      var header_main_height = $('#header_main').height()
      var header_top_height = $('#header_main').find('.top').height()
      if (window.pageYOffset >= header_top_height) {
        $('#header_sticky').css({display: 'flex'})
        if (window.pageYOffset >= header_main_height) {
          $('#header_sticky').css({background: '#FEFEFE'})
          $('#header_sticky').find('.logo img').attr('src', logo_black_url)
          $('#header_sticky').find('.menu__item').addClass('menu__item-sticky')
          $('.menu__item-chevron-down').attr('src', chevron_black)
          // $('#header_sticky').find('.menu__item').css({color: '#000000'})
          // $('#header_sticky').find('.menu__item a').css({color: '#000000'})
          $('#header_sticky').find('.menu__item-button').css({color: '#FFFFFF'})
          $('#header_sticky').find('.menu__item-button a').css({color: '#FFFFFF'})
          $('.menu__item-button').on('mouseover', function() {
            $(this).css({color: '#000000'})
            $(this).find('a').css({color: '#000000'})
          })
          $('.menu__item-button').on('mouseleave', function() {
            $(this).css({color: '#FFFFFF'})
            $(this).find('a').css({color: '#FFFFFF'})
          })
        }
        else {
          $('#header_sticky').css({background: 'transparent'})
          $('#header_sticky').find('.logo img').attr('src', logo_white_url)
          $('#header_sticky').find('.menu__item').removeClass('menu__item-sticky')
          $('.menu__item-chevron-down').attr('src', chevron_white)
          // $('#header_sticky').find('.menu__item').css({color: '#FFFFFF'})
          // $('#header_sticky').find('.menu__item a').css({color: '#FFFFFF'})
        }
      }
      else {      
        $('#header_sticky').css({display: 'none'})
      }
    }
    $('.button-burger').on('click', function() {
      $('.burger-menu-wrap').show()
      $('.button-close').show()
    })
    $('.button-close').on('click', function() {
      $('.burger-menu-wrap').hide()
      $('.button-close').hide()
    })
    $(document).on('click', 'a[href^="#"]', function (e) {
      e.preventDefault()
      $('.burger-menu-wrap').hide()
      $('.button-close').hide()
      $('html, body').animate({
          scrollTop: $($.attr(this, 'href')).offset().top
      }, 500)
    })
    if (window.innerWidth >= 1000) {
      $('.menu__item').on('mouseover', function() {
        let dropdown = $(this).find('.menu__item-dropdown')
        let chevron_down = $(this).find('.menu__item-chevron-down')
        let chevron_up = $(this).find('.menu__item-chevron-up')
          $('.menu__item-dropdown').each(function() {
            $(this).css('display', 'none')
            $(this).parent('.menu__item').removeClass('menu__item-opened')
          })
          $(dropdown).css('display', 'flex')
          $(chevron_down).hide()
          $(chevron_up).show()
          $(this).addClass('menu__item-opened')
      })
      $('.menu__item').on('mouseleave', function() {
        let dropdown = $(this).find('.menu__item-dropdown')
        let chevron_down = $(this).find('.menu__item-chevron-down')
        let chevron_up = $(this).find('.menu__item-chevron-up')
          $(dropdown).css('display', 'none')
          $(chevron_down).show()
          $(chevron_up).hide()
          $(this).removeClass('menu__item-opened')
      })
    }
    else {
      $('.menu__item').on('click', function() {
        let dropdown = $(this).find('.menu__item-dropdown')
        let chevron_down = $(this).find('.menu__item-chevron-down')
        let chevron_up = $(this).find('.menu__item-chevron-up')
        if ($(dropdown).is(':visible')) {
          $(dropdown).css('display', 'none')
          $(chevron_down).show()
          $(chevron_up).hide()
          $(this).removeClass('menu__item-opened')
        }
        else {
          $('.menu__item-dropdown').each(function() {
            $(this).css('display', 'none')
            $(this).parent('.menu__item').removeClass('menu__item-opened')
          })
          $(dropdown).css('display', 'flex')
          $(chevron_down).hide()
          $(chevron_up).show()
          $(this).addClass('menu__item-opened')
        }      
      })
    }
    $(document).click(function(event) { 
      var $target = $(event.target)
      if (!$target.closest('.menu__item-opened').length) {
        $('.menu__item-dropdown').each(function() {
          $(this).css('display', 'none')
          let chevron_down = $(this).find('.menu__item-chevron-down')
          let chevron_up = $(this).find('.menu__item-chevron-up')
          $(chevron_down).show()
          $(chevron_up).hide()
          $(this).parent('.menu__item').removeClass('menu__item-opened')
        })
      }        
    })
  })  
</script>
