<link rel="stylesheet" type="text/css" href="{{ 'header_custom.css' | asset_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'header_custom-responsive.css' | asset_url }}">

{%- style -%}  
  .burger-menu-wrap {
    /*background: url({{ 'burger_menu_light.png' | asset_url}});
    background-size: 100% 460px;
    background-position-x: center;
    background-repeat: no-repeat;*/
    background: white;
  }
{%- endstyle -%}

<header id="header_custom">
  <div class="top-wrap">
    <div class="top">
      <a href="/" class="logo">
        <img src="{{ 'logo_black.svg' | asset_url }}">
      </a>
      <div class="menu">
        {% for link in linklists.main-menu.links %}
        {% if link.title != 'Community' %}
          <div
            class="menu__item {% if link.title == 'Buy Now' %}menu__item-button{% endif %}"
            {% if link.title == 'Buy Now' and cart.item_count != 0 %} style="display: none;" {% endif %}
          >
            <a href="{{ link.url }}">{{ link.title }}</a>
            {% if link.links.size > 0 or link.title == 'Other Products' %}
              <img class="menu__item-chevron menu__item-chevron-down" src="{{ 'chevron-down-black.svg' | asset_url }}">
              <img class="menu__item-chevron menu__item-chevron-up" src="{{ 'chevron-up-grey.svg' | asset_url }}">
              {% if link.title == 'Other Products' %}
                <ul class="menu__item-dropdown">
                  {% for product in collections['all'].products %}
                    {% if product.handle != 'teslogic-transmitter-kit' and product.handle != 'teslogic-transmitter-kit-v2' %}
                      <li class="menu__item-dropdown-link">
                        <a href="/products/{{ product.handle }}">{{ product.title }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% else %}
                <ul class="menu__item-dropdown">
                  {% for child_link in link.links %}
                    <li class="menu__item-dropdown-link">
                      {% assign url_begin = child_link.url | slice: 0 %}
                      {% if url_begin == '#' %}
                        <a href="/{{ child_link.url }}">{{ child_link.title }}</a>
                      {% else %}
                        <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endif %}
          </div>
        {% endif %}
        {% endfor %}
        <div 
          id="cart-animate"
          class="menu__item menu__item-cart"
          {% if cart.item_count == 0 %} style="display: none;" {% endif %}
        >
          <a href="/cart">
            <div class="cart-icon-wrap">
              <img src="{{ 'cart-black.svg' | asset_url }}">
              <div class="cart-qty">{{ cart.item_count }}</div>
            </div>
            <span>Cart</span>
          </a>
        </div>
        <!-- <a
          id="cart-animate"
          href="/cart"
          class="menu__item menu__item-cart"
          {% if cart.item_count == 0 %} style="display: none;" {% endif %}
        >
          <img src="{{ 'cart-black.svg' | asset_url }}">
          <span href="#">Cart</span>
        </a> -->
      </div>
      <div class="buttons">
        <!-- <div class="mob-button button-cart"><img src="{{ 'cart.png' | asset_url }}"></div> -->
        <div 
          class="menu__item menu__item-cart"
          {% if cart.item_count == 0 %} style="display: none;" {% endif %}
        >
          <a href="/cart">
            <div class="cart-icon-wrap">
              <img src="{{ 'cart-black.svg' | asset_url }}">
              <div class="cart-qty">{{ cart.item_count }}</div>
            </div>
          </a>
        </div>
        <!-- <div class="mob-button button-burger"><img src="{{ 'burger.svg' | asset_url }}"></div> -->
        <button type="button" class="mob-button button-menu">Menu</button>
        <div class="mob-button button-close"><img src="{{ 'close.svg' | asset_url }}"></div>
      </div>
    </div>
  </div>
  <div class="burger-menu-wrap">
    <div class="burger-menu">
      {% for link in linklists.main-menu.links %}
      {% if link.title != 'Community' %}
        <div
          class="menu__item {% if link.title == 'Buy Now' %}menu__item-button{% endif %}"
          {% if link.title == 'Buy Now' and cart.item_count != 0 %} style="display: none;" {% endif %}
        >
          {% if link.links.size > 0 or link.title == 'Other Products' %}
            <div class="menu__item-title">
              <a href="{{ link.url }}">{{ link.title }}</a>
              <img class="menu__item-chevron menu__item-chevron-down" src="{{ 'chevron-down-black.svg' | asset_url }}">
              <img class="menu__item-chevron menu__item-chevron-up" src="{{ 'chevron-up-grey.svg' | asset_url }}">
            </div>
            {% if link.title == 'Other Products' %}
              <ul class="menu__item-dropdown">
                {% for product in collections['all'].products %}
                  {% if product.handle != 'teslogic-transmitter-kit' and product.handle != 'teslogic-transmitter-kit-v2' %}
                    <li class="menu__item-dropdown-link">
                      <a href="/products/{{ product.handle }}">{{ product.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            {% else %}
              <ul class="menu__item-dropdown">
                {% for child_link in link.links %}
                  <li class="menu__item-dropdown-link">
                    {% assign url_begin = child_link.url | slice: 0 %}
                    {% if url_begin == '#' %}
                      <a href="/{{ child_link.url }}">{{ child_link.title }}</a>
                    {% else %}
                      <a href="{{ child_link.url }}">{{ child_link.title }}</a>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% else %}
            <div class="menu__item-title">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </div>
          {% endif %}
        </div>
      {% endif %}
      {% endfor %}
      <!-- <div class="menu__item menu__item-button"><a href="/#shop-now">Shop Now</a></div>
      <div class="menu__item"><a href="/#features">Features</a></div>
      <div class="menu__item"><a href="/manuals">Manuals</a></div>
      <div class="menu__item"><a href="/faq">FAQ</a></div>
      <div class="menu__item"><a href="/contacts">Contacts</a></div>
      <div 
        class="menu__item cart-link"
        {% if cart.item_count == 0 %} style="display: none;" {% endif %}
      >
        <a href="/cart">
          <div class="cart-icon-wrap">
            <img src="{{ 'cart-black.svg' | asset_url }}">
            <div class="cart-qty">{{ cart.item_count }}</div>
          </div>
          <span>Cart</span>
        </a>
      </div> -->
    </div>
  </div>
</header>

<div class="header-fix"></div>
  
<script type="text/javascript">
  var chevron_white = "{{ 'chevron-down.svg' | asset_url }}"
  var chevron_black = "{{ 'chevron-down-black.svg' | asset_url }}"
  $(document).ready(function() {
    $(document.body).on('touchmove', setStickyHeader)
    $(document.body).on('scroll', setStickyHeader)
    $(window).on('scroll', setStickyHeader)

    function setStickyHeader() {
      if (window.innerWidth >= 575) {
        var header_custom_height = $('#header_custom').height()
        var header_top_height = $('#header_main').find('.top').height()
        if (window.pageYOffset >= header_custom_height) {
          $('#header_custom').addClass('sticky')
          $('.menu__item-chevron-down').attr('src', chevron_white)
        }
        else {
          $('#header_custom').removeClass('sticky')
          $('.menu__item-chevron-down').attr('src', chevron_black)
        }
      }
      else {
        if ($('body').scrollTop() >= header_custom_height) {
          $('#header_custom').addClass('sticky')
        }
        else {
          $('#header_custom').removeClass('sticky')
        }
      }
    }

    $('.menu__item-button').on('mouseover', function() {
      $(this).css({color: '#000000'})
      $(this).find('a').css({color: '#000000'})
    })
    $('.menu__item-button').on('mouseleave', function() {
      $(this).css({color: '#FFFFFF'})
      $(this).find('a').css({color: '#FFFFFF'})
    })
    $('.button-menu').on('click', function() {
      $('.burger-menu-wrap').show()
      $('.button-close').show()
      $(this).hide()
    })
    $('.button-close').on('click', function() {
      $('.burger-menu-wrap').hide()
      $('.button-menu').show()
      $(this).hide()
    })
    if (window.innerWidth >= 575) {
      $('.menu__item').on('mouseover', function() {
        let dropdown = $(this).find('.menu__item-dropdown')
        let chevron_down = $(this).find('.menu__item-chevron-down')
        let chevron_up = $(this).find('.menu__item-chevron-up')
          $('.menu__item-dropdown').each(function() {
            $(this).css('display', 'none')
            $(this).parent('.menu__item').removeClass('menu__item-opened')
          })
          $(dropdown).css('display', 'flex')
          $(chevron_down).hide()
          $(chevron_up).show()
          $(this).addClass('menu__item-opened')
      })
      $('.menu__item').on('mouseleave', function() {
        let dropdown = $(this).find('.menu__item-dropdown')
        let chevron_down = $(this).find('.menu__item-chevron-down')
        let chevron_up = $(this).find('.menu__item-chevron-up')
          $(dropdown).css('display', 'none')
          $(chevron_down).show()
          $(chevron_up).hide()
          $(this).removeClass('menu__item-opened')
      })
    }
    else {
      $('.menu__item').on('click', function() {
        let dropdown = $(this).find('.menu__item-dropdown')
        let chevron_down = $(this).find('.menu__item-chevron-down')
        let chevron_up = $(this).find('.menu__item-chevron-up')
        if ($(dropdown).is(':visible')) {
          $(dropdown).css('display', 'none')
          $(chevron_down).show()
          $(chevron_up).hide()
          $(this).removeClass('menu__item-opened')
        }
        else {
          $('.menu__item-dropdown').each(function() {
            $(this).css('display', 'none')
            $(this).parent('.menu__item').removeClass('menu__item-opened')
          })
          $(dropdown).css('display', 'flex')
          $(chevron_down).hide()
          $(chevron_up).show()
          $(this).addClass('menu__item-opened')
        }
      })
    }
    $(document).click(function(event) { 
      var $target = $(event.target)
      if (!$target.closest('.menu__item-opened').length) {
        $('.menu__item-dropdown').each(function() {
          $(this).css('display', 'none')
          let chevron_down = $(this).find('.menu__item-chevron-down')
          let chevron_up = $(this).find('.menu__item-chevron-up')
          $(chevron_down).show()
          $(chevron_up).hide()
          $(this).parent('.menu__item').removeClass('menu__item-opened')
        })
      }
    })
  })
</script>
