<link rel="stylesheet" type="text/css" href="{{ 'header_custom.css' | asset_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'header_custom-responsive.css' | asset_url }}">

{%- style -%}  
  .burger-menu-wrap {
    background: url({{ 'burger_menu_light.png' | asset_url}});
    background-size: 100% 460px;
    background-position-x: center;
    background-repeat: no-repeat; 
  }
{%- endstyle -%}

<header id="header_custom">
  <div class="top">
    <div class="logo">
      <img src="{{ 'logo_black.png' | asset_url }}">
    </div>
    <div class="menu">
      <div class="menu__item menu__item-button"><a href="/#shop-now">Shop Now</a></div>
      <div class="menu__item"><a href="/#features">Features</a></div>
      <div class="menu__item"><a href="#">Manuals</a></div>
      <div class="menu__item"><a href="/faq">FAQ</a></div>
      <div class="menu__item"><a href="/cart">Cart</a></div>
    </div>
    <div class="buttons">
      <div class="button"><img src="{{ 'cart.png' | asset_url }}"></div>
      <div class="button button-burger"><img src="{{ 'burger.png' | asset_url }}"></div>
      <div class="button button-close"><img src="{{ 'close.png' | asset_url }}"></div>
    </div>
    <div class="burger-menu-wrap">
      <div class="burger-menu">
        <div class="menu__item menu__item-button"><a href="/#shop-now">Shop Now</a></div>
        <div class="menu__item"><a href="/#features">Features</a></div>
        <div class="menu__item"><a href="#">Manuals</a></div>
        <div class="menu__item"><a href="/faq">FAQ</a></div>
        <div class="menu__item"><a href="/cart">Cart</a></div>      
      </div>
    </div>
  </div>
</header>

<div class="header-fix"></div>
  
<script type="text/javascript">
  $(document).ready(function() {
    $('.menu__item-button').on('mouseover', function() {
      $(this).css({color: '#000000'})
      $(this).find('a').css({color: '#000000'})
    })
    $('.menu__item-button').on('mouseleave', function() {
      $(this).css({color: '#FFFFFF'})
      $(this).find('a').css({color: '#FFFFFF'})
    })
    $('.button-burger').on('click', function() {
      console.log('open')
      $('.burger-menu-wrap').show()
      $('.button-close').show()
    })
    $('.button-close').on('click', function() {
      console.log('close')
      $('.burger-menu-wrap').hide()
      $('.button-close').hide()
    })
  })  
</script>
