<link rel="stylesheet" type="text/css" href="{{ 'header_main.css' | asset_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'header_main-responsive.css' | asset_url }}">

{%- style -%}
  header#header_main {
    background: url({{ 'header_bg.png' | asset_url}});
    background-size: 100%;
    background-position-x: center;
    background-repeat: no-repeat; 
  }
{%- endstyle -%}

<header id="header_main">
  <div class="top">
    <div class="logo">
      <img src="{{ 'logo.png' | asset_url }}">
    </div>
    <div class="menu">
      <div class="menu__item"><a href="#all-products">All Products</a></div>
      <div class="menu__item"><a href="#features">Features</a></div>
      <div class="menu__item"><a id="go-contacts" href="#contacts">Contacts</a></div>
      <div class="menu__item"><a href="#cart">Cart</a></div>
    </div>
  </div>
  <div class="title">Model 3 and Y portable dashboard on your phone</div>
  <div class="expand">
    <img src="{{ 'expand.png' | asset_url }}">
  </div>
</header>
<header id="header_sticky">
  <div class="top">
    <div class="logo">
      <img src="{{ 'logo.png' | asset_url }}">
    </div>
    <div class="menu">
      <div class="menu__item"><a href="#all-products">All Products</a></div>
      <div class="menu__item"><a href="#features">Features</a></div>
      <div class="menu__item"><a id="go-contacts" href="#contacts">Contacts</a></div>
      <div class="menu__item"><a href="#cart">Cart</a></div>
    </div>
  </div>
</header>

<script type="text/javascript">
  $(document).ready(function() {
    window.addEventListener('scroll', setStyckyHeader)
    function setStyckyHeader() {
      if (window.pageYOffset >= 96) {
        $('#header_sticky').css({display: 'flex'})
      }
      else {      
        $('#header_sticky').css({display: 'none'})
      }
    }
  })  
</script>
