<link rel="stylesheet" type="text/css" href="{{ 'header_main.css' | asset_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'header_main-responsive.css' | asset_url }}">

{%- style -%}
  header#header_main {
    background: url({{ 'header_bg.png' | asset_url}});
    background-size: 100%;
    background-position-x: center;
    background-repeat: no-repeat; 
  }
{%- endstyle -%}

<header id="header_main">
  <div class="top">
    <div class="logo">
      <img src="{{ 'logo.png' | asset_url }}">
    </div>
    <div class="menu">
      <div class="menu__item"><a href="#all-products">All Products</a></div>
      <div class="menu__item"><a href="#features">Features</a></div>
      <div class="menu__item"><a id="go-contacts" href="#contacts">Contacts</a></div>
      <div class="menu__item"><a href="#cart">Cart</a></div>
    </div>
  </div>
  <div class="title">Model 3 and Y portable dashboard on your phone</div>
  <div class="expand">
    <img src="{{ 'expand.png' | asset_url }}">
  </div>
</header>
<header id="header_sticky">
  <div class="top">
    <div class="logo">
      <img src="{{ 'logo.png' | asset_url }}">
    </div>
    <div class="menu">
      <div class="menu__item"><a href="#all-products">All Products</a></div>
      <div class="menu__item"><a href="#features">Features</a></div>
      <div class="menu__item"><a id="go-contacts" href="#contacts">Contacts</a></div>
      <div class="menu__item"><a href="#cart">Cart</a></div>
    </div>
  </div>
</header>

<header id="header_mobile">
  <div class="top">
    <div class="logo">
      <img src="images/logo.png">
    </div>
    <div class="buttons">
      <div class="button"><img src="images/cart.png"></div>
      <div class="button"><img src="images/burger.png"></div>
    </div>
  </div>
  <div class="banner">
    <div class="banner__text">Model 3 and Y portable dashboard on your phone</div>
  </div>
</header>
  
<script type="text/javascript">
  var logo_white_url = "{{ 'logo.png' | asset_url }}"
  var logo_black_url = "{{ 'logo_black.png' | asset_url }}"
  // console.log(logo_white_url)
  // console.log(logo_black_url)
  $(document).ready(function() {
    window.addEventListener('scroll', setStyckyHeader)
    function setStyckyHeader() {
      var header_main_height = $('#header_main').height()
      var header_top_height = $('#header_main').find('.top').height()
      if (window.pageYOffset >= header_top_height) {
        $('#header_sticky').css({display: 'flex'})
        if (window.pageYOffset >= header_main_height) {
          $('#header_sticky').css({background: '#FEFEFE'})
          $('#header_sticky').find('.logo img').attr('src', logo_black_url)
          $('#header_sticky').find('.menu__item').css({color: '#000000'})
          $('#header_sticky').find('.menu__item a').css({color: '#000000'})
        }
        else {
          $('#header_sticky').css({background: 'transparent'})
          $('#header_sticky').find('.logo img').attr('src', logo_white_url)
          $('#header_sticky').find('.menu__item').css({color: '#FFFFFF'})
          $('#header_sticky').find('.menu__item a').css({color: '#FFFFFF'})
        }
      }
      else {      
        $('#header_sticky').css({display: 'none'})
      }
    }
  })  
</script>
