<link rel="stylesheet" href="{{ 'manuals.css' | asset_url }}" media="print" onload="this.media='all'">

{%- style -%}
  .static-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  .static-content h1, .static-content h2, .static-content h3, .static-content h4, .static-content h5, .static-content h6, .static-content p, .static-content span, .static-content li {
    font-family: 'Gotham'!important;
    font-style: normal;
  }
  .static-content p, .static-content span, .static-content li {    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
  .static-content li::marker {
    font-weight: bold;
  }
  .static-content ul, .static-content ol {
    padding-left: 20px;
  }
  @media screen and (max-width: 1456px) {
    .static-content {
      margin-left: 128px;
      margin-right: 128px;
    }
  }
  @media screen and (max-width: 999px) {
    .static-content {
      margin-left: calc(24 * 100vw / 390);
      margin-right: calc(24 * 100vw / 390);
    }
	  .static-content h2, .static-content h3 {
		font-weight: 400 !important;
    	font-family: 'Gotham-Medium' !important;
	  }
  }
{%- endstyle -%}

{% assign product = all_products['teslogic-transmitter-kit-v2'] %}

<div class="manuals" id="manuals">
	<div class="block_title manuals__title">Teslogic Dash v2 Manuals</div>
	<div class="manuals__download">
		<div class="manuals__download-title">Choose your Tesla model and year:</div>
		<!-- <div class="manuals__download-select-text">Tesla model and year:</div> -->
		<div class="manuals__download-select">
			<div class="manuals__download-select-dropdown-select manuals__download-selected">
				<span class="manuals__download-select-value">Select model</span>
				<div class="manuals__download-select-arrow">
					<img src="{{ 'select_arrow.png' | asset_url }}">
				</div>
			</div>
			<div class="manuals__download-select-dropdown">
				<div class="manuals__download-select-dropdown-select">
					<span class="manuals__download-select-value">Select model</span>
					<div class="manuals__download-select-arrow">
						<img src="{{ 'select_arrow.png' | asset_url }}">
					</div>
				</div>
        {% for link in linklists.manuals-menu.links %}
					<div 
						class="manuals__download-select-dropdown-item"
						data-url="{{ link.url }}"
					>
						{{ link.title }}
					</div>
				{%- endfor -%}
			</div>
		</div>
		<button class="manuals__download-button">Go to Manuals</button>
	</div>
	<!-- <div class="manuals__list-title">Or watch video installation guides</div>
	<div class="manuals__list">
		{% for block in section.blocks %}
			<div class="manuals__video">
				{{ block.settings.code }}
			</div>
		{% endfor %}
	</div> -->
</div>
<div class="rte static-content manuals__text">{{ page.content }}</div>

<script type="text/javascript">
	$(document).ready(function() {
		var downloadUrl = null
		$('.manuals__download-select-dropdown-select').on('click', function() {
			let dropdown = $(this).parents('.manuals__download-select').find('.manuals__download-select-dropdown')
			if ($(dropdown).is(':visible')) {
				$(dropdown).css('display', 'none')
			}
			else {
				$(dropdown).css('display', 'flex')
			}
			// $(this).parents('.manuals__download-select').find('.manuals__download-select-dropdown').toggle()
		})
		$('.manuals__download-select-dropdown-item').on('click', function() {
			selectModel($(this).data('url'))
		})
		$(document).click(function(event) { 
			var $target = $(event.target)
			if (!$target.closest('.manuals__download-select').length && 
				!$target.closest('.manuals__download-select-dropdown').length && 
				$('.manuals__download-select-dropdown').is(":visible")) {
				$('.manuals__download-select-dropdown').hide()
			}        
		})
		function selectModel(url) {
			let model = $(`.manuals__download-select-dropdown-item[data-url="${url}"]`).first()
			downloadUrl = model.data('url')
			$('.manuals__download-selected').find('.manuals__download-select-value').text(model.text())
			$('.manuals__download-select').find('.manuals__download-select-dropdown').hide()
		}
		$('.manuals__download-button').on('click', function() {
			if (downloadUrl) {
				// window.open(downloadUrl, '_blank').focus()
				window.location.href = downloadUrl
			}
		})
	})
</script>

{% schema %}
{
	"name": "Manuals",
	"class": "index-section index-section-featured-sider",
	"settings": [
	],
	"blocks": [
		{
			"type": "manual",
			"name": "Manual",
			"settings": [
				{
					"type": "header",
					"content": "Edit Manual"
				},
				{
					"type": "text",
					"id": "manual",
					"label": "Manual Name"
				},
				{
					"type": "textarea",
					"id": "code",
					"label": "Video Code"
				}
			]
		}
	]
}
{% endschema %}
