<link rel="stylesheet" href="{{ 'manuals.css' | asset_url }}" media="print" onload="this.media='all'">

{%- style -%}
  .static-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  .static-content h1, .static-content h2, .static-content h3, .static-content h4, .static-content h5, .static-content h6, .static-content p, .static-content span, .static-content li {
    font-family: 'Gotham'!important;
    font-style: normal;
  }
  .static-content p, .static-content span, .static-content li {    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
  .static-content li::marker {
    font-weight: bold;
  }
  .static-content ul, .static-content ol {
    padding-left: 20px;
  }
  @media screen and (max-width: 1456px) {
    .static-content {
      margin-left: 128px;
      margin-right: 128px;
    }
  }
  @media screen and (max-width: 999px) {
    .static-content {
      margin-left: calc(24 * 100vw / 390);
      margin-right: calc(24 * 100vw / 390);
    }
	  .static-content h2, .static-content h3 {
		font-weight: 400 !important;
    	font-family: 'Gotham-Medium' !important;
	  }
  }
{%- endstyle -%}

{% assign product = all_products['teslogic-transmitter-kit-v2'] %}

<div class="manuals__pro-wrap">
<div class="manuals manuals__pro" id="manuals">
	<div class="manuals__title">Teslogic Pro Manuals</div>
	<div class="manuals__body">
		<div class="manuals__menu">
			<div class="manuals__menu-title">Select Manuals</div>
			<div class="manuals__menu-list">
	      {% for link in linklists.manuals-pro-menu.links %}
					<div 
						class="manuals__menu-item"
						data-title="{{ link.title }}"
					>
						{{ link.title }}
					</div>
				{%- endfor -%}
			</div>		
		</div>
		<div class="manuals__download">
			<div class="manuals__download-title">Select Manuals</div>
			<div class="manuals__download-select">
				<div class="manuals__download-select-dropdown-select manuals__download-selected">
					<span class="manuals__download-select-value">Select model</span>
					<div class="manuals__download-select-arrow">
						<img src="{{ 'chevron-down-manuals.svg' | asset_url }}">
					</div>
				</div>
				<div class="manuals__download-select-dropdown">
					<div class="manuals__download-select-dropdown-select">
						<span class="manuals__download-select-value">Select model</span>
						<div class="manuals__download-select-arrow">
							<img src="{{ 'chevron-down-manuals.svg' | asset_url }}">
						</div>
					</div>
	        {% for link in linklists.manuals-pro-menu.links %}
						<div 
							class="manuals__download-select-dropdown-item"
							data-title="{{ link.title }}"
						>
							{{ link.title }}
						</div>
					{%- endfor -%}
				</div>
			</div>
		</div>
		<div class="manuals__content">
			<div class="manuals__content-title"></div>
			<div class="manuals__content-links">
				<div class="manuals__content-links-title">PDF Manuals:</div>
				<div class="manuals__content-links-items"></div>
			</div>
			<!-- <div class="manuals__content-videos">
				<div class="manuals__content-videos-title">Video Installation Guides:</div>
				<div class="manuals__content-videos-items"></div>
			</div> -->
		</div>
	</div>
</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {

		const contents = [
		  {
		    "title": "Model 3/Y with Intel MCU",
		    "links": [
		      {
		        "text": "User's Manual for Tesla Model 3/Y<br>with Intel MCU",
		        "href": "https://cdn.shopify.com/s/files/1/0611/8041/2118/files/TESLOGIC_PRO_MANUAL_INTEL.pdf?v=1723791049"
		      },
		      {
		        "text": "User's Manual for Teslogic<br>Wireless Charger",
		        "href": "https://cdn.shopify.com/s/files/1/0611/8041/2118/files/TESLOGIC_WIRELESS_CHARGER_MANUAL.pdf?v=1701510005"
		      }
		    ],
		    "videos": []
		  },
		  {
		    "title": "Model 3 with Ryzen MCU",
		    "links": [
		      {
		        "text": "User's Manual for Tesla Model 3<br>with Ryzen MCU",
		        "href": "https://cdn.shopify.com/s/files/1/0611/8041/2118/files/TESLOGIC_PRO_MANUAL_RYZEN_MODEL_Y.pdf?v=1724410736"
		      },
		      {
		        "text": "User's Manual for Teslogic<br>Wireless Charger",
		        "href": "https://cdn.shopify.com/s/files/1/0611/8041/2118/files/TESLOGIC_WIRELESS_CHARGER_MANUAL.pdf?v=1701510005"
		      }
		    ],
		    "videos": []
		  },
		  {
		    "title": "Model Y with Ryzen MCU",
		    "links": [
		      {
		        "text": "User's Manual for Tesla Model Y<br>with Ryzen MCU",
		        "href": "https://cdn.shopify.com/s/files/1/0611/8041/2118/files/TESLOGIC_PRO_MANUAL_RYZEN_MODEL_3.pdf?v=1724410737"
		      },
		      {
		        "text": "User's Manual for Teslogic<br>Wireless Charger",
		        "href": "https://cdn.shopify.com/s/files/1/0611/8041/2118/files/TESLOGIC_WIRELESS_CHARGER_MANUAL.pdf?v=1701510005"
		      }
		    ],
		    "videos": []
		  },
		]

		var manualTitle = 'Model 3/Y with Intel MCU'

		setContent(manualTitle)

		function setContent(title) {
			const content = searchContent(title)

			$('.manuals__content-title').text(content.title)

			let linksHTML = ''
			for (const link of content.links) {
				linksHTML += `
					<a href="${link.href}" class="manuals__content-link-item">
						<div class="manuals__content-link-item-icon">
							<img src="{{ 'pdf-icon.svg' | asset_url }}">
						</div>
						<div class="manuals__content-link-item-text">${link.text}</div>			
					</a>
				`
			}
			$('.manuals__content-links-items').html(linksHTML)

			if (content.videos.length == 0) {
				$('.manuals__content-videos').hide()
			}
			else {
				$('.manuals__content-videos').show()
				let videosHTML = ''
				for (const video of content.videos) {
					videosHTML += `
						<div class="manuals__content-video-item">
							<iframe width="1280" height="720" src="${video.src}" title="${video.title}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="">
							</iframe>
						</div>
					`
				}
				$('.manuals__content-videos-items').html(videosHTML)
			}

			$('.manuals__menu-item').each(function() {
				$(this).removeClass('active')
			})
			$(`.manuals__menu-item[data-title="${title}"]`).addClass('active')
		}

		function searchContent(title) {
			return contents.find(content => content.title == title)
		}

		$('.manuals__menu-item').on('click', function() {
			selectModel($(this).data('title'))
			setContent($(this).data('title'))
		})

		selectModel(manualTitle)

		$('.manuals__download-select-dropdown-select').on('click', function() {
			let dropdown = $(this).parents('.manuals__download-select').find('.manuals__download-select-dropdown')
			if ($(dropdown).is(':visible')) {
				$(dropdown).css('display', 'none')
			}
			else {
				$(dropdown).css('display', 'flex')
			}
		})
		$('.manuals__download-select-dropdown-item').on('click', function() {
			selectModel($(this).data('title'))
			setContent($(this).data('title'))
		})
		$(document).click(function(event) { 
			var $target = $(event.target)
			if (!$target.closest('.manuals__download-select').length && 
				!$target.closest('.manuals__download-select-dropdown').length && 
				$('.manuals__download-select-dropdown').is(":visible")) {
				$('.manuals__download-select-dropdown').hide()
			}        
		})
		function selectModel(title) {
			let model = $(`.manuals__download-select-dropdown-item[data-title="${title}"]`).first()
			$('.manuals__download-selected').find('.manuals__download-select-value').text(model.text())
			$('.manuals__download-select').find('.manuals__download-select-dropdown').hide()
		}
	})
</script>
