<!-- <link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'"> -->
<!-- <link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'"> -->
<link rel="stylesheet" href="{{ 'manuals.css' | asset_url }}" media="print" onload="this.media='all'">

<!-- <noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript> -->
<!-- <noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript> -->

{%- style -%}
  <!-- .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  } -->

  .static-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  .static-content h1, .static-content h2, .static-content h3, .static-content h4, .static-content h5, .static-content h6, .static-content p, .static-content span, .static-content li {
    font-family: 'Gotham'!important;
    font-style: normal;
  }
  .static-content p, .static-content span, .static-content li {    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
  .static-content li::marker {
    font-weight: bold;
  }
  .static-content ul, .static-content ol {
    padding-left: 20px;
  }

  .manual_content {
    margin-left: 80px;
    margin-right: 80px;
  }
  .manual_content p {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .manual_content iframe {
    border: none;
    outline: none;
    box-shadow: none;
  }
  @media screen and (max-width: 1366px) {
    .manual_content {
      margin-left: calc(80 * 100vw / 1366);
      margin-right: calc(80 * 100vw / 1366);
    }
  }
  @media screen and (max-width: 999px) {
    .manual_content {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
{%- endstyle -%}

<div class="page-width page-width--narrow section-{{ section.id }}-padding">
  <h1 class="main-page-title page-title h0 block_title">
    {{ page.title | escape }}
  </h1>
  <div class="rte static-content manual_content">
    {{ page.content }}
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $(window).on('resize', onResize)
    onResize()
    function onResize() {
      console.log('resize')
    }
  })
</script>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
