<link rel="stylesheet" href="{{ 'manuals.css' | asset_url }}" media="print" onload="this.media='all'">

{%- style -%}
  .static-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  .static-content h1, .static-content h2, .static-content h3, .static-content h4, .static-content h5, .static-content h6, .static-content p, .static-content span, .static-content li {
    font-family: 'Gotham'!important;
    font-style: normal;
  }
  .static-content p, .static-content span, .static-content li {    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
  .static-content li::marker {
    font-weight: bold;
  }
  .static-content ul, .static-content ol {
    padding-left: 20px;
  }
  .manuals__title {
  	color: #000;
		font-family: Gotham;
		font-size: 52px;
		font-style: normal;
		font-weight: 700;
		line-height: 64px; /* 123.077% */ 
		text-align: left;
  }
  .manuals__download {
  	margin-left: 80px;
  }
  .manuals__download-title {
  	color: #000;
		font-family: Gotham;
		font-size: 32px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		margin-bottom: 40px;
  }
	.manuals__download-select-text {
		color: #000;
		font-family: Gotham;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		margin-bottom: 6px;
	}
	.manuals__download-select {
		/*width: 340px;*/
		width: 100%;
		max-width: 564px;
		height: 63px;
		border-radius: 100px;
		background: #F4F6FA; 
		position: relative;
		/*display: flex;*/
		display: inline-flex;
		/*justify-content: center;*/
		align-items: center;
		padding: 0 23px;
		box-sizing: border-box;
	}
	.manuals__download-select:hover {
		box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
	}
	.manuals__download-select-dropdown-select {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		/*grid-column-gap: 10px;*/
		cursor: pointer;
	}
	.manuals__download-select-dropdown {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		padding: 12px 21px 18px;
		display: none;
		flex-direction: column;
		grid-row-gap: 16px;
		background: #FFFFFF;
		border: 1px solid #3374FB;
		box-sizing: border-box;
		box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
		border-radius: 35px;
		z-index: 2;
	}
	.manuals__download-select-dropdown-item {
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 32px;
		color: #0F0F0F;
		cursor: pointer;
	}
	.manuals__download-select-value {
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 32px;
		color: #85878d;
		margin-right: 20px;
	}
	.manuals__download-select-arrow {
		width: 24px;
		height: 24px;
	}
	.manuals__download-select-arrow img {
		width: 100%;
		height: 100%;
	}
  @media screen and (max-width: 1456px) {
    .static-content {
      margin-left: 128px;
      margin-right: 128px;
    }
  }
  @media screen and (max-width: 999px) {
    .static-content {
      margin-left: calc(24 * 100vw / 390);
      margin-right: calc(24 * 100vw / 390);
    }
  }
{%- endstyle -%}

{% assign product = all_products['teslogic-transmitter-kit-v2'] %}

<div class="manuals" id="manuals">
	<div class="block_title manuals__title">Manuals</div>
	<div class="manuals__download">
		<div class="manuals__download-title">Download PDF installation guide for your model</div>
				<div class="manuals__download-select-text">Select your Tesla model and year:</div>
				<div class="manuals__download-select">
					<div class="manuals__download-select-dropdown-select manuals__download-selected">
						<span class="manuals__download-select-value">Select model</span>
						<div class="manuals__download-select-arrow">
							<img src="{{ 'select_arrow.png' | asset_url }}">
						</div>
					</div>
					<div class="manuals__download-select-dropdown">
						<div class="manuals__download-select-dropdown-select">
							<span class="manuals__download-select-value">Select model</span>
							<div class="manuals__download-select-arrow">
								<img src="{{ 'select_arrow.png' | asset_url }}">
							</div>
						</div>
						{%- for model in product.variants -%}
							<div 
								class="manuals__download-select-dropdown-item" 
								data-model_id="{{ model.id }}"
								data-sku="{{ model.sku }}" 
								data-price="{{ model.price }}"
								data-compare_at_price="{{ model.compare_at_price }}"
							>
								{{ model.title }}
							</div>
						{%- endfor -%}
					</div>
				</div>

	</div>
	<div class="manuals__list">
		{% for block in section.blocks %}
			<div class="manuals__video">
				{{ block.settings.code }}
			</div>
		{% endfor %}
	</div>
</div>
<div class="rte static-content manuals__text">{{ page.content }}</div>

<script type="text/javascript">
	$(document).ready(function() {
		var model_id = null
		// selectModel('TT12')
		$('.manuals__download-select-dropdown-select').on('click', function() {
			$(this).parents('.manuals__download-select').find('.manuals__download-select-dropdown').toggle()
		})
	})
</script>

{% schema %}
{
	"name": "Manuals",
	"class": "index-section index-section-featured-sider",
	"settings": [
	],
	"blocks": [
		{
			"type": "manual",
			"name": "Manual",
			"settings": [
				{
					"type": "header",
					"content": "Edit Manual"
				},
				{
					"type": "text",
					"id": "manual",
					"label": "Manual Name"
				},
				{
					"type": "textarea",
					"id": "code",
					"label": "Video Code"
				}
			]
		}
	]
}
{% endschema %}
