{% style %}	
	.compatibility-wrap {
		width: 100%;
		padding-top: 180px;
		padding-top: 166px;
		height: 1002px;
		background: linear-gradient(0deg, #171717 45.07%, #181818 66.75%, #2D2D2D 100%);
		box-sizing: border-box;
	}
	.compatibility {
		width: 1076px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		grid-row-gap: 40px;
	}
	.compatibility-title {
		color: #FFF;
		font-family: Manrope;
		font-size: 52px;
		font-style: normal;
		font-weight: 500;
		line-height: 64px;
	}
	.compatibility-title br {
		display: none;
	}
	.compatibility-blocks {
		display: flex;
		flex-wrap: wrap;
		grid-column-gap: 24px;
		grid-row-gap: 24px;
	}
	.compatibility-block {
		display: flex;
		border-radius: 24px;
		background: #242424;
		box-sizing: border-box;
	}
	.compatibility-block-boost,
	.compatibility-block-performance {
		height: 384px;
		flex-direction: column;
		grid-row-gap: 32px;
		padding-top: 36px;
		padding-left: 40px;
	}
	.compatibility-block-boost {
		width: 416px;
	}
	.compatibility-block-performance {
		width: 636px;
	}
	.compatibility-block-title {
		color: #FFF;
		font-family: Manrope;
		font-size: 32px;
		font-style: normal;
		font-weight: 600;
		line-height: 40px;
	}
	.compatibility-block-title-mobile {
		display: none;
	}
	.compatibility-block-list {
		display: flex;
		flex-direction: column;
		grid-row-gap: 24px;
	}
	.compatibility-block-list-item {
		display: flex;
		align-items: flex-start;
		grid-column-gap: 8px;
	}
	.compatibility-block-list-item-icon {
		width: 20px;
		height: 20px;
	}
	.compatibility-block-list-item-info {
		color: #FFF;
		font-family: Manrope;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 20px;
		display: flex;
		flex-direction: column;
		grid-row-gap: 4px;
	}
	.compatibility-block-list-item-info-secondary {
		color: #9A9A9A;
	}
	.compatibility-block-boost .compatibility-block-list .compatibility-block-list-item:last-child .compatibility-block-list-item-info > div:first-child {
		width: 290px;
	}
	.compatibility-block-check {
		width: 100%;
		height: 144px;
		padding: 0 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.compatibility-block-check-info {
		display: flex;
		align-items: center;
		grid-column-gap: 12px;
	}
	.compatibility-block-check-info-icon {
		width: 64px;
		height: 64px;
	}
	.compatibility-block-check-info-text {
		color: #FFF;
		font-family: Manrope;
		font-style: normal;
		font-weight: 500;
	}
	.compatibility-block-check-info-text-desktop {
		font-size: 16px;
		line-height: 20px;
	}
	.compatibility-block-check-info-text-mobile {
		display: none;
	}
	.compatibility-check-button {
		padding: 20px 40px;
		justify-content: center;
		align-items: center;
		border-radius: 54px;
		border: 3px solid #0E54FD;
		background: linear-gradient(0deg, #383838 0%, #383838 100%), rgba(0, 0, 0, 0.40);
		background-blend-mode: color-dodge, normal;
		color: #0E54FD;
		text-align: center;
		font-family: Manrope;
		font-size: 18px;
		font-style: normal;
		font-weight: 700;
		line-height: 24px;
		cursor: pointer;
		text-decoration: none;
		box-sizing: border-box;
	}
	.compatibility-check-button:hover {
		color: #FFF;
		background: linear-gradient(174deg, #024DEE 4.57%, #1902A6 251.92%);
		border: none;
		padding: 23px 43px;
	}
	.compatibility-check-button-text-desktop {
		display: block;
	}
	.compatibility-check-button-text-mobile {
		display: none;
	}
	.compatibility-dialog {
		width: 467px;
		border-radius: 24px;
		padding: 36px;
		box-sizing: border-box;
		background: #171717;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
	}
	.compatibility-check-dialog {
		height: 424px;
	}
	.compatibility-success-dialog {
		height: 300px;
	}
	.compatibility-warning-dialog {
		height: 360px;
	}
	.compatibility-dialog-close {
		position: absolute;
		width: 20px;
		height: 20px;
		top: 16px;
		right: 16px;
		cursor: pointer;
	}
	.compatibility-dialog-title {
		color: #FFF;
		font-family: Manrope;
		font-size: 32px;
		font-style: normal;
		font-weight: 500;
		line-height: 40px;
	}
	.compatibility-check-dialog-fields {
		display: flex;
		flex-direction: column;
		grid-row-gap: 24px;
		width: 100%;
		margin-top: -4px;
	}
	.compatibility-check-dialog-field {
		display: flex;
		flex-direction: column;
		grid-row-gap: 8px;
		width: 100%;
		position: relative;
	}
	.compatibility-check-dialog-field label {
		color: #FFF;
		font-family: Manrope;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
	}
	.compatibility-check-dialog-field input {
		width: 100%;
		padding: 14px 16px;
		border-radius: 6px;
		border: 1px solid #D9D9D9;
		outline: none;
		background: transparent;
		color: #FFF;
		font-family: Manrope;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
		box-sizing: border-box;
	}
	.compatibility-check-dialog-field-error {
		display: none;
		position: absolute;
		bottom: -20px;
		color: #FC3E30;
		font-family: Manrope;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
	}
	.compatibility-check-dialog-field input:active,
	.compatibility-check-dialog-field input:focus {
		border: 1px solid #FFF;
		outline: none;
	}
	.compatibility-dialog-texts {
		color: #FFF;
		font-feature-settings: 'clig' off, 'liga' off;
		font-family: Manrope;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
		display: flex;
		flex-direction: column;
		grid-row-gap: 20px;
		margin-top: -6px;
	}
	.compatibility-check-dialog-button {
		width: 100%;
		padding: 20px 40px;
		justify-content: center;
		align-items: center;
		border-radius: 54px;
		border: 3px solid #0E54FD;
		background: linear-gradient(0deg, #383838 0%, #383838 100%), rgba(0, 0, 0, 0.40);
		background-blend-mode: color-dodge, normal;
		color: #0E54FD;
		text-align: center;
		font-family: Manrope;
		font-size: 18px;
		font-style: normal;
		font-weight: 700;
		line-height: 24px;
		cursor: pointer;
		text-decoration: none;
		box-sizing: border-box;		
	}
	.compatibility-check-dialog-button:hover {
		color: #FFF;
		background: linear-gradient(174deg, #024DEE 4.57%, #1902A6 251.92%);
		border: none;
		padding: 23px 43px;
	}
	.compatibility-warning-dialog-buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	.compatibility-warning-dialog-button {
		width: 190px;
		text-align: center;
		font-family: Manrope;
		font-size: 18px;
		font-style: normal;
		line-height: 24px;
		border-radius: 54px;
		border: none;
		outline: none;
		box-shadow: none;
		cursor: pointer;
		box-sizing: border-box;
	}
	.compatibility-warning-dialog-button-close {
		padding: 17px 20px;
		border: 3px solid #0E54FD;
		background: linear-gradient(0deg, #383838 0%, #383838 100%), rgba(0, 0, 0, 0.40);
		background-blend-mode: color-dodge, normal;
		color: #0E54FD;
		font-weight: 700;
	}
	.compatibility-warning-dialog-button-close:hover {
		color: #FFF;
		background: linear-gradient(174deg, #024DEE 4.57%, #1902A6 251.92%);
		border: none;
		padding: 20px 23px;
	}
	.compatibility-warning-dialog-button-preorder {
		padding: 20px 20px;
		background: linear-gradient(174deg, #024DEE 4.57%, #1902A6 251.92%), linear-gradient(0deg, rgba(255, 255, 255, 0.33) -728.8%, rgba(255, 255, 255, 0.00) 181.94%), rgba(255, 255, 255, 0.04);
		backdrop-filter: blur(8px);
		color: #FFF;
		font-weight: 500;
	}
	.compatibility-warning-dialog-button-preorder:hover {
		background: linear-gradient(174deg, #0245D4 4.57%, #15028D 251.92%); 
	}
	@media screen and (min-width: 576px) and (max-width: 1440px) {
		.compatibility-wrap {
			padding-top: calc(180 * 100vw / 1440);
			padding-top: calc(166 * 100vw / 1440);
			height: calc(1002 * 100vw / 1440);
		}
		.compatibility {
			width: calc(1076 * 100vw / 1440);
			grid-row-gap: calc(40 * 100vw / 1440);
		}
		.compatibility-title {
			font-size: calc(52 * 100vw / 1440);
			line-height: calc(64 * 100vw / 1440);
		}
		.compatibility-blocks {
			grid-column-gap: calc(24 * 100vw / 1440);
			grid-row-gap: calc(24 * 100vw / 1440);
		}
		.compatibility-block {
			border-radius: calc(24 * 100vw / 1440);
		}
		.compatibility-block-boost,
		.compatibility-block-performance {
			height: calc(384 * 100vw / 1440);
			grid-row-gap: calc(32 * 100vw / 1440);
			padding-top: calc(36 * 100vw / 1440);
			padding-left: calc(40 * 100vw / 1440);
		}
		.compatibility-block-boost {
			width: calc(416 * 100vw / 1440);
		}
		.compatibility-block-performance {
			width: calc(636 * 100vw / 1440);
		}
		.compatibility-block-title {
			font-size: calc(32 * 100vw / 1440);
			line-height: calc(40 * 100vw / 1440);
		}
		.compatibility-block-list {
			grid-row-gap: calc(24 * 100vw / 1440);
		}
		.compatibility-block-list-item {
			grid-column-gap: calc(8 * 100vw / 1440);
		}
		.compatibility-block-list-item-icon {
			width: calc(20 * 100vw / 1440);
			height: calc(20 * 100vw / 1440);
		}
		.compatibility-block-list-item-info {
			font-size: calc(16 * 100vw / 1440);
			line-height: calc(20 * 100vw / 1440);
			grid-row-gap: calc(4 * 100vw / 1440);
		}
		.compatibility-block-boost .compatibility-block-list .compatibility-block-list-item:last-child .compatibility-block-list-item-info > div:first-child {
			width: calc(290 * 100vw / 1440);
		}
		.compatibility-block-check {
			height: calc(144 * 100vw / 1440);
			padding: 0 calc(40 * 100vw / 1440);
		}
		.compatibility-block-check-info {
			grid-column-gap: calc(12 * 100vw / 1440);
		}
		.compatibility-block-check-info-icon {
			width: calc(64 * 100vw / 1440);
			height: calc(64 * 100vw / 1440);
		}
		.compatibility-block-check-info-text-desktop {
			font-size: calc(16 * 100vw / 1440);
			line-height: calc(20 * 100vw / 1440);
		}
		.compatibility-check-button {
			padding: calc(20 * 100vw / 1440) calc(40 * 100vw / 1440);
			border-radius: calc(54 * 100vw / 1440);
			font-size: calc(18 * 100vw / 1440);
			line-height: calc(24 * 100vw / 1440);
		}
		.compatibility-check-button:hover {
			padding: calc(23 * 100vw / 1440) calc(43 * 100vw / 1440);
		}
		.compatibility-dialog {
			width: calc(464 * 100vw / 1440);
			border-radius: calc(24 * 100vw / 1440);
			padding: calc(36 * 100vw / 1440);
		}
		.compatibility-check-dialog {
			height: calc(424 * 100vw / 1440);
		}
		.compatibility-success-dialog {
			height: calc(300 * 100vw / 1440);
		}
		.compatibility-warning-dialog {
			height: calc(360 * 100vw / 1440);
		}
		.compatibility-dialog-close {
			width: calc(20 * 100vw / 1440);
			height: calc(20 * 100vw / 1440);
			top: calc(16 * 100vw / 1440);
			right: calc(16 * 100vw / 1440);
		}
		.compatibility-dialog-title {
			font-size: calc(32 * 100vw / 1440);
			line-height: calc(40 * 100vw / 1440);
		}
		.compatibility-check-dialog-fields {
			grid-row-gap: calc(24 * 100vw / 1440);
			margin-top: calc(-1 * 4 * 100vw / 1440);
		}
		.compatibility-check-dialog-field {
			grid-row-gap: calc(8 * 100vw / 1440);
		}
		.compatibility-check-dialog-field label {
			font-size: calc(16 * 100vw / 1440);
			line-height: calc(20 * 100vw / 1440);
		}
		.compatibility-check-dialog-field input {
			padding: calc(14 * 100vw / 1440) calc(16 * 100vw / 1440);
			border-radius: calc(6 * 100vw / 1440);
			font-size: calc(16 * 100vw / 1440);
			line-height: calc(20 * 100vw / 1440);
		}
		.compatibility-dialog-texts {
			font-size: calc(16 * 100vw / 1440);
			line-height: calc(20 * 100vw / 1440);
			grid-row-gap: calc(20 * 100vw / 1440);
			margin-top: calc(-1 * 6 * 100vw / 1440);
		}
		.compatibility-check-dialog-button {
			padding: calc(20 * 100vw / 1440) calc(40 * 100vw / 1440);
			border-radius: calc(54 * 100vw / 1440);
			font-size: calc(18 * 100vw / 1440);
			line-height: calc(24 * 100vw / 1440);
		}
		.compatibility-check-dialog-button:hover {
			padding: calc(23 * 100vw / 1440) calc(43 * 100vw / 1440);
		}
		.compatibility-warning-dialog-button {
			width: calc(190 * 100vw / 1440);
			font-size: calc(18 * 100vw / 1440);
			line-height: calc(24 * 100vw / 1440);
			border-radius: calc(54 * 100vw / 1440);
		}
		.compatibility-warning-dialog-button-close {
			padding: calc(17 * 100vw / 1440) calc(20 * 100vw / 1440);
		}
		.compatibility-warning-dialog-button-close:hover {
			padding: calc(20 * 100vw / 1440) calc(23 * 100vw / 1440);
		}
		.compatibility-warning-dialog-button-preorder {
			padding: calc(20 * 100vw / 1440) calc(20 * 100vw / 1440);
		}
	}
	@media screen and (max-width: 575px) {
		.compatibility-wrap {
			padding-top: calc(96 * 100vw / 375);
			padding-bottom: calc(134 * 100vw / 375);
			height: auto;
			background: linear-gradient(0deg, #171717 0%, #181818 66.75%, #181818 80.55%, #2D2D2D 100%);
		}
		.compatibility {
			width: calc(335 * 100vw / 375);
			grid-row-gap: calc(24 * 100vw / 375);
		}
		.compatibility-title {
			font-size: calc(32 * 100vw / 375);
			line-height: calc(40 * 100vw / 375);
		}
		.compatibility-title br {
			display: block;
		}
		.compatibility-blocks {
			flex-direction: column;
			grid-row-gap: calc(12 * 100vw / 375);
		}
		.compatibility-block {
			border-radius: calc(24 * 100vw / 375);
		}
		.compatibility-block-boost,
		.compatibility-block-performance {
			padding-top: calc(24 * 100vw / 375);
			padding-left: calc(24 * 100vw / 375);
		}
		.compatibility-block-boost {
			width: calc(335 * 100vw / 375);
			height: calc(336 * 100vw / 375);
			grid-row-gap: calc(24 * 100vw / 375);
		}
		.compatibility-block-performance {
			width: calc(335 * 100vw / 375);
			height: calc(448 * 100vw / 375);
			grid-row-gap: calc(20 * 100vw / 375);
		}
		.compatibility-block-title {
			display: none;
		}
		.compatibility-block-title-mobile {
			display: block;
			color: #FFF;
			font-family: Manrope;
			font-size: calc(24 * 100vw / 375);
			font-style: normal;
			font-weight: 600;
			line-height: calc(32 * 100vw / 375);
		}
		.compatibility-block-list {
			grid-row-gap: calc(24 * 100vw / 375);
		}
		.compatibility-block-list-item {
			grid-column-gap: calc(8 * 100vw / 375);
		}
		.compatibility-block-list-item-icon {
			width: calc(20 * 100vw / 375);
			height: calc(20 * 100vw / 375);
		}
		.compatibility-block-list-item-info {
			font-size: calc(16 * 100vw / 375);
			line-height: calc(20 * 100vw / 375);
			grid-row-gap: calc(4 * 100vw / 375);
		}
		.compatibility-block-boost .compatibility-block-list .compatibility-block-list-item:last-child .compatibility-block-list-item-info > div:first-child {
			width: calc(210 * 100vw / 375);
		}
		.compatibility-block-performance .compatibility-block-list-item-info {
			width: calc(260 * 100vw / 375);
		}
		.compatibility-block-check {
			height: calc(320 * 100vw / 375);
			padding: calc(24 * 100vw / 375) calc(24 * 100vw / 375) calc(32 * 100vw / 375);
			flex-direction: column;
			grid-row-gap: calc(24 * 100vw / 375);
		}
		.compatibility-block-check-info {
			flex-direction: column;
			align-items: flex-start;
			grid-row-gap: calc(12 * 100vw / 375);
		}
		.compatibility-block-check-info-icon {
			width: calc(64 * 100vw / 375);
			height: calc(64 * 100vw / 375);
		}
		.compatibility-block-check-info-text {
			font-size: calc(16 * 100vw / 375);
			line-height: calc(20 * 100vw / 375);
		}
		.compatibility-block-check-info-text-desktop {
			display: none;
		}
		.compatibility-block-check-info-text-mobile {
			display: block;
			font-size: calc(16 * 100vw / 375);
			line-height: calc(20 * 100vw / 375);
		}
		.compatibility-check-button {
			width: 100%;
			padding: calc(20 * 100vw / 375) calc(40 * 100vw / 375);
			border-radius: calc(54 * 100vw / 375);
			font-size: calc(18 * 100vw / 375);
			line-height: calc(24 * 100vw / 375);
		}
		.compatibility-check-button:hover {
			padding: calc(23 * 100vw / 375) calc(43 * 100vw / 375);
		}
		.compatibility-check-button-text-desktop {
			display: none;
		}
		.compatibility-check-button-text-mobile {
			display: block;
		}
		.compatibility-check-dialog {
			width: calc(336 * 100vw / 375);
			height: calc(380 * 100vw / 375);
			border-radius: calc(24 * 100vw / 375);
			padding: calc(24 * 100vw / 375) calc(24 * 100vw / 375) calc(32 * 100vw / 375);
		}
		.compatibility-check-dialog-close {
			width: calc(20 * 100vw / 375);
			height: calc(20 * 100vw / 375);
			top: calc(20 * 100vw / 375);
			right: calc(20 * 100vw / 375);
		}
		.compatibility-check-dialog-title {
			font-size: calc(24 * 100vw / 375);
			line-height: calc(32 * 100vw / 375);
		}
		.compatibility-check-dialog-fields {
			grid-row-gap: calc(24 * 100vw / 375);
			margin-top: calc(-1 * 4 * 100vw / 375);
		}
		.compatibility-check-dialog-field {
			grid-row-gap: calc(8 * 100vw / 375);
		}
		.compatibility-check-dialog-field label {
			width: calc(100% + 24 * 100vw / 375);
			font-size: calc(16 * 100vw / 375);
			line-height: calc(20 * 100vw / 375);
		}
		.compatibility-check-dialog-field input {
			padding: calc(14 * 100vw / 375) calc(16 * 100vw / 375);
			border-radius: calc(6 * 100vw / 375);
			font-size: calc(16 * 100vw / 375);
			line-height: calc(20 * 100vw / 375);
		}
		.compatibility-check-dialog-field-error {
			bottom: calc(-1 * 20 * 100vw / 375);
			font-size: calc(14 * 100vw / 375);
			line-height: calc(20 * 100vw / 375);
		}
		.compatibility-check-dialog-button {
			padding: calc(14 * 100vw / 375) calc(40 * 100vw / 375);
			border-radius: calc(24 * 100vw / 375);
			border: 3px solid #0E54FD;
			font-size: calc(18 * 100vw / 375);
			line-height: calc(24 * 100vw / 375);
		}
		.compatibility-check-dialog-button:hover {
			padding: calc(17 * 100vw / 375) calc(43 * 100vw / 375);
		}
	}
{% endstyle %}
<div class="compatibility-wrap">
	<div class="compatibility">
		<div class="compatibility-title">Teslogic Pro<br>Compatibility</div>
		<div class="compatibility-blocks">
			<div class="compatibility-block compatibility-block-boost">
				<div class="compatibility-block-title">Pro Boost<br>compatible with:</div>
				<div class="compatibility-block-title-mobile">Pro Boost<br>compatible with:</div>
				<div class="compatibility-block-list">
					<div class="compatibility-block-list-item">
						<img class="compatibility-block-list-item-icon" src="{{ 'pro-combatibility-success-icon.svg' | asset_url }}">
						<div class="compatibility-block-list-item-info">
							<div>Model 3/Y Long Range Dual Motor</div>
							<div class="compatibility-block-list-item-info-secondary">Except RHD cars with Ryzen<br>MCU and Model 3 Highland</div>
						</div>
					</div>
					<div class="compatibility-block-list-item">
						<img class="compatibility-block-list-item-icon" src="{{ 'pro-combatibility-success-icon.svg' | asset_url }}">
						<div class="compatibility-block-list-item-info">
							<div>Model 3/Y Standard Range: Only cars with 980 motor and not LFP battery</div>
							<div class="compatibility-block-list-item-info-secondary">Except RHD cars with Ryzen<br>MCU and Model 3 Highland</div>
						</div>
					</div>					
				</div>
			</div>
			<div class="compatibility-block compatibility-block-performance">
				<div class="compatibility-block-title">Pro Performance only compatible<br>with AWD cars with 980 motors:</div>
				<div class="compatibility-block-title-mobile">Pro Performance only<br>compatible with AWD<br>cars with 980 motors:</div>
				<div class="compatibility-block-list">
					<div class="compatibility-block-list-item">
						<img class="compatibility-block-list-item-icon" src="{{ 'pro-combatibility-success-icon.svg' | asset_url }}">
						<div class="compatibility-block-list-item-info">
							<div>Model 3 Long Range Dual Motor (2017-2019.4)</div>
						</div>
					</div>
					<div class="compatibility-block-list-item">
						<img class="compatibility-block-list-item-icon" src="{{ 'pro-combatibility-success-icon.svg' | asset_url }}">
						<div class="compatibility-block-list-item-info">
							<div>Some Model Y 7-seaters</div>
						</div>
					</div>
					<div class="compatibility-block-list-item">
						<img class="compatibility-block-list-item-icon" src="{{ 'pro-combatibility-success-icon.svg' | asset_url }}">
						<div class="compatibility-block-list-item-info">
							<div>Some Model Y Long Range Dual Motor made in Austin</div>
						</div>
					</div>
					<div class="compatibility-block-list-item">
						<img class="compatibility-block-list-item-icon" src="{{ 'pro-combatibility-success-icon.svg' | asset_url }}">
						<div class="compatibility-block-list-item-info">
							<div>Some Model Y Long Range Dual Motor made in Berlin</div>
						</div>
					</div>
					<div class="compatibility-block-list-item">
						<img class="compatibility-block-list-item-icon" src="{{ 'pro-combatibility-warning-icon.svg' | asset_url }}">
						<div class="compatibility-block-list-item-info">
							<div class="compatibility-block-list-item-info-secondary">Except RHD cars with Ryzen MCU and Model 3 Highland</div>
						</div>
					</div>
				</div>
			</div>
			<div class="compatibility-block compatibility-block-check">
				<div class="compatibility-block-check-info">
					<img class="compatibility-block-check-info-icon" src="{{ 'pro-combatibility-warning.svg' | asset_url }}">
					<div class="compatibility-block-check-info-text compatibility-block-check-info-text-desktop">
						If you're not sure which motor is in your Tesla, use the<br>
						"Check Compatibility" option and we'll let you know if<br>
						Pro Performance version can be installed in your vehicle.						
					</div>
					<div class="compatibility-block-check-info-text compatibility-block-check-info-text-mobile">
						If you're not sure which motor is in<br>
						your Tesla, use the "Check<br>
						Compatibility" option and we'll let you<br>
						know if Pro Performance version can<br>
						be installed in your vehicle.						
					</div>
				</div>
				<button type="button" class="compatibility-check-button">
					<span class="compatibility-check-button-text-desktop">Check Pro Performance Compatibility</span>
					<span class="compatibility-check-button-text-mobile">Check Compatibility</span>
				</button>
			</div>
			
		</div>
		
	</div>
</div>

<div class="compatibility-check-dialog-shadow pro-shadow">
  <div class="compatibility-dialog compatibility-check-dialog">
  	<img class="compatibility-dialog-close" src="{{ 'pro-dialog-close.svg' | asset_url }}">
  	<div class="compatibility-dialog-title">Check Compatibility</div>
  	<div class="compatibility-check-dialog-fields">
  		<div class="compatibility-check-dialog-field">
  			<label for="compatibility-vin">VIN: (can be copied from your Tesla app)</label>
  			<input id="compatibility-vin" type="text" placeholder="Enter car’s VIN number" autocomplete>
  			<div class="compatibility-check-dialog-field-error">Wrong input</div>
  		</div>
  		<div class="compatibility-check-dialog-field">
  			<label for="compatibility-email">E-mail:</label>
  			<input id="compatibility-email" type="email" placeholder="John.smith@example.com" autocomplete>
  			<div class="compatibility-check-dialog-field-error">Wrong input</div>
  		</div>  		
  	</div>
  	<button type="button" class="compatibility-check-dialog-button">Send Request</button>
  </div>
</div>

<div class="compatibility-success-dialog-shadow pro-shadow">
  <div class="compatibility-dialog compatibility-success-dialog">
  	<img class="compatibility-dialog-close" src="{{ 'pro-dialog-close.svg' | asset_url }}">
  	<div class="compatibility-dialog-title">Manual check</div>
  	<div class="compatibility-dialog-texts">
  		<div>
  			Thank you for the information provided,<br>
			we will check compatibility and send you<br>
			a response within 2 working days.
  		</div>
  	</div>
  	<button type="button" class="compatibility-success-dialog-button">Close</button>
  </div>
</div>

<div class="compatibility-warning-dialog-shadow pro-shadow">
  <div class="compatibility-dialog compatibility-success-dialog">
  	<img class="compatibility-dialog-close" src="{{ 'pro-dialog-close.svg' | asset_url }}">
  	<div class="compatibility-dialog-title">Incompatible</div>
  	<div class="compatibility-dialog-texts">
  		<div>
  			After checking your VIN number, it appears that,<br>
  			unfortunately, the installation of the Pro Performance<br>
  			version on your car is not possible.
  		</div>
  		<div>
  			However, we can offer the Pro Boost<br>
  			version at a presale price of $590!
  		</div>
  	</div>
  	<div class="compatibility-success-dialog-buttons">
  		<button type="button" class="compatibility-warning-dialog-button compatibility-warning-dialog-button-close">Close</button>
  		<button type="button" class="compatibility-warning-dialog-button compatibility-warning-dialog-button-preorder">Preorder Now</button>
  	</div>
  </div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('.compatibility-check-button').on('click', function () {
			$('.compatibility-check-dialog-shadow').css('display', 'flex')
		})

		$('.compatibility-dialog-close, .compatibility-success-dialog-button, .compatibility-warning-dialog-button-close').on('click', function () {
			$(this).parents('.pro-shadow').css('display', 'none')
		})

		$('.compatibility-check-dialog-field input').on('keydown', function () {			
			$(this).css('border-color', '#FFF')
			$(this).parent('.compatibility-check-dialog-field').find('.compatibility-check-dialog-field-error').hide()
		})

		const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/
		const sendMailUrl = 'https://api.teslogic.co/mail/check-compatibility'

		$('.compatibility-check-dialog-button').on('click', async function () {
			const vin = $('#compatibility-vin').val()
			const email = $('#compatibility-email').val()

			if (vin.length !== 17) {
				$('#compatibility-vin').css('border-color', '#FC3E30')
				$('#compatibility-vin').parent('.compatibility-check-dialog-field').find('.compatibility-check-dialog-field-error').show()
				return
			}

			if (!emailRegex.test(email)) {
				$('#compatibility-email').css('border-color', '#FC3E30')
				$('#compatibility-email').parent('.compatibility-check-dialog-field').find('.compatibility-check-dialog-field-error').show()
				return
			}

	        const response = await fetch(sendMailUrl, {
	            method: 'post',
	            body: JSON.stringify({ vin, email }),
	            headers: {'Content-Type': 'application/json'}
	        })
	        const data = await response.json()
	        
	        if (response.status == 200) {
	        	if (data.success) {
	        		$('.compatibility-check-dialog-shadow').css('display', 'none')
	        		$('.compatibility-success-dialog-shadow').css('display', 'flex')
	        	}
	        	else {
	        		console.log(data)
	        	}
	        }
	        else if (response.status == 400) {
	        	console.log(data)
        		if (data.error == 'wrong-vin') {
					$('#compatibility-vin').css('border-color', '#FC3E30')
					$('#compatibility-vin').parent('.compatibility-check-dialog-field').find('.compatibility-check-dialog-field-error').show()
        		}
	        }
	        else {
	        	console.log(data)
	        }
		})
	})
</script>
