{% style %}
	.order-container {
		width: 100%;
		padding-top: 180px;
		padding-bottom: 180px;
		height: 1408px; 
		background: #020202;
		box-sizing: border-box;
	}
	.order-wrap {
		height: 1048px;
		background: url({{ 'pro_order_bg.png' | asset_url }});
		background-size: cover;
  		background-position: center;
	}
	.order {
  		display: flex;
  		flex-direction: column;
  		grid-row-gap: 64px;
  		width: 1079px;
  		margin: 0 auto;
	}
	.order-top {
		display: flex;
		flex-direction: column;
		grid-row-gap: 12px;
	}
	.order-title {
		color: #FFF;
		font-family: Manrope;
		font-size: 52px;
		font-style: normal;
		font-weight: 600;
		line-height: 64px;
	}
	.order-subtitle {
		color: #9A9A9A;
		font-family: Manrope;
		font-size: 24px;
		font-style: normal;
		font-weight: 600;
		line-height: 32px;
	}
	.order-body {
		display: flex;
		flex-direction: column;
		grid-row-gap: 24px;
	}
	.order-products {
		display: flex;
		grid-column-gap: 24px;
	}
	.order-product {
		width: 526px;
		height: 600px;
		border-radius: 40px;
/*		background: linear-gradient(0deg, #383838 0%, #383838 100%), rgba(0, 0, 0, 0.60);*/
		background-size: cover;
		background-position: center;
		background-blend-mode: color-dodge, normal;
		backdrop-filter: blur(6px);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.order-product-1 {
/*		background: url({{ 'pro_order_product_1_bg.png' | asset_url }}), linear-gradient(0deg, #383838 0%, #383838 100%), rgba(0, 0, 0, 0.60);*/
		background: url({{ 'pro_order_product_1_bg.png' | asset_url }});
	}
	.order-product-2 {
/*		background: url({{ 'pro_order_product_2_bg.png' | asset_url }}), linear-gradient(0deg, #383838 0%, #383838 100%), rgba(0, 0, 0, 0.60);*/
		background: url({{ 'pro_order_product_2_bg.png' | asset_url }});
	}
	.order-product-image {
		width: 100%;
	}
	.order-product-image img {
		width: 100%;
	}
	.order-product-data {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		grid-row-gap: 16px;
		padding: 0 33px 41px;
	}
	.order-product-data-info {
		display: flex;
		flex-direction: column;
		grid-row-gap: 3px;
	}
	.order-product-data-info-price {
		display: flex;
		align-items: center;
		grid-column-gap: 8px;	
		font-family: Manrope;
		font-style: normal;
	}
	.order-product-data-info-price-main {
		color: #1657FC;
		font-size: 24px;
		font-weight: 700;
		line-height: 32px;
	}
	.order-product-data-info-price-old {
		color: #666;
		font-size: 18px;
		font-weight: 600;
		line-height: 24px;
		text-decoration: line-through;
	}
	.order-product-data-info-title {
		color: #FFF;
		font-family: Manrope;
		font-size: 32px;
		font-style: normal;
		font-weight: 600;
		line-height: 40px;
/*		width: 384px;*/
	}
	.order-product-data-preorder {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		grid-column-gap: 12px;
	}
	.order-product-data-preorder-button {
		display: flex;
		width: 180px;
		padding: 20px 0;
		justify-content: center;
		align-items: center;
		border-radius: 54px;
		background: linear-gradient(174deg, #024DEE 100%, #1902A6 100%), linear-gradient(0deg, #FFFFFF 33%, #FFFFFF 0%), rgba(255, 255, 255, 0.04);
		backdrop-filter: blur(8px);
		border: none;
		outline: none;
		box-shadow: none;
		color: #FFF;
		text-align: center;
		font-family: Manrope;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: 24px;
		cursor: pointer;
	}
	.order-product-data-preorder-features {
		display: flex;
		flex-direction: column;
		grid-row-gap: 8px;
	}
	.order-product-data-preorder-features-item {
		display: flex;
		align-items: center;
		grid-column-gap: 8px;
	}
	.order-product-data-preorder-features-item-icon {
		width: 20px;
		height: 20px;
	}
	.order-product-data-preorder-features-item-text {
		color: #666;
		font-feature-settings: 'clig' off, 'liga' off;
		font-family: Manrope;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
	}
	.order-product-data-preorder-features-item-text span {
		color: #1657FC;
		font-weight: 500;
	}
	.order-product-data-add {
		display: flex;
		align-items: center;
		grid-column-gap: 8px;
	}
	.order-product-data-add-checkbox {
		width: 20px;
		height: 20px;
		appearance: none;
		-webkit-appearance: none;
		background: url({{ 'pro_comparison_checkbox_inactive.svg' | asset_url }});
		cursor: pointer;
	}
	.order-product-data-add-checkbox:checked {
		background: url({{ 'pro_comparison_checkbox_active.svg' | asset_url }});
	}
	.order-product-data-add-title {
		color: #FFF;
		font-feature-settings: 'clig' off, 'liga' off;
		font-family: Manrope;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 20px;
	}
	.order-product-data-add-price {
		color: #1657FC;
		font-feature-settings: 'clig' off, 'liga' off;
		font-family: Manrope;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 20px;
	}
	.order-date {
		width: 100%;
		height: 136px;
		border-radius: 40px;
/*		background: url({{ 'pro_order_date_bg.png' | asset_url }}), linear-gradient(0deg, #383838 0%, #383838 100%), rgba(0, 0, 0, 0.60);*/
		background: url({{ 'pro_order_date_bg.png' | asset_url }});
		background-size: cover;
		background-position: center;
		background-blend-mode: color-dodge, normal;
		backdrop-filter: blur(6px);
		padding: 48px;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.order-date-item {
		display: flex;
		align-items: center;
		grid-column-gap: 12px;
	}
	.order-date-item-icon {
		width: 40px;
		height: 40px;
	}
	.order-date-item-text {
		color: #FFF;
		font-family: Manrope;
		font-size: 32px;
		font-style: normal;
		font-weight: 500;
		line-height: 40px;
	}
	@media screen and (min-width: 576px) and (max-width: 1440px) {
		.order-container {
			padding-top: calc(180 * 100vw / 1440);
			padding-bottom: calc(180 * 100vw / 1440);
			height: calc(1408 * 100vw / 1440);
		}
		.order-wrap {
			height: calc(1048 * 100vw / 1440);
		}
		.order {
	  		grid-row-gap: calc(64 * 100vw / 1440);
	  		width: calc(1079 * 100vw / 1440);
		}
		.order-top {
			grid-row-gap: calc(12 * 100vw / 1440);
		}
		.order-title {
			font-size: calc(52 * 100vw / 1440);
			line-height: calc(64 * 100vw / 1440);
		}
		.order-subtitle {
			font-size: calc(24 * 100vw / 1440);
			line-height: calc(32 * 100vw / 1440);
		}
		.order-body {
			grid-row-gap: calc(24 * 100vw / 1440);
		}
		.order-products {
			grid-column-gap: calc(24 * 100vw / 1440);
		}
		.order-product {
			width: calc(526 * 100vw / 1440);
			height: calc(600 * 100vw / 1440);
			border-radius: calc(40 * 100vw / 1440);
		}
		.order-product-data {
			grid-row-gap: calc(16 * 100vw / 1440);
			padding: 0 calc(33 * 100vw / 1440) calc(41 * 100vw / 1440);
		}
		.order-product-data-info {
			grid-row-gap: calc(3 * 100vw / 1440);
		}
		.order-product-data-info-price {
			grid-column-gap: calc(8 * 100vw / 1440);
		}
		.order-product-data-info-price-main {
			font-size: calc(24 * 100vw / 1440);
			line-height: calc(32 * 100vw / 1440);
		}
		.order-product-data-info-price-old {
			font-size: calc(18 * 100vw / 1440);
			line-height: calc(24 * 100vw / 1440);
		}
		.order-product-data-info-title {
			font-size: calc(32 * 100vw / 1440);
			line-height: calc(40 * 100vw / 1440);
/*			width: calc(384 * 100vw / 1440);*/
		}
		.order-product-data-preorder {
			grid-column-gap: calc(12 * 100vw / 1440);
		}
		.order-product-data-preorder-button {
			width: calc(180 * 100vw / 1440);
			padding: calc(20 * 100vw / 1440) 0;
			border-radius: calc(54 * 100vw / 1440);
			font-size: calc(18 * 100vw / 1440);
			line-height: calc(24 * 100vw / 1440);
		}
		.order-product-data-preorder-features {
			grid-row-gap: calc(8 * 100vw / 1440);
		}
		.order-product-data-preorder-features-item {
			grid-column-gap: calc(8 * 100vw / 1440);
		}
		.order-product-data-preorder-features-item-icon {
			width: calc(20 * 100vw / 1440);
			height: calc(20 * 100vw / 1440);
		}
		.order-product-data-preorder-features-item-text {
			font-size: calc(14 * 100vw / 1440);
			line-height: calc(20 * 100vw / 1440);
		}
		.order-product-data-add {
			grid-column-gap: calc(8 * 100vw / 1440);
		}
		.order-product-data-add-checkbox {
			width: calc(20 * 100vw / 1440);
			height: calc(20 * 100vw / 1440);
		}
		.order-product-data-add-title {
			font-size: calc(16 * 100vw / 1440);
			line-height: calc(20 * 100vw / 1440);
		}
		.order-product-data-add-price {
			font-size: calc(16 * 100vw / 1440);
			line-height: calc(20 * 100vw / 1440);
		}
		.order-date {
			width: 100%;
			height: calc(136 * 100vw / 1440);
			border-radius: calc(40 * 100vw / 1440);
			padding: calc(48 * 100vw / 1440);
		}
		.order-date-item {
			grid-column-gap: calc(12 * 100vw / 1440);
		}
		.order-date-item-icon {
			width: calc(40 * 100vw / 1440);
			height: calc(40 * 100vw / 1440);
		}
		.order-date-item-text {
			font-size: calc(32 * 100vw / 1440);
			line-height: calc(40 * 100vw / 1440);
		}
	}
	@media screen and (max-width: 575px) {
		.order-container {
			padding-top: calc(96 * 100vw / 375);
			padding-bottom: 0;
			height: auto;
		}
		.order-wrap {
			height: auto;
			padding-bottom: calc(96 * 100vw / 375);
			background: url({{ 'pro_order_bg_mobile.png' | asset_url }});
    		background-size: cover;
			background-position: top center;
		}
		.order {
	  		grid-row-gap: calc(40 * 100vw / 375);
	  		width: calc(335 * 100vw / 375);
		}
		.order-top {
			grid-row-gap: calc(8 * 100vw / 375);
		}
		.order-title {
			font-size: calc(32 * 100vw / 375);
			font-weight: 500;
			line-height: calc(40 * 100vw / 375);
		}
		.order-subtitle {
			font-size: calc(16 * 100vw / 375);
			font-weight: 500;
			line-height: calc(20 * 100vw / 375);
		}
		.order-title br, .order-subtitle br {
			display: none;
		}
		.order-body {
			grid-row-gap: calc(20 * 100vw / 375);
		}
		.order-products {
			flex-direction: column;
			grid-row-gap: calc(20 * 100vw / 375);
		}
		.order-product {
			width: 100%;
			height: calc(565 * 100vw / 375);
			border-radius: calc(24 * 100vw / 375);
		}
		.order-product-data {
			grid-row-gap: calc(16 * 100vw / 375);
			padding: 0 calc(24 * 100vw / 375) calc(24 * 100vw / 375);
		}
		.order-product-data-info {
			grid-row-gap: calc(3 * 100vw / 375);
		}
		.order-product-data-info-price {
			grid-column-gap: calc(8 * 100vw / 375);
		}
		.order-product-data-info-price-main {
			font-size: calc(24 * 100vw / 375);
			line-height: calc(32 * 100vw / 375);
		}
		.order-product-data-info-price-old {
			display: none;
		}
		.order-product-data-info-title {
			font-size: calc(32 * 100vw / 375);
			font-weight: 500;
			line-height: calc(40 * 100vw / 375);
			width: calc(250 * 100vw / 375);
		}
		.order-product-data-preorder {
			flex-direction: column;
			grid-row-gap: calc(12 * 100vw / 375);
		}
		.order-product-data-preorder-button {
			width: 100%;
			padding: calc(20 * 100vw / 375) 0;
			border-radius: calc(54 * 100vw / 375);
			font-size: calc(18 * 100vw / 375);
			line-height: calc(24 * 100vw / 375);
		}
		.order-product-data-preorder-features {
			grid-row-gap: calc(8 * 100vw / 375);
		}
		.order-product-data-preorder-features-item {
			grid-column-gap: calc(8 * 100vw / 375);
		}
		.order-product-data-preorder-features-item-icon {
			width: calc(20 * 100vw / 375);
			height: calc(20 * 100vw / 375);
		}
		.order-product-data-preorder-features-item-text {
			font-size: calc(14 * 100vw / 375);
			line-height: calc(20 * 100vw / 375);
		}
		.order-product-data-add {
			grid-column-gap: calc(8 * 100vw / 375);
		}
		.order-product-data-add-checkbox {
			width: calc(20 * 100vw / 375);
			height: calc(20 * 100vw / 375);
		}
		.order-product-data-add-title {
			font-size: calc(14 * 100vw / 375);
			line-height: calc(20 * 100vw / 375);
		}
		.order-product-data-add-price {
			font-size: calc(14 * 100vw / 375);
			line-height: calc(20 * 100vw / 375);
		}
		.order-date {
			display: none;
		}
	}
	
{% endstyle %}

{% assign product1 = all_products['teslogic-pro-boost-transmitter-kit'] %}
{% assign product2 = all_products['teslogic-pro-performace-transmitter-kit'] %}
{% assign charger = all_products['teslogic-wireless-charger'] %}

<div id="shop-now" class="order-container">
	<div class="order-wrap">
		<div class="order">
			<div class="order-top">
				<div class="order-title">Ready to take your Tesla<br>to the next level?</div>
				<div class="order-subtitle">Order Teslogic Pro and start your journey towards<br>unmatched driving performance and satisfaction</div>
			</div>
			<div class="order-body">
				<div class="order-products">
					<div class="order-product order-product-1">
						<div class="order-product-image">
							<img src="{{ product1.featured_image | img_url: '526x526' }}">
						</div>
						<div class="order-product-data">
							<div class="order-product-data-info">
								<div class="order-product-data-info-price">
									<div class="order-product-data-info-price-main">$ {{ product1.price | divided_by: 100 }}</div>
									<div class="order-product-data-info-price-old">$ {{ product1.compare_at_price | divided_by: 100 }}</div>
								</div>
								<div class="order-product-data-info-title">{{ product1.title }}</div>								
							</div>
							<div class="order-product-data-preorder">
								<button type="button" class="order-product-data-preorder-button" data-num="1">Preorder Now</button>
								<div class="order-product-data-preorder-features">
									<div class="order-product-data-preorder-features-item">
										<img class="order-product-data-preorder-features-item-icon" src="{{ 'pro_order_free_shipping.svg' | asset_url }}">
										<div class="order-product-data-preorder-features-item-text"><span>Free shipping</span> in all domestic orders</div>
									</div>
									<div class="order-product-data-preorder-features-item">
										<img class="order-product-data-preorder-features-item-icon" src="{{ 'pro_order_no_tax.svg' | asset_url }}">
										<div class="order-product-data-preorder-features-item-text"><span>No import tax</span> for international orders</div>
									</div>									
								</div>
							</div>
							<div class="order-product-data-add">
								<input type="checkbox" id="select-charger-1" class="order-product-data-add-checkbox" checked>
								<label for="select-charger-1" class="order-product-data-add-title">Add Additional Wireless Charger <span class="order-product-data-add-price">+ $40</span></label>
							</div>							
						</div>
						<input type="hidden" id="product-1-variant-id" value="{{ product1.variants[0].id }}">
					</div>
					<div class="order-product order-product-2">
						<div class="order-product-image">
							<img src="{{ product2.featured_image | img_url: '526x526' }}">
						</div>
						<div class="order-product-data">
							<div class="order-product-data-info">
								<div class="order-product-data-info-price">
									<div class="order-product-data-info-price-main">$ {{ product2.price | divided_by: 100 }}</div>
									<div class="order-product-data-info-price-old">$ {{ product2.compare_at_price | divided_by: 100 }}</div>
								</div>
								<div class="order-product-data-info-title">{{ product2.title }}</div>								
							</div>
							<div class="order-product-data-preorder">
								<button type="button" class="order-product-data-preorder-button" data-num="2">Preorder Now</button>
								<div class="order-product-data-preorder-features">
									<div class="order-product-data-preorder-features-item">
										<img class="order-product-data-preorder-features-item-icon" src="{{ 'pro_order_free_shipping.svg' | asset_url }}">
										<div class="order-product-data-preorder-features-item-text"><span>Free shipping</span> in all domestic orders</div>
									</div>
									<div class="order-product-data-preorder-features-item">
										<img class="order-product-data-preorder-features-item-icon" src="{{ 'pro_order_no_tax.svg' | asset_url }}">
										<div class="order-product-data-preorder-features-item-text"><span>No import tax</span> for international orders</div>
									</div>									
								</div>
							</div>
							<div class="order-product-data-add">
								<input type="checkbox" id="select-charger-2" class="order-product-data-add-checkbox" checked>
								<label for="select-charger-1" class="order-product-data-add-title">Add Additional Wireless Charger <span class="order-product-data-add-price">+ $40</span></label>
							</div>							
						</div>
						<input type="hidden" id="product-2-variant-id" value="{{ product2.variants[0].id }}">
					</div>					
				</div>
				<input type="hidden" id="charger-variant-id" value="{{ charger.variants[0].id }}">
				<!-- <div class="order-date">
					<div class="order-date-item">
						<img class="order-date-item-icon" src="{{ 'pro_order_discount.svg' | asset_url }}">
						<div class="order-date-item-text">Pre order discount began</div>
					</div>
					<div class="order-date-item">
						<img class="order-date-item-icon" src="{{ 'pro_order_delivery.svg' | asset_url }}">
						<div class="order-date-item-text">Estimated delivery: June 2024</div>
					</div>
				</div> -->				
			</div>		
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		$('.order-product-data-preorder-button').on('click', function () {
			let num = $(this).data('num')
			let product_id = $(`#product-${num}-variant-id`).val()
			let items = [{ id: Number(product_id), quantity: 1 }]
			if ($(`#select-charger-${num}`).prop('checked') === true) {
				let charger_variant_id = $('#charger-variant-id').val()
				items.push({ id: Number(charger_variant_id), quantity: 1 })
			}
			let formData = { items }
			fetch(window.Shopify.routes.root + 'cart/add.js', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(formData)
			}).then(response => {
			  	window.location.href = '/cart'
			}).catch((error) => {
			  	console.error('Error:', error)
			})
		})
	})
</script>
