{% style %}
	.using__wrap {
		width: 100%;
		padding-top: 176px;
		padding-bottom: 180px;
		height: 774px; 
		background: #101010;
		box-sizing: border-box;
	}
	.using {
		width: 1296px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		grid-row-gap: 34px;
	}
	.using__top {
		display: flex;
		flex-direction: column;
		grid-row-gap: 8px;
	}
	.using__title {
		color: #FFF;
		font-family: Manrope;
		font-size: 52px;
		font-style: normal;
		font-weight: 500;
		line-height: 64px;
	}
	.using__subtitle {
		color: #A2A2A2;
		font-family: Manrope;
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: 32px;
		display: flex;
		align-items: center;
		grid-column-gap: 8px;
	}
	.using__subtitle a {
		color: #0465FD;
		font-weight: 500;
		display: flex;
		align-items: center;
		grid-column-gap: 4px;
		cursor: pointer;
	}
	.using__content {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		grid-column-gap: 24px;
	}
	.using__row {
		margin: 0;
		width: 306px;
	}
	.using__row-block {
		height: 220px;
		border-radius: 24px;
		background: #171717;
		position: relative;
	}
	.using__row-legend-number {
		width: 32px;
		height: 32px;
		background: #212121;
		border-radius: 100%;
		color: #0465FD;
		text-align: center;
		font-family: Manrope;
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: 20px;
		position: absolute;
		top: 20px;
		left: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.using__row-legend-text {
		color: #A2A2A2;
		font-family: Manrope;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px;
	}
	.using__row-image {
		position: absolute;
	}
	.using__row-image img {
		width: 100%;
	}
.using__row-image-1 {
	width: 225.5px;
	height: 127px;
	top: 54px;
	left: 59px;
}
	
{% endstyle %}
<div class="using__wrap">
	<div class="using">
		<div class="using__top">
			<div class="using__title">How to use Teslogic Pro</div>
			<div class="using__subtitle">
				<span>Smooth start with soft installation.</span>
				<a class="using__manuals-link">Read Manual<img src="{{ 'chevron-right-blue.svg' | asset_url }}"></a>
			</div>
		</div>
		<div class="using__content">
			<div class="using__row using__row-1">
				<div class="using__row-block">
					<div class="using__row-legend-number">1</div>
					<!-- <div class="using__row-image using__row-image-desktop using__row-image-1"><img src="{{ 'using_1.png' | asset_url }}" srcset="{{ 'using_1-retina.png' | asset_url }} 2x" loading="lazy"></div> -->
					<!-- <div class="using__row-image using__row-image-mobile using__row-image-mobile-1"><img src="{{ 'using_1_mobile.png' | asset_url }}" srcset="{{ 'using_1_mobile-retina.png' | asset_url }} 2x" loading="lazy"></div> -->
					<div class="using__row-image using__row-image-1">
						<img src="{{ 'pro-using-image-1.svg' | asset_url }}">
					</div>
				</div>
				<div class="using__row-legend-text">Connect a small Teslogic adapter<br>to your Tesla MCU (computer).</div>
			</div>

			<div class="using__row using__row-2">
				<div class="using__row-block">
					<div class="using__row-legend-number">2</div>
					<div class="using__row-image using__row-image-desktop using__row-image-2"><img src="{{ 'using_2.png' | asset_url }}" srcset="{{ 'using_2-retina.png' | asset_url }} 2x" loading="lazy"></div>
					<!-- <div class="using__row-image using__row-image-mobile using__row-image-mobile-2"><img src="{{ 'using_2_mobile.png' | asset_url }}" srcset="{{ 'using_2_mobile-retina.png' | asset_url }} 2x" loading="lazy"></div> -->
				</div>
				<div class="using__row-legend-text">Install and Run Teslogic app<br>on your mobile device.</div>
			</div>

			<div class="using__row using__row-3">
				<div class="using__row-block">
					<div class="using__row-legend-number">3</div>
					<div class="using__row-image using__row-image-desktop using__row-image-3"><img src="{{ 'using_3.png' | asset_url }}" srcset="{{ 'using_3-retina.png' | asset_url }} 2x" loading="lazy"></div>
					<!-- <div class="using__row-image using__row-image-mobile using__row-image-mobile-3"><img src="{{ 'using_3_mobile.png' | asset_url }}" srcset="{{ 'using_3_mobile-retina.png' | asset_url }} 2x" loading="lazy"></div> -->
				</div>
				<div class="using__row-legend-text">Turn on Boost / Performance<br>feature in Shortcuts section.</div>
			</div>
			
			<div class="using__row using__row-4">
				<div class="using__row-block">
					<div class="using__row-legend-number">4</div>
					<div class="using__row-image using__row-image-desktop using__row-image-4"><img src="{{ 'using_4.png' | asset_url }}" srcset="{{ 'using_4-retina.png' | asset_url }} 2x" loading="lazy"></div>
					<!-- <div class="using__row-image using__row-image-mobile using__row-image-mobile-4"><img src="{{ 'using_4_mobile.png' | asset_url }}" srcset="{{ 'using_4_mobile-retina.png' | asset_url }} 2x" loading="lazy"></div> -->
				</div>
				<div class="using__row-legend-text">Experience unprecedented increase<br>in power and acceleration speed!</div>
			</div>
		</div>

	</div>
</div>
