{% style %}	
	.compatibility-wrap {
		width: 100%;
		padding-top: 180px;
		padding-top: 166px;
		height: 1002px;
		background: linear-gradient(0deg, #171717 45.07%, #181818 66.75%, #2D2D2D 100%); 
		box-sizing: border-box;
	}
	.compatibility {
		width: 1076px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		grid-row-gap: 40px;
	}
	.compatibility-title {
		color: #FFF;
		font-family: Manrope;
		font-size: 52px;
		font-style: normal;
		font-weight: 500;
		line-height: 64px;
	}
	.compatibility-title br {
		display: none;
	}
	.compatibility-blocks {
		display: flex;
		flex-wrap: wrap;
		grid-column-gap: 24px;
		grid-row-gap: 24px;
	}
	.compatibility-block {
		display: flex;
		border-radius: 24px;
		background: #242424;
		box-sizing: border-box;
	}
	.compatibility-block-boost,
	.compatibility-block-performance {
		height: 384px;
		flex-direction: column;
		grid-row-gap: 32px;
		padding-top: 36px;
		padding-left: 40px;
	}
	.compatibility-block-boost {
		width: 416px;
	}
	.compatibility-block-performance {
		width: 636px;
	}
	.compatibility-block-title {
		color: #FFF;
		font-family: Manrope;
		font-size: 32px;
		font-style: normal;
		font-weight: 600;
		line-height: 40px;
	}
	.compatibility-block-list {
		display: flex;
		flex-direction: column;
		grid-row-gap: 24px;
	}
	.compatibility-block-list-item {
		display: flex;
		align-items: flex-start;
		grid-column-gap: 8px;
	}
	.compatibility-block-list-item-icon {
		width: 20px;
		height: 20px;
	}
	.compatibility-block-list-item-info {
		color: #FFF;
		font-family: Manrope;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 20px;
		display: flex;
		flex-direction: column;
		grid-row-gap: 4px;
	}
	.compatibility-block-list-item-info-secondary {
		color: #9A9A9A;
	}
	.compatibility-block-check {
		width: 100%;
		height: 144px;
		padding: 0 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.compatibility-block-check-info {
		display: flex;
		align-items: center;
		grid-column-gap: 12px;
	}
	.compatibility-block-check-info-icon {
		width: 64px;
		height: 64px;
	}
	.compatibility-block-check-info-text {
		color: #FFF;
		font-family: Manrope;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 20px;
	}
	.compatibility-check-button {
		padding: 20px 40px;
		justify-content: center;
		align-items: center;
		border-radius: 54px;
		border: 3px solid #0E54FD;
		background: linear-gradient(0deg, #383838 0%, #383838 100%), rgba(0, 0, 0, 0.40);
		background-blend-mode: color-dodge, normal;
		color: #0E54FD;
		text-align: center;
		font-family: Manrope;
		font-size: 18px;
		font-style: normal;
		font-weight: 700;
		line-height: 24px;
		cursor: pointer;
		text-decoration: none;
		box-sizing: border-box;
	}
	.compatibility-check-button:hover {
		color: #FFF;
		background: linear-gradient(174deg, #024DEE 4.57%, #1902A6 251.92%);
		border: none;
		padding: 23px 43px;
	}
	@media screen and (min-width: 576px) and (max-width: 1440px) {
		.compatibility-wrap {
			padding-top: calc(180 * 100vw / 1440);
			padding-top: calc(166 * 100vw / 1440);
			height: calc(1002 * 100vw / 1440);
		}
		.compatibility {
			width: calc(1076 * 100vw / 1440);
			grid-row-gap: calc(40 * 100vw / 1440);
		}
		.compatibility-title {
			font-size: calc(52 * 100vw / 1440);
			line-height: calc(64 * 100vw / 1440);
		}
		.compatibility-blocks {
			grid-column-gap: calc(24 * 100vw / 1440);
			grid-row-gap: calc(24 * 100vw / 1440);
		}
		.compatibility-block {
			border-radius: calc(24 * 100vw / 1440);
		}
		.compatibility-block-boost,
		.compatibility-block-performance {
			height: calc(384 * 100vw / 1440);
			grid-row-gap: calc(32 * 100vw / 1440);
			padding-top: calc(36 * 100vw / 1440);
			padding-left: calc(40 * 100vw / 1440);
		}
		.compatibility-block-boost {
			width: calc(416 * 100vw / 1440);
		}
		.compatibility-block-performance {
			width: calc(636 * 100vw / 1440);
		}
		.compatibility-block-title {
			font-size: calc(32 * 100vw / 1440);
			line-height: calc(40 * 100vw / 1440);
		}
		.compatibility-block-list {
			grid-row-gap: calc(24 * 100vw / 1440);
		}
		.compatibility-block-list-item {
			grid-column-gap: calc(8 * 100vw / 1440);
		}
		.compatibility-block-list-item-icon {
			width: calc(20 * 100vw / 1440);
			height: calc(20 * 100vw / 1440);
		}
		.compatibility-block-list-item-info {
			font-size: calc(16 * 100vw / 1440);
			line-height: calc(20 * 100vw / 1440);
			grid-row-gap: calc(4 * 100vw / 1440);
		}
		.compatibility-block-check {
			height: calc(144 * 100vw / 1440);
			padding: 0 calc(40 * 100vw / 1440);
		}
		.compatibility-block-check-info {
			grid-column-gap: calc(12 * 100vw / 1440);
		}
		.compatibility-block-check-info-icon {
			width: calc(64 * 100vw / 1440);
			height: calc(64 * 100vw / 1440);
		}
		.compatibility-block-check-info-text {
			font-size: calc(16 * 100vw / 1440);
			line-height: calc(20 * 100vw / 1440);
		}
		.compatibility-check-button {
			padding: calc(20 * 100vw / 1440) calc(40 * 100vw / 1440);
			border-radius: calc(54 * 100vw / 1440);
			font-size: calc(18 * 100vw / 1440);
			line-height: calc(24 * 100vw / 1440);
		}
		.compatibility-check-button:hover {
			padding: calc(23 * 100vw / 1440) calc(43 * 100vw / 1440);
		}
	}
	@media screen and (max-width: 575px) {
		.compatibility-wrap {
			padding-top: calc(96 * 100vw / 375);
			padding-bottom: calc(134 * 100vw / 375);
			height: auto;
		}
		.compatibility {
			width: calc(335 * 100vw / 375);
			grid-row-gap: calc(40 * 100vw / 375);
		}
		.compatibility-title {
			font-size: calc(32 * 100vw / 375);
			line-height: calc(40 * 100vw / 375);
		}
		.compatibility-title br {
			display: block;
		}
		.compatibility-blocks {
			flex-direction: column;
			grid-row-gap: calc(12 * 100vw / 375);
		}
		.compatibility-block {
			border-radius: calc(24 * 100vw / 375);
		}
		.compatibility-block-boost,
		.compatibility-block-performance {
			padding-top: calc(24 * 100vw / 1440);
			padding-left: calc(24 * 100vw / 1440);
		}
		.compatibility-block-boost {
			width: calc(335 * 100vw / 1440);
			height: calc(336 * 100vw / 1440);
			grid-row-gap: calc(24 * 100vw / 1440);
		}
		.compatibility-block-performance {
			width: calc(335 * 100vw / 1440);
			height: calc(448 * 100vw / 1440);
			grid-row-gap: calc(20 * 100vw / 1440);
		}

	}
{% endstyle %}
<div class="compatibility-wrap">
	<div class="compatibility">
		<div class="compatibility-title">Teslogic Pro<br>Compatibility</div>
		<div class="compatibility-blocks">
			<div class="compatibility-block compatibility-block-boost">
				<div class="compatibility-block-title">Pro Boost<br>compatible with:</div>
				<div class="compatibility-block-list">
					<div class="compatibility-block-list-item">
						<img class="compatibility-block-list-item-icon" src="{{ 'pro-combatibility-success-icon.svg' | asset_url }}">
						<div class="compatibility-block-list-item-info">
							<div>Model 3/Y Long Range Dual Motor</div>
							<div class="compatibility-block-list-item-info-secondary">Except RHD cars with Ryzen<br>MCU and Model 3 Highland</div>
						</div>
					</div>
					<div class="compatibility-block-list-item">
						<img class="compatibility-block-list-item-icon" src="{{ 'pro-combatibility-success-icon.svg' | asset_url }}">
						<div class="compatibility-block-list-item-info">
							<div>Model 3/Y Standard Range: Only cars<br>with 980 motor and not LFP battery  </div>
							<div class="compatibility-block-list-item-info-secondary">Except RHD cars with Ryzen<br>MCU and Model 3 Highland</div>
						</div>
					</div>					
				</div>
			</div>
			<div class="compatibility-block compatibility-block-performance">
				<div class="compatibility-block-title">Pro Performance only compatible<br>with AWD cars with 980 motors:</div>
				<div class="compatibility-block-list">
					<div class="compatibility-block-list-item">
						<img class="compatibility-block-list-item-icon" src="{{ 'pro-combatibility-success-icon.svg' | asset_url }}">
						<div class="compatibility-block-list-item-info">
							<div>Model 3 Long Range Dual Motor (2017-2019.4)</div>
						</div>
					</div>
					<div class="compatibility-block-list-item">
						<img class="compatibility-block-list-item-icon" src="{{ 'pro-combatibility-success-icon.svg' | asset_url }}">
						<div class="compatibility-block-list-item-info">
							<div>Some Model Y 7-seaters</div>
						</div>
					</div>
					<div class="compatibility-block-list-item">
						<img class="compatibility-block-list-item-icon" src="{{ 'pro-combatibility-success-icon.svg' | asset_url }}">
						<div class="compatibility-block-list-item-info">
							<div>Some Model Y Long Range Dual Motor made in Austin</div>
						</div>
					</div>
					<div class="compatibility-block-list-item">
						<img class="compatibility-block-list-item-icon" src="{{ 'pro-combatibility-success-icon.svg' | asset_url }}">
						<div class="compatibility-block-list-item-info">
							<div>Some Model Y Long Range Dual Motor made in Berlin</div>
						</div>
					</div>
					<div class="compatibility-block-list-item">
						<img class="compatibility-block-list-item-icon" src="{{ 'pro-combatibility-warning-icon.svg' | asset_url }}">
						<div class="compatibility-block-list-item-info">
							<div class="compatibility-block-list-item-info-secondary">Except RHD cars with Ryzen MCU and Model 3 Highland</div>
						</div>
					</div>
				</div>
			</div>
			<div class="compatibility-block compatibility-block-check">
				<div class="compatibility-block-check-info">
					<img class="compatibility-block-check-info-icon" src="{{ 'pro-combatibility-warning.svg' | asset_url }}">
					<div class="compatibility-block-check-info-text">
						If you're not sure which motor is in your Tesla, use the<br>
						"Check Compatibility" option and we'll let you know if<br>
						Pro Performance version can be installed in your vehicle.						
					</div>
				</div>
				<button type="button" class="compatibility-check-button">Check Pro Performance Compatibility</button>
			</div>
			
		</div>
		
	</div>
</div>