{% style %}
	.using__wrap {
		width: 100%;
		padding-top: 176px;
		padding-bottom: 180px;
		height: 774px;
		background: #101010;
		box-sizing: border-box;
	}
	.using {
		width: 1296px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		grid-row-gap: 34px;
	}
	.using__top {
		display: flex;
		flex-direction: column;
		grid-row-gap: 8px;
	}
	.using__title {
		color: #FFF;
		font-family: Manrope;
		font-size: 52px;
		font-style: normal;
		font-weight: 500;
		line-height: 64px;
	}
	.using__subtitle {
		color: #A2A2A2;
		font-family: Manrope;
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: 32px;
		display: flex;
		align-items: center;
		grid-column-gap: 8px;
	}
	.using__subtitle a {
		color: #0465FD;
		font-weight: 500;
		display: flex;
		align-items: center;
		grid-column-gap: 4px;
		cursor: pointer;
	}
	.using__content {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		grid-column-gap: 24px;
	}
	.using__row {
		margin: 0;
		width: 306px;
		display: flex;
		flex-direction: column;
		grid-row-gap: 12px;
	}
	.using__row-block {
		width: 100%;
		height: 220px;
		border-radius: 24px;
		background: #171717;
		position: relative;
	}
	.using__row-legend-number {
		width: 32px;
		height: 32px;
		background: #212121;
		border-radius: 100%;
		color: #0465FD;
		text-align: center;
		font-family: Manrope;
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: 20px;
		position: absolute;
		top: 20px;
		left: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.using__row-legend-text {
		color: #A2A2A2;
		font-family: Manrope;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px;
	}
	.using__row-image {
		position: absolute;
	}
	.using__row-image img {
		width: 100%;
	}
	.using__row-image-1 {
		width: 225.5px;
		height: 127px;
		top: 54px;
		left: 59px;
	}
	.using__row-image-2 {
		width: 150.998px;
		height: 201px;
		top: 20px;
		left: 108.75px;
	}
	.using__row-image-3 {
		width: 221px;
		height: 107px;
		top: 63px;
		left: 43px;
	}
	.using__row-image-4 {
		width: 128px;
		height: 100px;
		top: 67px;
		left: 88px;
	}
	@media screen and (min-width: 576px) and (max-width: 1440px) {
		.using__wrap {
			padding-top: calc(176 * 100vw / 1440);
			padding-bottom: calc(180 * 100vw / 1440);
			height: calc(774 * 100vw / 1440);
		}
		.using {
			width: calc(1296 * 100vw / 1440);
			grid-row-gap: calc(34 * 100vw / 1440);
		}
		.using__top {
			grid-row-gap: calc(8 * 100vw / 1440);
		}
		.using__title {
			font-size: calc(52 * 100vw / 1440);
			line-height: calc(64 * 100vw / 1440);
		}
		.using__subtitle {
			font-size: calc(24 * 100vw / 1440);
			line-height: calc(32 * 100vw / 1440);
			grid-column-gap: calc(8 * 100vw / 1440);
		}
		.using__subtitle a {
			grid-column-gap: calc(4 * 100vw / 1440);
		}
		.using__content {
			grid-column-gap: calc(24 * 100vw / 1440);
		}
		.using__row {
			width: calc(306 * 100vw / 1440);
			grid-row-gap: calc(12 * 100vw / 1440);
		}
		.using__row-block {
			height: calc(220 * 100vw / 1440);
			border-radius: calc(24 * 100vw / 1440);
		}
		.using__row-legend-number {
			width: calc(32 * 100vw / 1440);
			height: calc(32 * 100vw / 1440);
			font-size: calc(20 * 100vw / 1440);
			line-height: calc(20 * 100vw / 1440);
			top: calc(20 * 100vw / 1440);
			left: calc(20 * 100vw / 1440);
		}
		.using__row-legend-text {
			font-size: calc(18 * 100vw / 1440);
			line-height: calc(24 * 100vw / 1440);
		}
		.using__row-image-1 {
			width: calc(225.5 * 100vw / 1440);
			height: calc(127 * 100vw / 1440);
			top: calc(54 * 100vw / 1440);
			left: calc(59 * 100vw / 1440);
		}
		.using__row-image-2 {
			width: calc(150.998 * 100vw / 1440);
			height: calc(201 * 100vw / 1440);
			top: calc(20 * 100vw / 1440);
			left: calc(108.75 * 100vw / 1440);
		}
		.using__row-image-3 {
			width: calc(221 * 100vw / 1440);
			height: calc(107 * 100vw / 1440);
			top: calc(63 * 100vw / 1440);
			left: calc(43 * 100vw / 1440);
		}
		.using__row-image-4 {
			width: calc(128 * 100vw / 1440);
			height: calc(100 * 100vw / 1440);
			top: calc(67 * 100vw / 1440);
			left: calc(88 * 100vw / 1440);
		}
	}
	@media screen and (max-width: 575px) {
		.using__wrap {
			padding-top: calc(96 * 100vw / 375);
			padding-bottom: calc(96 * 100vw / 375);
			height: calc(1654 * 100vw / 375);
		}
		.using {
			width: calc(335 * 100vw / 375);
			flex-direction: column;
			grid-row-gap: calc(38 * 100vw / 375);
		}
		.using__title {
			font-size: calc(32 * 100vw / 375);
			line-height: calc(40 * 100vw / 375);
		}
		.using__subtitle {
			font-size: calc(18 * 100vw / 375);
			line-height: calc(24 * 100vw / 375);
			flex-direction: column;
			grid-row-gap: calc(8 * 100vw / 375);
		}
		.using__subtitle a {
			grid-column-gap: calc(4 * 100vw / 375);
		}
		.using__content {
			flex-direction: column;
			grid-row-gap: calc(40 * 100vw / 375);
		}
		.using__row {
			width: 100%;
			align-items: center;
			grid-row-gap: calc(12 * 100vw / 375);
		}
		.using__row-block {
			height: calc(240 * 100vw / 375);
			border-radius: calc(24 * 100vw / 375);
		}
		.using__row-legend-number {
			width:  calc(32 * 100vw / 375);
			height: calc(32 * 100vw / 375);
			font-size:  calc(20 * 100vw / 375);
			line-height: calc(20 * 100vw / 375);
			top: calc(20 * 100vw / 375);
			left: calc(20 * 100vw / 375);
		}
		.using__row-legend-text {
			font-size: calc(18 * 100vw / 375);
			line-height: calc(24 * 100vw / 375);
		}
		.using__row-image-1 {
			width: calc(247.608 * 100vw / 375);
			height: calc(138.545 * 100vw / 375);
			top: calc(58.91 * 100vw / 375);
			left: calc(64.78 * 100vw / 375);
		}
		.using__row-image-2 {
			width: calc(165.801 * 100vw / 375);
			height: calc(219.272 * 100vw / 375);
			top: calc(21.82 * 100vw / 375);
			left: calc(119.41 * 100vw / 375);
		}
		.using__row-image-3 {
			width: calc(242.667 * 100vw / 375);
			height: calc(116.727 * 100vw / 375);
			top: calc(68.73 * 100vw / 375);
			left: calc(47.22 * 100vw / 375);
		}
		.using__row-image-4 {
			width: calc(140.549 * 100vw / 375);
			height: calc(109.091 * 100vw / 375);
			top: calc(73.09 * 100vw / 375);
			left: calc(96.63 * 100vw / 375);
		}
	}	
{% endstyle %}
<div class="using__wrap">
	<div class="using">
		<div class="using__top">
			<div class="using__title">How to use Teslogic Pro</div>
			<div class="using__subtitle">
				<span>Smooth start with soft installation.</span>
				<!-- <a class="using__manuals-link">Read Manual<img src="{{ 'chevron-right-blue.svg' | asset_url }}"></a> -->
			</div>
		</div>
		<div class="using__content">
			<div class="using__row using__row-1">
				<div class="using__row-block">
					<div class="using__row-legend-number">1</div>
					<div class="using__row-image using__row-image-1">
						<img src="{{ 'pro-using-image-1.svg' | asset_url }}">
					</div>
				</div>
				<div class="using__row-legend-text">Connect a small Teslogic adapter<br>to your Tesla MCU (computer).</div>
			</div>

			<div class="using__row using__row-2">
				<div class="using__row-block">
					<div class="using__row-legend-number">2</div>
					<div class="using__row-image using__row-image-2">
						<img src="{{ 'pro-using-image-2.svg' | asset_url }}">
					</div>
				</div>
				<div class="using__row-legend-text">Install and Run Teslogic app<br>on your mobile device.</div>
			</div>

			<div class="using__row using__row-3">
				<div class="using__row-block">
					<div class="using__row-legend-number">3</div>
					<div class="using__row-image using__row-image-3">
						<img src="{{ 'pro-using-image-3.svg' | asset_url }}">
					</div>
				</div>
				<div class="using__row-legend-text">Turn on Boost / Performance<br>feature in Shortcuts section.</div>
			</div>
			
			<div class="using__row using__row-4">
				<div class="using__row-block">
					<div class="using__row-legend-number">4</div>
					<div class="using__row-image using__row-image-4">
						<img src="{{ 'pro-using-image-4.svg' | asset_url }}">
					</div>
				</div>
				<div class="using__row-legend-text">Experience unprecedented increase<br>in power and acceleration speed!</div>
			</div>
		</div>

	</div>
</div>
