<link rel="stylesheet" href="{{ 'product_block.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'product_block-responsive.css' | asset_url }}" media="print" onload="this.media='all'">

{% assign product = all_products[handle] %}

<div class="product_block" id="shop-now">
	<div class="block_title product_block-title">{{ product.title }}</div>
	<div class="product_block-product">
		<div class="product_block-product-gallery">
			<div class="product_block-product-gallery-image">
				<img src="{{ product.featured_media | image_url }}">
			</div>
			<!-- <div class="product_block-product-gallery-nav product_block-product-gallery-nav-prev">
				<img src="{{ 'chevron-left.png' | asset_url }}">
			</div>
			<div class="product_block-product-gallery-nav product_block-product-gallery-nav-next">
				<img src="{{ 'chevron-right.png' | asset_url }}">
			</div> -->
		</div>
		<div class="product_block-product-info">
			<!-- <div> -->
				<div class="product_block-product-price">${{ product.price | divided_by: 100 }}</div>
				<!-- <div class="product_block-product-title">{{ product.title }}</div> -->
				<div class="product_block-product-subtitle">
					{{ product.description }}
				</div>
			<!-- </div> -->
			<!-- <div> -->
				<!-- <div class="product_block-product-amount">
					<div class="product_block-product-amount-button product_block-product-amount-button-minus">
						<div></div>
					</div>
					<span class="product_block-product-amount-value" id="amount">1</span>
					<div class="product_block-product-amount-button product_block-product-amount-button-plus">
						<div></div>
						<div></div>
					</div>
				</div> -->
				<!-- <div class="product_block-product-select-text">Select your Tesla model and year:</div> -->
				{% if product.variants.size > 1 %}
				<div class="product_block-product-select">
					<div class="product_block-product-select-dropdown-select product_block-product-selected">
						<span class="product_block-product-select-value">Select model</span>
						<div class="product_block-product-select-arrow">
							<img src="{{ 'select_arrow.png' | asset_url }}">
						</div>
					</div>
					<div class="product_block-product-select-dropdown">
						<div class="product_block-product-select-dropdown-select">
							<span class="product_block-product-select-value">Select model</span>
							<div class="product_block-product-select-arrow">
								<img src="{{ 'select_arrow.png' | asset_url }}">
							</div>
						</div>
						{%- for model in product.variants -%}
							<div 
								class="product_block-product-select-dropdown-item" 
								data-model_id="{{ model.id }}"
								data-sku="{{ model.sku }}" 
								data-price="{{ model.price }}"
								data-compare_at_price="{{ model.compare_at_price }}"
							>
								{{ model.title }}
							</div>
						{%- endfor -%}
					</div>
				</div>
				{% endif %}
				<!-- <div class="product_block-add-wireless-charger">
					<input type="checkbox" id="select-charger" class="product_block-add-wireless-charger-checkbox" checked>
					<label for="select-charger" class="product_block-add-wireless-charger-title">Add Wireless Charger</label>
					<span class="product_block-add-wireless-charger-price">+ $40</span>
				</div> -->
				<button class="product_block-product-add" id="add">Add to cart</button>
				<!-- <div class="product_block-product-subtitle" style="margin-top: calc(20 * 100vw / 1366);">
					No import tax for international orders
				</div> -->
			<!-- </div> -->
		</div>
	</div>								
	<div class="product_block-product-mobile">
		<!-- <div class="product_block-product-title">{{ product.title }}</div> -->
		<div class="product_block-product-price">
			${{ product.price | divided_by: 100 }}
			<!-- <div class="product_block-product-price-new">$165</div> -->
		</div>
		<div class="product_block-product-gallery">
			<div class="product_block-product-gallery-image">
				<img src="{{ product.featured_media | image_url }}">
			</div>
		</div>
		<div class="product_block-product-info">
			<div class="product_block-product-subtitle">
				{{ product.description }}
			</div>
			<div class="product_block-product-info-bottom">
				{% if product.variants.size > 1 %}
				<div class="product_block-product-select-text">Select your Tesla model and year:</div>
				<div class="product_block-product-select">
					<div class="product_block-product-select-dropdown-select product_block-product-selected">
						<span class="product_block-product-select-value">Select model</span>
						<div class="product_block-product-select-arrow">
							<img src="{{ 'select_arrow.png' | asset_url }}">
						</div>
					</div>
					<div class="product_block-product-select-dropdown">
						<div class="product_block-product-select-dropdown-select">
							<span class="product_block-product-select-value">Select model</span>
							<div class="product_block-product-select-arrow">
								<img src="{{ 'select_arrow.png' | asset_url }}">
							</div>
						</div>
						{%- for model in product.variants -%}
							<div 
								class="product_block-product-select-dropdown-item"  
								data-model_id="{{ model.id }}"
								data-sku="{{ model.sku }}" 
								data-price="{{ model.price }}"
								data-compare_at_price="{{ model.compare_at_price }}"
							>
								{{ model.title }}
							</div>
						{%- endfor -%}
					</div>
				</div>
				{% endif %}
				<!-- <div class="product_block-add-wireless-charger">
					<input type="checkbox" id="select-charger-mobile" class="product_block-add-wireless-charger-checkbox" checked>
					<label for="select-charger-mobile" class="product_block-add-wireless-charger-title">Add Wireless Charger</label>
					<span class="product_block-add-wireless-charger-price">+ $40</span>
				</div> -->
				<button class="product_block-product-add" id="add">Add to cart</button>
				<!-- <div class="product_block-product-subtitle" style="margin-top: calc(40 * 100vw / 1366);">
					No import tax for international orders
				</div> -->
			</div>
		</div>
	</div>
	<input type="hidden" id="charger-id" value="{{ charger.id }}">				
	<input type="hidden" id="charger-variant-id" value="{{ charger.variants[0].id }}">				
</div>

<script type="text/javascript">
	$(document).ready(function() {
		/*var amount = Number($('#amount').text())
		$('.product_block-product-amount-button-minus').on('click', function() {
			if (amount <= 1) return
			amount -= 1
			$('#amount').text(amount)
		})
		$('.product_block-product-amount-button-plus').on('click', function() {
			amount += 1
			$('#amount').text(amount)
		})*/
		var model_id = null
		selectModel('TT12')
		$('.product_block-product-select-dropdown-select').on('click', function() {
			$(this).parents('.product_block-product-select').find('.product_block-product-select-dropdown').toggle()
		})
		$('.product_block-product-select-dropdown-item').on('click', function() {
			let sku = $(this).data('sku')
			selectModel(sku)
		})
		$(document).click(function(event) { 
			var $target = $(event.target)
			if (!$target.closest('.product_block-product-select').length && 
				!$target.closest('.product_block-product-select-dropdown').length && 
				$('.product_block-product-select-dropdown').is(":visible")) {
				$('.product_block-product-select-dropdown').hide()
			}        
		})
		function selectModel(sku) {
			let model = $(`.product_block-product-select-dropdown-item[data-sku="${sku}"]`).first()
			model_id = model.data('model_id')
			$('.product_block-product-selected').find('.product_block-product-select-value').text(model.text())			
			if (model.data('compare_at_price')) {
				$('.product_block-product-price-old span').text('$' + (model.data('compare_at_price') / 100))
				$('.product_block-product-price-new').text('$' + (model.data('price') / 100))
				$('.product_block-product-price-current').hide()
				$('.product_block-product-price-old').show()
				$('.product_block-product-price-new').show()
			}
			else {
				$('.product_block-product-price-current').text('$' + (model.data('price') / 100))
				$('.product_block-product-price-old').hide()
				$('.product_block-product-price-new').hide()
				$('.product_block-product-price-current').show()
			}
			$('.product_block-product-select').find('.product_block-product-select-dropdown').hide()
		}
		var cart_qty = Number({{ cart.item_count }})
		$('.product_block-product-add').on('click', function() {
			if (model_id) {
				let items = [{
					'id': model_id,
					'quantity': 1
				}]
				let add_items_count = 1
				if ($('.product_block-add-wireless-charger-checkbox').prop('checked') === true) {
					let charger_variant_id = $('#charger-variant-id').val()
					console.log(Number(charger_variant_id))
					items.push({
						'id': Number(charger_variant_id),
						'quantity': 1
					})
					add_items_count++
				}
				console.log(items)
				let formData = {
				 	'items': items
				}
				fetch(window.Shopify.routes.root + 'cart/add.js', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify(formData)
				})
				.then(response => {
					cart_qty = cart_qty + add_items_count
					$('.cart-qty').text(cart_qty)
					$('.cart-link').fadeIn()
					var f = $('.product_block-product-gallery-image')
					var cart_total = $("#cart-animate");
					var clone = $('<div class="cart"></div>').append(f.clone());
					clone.appendTo('body');
					clone.css({
						'z-index': 100500,
						background: '#fff',
						top: f.offset().top,
						left: f.offset().left,
						width: f.width() + 'px',
						height: f.height() + 'px',
						position: 'absolute',
						overflow: 'hidden'
					}).animate({
						top: cart_total.offset().top,
						left: cart_total.offset().left,
						width: cart_total.width() + 'px',
						height: cart_total.height() + 'px',
						// opacity: 0.7
					}, 2000, function () {
						$(this).remove();
					});
					// console.log(response)
				  	// return response.json()
				})
				.catch((error) => {
				  	console.error('Error:', error)
				});
			}
		})
	})
</script>
