<!-- <link rel="stylesheet" href="{{ 'product_block.css' | asset_url }}" media="print" onload="this.media='all'"> -->
<!-- <link rel="stylesheet" href="{{ 'product_block-responsive.css' | asset_url }}" media="print" onload="this.media='all'"> -->
<link rel="stylesheet" href="{{ 'store.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'store-responsive.css' | asset_url }}" media="print" onload="this.media='all'">

{% style %}
	#shopify-product-reviews {
		display: none;
	}
	.store_block {
		padding-top: 100px;
	}
	.store_block-product-title {
		max-width: 420px;
		margin-bottom: 12px;
	}
	@media screen and (min-width: 576px) and (max-width: 1440px) {
		.store_block {
			padding-top: calc(100 * 100vw / 1440);
		}
		.store_block-product-title {
			max-width: calc(420 * 100vw / 1440);
			margin-bottom: calc(12 * 100vw / 1440);
		}
	}
{% endstyle %}

{% assign product = all_products[handle] %}

<div class="store_block">
	<div class="store_block-product" id="shop-now">
		<div class="store_block-product-gallery">
			<div class="store_block-product-gallery-items">
				{% assign counter = 0 %}  
				{% for image in product.images %}
					<div class="store_block-product-gallery-item {% if counter == 0 %}active{% endif %}" data-imgnum="{{ counter }}">
						<img class="store_block-product-gallery-item-image" src="{{ image | img_url: '172x172' }}">
					</div>
					{% assign counter = counter | plus: 1 %}
				{% endfor %}
			</div>
			<div class="store_block-product-gallery-main">
				{% assign counter = 0 %}  
				{% for image in product.images %}
					<img data-imgnum="{{ counter }}" src="{{ image | img_url: '1052x1052' }}">
					{% assign counter = counter | plus: 1 %}
				{% endfor %}
			</div>
		</div>
		<div class="store_block-product-info">
			<div class="store_block-product-info-main">
				<div class="store_block-product-price">  
					<div class="store_block-product-price-new">
						${{ product.price | divided_by: 100 }}
					</div>
					<div class="store_block-product-price-old"></div>
				</div>
				<div class="store_block-product-title">{{ product.title }}</div>
			</div>
			<div class="store_block-product-gallery-mobile">
				<div class="store_block-product-gallery-mobile-nav" data-direction="prev"></div>
				<div class="store_block-product-gallery-main">
					{% assign counter = 0 %}  
					{% for image in product.images %}
						<img draggable="false" data-imgnum="{{ counter }}" src="{{ image | img_url: '1052x1052' }}">
    					{% assign counter = counter | plus: 1 %}
					{% endfor %}
				</div>
				<div class="store_block-product-gallery-mobile-nav" data-direction="next"></div>
				<div class="store_block-product-gallery-mobile-dots">
					{% assign counter = 0 %}  
					{% for image in product.images %}
						<div data-imgnum="{{ counter }}" class="store_block-product-gallery-mobile-dot">
							<img class="store_block-product-gallery-mobile-dot-active" src="{{ 'store-gallery-dot-active.svg' | asset_url }}">
							<img class="store_block-product-gallery-mobile-dot-inactive" src="{{ 'store-gallery-dot-inactive.svg' | asset_url }}">
						</div>
    					{% assign counter = counter | plus: 1 %}
					{% endfor %}					
				</div>
			</div>
			<div>
				<div class="store_block-product-description">{{ product.description }}</div>
				<!-- <div class="store_block-product-select">
					<div class="store_block-product-select-dropdown-select store_block-product-selected">
						<span class="store_block-product-select-value">Select your Tesla model and year</span>
						<div class="store_block-product-select-arrow">
							<img src="{{ 'select_arrow_down.svg' | asset_url }}">
						</div>
					</div>
					<div class="store_block-product-select-dropdown">
						<div class="store_block-product-select-dropdown-select">
							<span class="store_block-product-select-value">Select your Tesla model and year</span>
							<div class="store_block-product-select-arrow">
								<img src="{{ 'select_arrow_up.svg' | asset_url }}">
							</div>
						</div>
						{%- for model in product.variants -%}
							<div 
								class="store_block-product-select-dropdown-item" 
								data-model_id="{{ model.id }}"
								data-sku="{{ model.sku }}" 
								data-price="{{ model.price }}"
								data-compare_at_price="{{ model.compare_at_price }}"
								data-stock="{{ model.inventory_quantity }}"
							>
								<span>{{ model.title }}</span>
								<img src="{{ 'store_model_selected.svg' | asset_url }}">
							</div>
						{%- endfor -%}
					</div>
				</div> -->
				<!-- <div class="store_block-add-wireless-charger">
					<input type="checkbox" id="select-charger" class="store_block-add-wireless-charger-checkbox" checked>
					<label for="select-charger" class="store_block-add-wireless-charger-title">With Additional Wireless Charger</label>
					<span class="store_block-add-wireless-charger-price">+ $40</span>
				</div> -->
				<div class="store_block-product-order">
					<button class="store_block-product-add store_block-product-add-add product_block-product-add">Add to Cart</button>
					<button class="store_block-product-add product_block-product-add" data-redirect="true">Order now</button>
					<button class="store_block-product-add-mobile product_block-product-add" data-redirect="true">
						<div class="store_block-product-add-mobile-text">Order now</div>
						<div class="store_block-product-add-mobile-total">$ {{ product.price | divided_by: 100 }}</div>
					</button>
					<button class="store_block-product-add-mobile store_block-product-add-add product_block-product-add">
						Add to Cart
					</button>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" id="charger-id" value="{{ charger.id }}">				
	<input type="hidden" id="charger-variant-id" value="{{ charger.variants[0].id }}">				
</div>

<!-- <div class="product_block" id="shop-now">
	<div class="block_title product_block-title">{{ product.title }}</div>
	<div class="product_block-product">
		<div class="product_block-product-gallery">
			<div class="product_block-product-gallery-image">
				<img src="{{ product.featured_media | image_url }}">
			</div>
		</div>
		<div class="product_block-product-info">
				<div class="product_block-product-price">${{ product.price | divided_by: 100 }}</div>
				<div class="product_block-product-subtitle">
					{{ product.description }}
				</div>
				{% if product.variants.size > 1 %}
				<div class="product_block-product-select">
					<div class="product_block-product-select-dropdown-select product_block-product-selected">
						<span class="product_block-product-select-value">Select model</span>
						<div class="product_block-product-select-arrow">
							<img src="{{ 'select_arrow.png' | asset_url }}">
						</div>
					</div>
					<div class="product_block-product-select-dropdown">
						<div class="product_block-product-select-dropdown-select">
							<span class="product_block-product-select-value">Select model</span>
							<div class="product_block-product-select-arrow">
								<img src="{{ 'select_arrow.png' | asset_url }}">
							</div>
						</div>
						{%- for model in product.variants -%}
							<div 
								class="product_block-product-select-dropdown-item" 
								data-model_id="{{ model.id }}"
								data-sku="{{ model.sku }}" 
								data-price="{{ model.price }}"
								data-compare_at_price="{{ model.compare_at_price }}"
							>
								{{ model.title }}
							</div>
						{%- endfor -%}
					</div>
				</div>
				{% endif %}
				<button class="product_block-product-add" id="add">Add to cart</button>
		</div>
	</div>								
	<div class="product_block-product-mobile">
		<div class="product_block-product-price">
			${{ product.price | divided_by: 100 }}
		</div>
		<div class="product_block-product-gallery">
			<div class="product_block-product-gallery-image">
				<img src="{{ product.featured_media | image_url }}">
			</div>
		</div>
		<div class="product_block-product-info">
			<div class="product_block-product-subtitle">
				{{ product.description }}
			</div>
			<div class="product_block-product-info-bottom">
				{% if product.variants.size > 1 %}
				<div class="product_block-product-select-text">Select your Tesla model and year:</div>
				<div class="product_block-product-select">
					<div class="product_block-product-select-dropdown-select product_block-product-selected">
						<span class="product_block-product-select-value">Select model</span>
						<div class="product_block-product-select-arrow">
							<img src="{{ 'select_arrow.png' | asset_url }}">
						</div>
					</div>
					<div class="product_block-product-select-dropdown">
						<div class="product_block-product-select-dropdown-select">
							<span class="product_block-product-select-value">Select model</span>
							<div class="product_block-product-select-arrow">
								<img src="{{ 'select_arrow.png' | asset_url }}">
							</div>
						</div>
						{%- for model in product.variants -%}
							<div 
								class="product_block-product-select-dropdown-item"  
								data-model_id="{{ model.id }}"
								data-sku="{{ model.sku }}" 
								data-price="{{ model.price }}"
								data-compare_at_price="{{ model.compare_at_price }}"
							>
								{{ model.title }}
							</div>
						{%- endfor -%}
					</div>
				</div>
				{% endif %}
				<button class="product_block-product-add" id="add">Add to cart</button>
			</div>
		</div>
	</div>
	<input type="hidden" id="charger-id" value="{{ charger.id }}">				
	<input type="hidden" id="charger-variant-id" value="{{ charger.variants[0].id }}">				
</div> -->

<script type="text/javascript">
	$(document).ready(function() {

		var imgnum = 0
		setGalleryImage()
		
		var galleryWrap = document.querySelector('.store_block-product-gallery-mobile')

		var startX, startY, deltaX, deltaY, listing = false

		function handleMouseDown(event) {
			event.preventDefault()
			startX = event.touches ? event.touches[0].clientX : event.clientX
			startY = event.touches ? event.touches[0].clientY : event.clientY
			deltaX = 0
			deltaY = 0
			listing = true
		}

		function handleMouseMove(event) {
		  	// if (listing) {
		  		const clientX = event.touches ? event.touches[0].clientX : event.clientX
		  		const clientY = event.touches ? event.touches[0].clientY : event.clientY
			    deltaX = clientX - startX
			    deltaY = clientY - startY
			    startX = clientX
			    startY = clientY
			    if (Math.abs(deltaX / deltaY) < 1) {
			    	listing = false
	                const scrollTop = $('body').scrollTop()
	                $('body').scrollTop(scrollTop - deltaY)
				}
			// }
		}

		function handleMouseUp() {
		    if (deltaX != 0 && listing) {
				let direction = deltaX > 0 ? 'prev' : 'next'
				handleDirection(direction)
			}
			listing = false
		}

		galleryWrap.addEventListener('mousedown', handleMouseDown)
		galleryWrap.addEventListener('mousemove', handleMouseMove/*, { once: true }*/)
		galleryWrap.addEventListener('mouseup', handleMouseUp/*, { once: true }*/)

		galleryWrap.addEventListener('touchstart', handleMouseDown)
		galleryWrap.addEventListener('touchmove', handleMouseMove/*, { once: true }*/)
		galleryWrap.addEventListener('touchend', handleMouseUp/*, { once: true }*/)

		$('.store_block-product-gallery-item').on('click', function() {
			imgnum = $(this).data('imgnum')
			$('.store_block-product-gallery-item').each(function() {
				$(this).removeClass('active')
			})
			$(this).addClass('active')
			setGalleryImage()
		})

		$('.store_block-product-gallery-mobile-dot').on('click', function() {
			imgnum = $(this).data('imgnum')
			setGalleryImage()
		})

		/*$('.store_block-product-gallery-mobile-nav').on('click', function() {
			let direction = $(this).data('direction')
		})*/

		function handleDirection(direction) {
			console.log(direction)
			if (direction == 'prev') {
				imgnum = imgnum -= 1
				if (imgnum < 0) imgnum = 5
			}
			if (direction == 'next') {
				imgnum = imgnum += 1
				if (imgnum > 5) imgnum = 0
			}
			setGalleryImage()
		}

		function setGalleryImage() {
			$('.store_block-product-gallery-main').find('img').each(function() {
				if ($(this).data('imgnum') == imgnum) $(this).show()
				else $(this).hide()
			})
			$('.store_block-product-gallery-mobile-dot').each(function() {
				if ($(this).data('imgnum') == imgnum) {
					$(this).find('.store_block-product-gallery-mobile-dot-active').show()
					$(this).find('.store_block-product-gallery-mobile-dot-inactive').hide()
				}
				else {
					$(this).find('.store_block-product-gallery-mobile-dot-active').hide()
					$(this).find('.store_block-product-gallery-mobile-dot-inactive').show()
				}
			})
		}

		/*var amount = Number($('#amount').text())
		$('.product_block-product-amount-button-minus').on('click', function() {
			if (amount <= 1) return
			amount -= 1
			$('#amount').text(amount)
		})
		$('.product_block-product-amount-button-plus').on('click', function() {
			amount += 1
			$('#amount').text(amount)
		})*/
		var model_id = null
		var models_ids = [];
		{%- for model in product.variants -%}
			models_ids.push({{ model.id }});
		{%- endfor -%}
		console.log('models_ids', models_ids)
		if (models_ids.length == 1) {
			model_id = models_ids[0]
		}
		else if (models_ids.length > 1) {
			// selectModel('TT12')
		}
		// selectModel('TT12')
		$('.product_block-product-select-dropdown-select').on('click', function() {
			let dropdown = $(this).parents('.product_block-product-select').find('.product_block-product-select-dropdown')
			if ($(dropdown).is(':visible')) {
				$(dropdown).css('display', 'none')
			}
			else {
				$(dropdown).css('display', 'flex')
			}
			// $(this).parents('.product_block-product-select').find('.product_block-product-select-dropdown').toggle()
		})
		$('.product_block-product-select-dropdown-item').on('click', function() {
			let sku = $(this).data('sku')
			selectModel(sku)
		})
		$(document).click(function(event) { 
			var $target = $(event.target)
			if (!$target.closest('.product_block-product-select').length && 
				!$target.closest('.product_block-product-select-dropdown').length && 
				$('.product_block-product-select-dropdown').is(":visible")) {
				$('.product_block-product-select-dropdown').hide()
			}        
		})
		function selectModel(sku) {
			let model = $(`.product_block-product-select-dropdown-item[data-sku="${sku}"]`).first()
			model_id = model.data('model_id')
			$('.product_block-product-selected').find('.product_block-product-select-value').text(model.text())			
			if (model.data('compare_at_price')) {
				$('.product_block-product-price-old span').text('$' + (model.data('compare_at_price') / 100))
				$('.product_block-product-price-new').text('$' + (model.data('price') / 100))
				$('.product_block-product-price-current').hide()
				$('.product_block-product-price-old').show()
				$('.product_block-product-price-new').show()
			}
			else {
				$('.product_block-product-price-current').text('$' + (model.data('price') / 100))
				$('.product_block-product-price-old').hide()
				$('.product_block-product-price-new').hide()
				$('.product_block-product-price-current').show()
			}
			$('.product_block-product-select').find('.product_block-product-select-dropdown').hide()
		}
		var cart_qty = Number({{ cart.item_count }})
		$('.product_block-product-add').on('click', function() {
			const isRedirect = Boolean($(this).data('redirect'))
			let items
			if (model_id) {
				items = [{
					'id': model_id,
					'quantity': 1
				}]
			}
			else if (product_id) {
				items = [{
					'id': product_id,
					'quantity': 1
				}]
			}
				let add_items_count = 1
				if ($('.product_block-add-wireless-charger-checkbox').prop('checked') === true) {
					let charger_variant_id = $('#charger-variant-id').val()
					console.log(Number(charger_variant_id))
					items.push({
						'id': Number(charger_variant_id),
						'quantity': 1
					})
					add_items_count++
				}
				console.log(items)
				let formData = {
				 	'items': items
				}
				fetch(window.Shopify.routes.root + 'cart/add.js', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify(formData)
				})
				.then(response => {
					/*cart_qty = cart_qty + add_items_count
					$('.cart-qty').text(cart_qty)
					$('.cart-link').fadeIn()
					var f = $('.product_block-product-gallery-image')
					var cart_total = $("#cart-animate");
					var clone = $('<div class="cart"></div>').append(f.clone());
					clone.appendTo('body');
					clone.css({
						'z-index': 100500,
						background: '#fff',
						top: f.offset().top,
						left: f.offset().left,
						width: f.width() + 'px',
						height: f.height() + 'px',
						position: 'absolute',
						overflow: 'hidden'
					}).animate({
						top: cart_total.offset().top,
						left: cart_total.offset().left,
						width: cart_total.width() + 'px',
						height: cart_total.height() + 'px',
						// opacity: 0.7
					}, 2000, function () {
						$(this).remove();
					});
					$('.menu__item-cart').show();*/
					// console.log(response)
				  	// return response.json()

				  	if (isRedirect) {
				  		window.location.href = '/cart'
				  	}
				  	else {
				  		window.location.reload(true)
				  	}
				})
				.catch((error) => {
				  	console.error('Error:', error)
				});
			// }
		})
	})
</script>
