<link rel="stylesheet" type="text/css" href="{{ 'reviews.css' | asset_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'reviews-responsive.css' | asset_url }}">

{% style %}	
.reviews {
/*	background: url({{ 'reviews_bg.png' | asset_url }}), -666.816px -1673.512px / 296.268% 182.468% no-repeat, linear-gradient(180deg, #403CF7 -7.9%, #403CF7 129.81%);*/
	background: url({{ 'reviews_bg_x2.png' | asset_url }}), linear-gradient(180deg, #403CF7 -7.9%, #403CF7 129.81%);
	background-size: cover;
	background-position: center;
}
.spr-form-review-rating .spr-icon-star::before {
	content: url({{ 'star-form-blue.svg' | asset_url }});
}
.spr-form-review-rating .spr-icon-star-empty::before {
	content: url({{ 'star-form-grey.svg' | asset_url }});
}
.spr-form-review-rating .spr-icon-star-hover::before {
	content: url({{ 'star-form-blue.svg' | asset_url }});
}
{% endstyle %}

<!-- <div id="multipleReviews"></div> -->
<div id="reviewsWrap" class="reviews">
	<div class="reviews-wrap">
		<div class="reviews-top">
			<div class="reviews-top-left">
				<div class="reviews-top-supinfo">
					<div class="reviews-top-supinfo-stars" id="totalRatingStars"></div>
					<div class="reviews-top-supinfo-text">Teslogic Reviews</div>					
				</div>
				<div class="reviews-title">
					Positive feedback from clients — <br>
					one of our main tasks
				</div>
			</div>
			<div class="reviews-top-right">
				<div class="reviews-rating-overall-data">
					<div class="reviews-rating-overall-title">Overall rating</div>
					<div id="totalRatingValue" class="reviews-rating-overall-data-value"></div>
					<div id="totalReviewsCount" class="reviews-rating-stats-total"></div>
				</div>
				<div class="reviews-rating-overall-data-star">
					<img src="{{ 'star.svg' | asset_url }}" />
				</div>
			</div>			
		</div>
		<div class="reviews-list-wrap">
			<div class="reviews-list" id="multipleReviews"></div>
			<div class="reviews-list-scrollbar">
				<div class="reviews-list-scrollbar-thumb"></div>
			</div>
		</div>
		<div class="reviews-bottom">
			<div class="reviews-bottom-text">
				Already own Teslogic?
			</div>
			<button id="showForm">Write a review</button>
		</div>
	</div>
</div>

<div class="reviews-form-shadow">
	<div id="reviewsFormWrap" class="reviews-form-wrap">
		<img class="reviews-form-close" src="{{ 'close-review-form.svg' | asset_url }}">
		<form class="reviews-form">
			
		</form>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		const api_token = 'IqnbRUjhGpWyJhj71QgpiETJNjI'
		const shop_domain = 'teslogic.myshopify.com'
		const getReviewsUrl = `https://judge.me/api/v1/reviews?api_token=${api_token}&shop_domain=${shop_domain}`
		console.log(getReviewsUrl)
		/*$.get(getReviewsUrl).then((response) => {
			console.log(response)
		})*/
		$.ajax({
		    url: "https://judge.me/api/v1/reviews",
		    dataType: "json", // Вказуємо тип запиту
		    data: {
		        api_token: api_token,
		        shop_domain: shop_domain
		    },
		    success: function(response) {
		        console.log(response);
		    },
		    error: function(xhr, status, error) {
		        console.error("Error:", error);
		    }
		});
	})
</script>