<link rel="stylesheet" type="text/css" href="{{ 'reviews.css' | asset_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'reviews-responsive.css' | asset_url }}">

{% style %}	
.reviews {
/*	background: url({{ 'reviews_bg.png' | asset_url }}), -666.816px -1673.512px / 296.268% 182.468% no-repeat, linear-gradient(180deg, #403CF7 -7.9%, #403CF7 129.81%);*/
	background: url({{ 'reviews_bg_x2.png' | asset_url }}), linear-gradient(180deg, #403CF7 -7.9%, #403CF7 129.81%);
	background-size: cover;
	background-position: center;
}
.spr-form-review-rating .spr-icon-star::before {
	content: url({{ 'star-form-blue.svg' | asset_url }});
}
.spr-form-review-rating .spr-icon-star-empty::before {
	content: url({{ 'star-form-grey.svg' | asset_url }});
}
.spr-form-review-rating .spr-icon-star-hover::before {
	content: url({{ 'star-form-blue.svg' | asset_url }});
}
{% endstyle %}

<!-- <div id="multipleReviews"></div> -->
<div id="reviewsWrap" class="reviews">
	<div class="reviews-wrap">
		<div class="reviews-top">
			<div class="reviews-top-left">
				<div class="reviews-top-supinfo">
					<div class="reviews-top-supinfo-stars" id="totalRatingStars"></div>
					<div class="reviews-top-supinfo-text">Teslogic Reviews</div>					
				</div>
				<div class="reviews-title">
					Positive feedback from clients — <br>
					one of our main tasks
				</div>
			</div>
			<div class="reviews-top-right">
				<div class="reviews-rating-overall-data">
					<div class="reviews-rating-overall-title">Overall rating</div>
					<div id="totalRatingValue" class="reviews-rating-overall-data-value"></div>
					<div id="totalReviewsCount" class="reviews-rating-stats-total"></div>
				</div>
				<div class="reviews-rating-overall-data-star">
					<img src="{{ 'star.svg' | asset_url }}" />
				</div>
			</div>			
		</div>
		<div class="reviews-list-wrap">
			<div class="reviews-list" id="multipleReviews"></div>
			<div class="reviews-list-scrollbar">
				<div class="reviews-list-scrollbar-thumb"></div>
			</div>
		</div>
		<div class="reviews-bottom">
			<div class="reviews-bottom-text">
				Already own Teslogic?
			</div>
			<button id="showForm">Write a review</button>
		</div>
	</div>
</div>

<div class="reviews-form-shadow">
	<div id="reviewsFormWrap" class="reviews-form-wrap">
		<img class="reviews-form-close" src="{{ 'close-review-form.svg' | asset_url }}">
		<form class="reviews-form">
			
		</form>
	</div>
</div>

<script type="text/javascript">
	var starMobile = '{{ 'star-mobile.svg' | asset_url }}';
	var formLoaded = false;
	$(document).ready(async function() {
		const getReviewsUrl = 'https://api.teslogic.co/get-reviews'
		const sendReviewUrl = 'https://api.teslogic.co/send-review'
		// console.log(getReviewsUrl)
		var reviews = await fetch(getReviewsUrl)
		 	.then(response => response.json())
		 	.then(result => {
				return result.success ? result.data.reviews : []
			})
		 console.log('reviews', reviews)
		let i = 1
		for (const review of reviews) {
			const reviewDate = new Date(review.created_at)
			const formattedDate = reviewDate.toLocaleDateString('en-US', { month: 'short', day: '2-digit', year: 'numeric' })
			let starsHtml = ''
			for (let s = 1; s <= 5; s++) {
				if (s <= review.rating) starsHtml += '<i class="spr-icon spr-icon-star" aria-hidden="true"></i>'
				else starsHtml += '<i class="spr-icon spr-icon-star-empty" aria-hidden="true"></i>'
			}
	        const reviewHtml = `
	        	<div class="reviews-list-item product-review" id="review-${i}">
	        		<div class="reviews-list-item-top">
		        		<div class="reviews-list-item-top-left">
		        			<div class="reviews-list-item-author">${review.reviewer.name}</div>
		        			<div class="reviews-list-item-stars product-review-stars">${starsHtml}</div>
		        			<div class="reviews-list-item-stars-mobile product-review-stars">
		        				<img class="reviews-list-item-stars-mobile-icon" src="${starMobile}" />
		        				<div class="reviews-list-item-stars-mobile-value">${review.rating}</div>
		        			</div>
		        		</div>
	        			<div class="reviews-list-item-date">${formattedDate}</div>
	        		</div>
	        		<div class="reviews-list-item-text product-review-text">${review.body}</div>
	        		<div class="reviews-list-item-expand"><img src="{{ 'reviews-expand.svg' | asset_url }}"></div>
	        	</div>
	        `
	        document.getElementById('multipleReviews').insertAdjacentHTML('beforeend', reviewHtml)
	        i++
		}

      	var reviewsContainer = document.getElementById('multipleReviews');
		var reviewItems = document.querySelectorAll('.reviews-list-item');

		var column1Height = 0;
		var column2Height = 0;
		var rowGap = 24;
		var paddingBottom = 76;
		var maxMobileItemHeight = 440;

		reviewItems.forEach(function(item, index) {
		  var itemHeight = item.offsetHeight;
		  if (window.innerWidth < 575 && itemHeight >= maxMobileItemHeight) {
		  	let itemText = item.querySelector('.reviews-list-item-text');
				itemText.style.background = 'linear-gradient(180deg, #666 73.8%, rgba(102, 102, 102, 0.00) 100%)';
				itemText.style.backgroundClip = 'text';
				itemText.style.webkitBackgroundClip = 'text';
				itemText.style.webkitTextFillColor = 'transparent';
				item.setAttribute('data-collapsed', 'true');
				item.querySelector('.reviews-list-item-expand').style.display = 'block';
		  }
		  else {
				item.querySelector('.reviews-list-item-expand').style.display = 'none';
		  }

		  if (column1Height <= column2Height) {
		    column1Height += itemHeight + rowGap;
		  } else {
		    column2Height += itemHeight + rowGap;
		  }
		});

		reviewsContainerHeight = (Math.max(column1Height, column2Height) - 2 * rowGap + paddingBottom) + 'px'

		if (window.innerWidth >= 575) {
			reviewsContainer.style.height = reviewsContainerHeight;
		}

		if (!formLoaded) {
			$('#reviewsFormWrap')
				.find('form')
				.addClass('new-review-form')
				.attr('id', 'new-review-form_8143253733590')
				// .attr('method', 'post')
				// .attr('action', '//productreviews.shopifycdn.com/api/reviews/create')
				// .attr('onsubmit', 'submitForm(this)')

			let formHtml = `						
		        <input type="hidden" name="review[rating]">
		        <input type="hidden" name="product_id" value="8143253733590">
		        <input id="review_title_8143253733590" class="review-form-title" type="hidden" name="review[title]" value="">

		        <div class="reviews-form-top">
		    		<h3 class="spr-form-title">Write a review</h3>
		    		<div class="reviews-form-field spr-form-review-rating">
		    			<div class="spr-form-review-rating-title">Rate:</div>
		    			<div>
				          	<a href="#" onclick="SPR.setRating(this);return false;" class="spr-icon spr-icon-star spr-icon-star-empty" data-value="1" aria-label="1 of 5 stars">&nbsp;</a>
				          	<a href="#" onclick="SPR.setRating(this);return false;" class="spr-icon spr-icon-star spr-icon-star-empty" data-value="2" aria-label="2 of 5 stars">&nbsp;</a>
				          	<a href="#" onclick="SPR.setRating(this);return false;" class="spr-icon spr-icon-star spr-icon-star-empty" data-value="3" aria-label="3 of 5 stars">&nbsp;</a>
				          	<a href="#" onclick="SPR.setRating(this);return false;" class="spr-icon spr-icon-star spr-icon-star-empty" data-value="4" aria-label="4 of 5 stars">&nbsp;</a>
				          	<a href="#" onclick="SPR.setRating(this);return false;" class="spr-icon spr-icon-star spr-icon-star-empty" data-value="5" aria-label="5 of 5 stars">&nbsp;</a>
				        </div>
		        	</div>
		        </div>

		        <div class="reviews-form-body">
		        	<div class="reviews-form-field spr-form-contact-name">	        		
          				<label class="spr-form-label" for="review_author_8143253733590">Name</label>
          				<input class="spr-form-input spr-form-input-text " id="review_author_8143253733590" type="text" name="review[author]" value="" placeholder="Enter your name">
        
	        			<div class="reviews-form-field-error">Please, fill in the field</div>
	        		</div>

	        		<div class="reviews-form-field spr-form-contact-email">        			
          				<label class="spr-form-label" for="review_email_8143253733590">Email</label>
          				<input class="spr-form-input spr-form-input-email " id="review_email_8143253733590" type="email" name="review[email]" value="" placeholder="john.smith@example.com">
        
	        			<div class="reviews-form-field-error">Please, fill in the field</div>
	        		</div>

	        		<div class="reviews-form-field spr-form-review-body">	        		
        				<label class="spr-form-label" for="review_body_8143253733590">Review</label>
				        <div class="spr-form-input">
				          	<textarea class="spr-form-input spr-form-input-textarea " id="review_body_8143253733590" data-product-id="8143253733590" name="review[body]" rows="10" placeholder="Write your comments here"></textarea>
				        </div>
      
	        			<div class="reviews-form-field-error">Please, fill in the field</div>
	        		</div>
		        </div>

		        <div class="reviews-form-actions">
		        	<button type="button" id="send-feedback" class="spr-button spr-button-primary button button-primary btn btn-primary">Send feedback</button>
		        </div>
			`
			$('#reviewsFormWrap').find('form').html(formHtml)
			// $('#reviewsFormWrap').find('form').find('.spr-form-review-body').find('.spr-form-label').text('Review')
			// $('#reviewsFormWrap').find('form').find('.reviews-form-actions').find('.spr-button').val('Send feedback')
			formLoaded = true
		}

		$('#showForm').on('click', function() {
			$('.new-review-form').css('display', 'block')
			$('.reviews-form-shadow').css('display', 'flex')
		})
		$('.reviews-form-close').on('click', function() {
			$('.reviews-form-shadow').css('display', 'none')
		})

		$(document).on('click', '.spr-form-review-rating a.spr-icon-star', function(e) {
			window.newReviewRating = $(this).data('value')
		})

		$(document).on('click', '#send-feedback', function(e) {
			e.preventDefault()
			console.log('Submit!')
			console.log(window.newReviewRating)
			const form = $('#reviewsFormWrap').find('form')
			const product_id = $(form).find('input[name="product_id"]').val()
			console.log(product_id)
			const name = $(`#review_author_${product_id}`).val()
			console.log(name)
			if (!name) {
				$(form).find('.spr-form-contact-name').find('.reviews-form-field-error').show()
			}

	        /*const response = await fetch(sendReviewUrl, {
	            method: 'post',
	            body,
	            headers: {'Content-Type': 'application/json'}
	        })
	        const data = await response.json()
	        console.log(response.status)
	        console.log(data)*/
		})
	})
</script>