<link rel="stylesheet" type="text/css" href="{{ 'reviews.css' | asset_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'reviews-responsive.css' | asset_url }}">

<!-- <div id="multipleReviews"></div> -->
<div id="reviewsWrap" class="reviews">
	<div class="block_title reviews-title">Reviews</div>
	<div class="reviews-data">
		<div class="reviews-data-left">
			<div class="reviews-rating">
				<div class="reviews-rating-overall">
					<div class="reviews-rating-overall-title">Overall rating</div>
					<div class="reviews-rating-overall-data">
						<div id="totalRatingValue" class="reviews-rating-overall-data-value"></div>
						<div id="totalRatingStars" class="reviews-rating-overall-data-stars"></div>						
					</div>					
				</div>
				<div class="reviews-rating-stats">
					<div id="totalReviewsCount" class="reviews-rating-stats-total"></div>
					<div id="reviewsMarks" class="reviews-rating-stats-marks"></div>
				</div>
			</div>
			<div class="reviews-write">
				<button id="showForm">Write a review</button>
			</div>
		</div>
		<div class="reviews-data-right">
			<div id="multipleReviews" class="reviews-list"></div>
			<div id="pagination" class="spr-pagination reviews-pagination"></div>
			<div id="viewAll" class="reviews-expand">
				<a class="reviews-expand-text">View all reviews</a>
				<img class="reviews-expand-icon" src="{{ 'chevron-down-blue.svg' | asset_url }}">
			</div>
			<div id="showLess" class="reviews-expand">
				<a class="reviews-expand-text">Less reviews</a>
				<img class="reviews-expand-icon reviews-expand-icon-reverted" src="{{ 'chevron-down-blue.svg' | asset_url }}">
			</div>
		</div>
	</div>
</div>

<div class="reviews-form-shadow">
	<div id="reviewsFormWrap" class="reviews-form-wrap">
		<img class="reviews-form-close" src="{{ 'close-grey.png' | asset_url }}">
		<form class="reviews-form">
			
		</form>
	</div>
</div>

{% assign product1 = all_products['teslogic-transmitter-kit'] %}
{% assign product2 = all_products['teslogic-transmitter-kit-v2'] %}
<script>
(function() {
  window.reviewApp = window.reviewApp || {
    debug: false,
    reviews: [],
    reviewUrl: 'https://productreviews.shopifycdn.com/proxy/v4/reviews/',
    reviewStore: {{ shop.permanent_domain | json }},
    /* or hard code the myshopify url - eg: freakdesign.myshopify.com */
  };
  window.reviewApp.translations = {
    'missing_id': 'Product ID array not defined',
    'script_exists': 'The script has already been loaded on the page'
  };
  window.reviewApp.productIdList = [ {{- product1.id -}}, {{ product2.id }} ];
  reviewApp.errLog = function(t) {
    if (!reviewApp.debug) return
    console.warn(reviewApp.translations[t])
  };
  var getBadges = function(a) {
    if (typeof a === 'undefined') {
      errLog('missing_id');
      return
    }
    if (!!document.getElementById('reviewBadges')) {
      errLog('script_exists');
      return
    }
    window.badgesLoaded = function(a) {
      console.log(a);
    };
    var idString = [];
    for (var i = a.length - 1; i >= 0; i--) {
      idString.push('&product_ids[]=' + a[i]);
    };
    var script = document.createElement("script");
    script.id = "reviewBadges";
    script.async = true;
    script.src = [window.reviewApp.reviewUrl, 'badges?callback=badgesLoaded&shop=', window.reviewApp.reviewStore, idString.join('')].join('');
    document.body.appendChild(script);
  };
  window.reviewLoaded = function(a) {
    window.reviewApp.reviews.push(a);
    if (window.reviewApp.productIdList.length) {
      reviewApp.getReviews(window.reviewApp.productIdList);
      return;
    };
		var formLoaded = false
    for (var i = window.reviewApp.reviews.length - 1; i >= 0; i--) {
      var tmpDiv = document.createElement('div');
      tmpDiv.innerHTML = window.reviewApp.reviews[i].reviews;
      var reviewText = tmpDiv.querySelectorAll('.spr-review-content');
      var reviewer = tmpDiv.querySelectorAll('.spr-review-header-byline');
      var title = tmpDiv.querySelectorAll('.spr-review-header-title');
      var rating = tmpDiv.querySelectorAll('.spr-starratings');
      // console.log(window.reviewApp.reviews[i].reviews, reviewText.length);
      for (var _i = reviewText.length - 1; _i >= 0; _i--) {
        /*var divHtml = '';
        divHtml += ['<div class="product-review"><span class="product-review-title">', title[_i].innerText, '</span><span class="product-review-text">', reviewText[_i].innerText, '</span><span class="product-review-stars">', rating[_i].innerHTML, '</span><span class="product-review-reviewer">', reviewer[_i].innerText, '</span></div>'].join('');*/
        let reviewerArray = reviewer[_i].innerText.split('on')
        let reviewAuthor = reviewerArray[0].trim()
        let reviewDate = reviewerArray[1].trim()
        let reviewHtml = `
        	<div class="reviews-list-item product-review">
        		<div class="reviews-list-item-top">
        			<div class="reviews-list-item-stars product-review-stars">${rating[_i].innerHTML}</div>
        			<div class="reviews-list-item-date">${reviewDate}</div>
        		</div>
        		<div class="reviews-list-item-text product-review-text">${reviewText[_i].innerText}</div>
        		<div class="reviews-list-item-bottom">
        			<div class="reviews-list-item-author">${reviewAuthor}</div>
        		</div>
        	</div>
        `
        document.getElementById('multipleReviews').insertAdjacentHTML('beforeend', reviewHtml);
      };

      console.log(window.reviewApp.reviews[i].product);
      var tmpFormDiv = document.createElement('div');
      tmpFormDiv.innerHTML = window.reviewApp.reviews[i].product;
      console.log($(tmpFormDiv).html())
				let form = $(tmpFormDiv).find('.spr-form')
			
      console.log(form)
      console.log(form.html())
      console.log(formLoaded)
				if (!formLoaded) {
					// document.getElementById('reviewsFormWrap').insertAdjacentHTML('beforeend', form.html())
					$('#reviewsFormWrap')
						.find('form')
						.addClass('new-review-form')
						.attr('id', 'new-review-form_8143253733590')
						.attr('method', 'post')
						.attr('action', '//productreviews.shopifycdn.com/api/reviews/create')
						.attr('onsubmit', 'SPR.submitForm(this);return false;')
					let formHtml = `						
		        <input type="hidden" name="review[rating]">
		        <input type="hidden" name="product_id" value="8143253733590">
		        <input id="review_title_8143253733590" class="review-form-title" type="hidden" name="review[title]" value="">
		        <h3 class="spr-form-title">Write a review</h3>
		        <div class="reviews-form-body">
		        	<div class="reviews-form-column">
			        	<div class="reviews-form-field spr-form-contact-name">
			        		${$(form).find('.spr-form-contact-name').html()}
			        	</div>
		        		<div class="reviews-form-field spr-form-contact-email">
		        			${$(form).find('.spr-form-contact-email').html()}
			        	</div>
		        		<div class="reviews-form-field spr-form-review-rating">
		        			${$(form).find('.spr-form-review-rating').html()}
			        	</div>
		        	</div>
		        	<div class="reviews-form-column">
			        	<div class="reviews-form-field spr-form-review-body">
			        		${$(form).find('.spr-form-review-body').html()}
			        	</div>
		        	</div>
		        </div>
		        <div class="reviews-form-actions">
		        	${$(form).find('.spr-form-actions').html()}
		        </div>
					`
					$('#reviewsFormWrap').find('form').html(formHtml)
					$('#reviewsFormWrap').find('form').find('.spr-form-review-body').find('.spr-form-label').text('Review')
					$('#reviewsFormWrap').find('form').find('.reviews-form-actions').find('.spr-button').val('Submit')
					formLoaded = true
				}
    };
  };
  window.reviewApp.getReviews = function(a) {
    if (typeof a === 'undefined') {
      errLog('missing_id');
      return
    }
    var productId = a.shift();
    var script = document.createElement("script");
    if (document.getElementById('singleReviewData')) {
      document.getElementById('singleReviewData').remove(); /* cleanup (optional) */
    }
    script.id = 'singleReviewData';
    script.async = true;
    script.src = [window.reviewApp.reviewUrl, 'product?callback=reviewLoaded&shop=', window.reviewApp.reviewStore, '&product_id=', productId].join('');
    document.body.appendChild(script);
  };
  reviewApp.getReviews(window.reviewApp.productIdList);
})();
</script>
