<link rel="stylesheet" type="text/css" href="{{ 'reviews.css' | asset_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'reviews-responsive.css' | asset_url }}">

{% assign product = all_products['amber-tails-light-adapter'] %}

<div class="reviews">
	<div class="block_title reviews-title">Reviews</div>
	<div class="reviews-data">
		<div class="reviews-data-left">
			<div class="reviews-rating">
				<div class="reviews-rating-overall">
					<div class="reviews-rating-overall-title">Overall rating</div>
					<div class="reviews-rating-overall-data">
						<div id="totalRatingValue" class="reviews-rating-overall-data-value"></div>
						<div id="totalRatingStars" class="reviews-rating-overall-data-stars"></div>						
					</div>					
				</div>
				<div class="reviews-rating-stats">
					<div id="totalReviewsCount" class="reviews-rating-stats-total"></div>
					<div class="reviews-rating-stats-marks"></div>
				</div>
			</div>
		</div>
		<div class="reviews-data-right">
			<div id="multipleReviews" class="reviews-list"></div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		console.log({{ product | json }})
		console.log({{ product.id }})
	    window.reviewApp = window.reviewApp ||
	    {
	        debug: false,
	        reviews: [],
	        reviewUrl: 'https://productreviews.shopifycdn.com/proxy/v4/reviews/',
	        reviewStore:
	        {{ shop.permanent_domain | json }},
	        /* or hard code the myshopify url - eg: freakdesign.myshopify.com */
	    };
    	window.reviewApp.productIdList = [{{ product.id }}]
	    window.reviewLoaded = function(a)
	    {
	        window.reviewApp.reviews.push(a);
	        if (window.reviewApp.productIdList.length)
	        {
	            reviewApp.getReviews(window.reviewApp.productIdList);
	            return;
	        };
	        let ratingMarks = { mark5: 0, mark4: 0, mark3: 0, mark2: 0, mark1: 0 };
	        for (var i = window.reviewApp.reviews.length - 1; i >= 0; i--) {

	        	let sumDiv = document.createElement('div');
	            sumDiv.innerHTML = window.reviewApp.reviews[i].product;
	        	let summaryRating = sumDiv.querySelector('span.spr-summary-starrating');
	            let averageMark = summaryRating.getAttribute('aria-label').split(' ')[0];
	            document.getElementById('totalRatingValue').innerText = averageMark;
	            document.getElementById('totalRatingStars').insertAdjacentHTML('beforeend', summaryRating.innerHTML);

	            var tmpDiv = document.createElement('div');
	            tmpDiv.innerHTML = window.reviewApp.reviews[i].reviews;
	            var reviewText = tmpDiv.querySelectorAll('.spr-review-content');
	            var reviewer = tmpDiv.querySelectorAll('.spr-review-header-byline');
	            var title = tmpDiv.querySelectorAll('.spr-review-header-title');
	            var rating = tmpDiv.querySelectorAll('.spr-starratings');

	            console.log(window.reviewApp.reviews[i].reviews, reviewText.length);
	            document.getElementById('totalReviewsCount').insertAdjacentHTML('beforeend', `${reviewText.length} reviews`);

	            for (var _i = reviewText.length - 1; _i >= 0; _i--)
	            {
		            let ratingMark = rating[_i].getAttribute('aria-label').split(' ')[0];
		            console.log('ratingMark')
		            console.log(ratingMark)
		            ratingMarks[`mark${ratingMark}`]++;
	                let divHtml = `
	                	<div class="product-review">
	                		<div class="product-review-title">${title[_i].innerText}</div>
	                		<div class="product-review-text">${reviewText[_i].innerText}</div>
	                		<div class="product-review-stars">${rating[_i].innerHTML}</div>
	                		<div class="product-review-reviewer">${reviewer[_i].innerText}</div>
	                	</div>
	                `;
	                /*var divHtml = '';
	                divHtml += ['<div class="product-review"><span class="product-review-title">', title[_i].innerText, '</span><span class="product-review-text">', reviewText[_i].innerText, '</span><span class="product-review-stars">', rating[_i].innerHTML, '</span><span class="product-review-reviewer">', reviewer[_i].innerText, '</span></div>'].join('');*/
	                document.getElementById('multipleReviews').insertAdjacentHTML('beforeend', divHtml);
	            };
	            console.log('ratingMarks')
	            console.log(ratingMarks)
	            let marksDiv = document.createElement('div');
	            let marksHtml = '';
	            for (let m = 5; m >= 1; m--) {
	            	marksHtml += `
	            		<div class="reviews-rating-stats-mark">
	            			<div class="reviews-rating-stats-mark-value">${m}</div>
	            			<div class="reviews-rating-stats-mark-count">${ratingMarks[`mark${m}`]}</div>
	            		</div>
	            	`;
	            }
	        };
	    };
	    window.reviewApp.getReviews = function(a)
	    {
	        if (typeof a === 'undefined')
	        {
	            errLog('missing_id');
	            return
	        }
	        var productId = a.shift();
	        var script = document.createElement("script");
	        if (document.getElementById('singleReviewData'))
	        {
	            document.getElementById('singleReviewData').remove(); /* cleanup (optional) */
	        }
	        script.id = 'singleReviewData';
	        script.async = true;
	        script.src = [window.reviewApp.reviewUrl, 'product?callback=reviewLoaded&shop=', window.reviewApp.reviewStore, '&product_id=', productId].join('');
	        document.body.appendChild(script);
	    };
	    reviewApp.getReviews(window.reviewApp.productIdList);
	    console.log(window.reviewApp)
	})
</script>
