<link rel="stylesheet" href="{{ 'screens.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'screens-responsive.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'pointers.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'pointers-responsive.css' | asset_url }}" media="print" onload="this.media='all'">

{% style %}
	.screens.light {
		background: #F6F6F6;
	}
	.screens.light .screens__bg {
		background: url({{ 'screens-bg-light.png' | asset_url}}) 50% / cover no-repeat;
	}
	.screens.dark {
		background: #090909;
	}
	.screens.dark .screens__bg {
		background: url({{ 'screens-bg-dark.png' | asset_url}}) 50% / cover no-repeat;
	}
{% endstyle %}

<div class="screens" id="screens">
	<div class="screens__bg"></div>
	<div class="screens__wrap">
		<div class="screens__top">
			<div class="screens__top-title">
				<div class="screens__top-title-primary">Switch between five screens</div>
				<div class="screens__top-title-secondary">and explore your car with Teslogic</div>
			</div>
			<div class="screens__top-switcher">
				<div class="screens__top-switcher-item active" data-mode="light">Light</div>
				<div class="screens__top-switcher-item" data-mode="dark">Dark</div>				
			</div>
		</div>
		<div class="screens__features">
    		<div class="screens__features-block" data-type="dashboard">
	    		<div class="screens__features-image-wrap">
	    			<img class="screens__features-image light" src="{{ '1-desktop-light.png' | asset_url }}" srcset="{{ '1-retina-light.png' | asset_url }} 2x" loading="lazy">
	          		<img class="screens__features-image dark" src="{{ '1-desktop-dark.png' | asset_url }}" srcset="{{ '1-retina-dark.png' | asset_url }} 2x" loading="lazy">
	    		</div>
		        <div class="pointer pointer-top pointer-left pointer-dashboard-top-left">
		          <div class="pointer-wrap">
		            <div class="pointer-legend">
		              	Recognizable autopilot,<br>cruise and speed limit indicators
		            </div>
		            <img class="pointer-line light" src="{{ 'pointer-dashboard-top-left-light.svg' | asset_url }}">
		            <img class="pointer-icon light" src="{{ 'icon-dashboard-top-left-light.svg' | asset_url }}">
		            <img class="pointer-point light" src="{{ 'point-light.svg' | asset_url }}">
		            <img class="pointer-line dark" src="{{ 'pointer-dashboard-top-left-dark.svg' | asset_url }}">
		            <img class="pointer-icon dark" src="{{ 'icon-dashboard-top-left-dark.svg' | asset_url }}">
		            <img class="pointer-point dark" src="{{ 'point-dark.svg' | asset_url }}">
		          </div>
		        </div>
		        <div class="pointer pointer-top pointer-right pointer-dashboard-top-right">
		          <div class="pointer-wrap">
		            <div class="pointer-legend">
		            	Monitor your<br>Tesla battery status
		            </div>
		            <img class="pointer-line light" src="{{ 'pointer-dashboard-top-right-light.svg' | asset_url }}">
		            <img class="pointer-icon light" src="{{ 'icon-dashboard-top-right-light.svg' | asset_url }}">
		            <img class="pointer-point light" src="{{ 'point-light.svg' | asset_url }}">
		            <img class="pointer-line dark" src="{{ 'pointer-dashboard-top-right-dark.svg' | asset_url }}">
		            <img class="pointer-icon dark" src="{{ 'icon-dashboard-top-right-dark.svg' | asset_url }}">
		            <img class="pointer-point dark" src="{{ 'point-dark.svg' | asset_url }}">
		          </div>
		        </div>
		        <div class="pointer pointer-bottom pointer-left pointer-dashboard-bottom-left">
		          <div class="pointer-wrap">
		            <div class="pointer-legend">
		              	Miles saved by regeneration<br>and current energy consumption
		            </div>
		            <img class="pointer-line light" src="{{ 'pointer-dashboard-bottom-left-light.svg' | asset_url }}">
		            <img class="pointer-icon light" src="{{ 'icon-dashboard-bottom-left-light.svg' | asset_url }}">
		            <img class="pointer-point light" src="{{ 'point-light.svg' | asset_url }}">
		            <img class="pointer-line dark" src="{{ 'pointer-dashboard-bottom-left-dark.svg' | asset_url }}">
		            <img class="pointer-icon dark" src="{{ 'icon-dashboard-bottom-left-dark.svg' | asset_url }}">
		            <img class="pointer-point dark" src="{{ 'point-dark.svg' | asset_url }}">
		          </div>
		        </div>
		        <div class="pointer pointer-bottom pointer-right pointer-dashboard-bottom-right">
		          <div class="pointer-wrap">
		            <div class="pointer-legend">
		              	Teslogic supports both the SI and Imperial measurement<br>systems, synchronizing it with the main Tesla interface
		            </div>
		            <img class="pointer-line light" src="{{ 'pointer-dashboard-bottom-right-light.svg' | asset_url }}">
		            <img class="pointer-icon light" src="{{ 'icon-dashboard-bottom-right-light.svg' | asset_url }}">
		            <img class="pointer-point light" src="{{ 'point-light.svg' | asset_url }}">
		            <img class="pointer-line dark" src="{{ 'pointer-dashboard-bottom-right-dark.svg' | asset_url }}">
		            <img class="pointer-icon dark" src="{{ 'icon-dashboard-bottom-right-dark.svg' | asset_url }}">
		            <img class="pointer-point dark" src="{{ 'point-dark.svg' | asset_url }}">
		          </div>
		        </div>
    		</div>
    		<div class="screens__features-block" data-type="performance">
	    		<div class="screens__features-image-wrap">
	    			<img class="screens__features-image light" src="{{ '2-desktop-light.png' | asset_url }}" srcset="{{ '2-retina-light.png' | asset_url }} 2x" loading="lazy">
	          		<img class="screens__features-image dark" src="{{ '2-desktop-dark.png' | asset_url }}" srcset="{{ '2-retina-dark.png' | asset_url }} 2x" loading="lazy">
	    		</div>
		        <div class="pointer pointer-top pointer-left pointer-performance-top-left">
		          <div class="pointer-wrap">
		            <div class="pointer-legend">
		              	G-sensor shows changes<br>in the direction of acceleration
		            </div>
		            <img class="pointer-line light" src="{{ 'pointer-performance-top-left-light.svg' | asset_url }}">
		            <img class="pointer-icon light" src="{{ 'icon-performance-top-left-light.svg' | asset_url }}">
		            <img class="pointer-point light" src="{{ 'point-light.svg' | asset_url }}">
		            <img class="pointer-line dark" src="{{ 'pointer-performance-top-left-dark.svg' | asset_url }}">
		            <img class="pointer-icon dark" src="{{ 'icon-performance-top-left-dark.svg' | asset_url }}">
		            <img class="pointer-point dark" src="{{ 'point-dark.svg' | asset_url }}">
		          </div>
		        </div>
		        <div class="pointer pointer-top pointer-right pointer-performance-top-right">
		          <div class="pointer-wrap">
		            <div class="pointer-legend">
		            	The best performance<br>during your current trip
		            </div>
		            <img class="pointer-line light" src="{{ 'pointer-performance-top-right-light.svg' | asset_url }}">
		            <img class="pointer-icon light" src="{{ 'icon-performance-top-right-light.svg' | asset_url }}">
		            <img class="pointer-point light" src="{{ 'point-light.svg' | asset_url }}">
		            <img class="pointer-line dark" src="{{ 'pointer-performance-top-right-dark.svg' | asset_url }}">
		            <img class="pointer-icon dark" src="{{ 'icon-performance-top-right-dark.svg' | asset_url }}">
		            <img class="pointer-point dark" src="{{ 'point-dark.svg' | asset_url }}">
		          </div>
		        </div>
		        <div class="pointer pointer-bottom pointer-left pointer-performance-bottom-left">
		          <div class="pointer-wrap">
		            <div class="pointer-legend">
		              	To reach best results battery should<br>be neither cold, nor overheated
		            </div>
		            <img class="pointer-line light" src="{{ 'pointer-performance-bottom-left-light.svg' | asset_url }}">
		            <img class="pointer-icon light" src="{{ 'icon-performance-bottom-left-light.svg' | asset_url }}">
		            <img class="pointer-point light" src="{{ 'point-light.svg' | asset_url }}">
		            <img class="pointer-line dark" src="{{ 'pointer-performance-bottom-left-dark.svg' | asset_url }}">
		            <img class="pointer-icon dark" src="{{ 'icon-performance-bottom-left-dark.svg' | asset_url }}">
		            <img class="pointer-point dark" src="{{ 'point-dark.svg' | asset_url }}">
		          </div>
		        </div>
		        <div class="pointer pointer-bottom pointer-right pointer-performance-bottom-right">
		          <div class="pointer-wrap">
		            <div class="pointer-legend">
		              	Current used<br>horsepower value
		            </div>
		            <img class="pointer-line light" src="{{ 'pointer-performance-bottom-right-light.svg' | asset_url }}">
		            <img class="pointer-icon light" src="{{ 'icon-performance-bottom-right-light.svg' | asset_url }}">
		            <img class="pointer-point light" src="{{ 'point-light.svg' | asset_url }}">
		            <img class="pointer-line dark" src="{{ 'pointer-performance-bottom-right-dark.svg' | asset_url }}">
		            <img class="pointer-icon dark" src="{{ 'icon-performance-bottom-right-dark.svg' | asset_url }}">
		            <img class="pointer-point dark" src="{{ 'point-dark.svg' | asset_url }}">
		          </div>
		        </div>
    		</div>
    		<div class="screens__features-block" data-type="energy-screen">
	    		<div class="screens__features-image-wrap">
	    			<img class="screens__features-image light" src="{{ '3-desktop-light.png' | asset_url }}" srcset="{{ '3-retina-light.png' | asset_url }} 2x" loading="lazy">
	          		<img class="screens__features-image dark" src="{{ '3-desktop-dark.png' | asset_url }}" srcset="{{ '3-retina-dark.png' | asset_url }} 2x" loading="lazy">
	    		</div>
    		</div>
    		<div class="screens__features-block" data-type="car-data">
	    		<div class="screens__features-image-wrap">
	    			<img class="screens__features-image light" src="{{ '4-desktop-light.png' | asset_url }}" srcset="{{ '4-retina-light.png' | asset_url }} 2x" loading="lazy">
	          		<img class="screens__features-image dark" src="{{ '4-desktop-dark.png' | asset_url }}" srcset="{{ '4-retina-dark.png' | asset_url }} 2x" loading="lazy">
	    		</div>
    		</div>
    		<div class="screens__features-block" data-type="map">
	    		<div class="screens__features-image-wrap">
	    			<img class="screens__features-image light" src="{{ '5-desktop-light.png' | asset_url }}" srcset="{{ '5-retina-light.png' | asset_url }} 2x" loading="lazy">
	          		<img class="screens__features-image dark" src="{{ '5-desktop-dark.png' | asset_url }}" srcset="{{ '5-retina-dark.png' | asset_url }} 2x" loading="lazy">
	    		</div>
    		</div>
		</div>
		<div class="screens__select">
			<div class="screens__select-item active" data-type="dashboard">
				<img class="screens__select-item-marker light active" src="{{ 'marker-light-active.svg' | asset_url }}">
				<img class="screens__select-item-marker light" src="{{ 'marker-light.svg' | asset_url }}">
				<img class="screens__select-item-marker dark active" src="{{ 'marker-dark-active.svg' | asset_url }}">
				<img class="screens__select-item-marker dark" src="{{ 'marker-dark.svg' | asset_url }}">
				<div class="screens__select-item-title">Dashboard</div>
				<div class="screens__select-item-text">Easily control the speed, power and battery of your Tesla</div>				
			</div>
			<div class="screens__select-item" data-type="performance">
				<img class="screens__select-item-marker light active" src="{{ 'marker-light-active.svg' | asset_url }}">
				<img class="screens__select-item-marker light" src="{{ 'marker-light.svg' | asset_url }}">
				<img class="screens__select-item-marker dark active" src="{{ 'marker-dark-active.svg' | asset_url }}">
				<img class="screens__select-item-marker dark" src="{{ 'marker-dark.svg' | asset_url }}">
				<div class="screens__select-item-title">Perfomance</div>
				<div class="screens__select-item-text">Experience the performance mode data even if you are driving</div>				
			</div>
			<div class="screens__select-item" data-type="energy-screen">
				<img class="screens__select-item-marker light active" src="{{ 'marker-light-active.svg' | asset_url }}">
				<img class="screens__select-item-marker light" src="{{ 'marker-light.svg' | asset_url }}">
				<img class="screens__select-item-marker dark active" src="{{ 'marker-dark-active.svg' | asset_url }}">
				<img class="screens__select-item-marker dark" src="{{ 'marker-dark.svg' | asset_url }}">
				<div class="screens__select-item-title">Energy screen</div>
				<div class="screens__select-item-text">Detailed pictures of how different vehicle systems consume power</div>				
			</div>
			<div class="screens__select-item" data-type="car-data">
				<img class="screens__select-item-marker light active" src="{{ 'marker-light-active.svg' | asset_url }}">
				<img class="screens__select-item-marker light" src="{{ 'marker-light.svg' | asset_url }}">
				<img class="screens__select-item-marker dark active" src="{{ 'marker-dark-active.svg' | asset_url }}">
				<img class="screens__select-item-marker dark" src="{{ 'marker-dark.svg' | asset_url }}">
				<div class="screens__select-item-title">Car Data</div>
				<div class="screens__select-item-text">Get and share all needed info about your Tesla</div>				
			</div>
			<div class="screens__select-item" data-type="map">
				<img class="screens__select-item-marker light active" src="{{ 'marker-light-active.svg' | asset_url }}">
				<img class="screens__select-item-marker light" src="{{ 'marker-light.svg' | asset_url }}">
				<img class="screens__select-item-marker dark active" src="{{ 'marker-dark-active.svg' | asset_url }}">
				<img class="screens__select-item-marker dark" src="{{ 'marker-dark.svg' | asset_url }}">
				<div class="screens__select-item-title">Map and Nav</div>
				<div class="screens__select-item-text">Plan your route and conveniently follow it along the way.</div>				
			</div>
			
		</div>
	</div>		
</div>

<script type="text/javascript">
	$(document).ready(function() {
		var mode = 'light' // dark
		var featureType = 'dashboard' // dark

		setMode()
		setActiveFeature()
		setActiveSelectItem()

		$('.screens__top-switcher-item').on('click', function() {
			$('.screens__top-switcher-item').each(function() {
				$(this).removeClass('active')
			})
			$(this).addClass('active')
			mode = $(this).data('mode')
			setMode()
			setActiveFeature()
			setActiveSelectItem()
		})

		$('.screens__select-item').on('click', function() {
			$('.screens__select-item').each(function() {
				$(this).removeClass('active')
			})
			$(this).addClass('active')
			featureType = $(this).data('type')
			setActiveFeature()
			setActiveSelectItem()
		})

		function setMode() {
			$('.screens').removeClass('light')
			$('.screens').removeClass('dark')
			$('.screens').addClass(mode)
		}

		function setActiveFeature() {
			console.log(featureType)
			$('.screens__features-block').each(function() {
				if ($(this).data('type') == featureType) {
					$(this).css('display', 'flex')
					$(this).find(`.screens__features-image`).hide()
					$(this).find(`.pointer-line`).hide()
					$(this).find(`.pointer-icon`).hide()
					$(this).find(`.pointer-point`).hide()
					$(this).find(`.screens__features-image.${mode}`).show()
					$(this).find(`.pointer-line.${mode}`).show()
					$(this).find(`.pointer-icon.${mode}`).show()
					$(this).find(`.pointer-point.${mode}`).show()
				}
				else {
					$(this).hide()
					$(this).find(`.screens__features-image`).hide()
					$(this).find(`.pointer-line`).hide()
					$(this).find(`.pointer-icon`).hide()
					$(this).find(`.pointer-point`).hide()
				}
			})
		}

		function setActiveSelectItem() {
			$('.screens__select-item').each(function() {
				$(this).find(`.screens__select-item-title`).removeClass('light')
				$(this).find(`.screens__select-item-text`).removeClass('light')

				$(this).find(`.screens__select-item-title`).removeClass('dark')
				$(this).find(`.screens__select-item-text`).removeClass('dark')

				$(this).find(`.screens__select-item-title`).removeClass('active')
				$(this).find(`.screens__select-item-text`).removeClass('active')

				$(this).find(`.screens__select-item-title`).addClass(mode)
				$(this).find(`.screens__select-item-text`).addClass(mode)

				$(this).find(`.screens__select-item-marker`).hide()
				if ($(this).hasClass('active')) {
					$(this).find(`.screens__select-item-marker.${mode}.active`).show()
					$(this).find(`.screens__select-item-title`).addClass('active')
					$(this).find(`.screens__select-item-text`).addClass('active')
				}
				else {
					$(this).find(`.screens__select-item-marker.${mode}:not(.active)`).show()
					$(this).find(`.screens__select-item-title`).removeClass('active')
					$(this).find(`.screens__select-item-text`).removeClass('active')
				}
			})
		}
	})
</script>
