<link rel="stylesheet" href="{{ 'screens.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'screens-responsive.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'pointers.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'pointers-responsive.css' | asset_url }}" media="print" onload="this.media='all'">

{% style %}
	.screens.light {
		background: #F6F6F6;
	}
	.screens.light .screens__bg {
		background: url({{ 'screens-bg-light.png' | asset_url}}) 50% / cover no-repeat;
	}
	.screens.dark {
		background: #090909;
	}
	.screens.dark .screens__bg {
		background: url({{ 'screens-bg-dark.png' | asset_url}}) 50% / cover no-repeat;
	}
{% endstyle %}

<div class="screens" id="screens">
	<div class="screens__bg"></div>
	<div class="screens__wrap">
		<div class="screens__top">
			<div class="screens__top-title">
				<span class="screens__top-title-primary">Switch between five screens</span>
				<span class="screens__top-title-secondary">and explore your car with Teslogic</span>
			</div>
			<div class="screens__top-switcher">
				<div class="screens__top-switcher-item active" data-mode="light">Light</div>
				<div class="screens__top-switcher-item" data-mode="dark">Dark</div>				
			</div>
		</div>
		<div class="screens__features">
    		<div class="screens__features-block" data-type="dashboard">
	    		<div class="screens__features-image-wrap">
	    			<img class="screens__features-image light desktop" src="{{ '1-desktop-light.png' | asset_url }}" srcset="{{ '1-retina-light.png' | asset_url }} 2x" loading="lazy">
	          		<img class="screens__features-image dark desktop" src="{{ '1-desktop-dark.png' | asset_url }}" srcset="{{ '1-retina-dark.png' | asset_url }} 2x" loading="lazy">
	    			<img class="screens__features-image light mobile" src="{{ '1-mobile-light.png' | asset_url }}" srcset="{{ '1-mobile-light.png' | asset_url }} 2x" loading="lazy">
	          		<img class="screens__features-image dark mobile" src="{{ '1-mobile-retina-dark.png' | asset_url }}" srcset="{{ '1-mobile-retina-dark.png' | asset_url }} 2x" loading="lazy">
	    		</div>
		        <div class="pointer pointer-top pointer-left pointer-dashboard-top-left">
		          <div class="pointer-wrap">
		            <div class="pointer-legend desktop">
		              	Recognizable autopilot,<br>cruise and speed limit indicators
		            </div>
		            <div class="pointer-legend mobile">
		              	Recognizable autopilot,<br>cruise and speed limit<br>indicators
		            </div>
		            <img class="pointer-line light desktop" src="{{ 'pointer-dashboard-top-left-light.svg' | asset_url }}">
		            <img class="pointer-icon light desktop" src="{{ 'icon-dashboard-top-left-light.svg' | asset_url }}">
		            <img class="pointer-line light mobile" src="{{ 'pointer-dashboard-top-left-light-mobile.svg' | asset_url }}">
		            <img class="pointer-icon light mobile" src="{{ 'icon-dashboard-top-left-light-mobile.svg' | asset_url }}">
		            <img class="pointer-point light" src="{{ 'point-light.svg' | asset_url }}">
		            <img class="pointer-line dark desktop" src="{{ 'pointer-dashboard-top-left-dark.svg' | asset_url }}">
		            <img class="pointer-icon dark desktop" src="{{ 'icon-dashboard-top-left-dark.svg' | asset_url }}">
		            <img class="pointer-line dark mobile" src="{{ 'pointer-dashboard-top-left-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-icon dark mobile" src="{{ 'icon-dashboard-top-left-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-point dark" src="{{ 'point-dark.svg' | asset_url }}">
		          </div>
		        </div>
		        <div class="pointer pointer-top pointer-right pointer-dashboard-top-right">
		          <div class="pointer-wrap">
		            <div class="pointer-legend desktop">
		            	Monitor your<br>Tesla battery status
		            </div>
		            <div class="pointer-legend mobile">
		            	Monitor your<br>Tesla battery<br>status
		            </div>
		            <img class="pointer-line light desktop" src="{{ 'pointer-dashboard-top-right-light.svg' | asset_url }}">
		            <img class="pointer-icon light desktop" src="{{ 'icon-dashboard-top-right-light.svg' | asset_url }}">
		            <img class="pointer-line light mobile" src="{{ 'pointer-dashboard-top-right-light-mobile.svg' | asset_url }}">
		            <img class="pointer-icon light mobile" src="{{ 'icon-dashboard-top-right-light-mobile.svg' | asset_url }}">
		            <img class="pointer-point light" src="{{ 'point-light.svg' | asset_url }}">
		            <img class="pointer-line dark desktop" src="{{ 'pointer-dashboard-top-right-dark.svg' | asset_url }}">
		            <img class="pointer-icon dark desktop" src="{{ 'icon-dashboard-top-right-dark.svg' | asset_url }}">
		            <img class="pointer-line dark mobile" src="{{ 'pointer-dashboard-top-right-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-icon dark mobile" src="{{ 'icon-dashboard-top-right-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-point dark" src="{{ 'point-dark.svg' | asset_url }}">
		          </div>
		        </div>
		        <div class="pointer pointer-bottom pointer-left pointer-dashboard-bottom-left">
		          <div class="pointer-wrap">
		            <div class="pointer-legend desktop">
		              	Miles saved by regeneration<br>and current energy consumption
		            </div>
		            <div class="pointer-legend mobile">
		              	Miles saved by<br>regeneration and current<br>energy consumption
		            </div>
		            <img class="pointer-line light desktop" src="{{ 'pointer-dashboard-bottom-left-light.svg' | asset_url }}">
		            <img class="pointer-icon light desktop" src="{{ 'icon-dashboard-bottom-left-light.svg' | asset_url }}">
		            <img class="pointer-line light mobile" src="{{ 'pointer-dashboard-bottom-left-light-mobile.svg' | asset_url }}">
		            <img class="pointer-icon light mobile" src="{{ 'icon-dashboard-bottom-left-light-mobile.svg' | asset_url }}">
		            <img class="pointer-point light" src="{{ 'point-light.svg' | asset_url }}">
		            <img class="pointer-line dark desktop" src="{{ 'pointer-dashboard-bottom-left-dark.svg' | asset_url }}">
		            <img class="pointer-icon dark desktop" src="{{ 'icon-dashboard-bottom-left-dark.svg' | asset_url }}">
		            <img class="pointer-line dark mobile" src="{{ 'pointer-dashboard-bottom-left-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-icon dark mobile" src="{{ 'icon-dashboard-bottom-left-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-point dark" src="{{ 'point-dark.svg' | asset_url }}">
		          </div>
		        </div>
		        <div class="pointer pointer-bottom pointer-right pointer-dashboard-bottom-right">
		          <div class="pointer-wrap">
		            <div class="pointer-legend desktop">
		              	Teslogic supports both the SI and Imperial measurement<br>systems, synchronizing it with the main Tesla interface
		            </div>
		            <div class="pointer-legend mobile">
		              	Teslogic supports both<br>the SI and Imperial<br>measurement systems,<br>synchronizing it with the<br>main Tesla interface
		            </div>
		            <img class="pointer-line light desktop" src="{{ 'pointer-dashboard-bottom-right-light.svg' | asset_url }}">
		            <img class="pointer-icon light desktop" src="{{ 'icon-dashboard-bottom-right-light.svg' | asset_url }}">
		            <img class="pointer-line light mobile" src="{{ 'pointer-dashboard-bottom-right-light-mobile.svg' | asset_url }}">
		            <img class="pointer-icon light mobile" src="{{ 'icon-dashboard-bottom-right-light-mobile.svg' | asset_url }}">
		            <img class="pointer-point light" src="{{ 'point-light.svg' | asset_url }}">
		            <img class="pointer-line dark desktop" src="{{ 'pointer-dashboard-bottom-right-dark.svg' | asset_url }}">
		            <img class="pointer-icon dark desktop" src="{{ 'icon-dashboard-bottom-right-dark.svg' | asset_url }}">
		            <img class="pointer-line dark mobile" src="{{ 'pointer-dashboard-bottom-right-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-icon dark mobile" src="{{ 'icon-dashboard-bottom-right-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-point dark" src="{{ 'point-dark.svg' | asset_url }}">
		          </div>
		        </div>
    		</div>
    		<div class="screens__features-block" data-type="performance">
	    		<div class="screens__features-image-wrap">
	    			<img class="screens__features-image light desktop" src="{{ '2-desktop-light.png' | asset_url }}" srcset="{{ '2-retina-light.png' | asset_url }} 2x" loading="lazy">
	          		<img class="screens__features-image dark desktop" src="{{ '2-desktop-dark.png' | asset_url }}" srcset="{{ '2-retina-dark.png' | asset_url }} 2x" loading="lazy">
	    			<img class="screens__features-image light mobile" src="{{ '2-mobile-light.png' | asset_url }}" srcset="{{ '2-mobile-light.png' | asset_url }} 2x" loading="lazy">
	          		<img class="screens__features-image dark mobile" src="{{ '2-mobile-retina-dark.png' | asset_url }}" srcset="{{ '2-mobile-retina-dark.png' | asset_url }} 2x" loading="lazy">
	    		</div>
		        <div class="pointer pointer-top pointer-left pointer-performance-top-left">
		          <div class="pointer-wrap">
		            <div class="pointer-legend desktop">
		              	G-sensor shows changes<br>in the direction of acceleration
		            </div>
		            <div class="pointer-legend mobile">
		              	G-sensor shows changes<br>in the direction of<br>acceleration
		            </div>
		            <img class="pointer-line light desktop" src="{{ 'pointer-performance-top-left-light.svg' | asset_url }}">
		            <img class="pointer-icon light desktop" src="{{ 'icon-performance-top-left-light.svg' | asset_url }}">
		            <img class="pointer-line light mobile" src="{{ 'pointer-performance-top-left-light-mobile.svg' | asset_url }}">
		            <img class="pointer-icon light mobile" src="{{ 'icon-performance-top-left-light-mobile.svg' | asset_url }}">
		            <img class="pointer-point light" src="{{ 'point-light.svg' | asset_url }}">
		            <img class="pointer-line dark desktop" src="{{ 'pointer-performance-top-left-dark.svg' | asset_url }}">
		            <img class="pointer-icon dark desktop" src="{{ 'icon-performance-top-left-dark.svg' | asset_url }}">
		            <img class="pointer-line dark mobile" src="{{ 'pointer-performance-top-left-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-icon dark mobile" src="{{ 'icon-performance-top-left-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-point dark" src="{{ 'point-dark.svg' | asset_url }}">
		          </div>
		        </div>
		        <div class="pointer pointer-top pointer-right pointer-performance-top-right">
		          <div class="pointer-wrap">
		            <div class="pointer-legend desktop">
		            	The best performance<br>during your current trip
		            </div>
		            <div class="pointer-legend mobile">
		            	The best<br>performance during<br>your current trip
		            </div>
		            <img class="pointer-line light desktop" src="{{ 'pointer-performance-top-right-light.svg' | asset_url }}">
		            <img class="pointer-icon light desktop" src="{{ 'icon-performance-top-right-light.svg' | asset_url }}">
		            <img class="pointer-line light mobile" src="{{ 'pointer-performance-top-right-light-mobile.svg' | asset_url }}">
		            <img class="pointer-icon light mobile" src="{{ 'icon-performance-top-right-light-mobile.svg' | asset_url }}">
		            <img class="pointer-point light" src="{{ 'point-light.svg' | asset_url }}">
		            <img class="pointer-line dark desktop" src="{{ 'pointer-performance-top-right-dark.svg' | asset_url }}">
		            <img class="pointer-icon dark desktop" src="{{ 'icon-performance-top-right-dark.svg' | asset_url }}">
		            <img class="pointer-line dark mobile" src="{{ 'pointer-performance-top-right-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-icon dark mobile" src="{{ 'icon-performance-top-right-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-point dark" src="{{ 'point-dark.svg' | asset_url }}">
		          </div>
		        </div>
		        <div class="pointer pointer-bottom pointer-left pointer-performance-bottom-left">
		          <div class="pointer-wrap">
		            <div class="pointer-legend desktop">
		              	To reach best results battery should<br>be neither cold, nor overheated
		            </div>
		            <div class="pointer-legend mobile">
		              	To reach best results<br>battery should be neither<br>cold, nor overheated
		            </div>
		            <img class="pointer-line light desktop" src="{{ 'pointer-performance-bottom-left-light.svg' | asset_url }}">
		            <img class="pointer-icon light desktop" src="{{ 'icon-performance-bottom-left-light.svg' | asset_url }}">
		            <img class="pointer-line light mobile" src="{{ 'pointer-performance-bottom-left-light-mobile.svg' | asset_url }}">
		            <img class="pointer-icon light mobile" src="{{ 'icon-performance-bottom-left-light-mobile.svg' | asset_url }}">
		            <img class="pointer-point light" src="{{ 'point-light.svg' | asset_url }}">
		            <img class="pointer-line dark desktop" src="{{ 'pointer-performance-bottom-left-dark.svg' | asset_url }}">
		            <img class="pointer-icon dark desktop" src="{{ 'icon-performance-bottom-left-dark.svg' | asset_url }}">
		            <img class="pointer-line dark mobile" src="{{ 'pointer-performance-bottom-left-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-icon dark mobile" src="{{ 'icon-performance-bottom-left-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-point dark" src="{{ 'point-dark.svg' | asset_url }}">
		          </div>
		        </div>
		        <div class="pointer pointer-bottom pointer-right pointer-performance-bottom-right">
		          <div class="pointer-wrap">
		            <div class="pointer-legend desktop">
		              	Current used<br>horsepower value
		            </div>
		            <div class="pointer-legend mobile">
		              	Current used<br>horsepower value
		            </div>
		            <img class="pointer-line light desktop" src="{{ 'pointer-performance-bottom-right-light.svg' | asset_url }}">
		            <img class="pointer-icon light desktop" src="{{ 'icon-performance-bottom-right-light.svg' | asset_url }}">
		            <img class="pointer-line light mobile" src="{{ 'pointer-performance-bottom-right-light-mobile.svg' | asset_url }}">
		            <img class="pointer-icon light mobile" src="{{ 'icon-performance-bottom-right-light-mobile.svg' | asset_url }}">
		            <img class="pointer-point light" src="{{ 'point-light.svg' | asset_url }}">
		            <img class="pointer-line dark desktop" src="{{ 'pointer-performance-bottom-right-dark.svg' | asset_url }}">
		            <img class="pointer-icon dark desktop" src="{{ 'icon-performance-bottom-right-dark.svg' | asset_url }}">
		            <img class="pointer-line dark mobile" src="{{ 'pointer-performance-bottom-right-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-icon dark mobile" src="{{ 'icon-performance-bottom-right-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-point dark" src="{{ 'point-dark.svg' | asset_url }}">
		          </div>
		        </div>
    		</div>
    		<div class="screens__features-block" data-type="energy-screen">
	    		<div class="screens__features-image-wrap">
	    			<img class="screens__features-image light desktop" src="{{ '3-desktop-light.png' | asset_url }}" srcset="{{ '3-retina-light.png' | asset_url }} 2x" loading="lazy">
	          		<img class="screens__features-image dark desktop" src="{{ '3-desktop-dark.png' | asset_url }}" srcset="{{ '3-retina-dark.png' | asset_url }} 2x" loading="lazy">
	    			<img class="screens__features-image light mobile" src="{{ '3-mobile-light.png' | asset_url }}" srcset="{{ '3-mobile-light.png' | asset_url }} 2x" loading="lazy">
	          		<img class="screens__features-image dark mobile" src="{{ '3-mobile-retina-dark.png' | asset_url }}" srcset="{{ '3-mobile-retina-dark.png' | asset_url }} 2x" loading="lazy">
	    		</div>
		        <div class="pointer pointer-top pointer-left pointer-energy-screen-top-left">
		          <div class="pointer-wrap">
		            <div class="pointer-legend desktop">
		              	Green color highlights<br>energy consumers in real time
		            </div>
		            <div class="pointer-legend mobile">
		              	Green color highlights<br>energy consumers in real<br>time
		            </div>
		            <img class="pointer-line light desktop" src="{{ 'pointer-energy-screen-top-left-light.svg' | asset_url }}">
		            <img class="pointer-icon light desktop" src="{{ 'icon-energy-screen-top-left-light.svg' | asset_url }}">
		            <img class="pointer-line light mobile" src="{{ 'pointer-energy-screen-top-left-light-mobile.svg' | asset_url }}">
		            <img class="pointer-icon light mobile" src="{{ 'icon-energy-screen-top-left-light-mobile.svg' | asset_url }}">
		            <img class="pointer-point light" src="{{ 'point-light.svg' | asset_url }}">
		            <img class="pointer-line dark desktop" src="{{ 'pointer-energy-screen-top-left-dark.svg' | asset_url }}">
		            <img class="pointer-icon dark desktop" src="{{ 'icon-energy-screen-top-left-dark.svg' | asset_url }}">
		            <img class="pointer-line dark mobile" src="{{ 'pointer-energy-screen-top-left-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-icon dark mobile" src="{{ 'icon-energy-screen-top-left-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-point dark" src="{{ 'point-dark.svg' | asset_url }}">
		          </div>
		        </div>
		        <div class="pointer pointer-top pointer-right pointer-energy-screen-top-right">
		          <div class="pointer-wrap">
		            <div class="pointer-legend desktop">
		            	Look at the battery power distribution<br>map and try to optimize consumption
		            </div>
		            <div class="pointer-legend mobile">
		            	Look at the battery power<br>distribution map and try to<br>optimize consumption
		            </div>
		            <img class="pointer-line light desktop" src="{{ 'pointer-energy-screen-top-right-light.svg' | asset_url }}">
		            <img class="pointer-icon light desktop" src="{{ 'icon-energy-screen-top-right-light.svg' | asset_url }}">
		            <img class="pointer-line light mobile" src="{{ 'pointer-energy-screen-top-right-light-mobile.svg' | asset_url }}">
		            <img class="pointer-icon light mobile" src="{{ 'icon-energy-screen-top-right-light-mobile.svg' | asset_url }}">
		            <img class="pointer-point light" src="{{ 'point-light.svg' | asset_url }}">
		            <img class="pointer-line dark desktop" src="{{ 'pointer-energy-screen-top-right-dark.svg' | asset_url }}">
		            <img class="pointer-icon dark desktop" src="{{ 'icon-energy-screen-top-right-dark.svg' | asset_url }}">
		            <img class="pointer-line dark mobile" src="{{ 'pointer-energy-screen-top-right-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-icon dark mobile" src="{{ 'icon-energy-screen-top-right-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-point dark" src="{{ 'point-dark.svg' | asset_url }}">
		          </div>
		        </div>
		        <div class="pointer pointer-bottom pointer-left pointer-energy-screen-bottom-left">
		          <div class="pointer-wrap">
		            <div class="pointer-legend desktop">
		              	Orange color highlights energy<br>suppliers in real time
		            </div>
		            <div class="pointer-legend mobile">
		              	Orange color highlights<br>energy suppliers in real<br>time
		            </div>
		            <img class="pointer-line light desktop" src="{{ 'pointer-energy-screen-bottom-left-light.svg' | asset_url }}">
		            <img class="pointer-icon light desktop" src="{{ 'icon-energy-screen-bottom-left-light.svg' | asset_url }}">
		            <img class="pointer-line light mobile" src="{{ 'pointer-energy-screen-bottom-left-light-mobile.svg' | asset_url }}">
		            <img class="pointer-icon light mobile" src="{{ 'icon-energy-screen-bottom-left-light-mobile.svg' | asset_url }}">
		            <img class="pointer-point light" src="{{ 'point-light.svg' | asset_url }}">
		            <img class="pointer-line dark desktop" src="{{ 'pointer-energy-screen-bottom-left-dark.svg' | asset_url }}">
		            <img class="pointer-icon dark desktop" src="{{ 'icon-energy-screen-bottom-left-dark.svg' | asset_url }}">
		            <img class="pointer-line dark mobile" src="{{ 'pointer-energy-screen-bottom-left-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-icon dark mobile" src="{{ 'icon-energy-screen-bottom-left-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-point dark" src="{{ 'point-dark.svg' | asset_url }}">
		          </div>
		        </div>
		        <div class="pointer pointer-bottom pointer-right pointer-energy-screen-bottom-right">
		          <div class="pointer-wrap">
		            <div class="pointer-legend desktop">
		              	It also shows the percentage and kilowatts of energy<br>spent by each consumer during the last trip
		            </div>
		            <div class="pointer-legend mobile">
		              	It also shows the percentage<br>and kilowatts of energy spent<br>by each consumer during the<br>last trip
		            </div>
		            <img class="pointer-line light desktop" src="{{ 'pointer-energy-screen-bottom-right-light.svg' | asset_url }}">
		            <img class="pointer-icon light desktop" src="{{ 'icon-energy-screen-bottom-right-light.svg' | asset_url }}">
		            <img class="pointer-line light mobile" src="{{ 'pointer-energy-screen-bottom-right-light-mobile.svg' | asset_url }}">
		            <img class="pointer-icon light mobile" src="{{ 'icon-energy-screen-bottom-right-light-mobile.svg' | asset_url }}">
		            <img class="pointer-point light" src="{{ 'point-light.svg' | asset_url }}">
		            <img class="pointer-line dark desktop" src="{{ 'pointer-energy-screen-bottom-right-dark.svg' | asset_url }}">
		            <img class="pointer-icon dark desktop" src="{{ 'icon-energy-screen-bottom-right-dark.svg' | asset_url }}">
		            <img class="pointer-line dark mobile" src="{{ 'pointer-energy-screen-bottom-right-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-icon dark mobile" src="{{ 'icon-energy-screen-bottom-right-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-point dark" src="{{ 'point-dark.svg' | asset_url }}">
		          </div>
		        </div>
    		</div>
    		<div class="screens__features-block" data-type="car-data">
	    		<div class="screens__features-image-wrap">
	    			<img class="screens__features-image light desktop" src="{{ '4-desktop-light.png' | asset_url }}" srcset="{{ '4-retina-light.png' | asset_url }} 2x" loading="lazy">
	          		<img class="screens__features-image dark desktop" src="{{ '4-desktop-dark.png' | asset_url }}" srcset="{{ '4-retina-dark.png' | asset_url }} 2x" loading="lazy">
	    			<img class="screens__features-image light mobile" src="{{ '4-mobile-light.png' | asset_url }}" srcset="{{ '4-mobile-light.png' | asset_url }} 2x" loading="lazy">
	          		<img class="screens__features-image dark mobile" src="{{ '4-mobile-retina-dark.png' | asset_url }}" srcset="{{ '4-mobile-retina-dark.png' | asset_url }} 2x" loading="lazy">
	    		</div>
		        <div class="pointer pointer-top pointer-left pointer-car-data-top-left">
		          <div class="pointer-wrap">
		            <div class="pointer-legend desktop">
		              	Get complete unique<br>info about your Tesla
		            </div>
		            <div class="pointer-legend mobile">
		              	Get complete<br>unique info about<br>your Tesla
		            </div>
		            <img class="pointer-line light desktop" src="{{ 'pointer-car-data-top-left-light.svg' | asset_url }}">
		            <img class="pointer-icon light desktop" src="{{ 'icon-car-data-top-left-light.svg' | asset_url }}">
		            <img class="pointer-line light mobile" src="{{ 'pointer-car-data-top-left-light-mobile.svg' | asset_url }}">
		            <img class="pointer-icon light mobile" src="{{ 'icon-car-data-top-left-light-mobile.svg' | asset_url }}">
		            <img class="pointer-point light" src="{{ 'point-light.svg' | asset_url }}">
		            <img class="pointer-line dark desktop" src="{{ 'pointer-car-data-top-left-dark.svg' | asset_url }}">
		            <img class="pointer-icon dark desktop" src="{{ 'icon-car-data-top-left-dark.svg' | asset_url }}">
		            <img class="pointer-line dark mobile" src="{{ 'pointer-car-data-top-left-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-icon dark mobile" src="{{ 'icon-car-data-top-left-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-point dark" src="{{ 'point-dark.svg' | asset_url }}">
		          </div>
		        </div>
		        <div class="pointer pointer-top pointer-right pointer-car-data-top-right">
		          <div class="pointer-wrap">
		            <div class="pointer-legend desktop">
		            	Share the info with your<br>friends on social networks
		            </div>
		            <div class="pointer-legend mobile">
		            	Share the info with your<br>friends on social<br>networks
		            </div>
		            <img class="pointer-line light desktop" src="{{ 'pointer-car-data-top-right-light.svg' | asset_url }}">
		            <img class="pointer-icon light desktop" src="{{ 'icon-car-data-top-right-light.svg' | asset_url }}">
		            <img class="pointer-line light mobile" src="{{ 'pointer-car-data-top-right-light-mobile.svg' | asset_url }}">
		            <img class="pointer-icon light mobile" src="{{ 'icon-car-data-top-right-light-mobile.svg' | asset_url }}">
		            <img class="pointer-point light" src="{{ 'point-light.svg' | asset_url }}">
		            <img class="pointer-line dark desktop" src="{{ 'pointer-car-data-top-right-dark.svg' | asset_url }}">
		            <img class="pointer-icon dark desktop" src="{{ 'icon-car-data-top-right-dark.svg' | asset_url }}">
		            <img class="pointer-line dark mobile" src="{{ 'pointer-car-data-top-right-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-icon dark mobile" src="{{ 'icon-car-data-top-right-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-point dark" src="{{ 'point-dark.svg' | asset_url }}">
		          </div>
		        </div>
		        <div class="pointer pointer-bottom pointer-left pointer-car-data-bottom-left">
		          <div class="pointer-wrap">
		            <div class="pointer-legend desktop">
		              	Access battery data<br>hidden in the system
		            </div>
		            <div class="pointer-legend mobile">
		              	Access battery<br>data hidden in<br>the system
		            </div>
		            <img class="pointer-line light desktop" src="{{ 'pointer-car-data-bottom-left-light.svg' | asset_url }}">
		            <img class="pointer-icon light desktop" src="{{ 'icon-car-data-bottom-left-light.svg' | asset_url }}">
		            <img class="pointer-line light mobile" src="{{ 'pointer-car-data-bottom-left-light-mobile.svg' | asset_url }}">
		            <img class="pointer-icon light mobile" src="{{ 'icon-car-data-bottom-left-light-mobile.svg' | asset_url }}">
		            <img class="pointer-point light" src="{{ 'point-light.svg' | asset_url }}">
		            <img class="pointer-line dark desktop" src="{{ 'pointer-car-data-bottom-left-dark.svg' | asset_url }}">
		            <img class="pointer-icon dark desktop" src="{{ 'icon-car-data-bottom-left-dark.svg' | asset_url }}">
		            <img class="pointer-line dark mobile" src="{{ 'pointer-car-data-bottom-left-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-icon dark mobile" src="{{ 'icon-car-data-bottom-left-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-point dark" src="{{ 'point-dark.svg' | asset_url }}">
		          </div>
		        </div>
    		</div>
    		<div class="screens__features-block" data-type="map">
	    		<div class="screens__features-image-wrap">
	    			<img class="screens__features-image light desktop" src="{{ '5-desktop-light.png' | asset_url }}" srcset="{{ '5-retina-light.png' | asset_url }} 2x" loading="lazy">
	          		<img class="screens__features-image dark desktop" src="{{ '5-desktop-dark.png' | asset_url }}" srcset="{{ '5-retina-dark.png' | asset_url }} 2x" loading="lazy">
	    			<img class="screens__features-image light mobile" src="{{ '5-mobile-light.png' | asset_url }}" srcset="{{ '5-mobile-light.png' | asset_url }} 2x" loading="lazy">
	          		<img class="screens__features-image dark mobile" src="{{ '5-mobile-retina-dark.png' | asset_url }}" srcset="{{ '5-mobile-retina-dark.png' | asset_url }} 2x" loading="lazy">
	    		</div>
		        <div class="pointer pointer-top pointer-left pointer-map-top-left">
		          <div class="pointer-wrap">
		            <div class="pointer-legend desktop">
		              	Follow the route without taking<br>your attention off the road
		            </div>
		            <div class="pointer-legend mobile">
		              	Follow the route<br>without taking your<br>attention off the road
		            </div>
		            <img class="pointer-line light desktop" src="{{ 'pointer-map-top-left-light.svg' | asset_url }}">
		            <img class="pointer-icon light desktop" src="{{ 'icon-map-top-left-light.svg' | asset_url }}">
		            <img class="pointer-line light mobile" src="{{ 'pointer-map-top-left-light-mobile.svg' | asset_url }}">
		            <img class="pointer-icon light mobile" src="{{ 'icon-map-top-left-light-mobile.svg' | asset_url }}">
		            <img class="pointer-point light" src="{{ 'point-light.svg' | asset_url }}">
		            <img class="pointer-line dark desktop" src="{{ 'pointer-map-top-left-dark.svg' | asset_url }}">
		            <img class="pointer-icon dark desktop" src="{{ 'icon-map-top-left-dark.svg' | asset_url }}">
		            <img class="pointer-line dark mobile" src="{{ 'pointer-map-top-left-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-icon dark mobile" src="{{ 'icon-map-top-left-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-point dark" src="{{ 'point-dark.svg' | asset_url }}">
		          </div>
		        </div>
		        <div class="pointer pointer-bottom pointer-left pointer-map-bottom-left">
		          <div class="pointer-wrap">
		            <div class="pointer-legend desktop">
		              	Teslogic utilizes Google's<br>map and navigation
		            </div>
		            <div class="pointer-legend mobile">
		              	Teslogic utilizes Google's<br>map and navigation
		            </div>
		            <img class="pointer-line light desktop" src="{{ 'pointer-map-bottom-left-light.svg' | asset_url }}">
		            <img class="pointer-icon light desktop" src="{{ 'icon-map-bottom-left-light.svg' | asset_url }}">
		            <img class="pointer-line light mobile" src="{{ 'pointer-map-bottom-left-light-mobile.svg' | asset_url }}">
		            <img class="pointer-icon light mobile" src="{{ 'icon-map-bottom-left-light-mobile.svg' | asset_url }}">
		            <img class="pointer-point light" src="{{ 'point-light.svg' | asset_url }}">
		            <img class="pointer-line dark desktop" src="{{ 'pointer-map-bottom-left-dark.svg' | asset_url }}">
		            <img class="pointer-icon dark desktop" src="{{ 'icon-map-bottom-left-dark.svg' | asset_url }}">
		            <img class="pointer-line dark mobile" src="{{ 'pointer-map-bottom-left-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-icon dark mobile" src="{{ 'icon-map-bottom-left-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-point dark" src="{{ 'point-dark.svg' | asset_url }}">
		          </div>
		        </div>
		        <div class="pointer pointer-bottom pointer-right pointer-map-bottom-right">
		          <div class="pointer-wrap">
		            <div class="pointer-legend desktop">
		              	All important indicators, such as<br>autopilot mode and others, remain visible
		            </div>
		            <div class="pointer-legend mobile">
		              	All important<br>indicators, such as<br>autopilot mode and<br>others, remain visible
		            </div>
		            <img class="pointer-line light desktop" src="{{ 'pointer-map-bottom-right-light.svg' | asset_url }}">
		            <img class="pointer-icon light desktop" src="{{ 'icon-map-bottom-right-light.svg' | asset_url }}">
		            <img class="pointer-line light mobile" src="{{ 'pointer-map-bottom-right-light-mobile.svg' | asset_url }}">
		            <img class="pointer-icon light mobile" src="{{ 'icon-map-bottom-right-light-mobile.svg' | asset_url }}">
		            <img class="pointer-point light" src="{{ 'point-light.svg' | asset_url }}">
		            <img class="pointer-line dark desktop" src="{{ 'pointer-map-bottom-right-dark.svg' | asset_url }}">
		            <img class="pointer-icon dark desktop" src="{{ 'icon-map-bottom-right-dark.svg' | asset_url }}">
		            <img class="pointer-line dark mobile" src="{{ 'pointer-map-bottom-right-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-icon dark mobile" src="{{ 'icon-map-bottom-right-dark-mobile.svg' | asset_url }}">
		            <img class="pointer-point dark" src="{{ 'point-dark.svg' | asset_url }}">
		          </div>
		        </div>
    		</div>
		</div>
		<div class="screens__select">
			<div class="screens__select-item active" data-type="dashboard">
				<img class="screens__select-item-marker light active" src="{{ 'marker-light-active.svg' | asset_url }}">
				<img class="screens__select-item-marker light" src="{{ 'marker-light.svg' | asset_url }}">
				<img class="screens__select-item-marker dark active" src="{{ 'marker-dark-active.svg' | asset_url }}">
				<img class="screens__select-item-marker dark" src="{{ 'marker-dark.svg' | asset_url }}">
				<div class="screens__select-item-title">Dashboard</div>
				<div class="screens__select-item-text">Easily control the speed, power and battery of your Tesla</div>				
			</div>
			<div class="screens__select-item" data-type="performance">
				<img class="screens__select-item-marker light active" src="{{ 'marker-light-active.svg' | asset_url }}">
				<img class="screens__select-item-marker light" src="{{ 'marker-light.svg' | asset_url }}">
				<img class="screens__select-item-marker dark active" src="{{ 'marker-dark-active.svg' | asset_url }}">
				<img class="screens__select-item-marker dark" src="{{ 'marker-dark.svg' | asset_url }}">
				<div class="screens__select-item-title">Perfomance</div>
				<div class="screens__select-item-text">Experience the performance mode data even if you are driving</div>				
			</div>
			<div class="screens__select-item" data-type="energy-screen">
				<img class="screens__select-item-marker light active" src="{{ 'marker-light-active.svg' | asset_url }}">
				<img class="screens__select-item-marker light" src="{{ 'marker-light.svg' | asset_url }}">
				<img class="screens__select-item-marker dark active" src="{{ 'marker-dark-active.svg' | asset_url }}">
				<img class="screens__select-item-marker dark" src="{{ 'marker-dark.svg' | asset_url }}">
				<div class="screens__select-item-title">Energy screen</div>
				<div class="screens__select-item-text">Detailed pictures of how different vehicle systems consume power</div>				
			</div>
			<div class="screens__select-item" data-type="car-data">
				<img class="screens__select-item-marker light active" src="{{ 'marker-light-active.svg' | asset_url }}">
				<img class="screens__select-item-marker light" src="{{ 'marker-light.svg' | asset_url }}">
				<img class="screens__select-item-marker dark active" src="{{ 'marker-dark-active.svg' | asset_url }}">
				<img class="screens__select-item-marker dark" src="{{ 'marker-dark.svg' | asset_url }}">
				<div class="screens__select-item-title">Car Data</div>
				<div class="screens__select-item-text">Get and share all needed info about your Tesla</div>			
			</div>
			<div class="screens__select-item" data-type="map">
				<img class="screens__select-item-marker light active" src="{{ 'marker-light-active.svg' | asset_url }}">
				<img class="screens__select-item-marker light" src="{{ 'marker-light.svg' | asset_url }}">
				<img class="screens__select-item-marker dark active" src="{{ 'marker-dark-active.svg' | asset_url }}">
				<img class="screens__select-item-marker dark" src="{{ 'marker-dark.svg' | asset_url }}">
				<div class="screens__select-item-title">Map and Nav</div>
				<div class="screens__select-item-text">Plan your route and conveniently follow it along the way.</div>				
			</div>			
		</div>
		<div class="screen__selected">
			<img class="screen__selected-nav screen__selected-nav-prev light" data-direction="prev" src="{{ 'screen-select-prev-light.svg' | asset_url }}">
			<img class="screen__selected-nav screen__selected-nav-prev dark" data-direction="prev" src="{{ 'screen-select-prev-dark.svg' | asset_url }}">
			<div class="screen__selected-item" data-type="dashboard">
				<div class="screen__selected-item-title">Dashboard</div>
				<div class="screen__selected-item-text">Easily control the speed, power<br>and battery of your Tesla</div>
			</div>
			<div class="screen__selected-item" data-type="performance">
				<div class="screen__selected-item-title">Perfomance</div>
				<div class="screen__selected-item-text">Experience the performance mode<br>data even if you are driving</div>
			</div>
			<div class="screen__selected-item" data-type="energy-screen">
				<div class="screen__selected-item-title">Energy screen</div>
				<div class="screen__selected-item-text">Detailed pictures of how different<br>vehicle systems consume power</div>
			</div>
			<div class="screen__selected-item" data-type="car-data">
				<div class="screen__selected-item-title">Car Data</div>
				<div class="screen__selected-item-text">Get and share all needed<br>info about your Tesla</div>
			</div>
			<div class="screen__selected-item" data-type="map">
				<div class="screen__selected-item-title">Map and Nav</div>
				<div class="screen__selected-item-text">Plan your route and conveniently<br>follow it along the way</div>
			</div>
			<img class="screen__selected-nav screen__selected-nav-next light" data-direction="next" src="{{ 'screen-select-next-light.svg' | asset_url }}">
			<img class="screen__selected-nav screen__selected-nav-next dark" data-direction="next" src="{{ 'screen-select-next-dark.svg' | asset_url }}">
		</div>
		<div class="screens__top-switcher-mobile">
			<div class="screens__top-switcher-item active" data-mode="light">Light</div>
			<div class="screens__top-switcher-item" data-mode="dark">Dark</div>				
		</div>
	</div>		
</div>

<script type="text/javascript">
	$(document).ready(function() {
		var mode = 'light' // dark
		var featureType = 'dashboard'
		var featureTypes = [
			'dashboard',
			'performance',
			'energy-screen',
			'car-data',
			'map',
		]
		var featureTypeIndex = 0
		var screenType = 'desktop' //mobile

		setScreenType()
		$(window).on('resize', setScreenType)

		function setScreenType() {
			if (window.innerWidth < 1000) screenType = 'mobile'
			else screenType = 'desktop'
			setActiveFeature()
		}

		setMode()
		setActiveFeature()
		setActiveSelectItem()

		$('.screens__top-switcher-item').on('click', function() {
			$('.screens__top-switcher-item').each(function() {
				$(this).removeClass('active')
			})
			$(this).addClass('active')
			mode = $(this).data('mode')
			setMode()
			setActiveFeature()
			setActiveSelectItem()
		})

		$('.screens__select-item').on('click', function() {
			$('.screens__select-item').each(function() {
				$(this).removeClass('active')
			})
			$(this).addClass('active')
			featureType = $(this).data('type')
			featureTypeIndex = featureTypes.findIndex(item => item == featureType)
			setActiveFeature()
			setActiveSelectItem()
		})

		$('.screen__selected-nav').on('click', function() {
			let direction = $(this).data('direction')
			console.log(direction)
			if (direction == 'prev') {
				featureTypeIndex--
				if (featureTypeIndex < 0) {
					featureTypeIndex = featureTypes.length - 1
				}
			}
			if (direction == 'next') {
				featureTypeIndex++
				if (featureTypeIndex > featureTypes.length - 1) {
					featureTypeIndex = 0
				}
			}
			featureType = featureTypes[featureTypeIndex]
			setActiveFeature()
			setActiveSelectItem()
		})

		function setMode() {
			$('.screens').removeClass('light')
			$('.screens').removeClass('dark')
			$('.screens').addClass(mode)
		}

		function setActiveFeature() {
			console.log(featureType)
			$('.screens__features-block').each(function() {
				if ($(this).data('type') == featureType) {
					$(this).css('display', 'flex')
					$(this).find(`.screens__features-image`).hide()
					$(this).find(`.pointer-legend`).hide()
					$(this).find(`.pointer-line`).hide()
					$(this).find(`.pointer-icon`).hide()
					$(this).find(`.pointer-point`).hide()
					$(this).find(`.screens__features-image.${mode}.${screenType}`).show()
					$(this).find(`.pointer-legend.${screenType}`).show()
					$(this).find(`.pointer-line.${mode}.${screenType}`).show()
					$(this).find(`.pointer-icon.${mode}.${screenType}`).show()
					$(this).find(`.pointer-point.${mode}`).show()
				}
				else {
					$(this).hide()
					$(this).find(`.screens__features-image`).hide()
					$(this).find(`.pointer-legend`).hide()
					$(this).find(`.pointer-line`).hide()
					$(this).find(`.pointer-icon`).hide()
					$(this).find(`.pointer-point`).hide()
				}
			})
		}

		function setActiveSelectItem() {
			$('.screens__select-item').each(function() {
				$(this).find(`.screens__select-item-title`).removeClass('light')
				$(this).find(`.screens__select-item-text`).removeClass('light')

				$(this).find(`.screens__select-item-title`).removeClass('dark')
				$(this).find(`.screens__select-item-text`).removeClass('dark')

				$(this).find(`.screens__select-item-title`).removeClass('active')
				$(this).find(`.screens__select-item-text`).removeClass('active')

				$(this).find(`.screens__select-item-title`).addClass(mode)
				$(this).find(`.screens__select-item-text`).addClass(mode)

				$(this).find(`.screens__select-item-marker`).hide()
				if ($(this).hasClass('active')) {
					$(this).find(`.screens__select-item-marker.${mode}.active`).show()
					$(this).find(`.screens__select-item-title`).addClass('active')
					$(this).find(`.screens__select-item-text`).addClass('active')
				}
				else {
					$(this).find(`.screens__select-item-marker.${mode}:not(.active)`).show()
					$(this).find(`.screens__select-item-title`).removeClass('active')
					$(this).find(`.screens__select-item-text`).removeClass('active')
				}
			})
			$('.screen__selected-item').each(function() {
				$(this).find(`.screen__selected-item-title`).removeClass('light')
				$(this).find(`.screen__selected-item-text`).removeClass('light')

				$(this).find(`.screen__selected-item-title`).removeClass('dark')
				$(this).find(`.screen__selected-item-text`).removeClass('dark')

				$(this).find(`.screen__selected-item-title`).removeClass('active')
				$(this).find(`.screen__selected-item-text`).removeClass('active')

				$(this).find(`.screen__selected-item-title`).addClass(mode)
				$(this).find(`.screen__selected-item-text`).addClass(mode)

				$(this).find(`.screen__selected-item-marker`).hide()
				
				if ($(this).data('type') == featureType) {
					$(this).find(`.screen__selected-item-marker.${mode}.active`).show()
					// $(this).find(`.screen__selected-item-title`).addClass('active')
					// $(this).find(`.screen__selected-item-text`).addClass('active')
				}
				else {
					$(this).find(`.screen__selected-item-marker.${mode}:not(.active)`).show()
					// $(this).find(`.screen__selected-item-title`).removeClass('active')
					// $(this).find(`.screen__selected-item-text`).removeClass('active')
				}
			})
		}
	})
</script>
