<link rel="stylesheet" href="{{ 'screens.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'screens-responsive.css' | asset_url }}" media="print" onload="this.media='all'">

{% style %}
	.screens {
		background-image: url({{ 'screens-bg.png' | asset_url}});
	}
{% endstyle %}

<div class="screens" id="screens">
	<div class="screens__wrap">
		<div class="screens__top">
			<div class="screens__top-title">
				<div class="screens__top-title-primary">Switch between five screens</div>
				<div class="screens__top-title-secondary">and explore your car with Teslogic</div>
			</div>
			<div class="screens__top-switcher">
				<div class="screens__top-switcher-item light active">Light</div>
				<div class="screens__top-switcher-item dark">Dark</div>				
			</div>
		</div>
		<div class="screens__features"></div>
		<div class="screens__select">
			<div class="screens__select-item active">
				<img class="screens__select-item-marker light active" src="{{ 'marker-light-active.svg' | asset_url }}">
				<img class="screens__select-item-marker light" src="{{ 'marker-light.svg' | asset_url }}">
				<img class="screens__select-item-marker dark active" src="{{ 'marker-dark-active.svg' | asset_url }}">
				<img class="screens__select-item-marker dark" src="{{ 'marker-dark.svg' | asset_url }}">
				<div class="screens__select-item-title">Dashboard</div>
				<div class="screens__select-item-text">Easily control the speed, power and battery of your Tesla</div>				
			</div>
			<div class="screens__select-item">
				<img class="screens__select-item-marker light active" src="{{ 'marker-light-active.svg' | asset_url }}">
				<img class="screens__select-item-marker light" src="{{ 'marker-light.svg' | asset_url }}">
				<img class="screens__select-item-marker dark active" src="{{ 'marker-dark-active.svg' | asset_url }}">
				<img class="screens__select-item-marker dark" src="{{ 'marker-dark.svg' | asset_url }}">
				<div class="screens__select-item-title">Perfomance</div>
				<div class="screens__select-item-text">Experience the performance mode data even if you are driving</div>				
			</div>
			<div class="screens__select-item">
				<img class="screens__select-item-marker light active" src="{{ 'marker-light-active.svg' | asset_url }}">
				<img class="screens__select-item-marker light" src="{{ 'marker-light.svg' | asset_url }}">
				<img class="screens__select-item-marker dark active" src="{{ 'marker-dark-active.svg' | asset_url }}">
				<img class="screens__select-item-marker dark" src="{{ 'marker-dark.svg' | asset_url }}">
				<div class="screens__select-item-title">Energy screen</div>
				<div class="screens__select-item-text">Detailed pictures of how different vehicle systems consume power</div>				
			</div>
			<div class="screens__select-item">
				<img class="screens__select-item-marker light active" src="{{ 'marker-light-active.svg' | asset_url }}">
				<img class="screens__select-item-marker light" src="{{ 'marker-light.svg' | asset_url }}">
				<img class="screens__select-item-marker dark active" src="{{ 'marker-dark-active.svg' | asset_url }}">
				<img class="screens__select-item-marker dark" src="{{ 'marker-dark.svg' | asset_url }}">
				<div class="screens__select-item-title">Car Data</div>
				<div class="screens__select-item-text">Get and share all needed info about your Tesla</div>				
			</div>
			<div class="screens__select-item">
				<img class="screens__select-item-marker light active" src="{{ 'marker-light-active.svg' | asset_url }}">
				<img class="screens__select-item-marker light" src="{{ 'marker-light.svg' | asset_url }}">
				<img class="screens__select-item-marker dark active" src="{{ 'marker-dark-active.svg' | asset_url }}">
				<img class="screens__select-item-marker dark" src="{{ 'marker-dark.svg' | asset_url }}">
				<div class="screens__select-item-title">Map and Nav</div>
				<div class="screens__select-item-text">Plan your route and conveniently follow it along the way.</div>				
			</div>
			
		</div>
	</div>
	
</div>

<script type="text/javascript">
	$(document).ready(function() {
		var mode = 'light' // dark

		setActiveSelectItem()

		$('.screens__select-item').on('click', function() {
			$('.screens__select-item').each(function() {
				$(this).removeClass('active')
			})
			$(this).addClass('active')
			setActiveSelectItem()
		})

		function setActiveSelectItem() {
			$('.screens__select-item').each(function() {
				$(this).find(`.screens__select-item-marker`).hide()
				if ($(this).hasClass('active')) {
					$(this).find(`.screens__select-item-marker.${mode}.active`).show()
				}
				else {
					$(this).find(`.screens__select-item-marker.${mode}:not(.active)`).show()
				}
			})
		}
	})
</script>
