<link rel="stylesheet" href="{{ 'shortcuts.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'shortcuts-responsive.css' | asset_url }}" media="print" onload="this.media='all'">

{% assign articles = blogs['teslogic-shortcuts-2024'].articles | sort: 'title' %}

<div class="shortcuts">
	<div class="shortcuts-wrap">
		<div class="shortcuts-title">
			<div class="shortcuts-title-text">Teslogic Shortcuts:</div>
			<div class="shortcuts-title-icon">
				<img src="{{ 'shortcuts-top-icon.svg' | asset_url }}">
			</div>	
		</div>
		<div class="shortcuts-subtitle">
			Maximize your driving comfort with an innovative set of commands
		</div>
		<div class="shortcuts-info">
			<div class="shortcuts-info-block shortcuts-info-block-text">
				<div class="shortcuts-info-block-text-primary">"Teslogic Shortcuts" is a set of convenient commands that enable you to manage auxiliary vehicle systems not found in Tesla's basic functionality.</div>
				<div class="shortcuts-info-block-text-secondary">These commands add convenience without affecting the driving process or compromising vehicle safety</div>
			</div>
			<div class="shortcuts-info-block shortcuts-info-block-car shortcuts-info-block-relative">
				<div class="shortcuts-info-block-background">
					<img class="shortcuts-info-block-background-desktop" src="{{ 'shortcuts-car-bg-desktop.png' | asset_url }}" srcset="{{ 'shortcuts-car-bg-retina.png' | asset_url }} 2x" loading="lazy">
					<img class="shortcuts-info-block-background-mobile" src="{{ 'shortcuts-car-bg-mobile.png' | asset_url }}" srcset="{{ 'shortcuts-car-bg-mobile-retina.png' | asset_url }} 2x" loading="lazy">
				</div>
				<div class="shortcuts-info-block-image">
					<img class="shortcuts-info-block-image-desktop" src="{{ 'shortcuts-iphone-desktop.png' | asset_url }}" srcset="{{ 'shortcuts-iphone-retina.png' | asset_url }} 2x" loading="lazy">
					<img class="shortcuts-info-block-image-mobile" src="{{ 'shortcuts-iphone-mobile.png' | asset_url }}" srcset="{{ 'shortcuts-iphone-mobile-retina.png' | asset_url }} 2x" loading="lazy">
				</div>
			</div>
			<div class="shortcuts-info-block shortcuts-info-block-artboard shortcuts-info-block-between">
				<div class="shortcuts-info-block-between-image shortcuts-info-artboard-image">
					<img class="shortcuts-info-artboard-image-desktop" src="{{ 'shortcuts-artboard-desktop.png' | asset_url }}" srcset="{{ 'shortcuts-artboard-retina.png' | asset_url }} 2x" loading="lazy">
					<img class="shortcuts-info-artboard-image-mobile" src="{{ 'shortcuts-artboard-mobile.png' | asset_url }}" srcset="{{ 'shortcuts-artboard-mobile-retina.png' | asset_url }} 2x" loading="lazy">
				</div>
				<div class="shortcuts-info-block-between-text shortcuts-info-artboard-text">
					To activate Shortcuts, you need to switch the Active Control toggle to the "on" position using a pin or any other object.
				</div>
			</div>
			<div class="shortcuts-info-block shortcuts-info-block-info shortcuts-info-block-between">
				<div class="shortcuts-info-block-between-image shortcuts-info-info-image">
					<img class="shortcuts-info-info-image-desktop" src="{{ 'shortcuts-info-icon.svg' | asset_url }}">
					<img class="shortcuts-info-info-image-mobile" src="{{ 'shortcuts-info-icon-mobile.svg' | asset_url }}">
				</div>
				<div class="shortcuts-info-block-between-text shortcuts-info-info-text">
					Shortcuts settings and changes are stored within the transmitter, enabling them to function when the phone is disconnected.
				</div>				
			</div>
		</div>
		<div class="shortcuts-features">
		    {% for article in articles %}
		    	<div class="shortcuts-features-item">
			    	<div class="shortcuts-features-item-image">
			    		<img src="{{ article.image | img_url: '1052x1052' }}">
			    	</div>
	  				{% assign title_array = article.title | split: ' ' %}
	  				{% assign number = title_array.first %}
	  				{% assign title = article.title | replace: number, '' %}
	  				{% assign excerpt_array = article.excerpt | newline_to_br | split: '<br />' %}
	  				{% if number == '06' %}
				    	<div class="shortcuts-features-item-speedicons">
					    	<div class="shortcuts-features-item-speedicon">
					    		<img src="{{ 'speed-limit-75.svg' | asset_url }}">
					    	</div>
					    	<div class="shortcuts-features-item-speedicon">
					    		<img src="{{ 'speed-limit-60.svg' | asset_url }}">
					    	</div>
				    	</div>
				    {% endif %}
			    	<div class="shortcuts-features-item-info">
				    	<div class="shortcuts-features-item-info-title">
					    	<div class="shortcuts-features-item-info-title-text">{{ title }}</div>
					    	<div class="shortcuts-features-item-info-title-icon">
					    		<img src="{{ excerpt_array.first | replace: '\n', '' }}">
					    	</div>
				    	</div>
				    	<div class="shortcuts-features-item-info-description">{{ article.content }}</div>
			    	</div>
		    	</div>
	    	{% endfor %}
		</div>
		<div class="shortcuts-features-mobile">
	  		<div class="shortcuts-features-scroller">
			    {% for article in articles %}
			    	<div class="shortcuts-features-item-mobile" data-show="image">
				    	<div class="shortcuts-features-item-mobile-wrap">
			  				{% assign title_array = article.title | split: ' ' %}
			  				{% assign number = title_array.first %}
			  				{% assign title = article.title | replace: number, '' %}
			  				{% assign excerpt_array = article.excerpt | newline_to_br | split: '<br />' %}
					    	<div class="shortcuts-features-item-image">
			    				<img draggable="false" src="{{ excerpt_array[1] | img_url: '612x612' }}">
					    	</div>
					    	<div class="shortcuts-features-item-description">{{ article.content }}</div>
					    	<div class="shortcuts-features-item-title">
						    	<div class="shortcuts-features-item-title-icon">
						    		<img class="shortcuts-features-item-title-icon-blue" src="{{ excerpt_array[2] | replace: '\n', '' }}">
						    		<img class="shortcuts-features-item-title-icon-black" src="{{ excerpt_array[3] | replace: '\n', '' }}">
						    	</div>
						    	<div class="shortcuts-features-item-title-text">{{ title }}</div>
						    	<div class="shortcuts-features-item-title-chevron">
						    		<img class="shortcuts-features-item-title-chevron-down" src="{{ 'shortcuts-item-mobile-chevron-down.svg' | asset_url }}">
						    		<img class="shortcuts-features-item-title-chevron-up" src="{{ 'shortcuts-item-mobile-chevron-up.svg' | asset_url }}">
						    	</div>
					    	</div>
				    	</div>
			    	</div>
		    	{% endfor %}
		    	<!-- <div class="shortcuts-features-item-mobile" data-show="image">
			    	<div class="shortcuts-features-item-mobile-wrap">
				    	<div class="shortcuts-features-item-image">
				    		<img draggable="false" src="{{ 'shortcuts-image-1-mobile.png' | asset_url }}" srcset="{{ 'shortcuts-image-1-mobile-retina.png' | asset_url }} 2x" loading="lazy">
				    	</div>
				    	<div class="shortcuts-features-item-description">
				    		Prepare your Tesla for Supercharging 10-20 minutes before your scheduled session (not at a Tesla charging station). Engage the battery preheating function to save time during charging. Tesla typically preheats the battery before charging, but this shortcut accelerates the process. The preheating will automatically deactivate after 40 minutes.
				    	</div>
				    	<div class="shortcuts-features-item-title">
					    	<div class="shortcuts-features-item-title-icon">
					    		<img class="shortcuts-features-item-title-icon-blue" src="{{ 'shortcuts-icon-01-mobile-blue.svg' | asset_url }}">
					    		<img class="shortcuts-features-item-title-icon-black" src="{{ 'shortcuts-icon-01-mobile-black.svg' | asset_url }}">
					    	</div>
					    	<div class="shortcuts-features-item-title-text">
					    		Battery<br>Preheat
					    	</div>
					    	<div class="shortcuts-features-item-title-chevron">
					    		<img class="shortcuts-features-item-title-chevron-down" src="{{ 'shortcuts-item-mobile-chevron-down.svg' | asset_url }}">
					    		<img class="shortcuts-features-item-title-chevron-up" src="{{ 'shortcuts-item-mobile-chevron-up.svg' | asset_url }}">
					    	</div>
				    	</div>
			    	</div>
		    	</div>
		    	<div class="shortcuts-features-item-mobile" data-show="image">
			    	<div class="shortcuts-features-item-mobile-wrap">
				    	<div class="shortcuts-features-item-image">
				    		<img draggable="false" src="{{ 'shortcuts-image-2-mobile.png' | asset_url }}" srcset="{{ 'shortcuts-image-2-mobile-retina.png' | asset_url }} 2x" loading="lazy">
				    	</div>
				    	<div class="shortcuts-features-item-description">
				    		In Chill mode, a full-throttle kickdown for 1 second will seamlessly transition your Tesla into regular Sport mode. If you refrain from full-throttle driving for 30 seconds, the vehicle will revert to Chill mode automatically.
				    	</div>
				    	<div class="shortcuts-features-item-title">
					    	<div class="shortcuts-features-item-title-icon">
					    		<img class="shortcuts-features-item-title-icon-blue" src="{{ 'shortcuts-icon-02-mobile-blue.svg' | asset_url }}">
					    		<img class="shortcuts-features-item-title-icon-black" src="{{ 'shortcuts-icon-02-mobile-black.svg' | asset_url }}">
					    	</div>
					    	<div class="shortcuts-features-item-title-text">
					    		Chill<br>Kickdown
					    	</div>
					    	<div class="shortcuts-features-item-title-chevron">
					    		<img class="shortcuts-features-item-title-chevron-down" src="{{ 'shortcuts-item-mobile-chevron-down.svg' | asset_url }}">
					    		<img class="shortcuts-features-item-title-chevron-up" src="{{ 'shortcuts-item-mobile-chevron-up.svg' | asset_url }}">
					    	</div>
				    	</div>
			    	</div>
		    	</div>
		    	<div class="shortcuts-features-item-mobile" data-show="image">
			    	<div class="shortcuts-features-item-mobile-wrap">
				    	<div class="shortcuts-features-item-image">
				    		<img draggable="false" src="{{ 'shortcuts-image-3-mobile.png' | asset_url }}" srcset="{{ 'shortcuts-image-3-mobile-retina.png' | asset_url }} 2x" loading="lazy">
				    	</div>
				    	<div class="shortcuts-features-item-description">
				    		Drift mode disables traction control and also the front motor in dual motor cars, allowing you to enjoy drifting without any limitations. Warning: Use this mode only outside public roads and at your own risk!
				    	</div>
				    	<div class="shortcuts-features-item-title">
					    	<div class="shortcuts-features-item-title-icon">
					    		<img class="shortcuts-features-item-title-icon-blue" src="{{ 'shortcuts-icon-03-mobile-blue.svg' | asset_url }}">
					    		<img class="shortcuts-features-item-title-icon-black" src="{{ 'shortcuts-icon-03-mobile-black.svg' | asset_url }}">
					    	</div>
					    	<div class="shortcuts-features-item-title-text">
					    		Teslogic<br>Drift Mode
					    	</div>
					    	<div class="shortcuts-features-item-title-chevron">
					    		<img class="shortcuts-features-item-title-chevron-down" src="{{ 'shortcuts-item-mobile-chevron-down.svg' | asset_url }}">
					    		<img class="shortcuts-features-item-title-chevron-up" src="{{ 'shortcuts-item-mobile-chevron-up.svg' | asset_url }}">
					    	</div>
				    	</div>
			    	</div>
		    	</div>
		    	<div class="shortcuts-features-item-mobile" data-show="image">
			    	<div class="shortcuts-features-item-mobile-wrap">
				    	<div class="shortcuts-features-item-image">
				    		<img draggable="false" src="{{ 'shortcuts-image-4-mobile.png' | asset_url }}" srcset="{{ 'shortcuts-image-4-mobile-retina.png' | asset_url }} 2x" loading="lazy">
				    	</div>
				    	<div class="shortcuts-features-item-description">
				    		This mode distributes torque evenly between the axles in a 50/50 ratio, significantly reducing the likelihood of skidding on slippery roads.
				    	</div>
				    	<div class="shortcuts-features-item-title">
					    	<div class="shortcuts-features-item-title-icon">
					    		<img class="shortcuts-features-item-title-icon-blue" src="{{ 'shortcuts-icon-04-mobile-blue.svg' | asset_url }}">
					    		<img class="shortcuts-features-item-title-icon-black" src="{{ 'shortcuts-icon-04-mobile-black.svg' | asset_url }}">
					    	</div>
					    	<div class="shortcuts-features-item-title-text">
					    		Snow<br>/ Ice mode
					    	</div>
					    	<div class="shortcuts-features-item-title-chevron">
					    		<img class="shortcuts-features-item-title-chevron-down" src="{{ 'shortcuts-item-mobile-chevron-down.svg' | asset_url }}">
					    		<img class="shortcuts-features-item-title-chevron-up" src="{{ 'shortcuts-item-mobile-chevron-up.svg' | asset_url }}">
					    	</div>
				    	</div>
			    	</div>
		    	</div>
		    	<div class="shortcuts-features-item-mobile" data-show="image">
			    	<div class="shortcuts-features-item-mobile-wrap">
				    	<div class="shortcuts-features-item-image">
				    		<img draggable="false" src="{{ 'shortcuts-image-5-mobile.png' | asset_url }}" srcset="{{ 'shortcuts-image-5-mobile-retina.png' | asset_url }} 2x" loading="lazy">
				    	</div>
				    	<div class="shortcuts-features-item-description">
				    		Adjust regenerative braking strength to minimize or completely eliminate sudden traction loss on slippery roads. This shortcut allows you to customize regenerative braking to suit your driving conditions.
				    	</div>
				    	<div class="shortcuts-features-item-title">
					    	<div class="shortcuts-features-item-title-icon">
					    		<img class="shortcuts-features-item-title-icon-blue" src="{{ 'shortcuts-icon-05-mobile-blue.svg' | asset_url }}">
					    		<img class="shortcuts-features-item-title-icon-black" src="{{ 'shortcuts-icon-05-mobile-black.svg' | asset_url }}">
					    	</div>
					    	<div class="shortcuts-features-item-title-text">
					    		Regen Settings
					    	</div>
					    	<div class="shortcuts-features-item-title-chevron">
					    		<img class="shortcuts-features-item-title-chevron-down" src="{{ 'shortcuts-item-mobile-chevron-down.svg' | asset_url }}">
					    		<img class="shortcuts-features-item-title-chevron-up" src="{{ 'shortcuts-item-mobile-chevron-up.svg' | asset_url }}">
					    	</div>
				    	</div>
			    	</div>
		    	</div>
		    	<div class="shortcuts-features-item-mobile" data-show="image">
			    	<div class="shortcuts-features-item-mobile-wrap">
				    	<div class="shortcuts-features-item-image">
				    		<img draggable="false" src="{{ 'shortcuts-image-6-mobile.png' | asset_url }}" srcset="{{ 'shortcuts-image-6-mobile-retina.png' | asset_url }} 2x" loading="lazy">
				    	</div>
				    	<div class="shortcuts-features-item-speedicons">
					    	<div class="shortcuts-features-item-speedicon">
					    		<img src="{{ 'speed-limit-75.svg' | asset_url }}">
					    	</div>
					    	<div class="shortcuts-features-item-speedicon">
					    		<img src="{{ 'speed-limit-60.svg' | asset_url }}">
					    	</div>
				    	</div>
				    	<div class="shortcuts-features-item-description">
				    		Automatically reduce your speed to match the maximum allowable speed limits in areas with enforced speed restrictions, helping you avoid fines for speeding.
				    	</div>
				    	<div class="shortcuts-features-item-title">
					    	<div class="shortcuts-features-item-title-icon">
					    		<img class="shortcuts-features-item-title-icon-blue" src="{{ 'shortcuts-icon-06-mobile-blue.svg' | asset_url }}">
					    		<img class="shortcuts-features-item-title-icon-black" src="{{ 'shortcuts-icon-06-mobile-black.svg' | asset_url }}">
					    	</div>
					    	<div class="shortcuts-features-item-title-text">
					    		Traffic Fines Avoidance
					    	</div>
					    	<div class="shortcuts-features-item-title-chevron">
					    		<img class="shortcuts-features-item-title-chevron-down" src="{{ 'shortcuts-item-mobile-chevron-down.svg' | asset_url }}">
					    		<img class="shortcuts-features-item-title-chevron-up" src="{{ 'shortcuts-item-mobile-chevron-up.svg' | asset_url }}">
					    	</div>
				    	</div>
			    	</div>
		    	</div> -->
	    	</div>
  			<div class="shortcuts-features-scrollbar">
				<div class="shortcuts-features-scrollbar-thumb"></div>
			</div>
		</div>
		<div class="shortcuts-more">
			<div class="shortcuts-more-gradient shortcuts-more-gradient-top">
				<img src="{{ 'shortcuts-more-gradient-top.png' | asset_url }}">
			</div>
			<div class="shortcuts-more-layer shortcuts-more-layer-3">
				<div class="shortcuts-more-text">
					This is only the beginning. Many more to come...
				</div>
				<!-- <button class="shortcuts-more-button shortcuts-more-button-desktop">More Shortucts</button> -->
				<!-- <button class="shortcuts-more-button shortcuts-more-button-mobile">More</button> -->
			</div>
			<div class="shortcuts-more-gradient shortcuts-more-gradient-bottom">
				<img src="{{ 'shortcuts-more-gradient-bottom.png' | asset_url }}">
			</div>
			<div class="shortcuts-more-layer shortcuts-more-layer-2"></div>
			<div class="shortcuts-more-layer shortcuts-more-layer-1"></div>
			
		</div>
	</div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
	  var content = document.querySelector('.shortcuts-features-scroller');
		var scrollbar = document.querySelector('.shortcuts-features-scrollbar');
	  var scrollbarThumb = document.querySelector('.shortcuts-features-scrollbar-thumb');

		scrollbar.addEventListener('mousedown', function (event) {
		  var offsetX = event.clientX - scrollbar.getBoundingClientRect().left;
		  var scrollLeftPercentage = (offsetX / scrollbar.clientWidth) * 100;
		  content.scrollLeft = (content.scrollWidth - content.clientWidth) * (scrollLeftPercentage / 100);
		  updateScrollbarThumbPosition();
		});

		scrollbarThumb.addEventListener('mousedown', function (event) {
		  var startX = event.clientX;
		  var startThumbLeft = scrollbarThumb.offsetLeft;

		  function handleMouseMove(event) {
		    var deltaX = event.clientX - startX;
		    var newThumbLeft = startThumbLeft + deltaX;

		    newThumbLeft = Math.max(0, Math.min(newThumbLeft, scrollbar.clientWidth));

		    var newThumbLeftPercentage = (newThumbLeft / scrollbar.clientWidth) * 100;

		    scrollbarThumb.style.left = `calc(${newThumbLeftPercentage}% - ${56 * newThumbLeftPercentage / 100}px)`;
		    content.scrollLeft = (content.scrollWidth - content.clientWidth) * (newThumbLeftPercentage / 100);
		  }

		  function handleMouseUp() {
		    document.removeEventListener('mousemove', handleMouseMove);
		    document.removeEventListener('mouseup', handleMouseUp);
		  }

		  document.addEventListener('mousemove', handleMouseMove);
		  document.addEventListener('mouseup', handleMouseUp);
		});

	  content.addEventListener('scroll', function () {
	  	updateScrollbarThumbPosition()
	  });

		function updateScrollbarThumbPosition() {
		  let scrollLeftPercentage = (content.scrollLeft / (content.scrollWidth - content.clientWidth)) * 100;
		  scrollbarThumb.style.left = `calc(${scrollLeftPercentage}% - ${56 * scrollLeftPercentage / 100}px)`;
		}

		const slider = document.querySelector('.shortcuts-features-scroller');
		let isDown = false;
		let startX;
		let scrollLeft;

		slider.addEventListener('mousedown', (e) => {
		  isDown = true;
		  slider.classList.add('active');
		  startX = e.pageX - slider.offsetLeft;
		  scrollLeft = slider.scrollLeft;
		});
		slider.addEventListener('mouseleave', () => {
		  isDown = false;
		  slider.classList.remove('active');
		});
		slider.addEventListener('mouseup', () => {
		  isDown = false;
		  slider.classList.remove('active');
		});
		slider.addEventListener('mousemove', (e) => {
		  if(!isDown) return;
		  e.preventDefault();
		  const x = e.pageX - slider.offsetLeft;
		  const walk = (x - startX) * 1; //scroll-fast
		  slider.scrollLeft = scrollLeft - walk;
		  // console.log(walk);
		});

		$('.shortcuts-features-item-title').on('click', function() {
			let block = $(this).parents('.shortcuts-features-item-mobile')
			let show = $(block).data('show')
			if (show == 'image') {
				$(block).find('.shortcuts-features-item-image').hide()
				$(block).find('.shortcuts-features-item-description').show()
				$(this).find('.shortcuts-features-item-title-chevron-down').hide()
				$(this).find('.shortcuts-features-item-title-chevron-up').show()
				$(this).find('.shortcuts-features-item-title-icon-blue').hide()
				$(this).find('.shortcuts-features-item-title-icon-black').show()
				$('.shortcuts-features-item-speedicons').hide()
				$(block).data('show', 'description')
				return
			}
			if (show == 'description') {
				$(block).find('.shortcuts-features-item-description').hide()
				$(block).find('.shortcuts-features-item-image').show()
				$(this).find('.shortcuts-features-item-title-chevron-up').hide()
				$(this).find('.shortcuts-features-item-title-chevron-down').show()
				$(this).find('.shortcuts-features-item-title-icon-black').hide()
				$(this).find('.shortcuts-features-item-title-icon-blue').show()
				$('.shortcuts-features-item-speedicons').show()
				$(block).data('show', 'image')
				return
			}
		}) 
  })
</script>
