<link rel="stylesheet" href="{{ 'shortcuts.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'shortcuts-responsive.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="shortcuts">
	<div class="ellipse-container ellipse__shortcuts-1"><div class="ellipse-wrap"><div class="ellipse"></div></div></div>
	<div class="ellipse-container ellipse__shortcuts-2"><div class="ellipse-wrap"><div class="ellipse"></div></div></div>
	<div class="shortcuts-title">
		<!-- <div class="shortcuts-title-icon">
			<img src="{{ 'code.svg' | asset_url }}">
		</div> -->
		<div class="block_title shortcuts-title-text">Teslogic Shortcuts</div>		
	</div>
	<div class="shortcuts-content">
		<div class="shortcuts-content-top">
			<div class="shortcuts-content-legend">
				<div class="shortcuts-content-legend-item">
					"Teslogic Shortcuts" is a set of convenient commands that enable you to manage auxiliary vehicle systems
					not found in Tesla's basic functionality. 
				</div>
				<div class="shortcuts-content-legend-item">
					These commands add convenience without affecting the driving process or compromising vehicle safety
				</div>
				<div class="shortcuts-content-legend-item">
					<div class="shortcuts-content-legend-icon">
						<img src="{{ 'info-icon.svg' | asset_url }}">
					</div>
					<div class="shortcuts-content-legend-item-text">
						Shortcuts settings and changes are stored within the transmitter, enabling them to function when the phone is disconnected.
					</div>
				</div>				
			</div>
			<div class="shortcuts-content-image">
				<img src="{{ 'shortcuts-black-iphone.png' | asset_url }}" srcset="{{ 'shortcuts-black-iphone-retina.png' | asset_url }} 2x" loading="lazy">
			</div>
		</div>
		<div class="shortcuts-content-middle">
			<div class="shortcuts-content-middle-image">
				<img src="{{ 'artboard.png' | asset_url }}" srcset="{{ 'artboard-retina.png' | asset_url }} 2x" loading="lazy">
			</div>
			<div class="shortcuts-content-middle-info">
				<div class="shortcuts-content-middle-info-icon">
					<img src="{{ 'on-off-icon.svg' | asset_url }}">
				</div>
				<div class="shortcuts-content-middle-info-text">
					To activate Shortcuts, you need to switch the Active Control toggle to the "on" position using a pin or any other sharp object.
				</div>
			</div>		
		</div>
		<div class="shortcuts-content-list">
		    {% assign articles = blogs['teslogic-shortcuts'].articles | sort: "title" %}
		    {% for article in articles %}
				<div class="shortcuts-content-list-item">
					<div class="shortcuts-content-list-item-title">
						<div class="shortcuts-content-list-item-title-icon">
							{% if article.image %}
	  							<img src="{{ article.image | img_url: '848x848' }}">
	  						{% else %}
								<img src="{{ 'shortcuts_marker.svg' | asset_url }}">
							{% endif %}
						</div>
		  				{% assign title_array = article.title | split: " " %}
		  				{% assign number = title_array.first %}
		  				{% assign title = article.title | replace: number, "" %}
						<div class="shortcuts-content-list-item-title-text">{{ title }}</div>
					</div>
					<div class="shortcuts-content-list-item-content">{{ article.content }}</div>
				</div>
		  	{% endfor %}			
		</div>
		<div class="shortcuts-content-more">
			This is only the beginning. Many more to come...
		</div>
		<!-- <div class="shortcuts-content-top-mobile">
			<div class="shortcuts-content-image">
				<img src="{{ 'shortcuts-mobile.png' | asset_url }}" srcset="{{ 'shortcuts-mobile-2x.png' | asset_url }} 2x" loading="lazy">
			</div>			
		</div> -->
		<!-- <div class="shortcuts-content-list">
		    {% assign articles = blogs['teslogic-shortcuts'].articles | sort: "title" %}
		    {% for article in articles %}
				<div class="shortcuts-content-list-item">
					<div class="shortcuts-content-list-item-title">
						<div class="shortcuts-content-list-item-title-icon">
							{% if article.image %}
	  							<img src="{{ article.image | img_url: '848x848' }}">
	  						{% else %}
								<img src="{{ 'shortcuts_marker.svg' | asset_url }}">
							{% endif %}
						</div>
		  				{% assign title_array = article.title | split: " " %}
		  				{% assign number = title_array.first %}
		  				{% assign title = article.title | replace: number, "" %}
						<div class="shortcuts-content-list-item-title-text">{{ title }}</div>
					</div>
					<div class="shortcuts-content-list-item-content">{{ article.content }}</div>
				</div>
		  	{% endfor %}			
		</div>
		<div class="shortcuts-content-right">
			<div class="shortcuts-content-image">
				<img src="{{ 'shortcuts.png' | asset_url }}" srcset="{{ 'shortcuts-retina.png' | asset_url }} 2x" loading="lazy">
			</div>
			<div class="shortcuts-content-more">
				<div class="shortcuts-content-more-text">
					This is only the beginning.<br>
					Many more to come...
				</div>
				<div class="shortcuts-content-more-icon">
					<img src="{{ 'code-more.svg' | asset_url }}">
				</div>
			</div>
		</div>
		<div class="shortcuts-content-bottom-mobile">
			<div class="shortcuts-content-more">
				<div class="shortcuts-content-more-text">
					This is only the beginning.<br>
					Many more to come...
				</div>
				<div class="shortcuts-content-more-icon">
					<img src="{{ 'code-more.svg' | asset_url }}">
				</div>
			</div>			
		</div> -->
	</div>
</div>