<link rel="stylesheet" href="{{ 'shortcuts.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'shortcuts-responsive.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="shortcuts">
	<div class="shortcuts-wrap">
		<div class="shortcuts-title">
			<div class="shortcuts-title-text">Teslogic Shortcuts:</div>
			<div class="shortcuts-title-icon">
				<img src="{{ 'shortcuts-top-icon.svg' | asset_url }}">
			</div>	
		</div>
		<div class="shortcuts-subtitle">
			Maximize your driving comfort with an innovative set of commands
		</div>
		<div class="shortcuts-info">
			<div class="shortcuts-info-block shortcuts-info-block-text">
				<div class="shortcuts-info-block-text-primary">"Teslogic Shortcuts" is a set of convenient commands that enable you to manage auxiliary vehicle systems not found in Tesla's basic functionality.</div>
				<div class="shortcuts-info-block-text-secondary">These commands add convenience without affecting the driving process or compromising vehicle safety</div>
			</div>
			<div class="shortcuts-info-block shortcuts-info-block-car shortcuts-info-block-relative">
				<div class="shortcuts-info-block-background">
					<img class="shortcuts-info-block-background-desktop" src="{{ 'shortcuts-car-bg-desktop.png' | asset_url }}" srcset="{{ 'shortcuts-car-bg-retina.png' | asset_url }} 2x" loading="lazy">
					<img class="shortcuts-info-block-background-mobile" src="{{ 'shortcuts-car-bg-mobile.png' | asset_url }}" srcset="{{ 'shortcuts-car-bg-mobile-retina.png' | asset_url }} 2x" loading="lazy">
				</div>
				<div class="shortcuts-info-block-image">
					<img class="shortcuts-info-block-image-desktop" src="{{ 'shortcuts-iphone-desktop.png' | asset_url }}" srcset="{{ 'shortcuts-iphone-retina.png' | asset_url }} 2x" loading="lazy">
					<img class="shortcuts-info-block-image-mobile" src="{{ 'shortcuts-iphone-mobile.png' | asset_url }}" srcset="{{ 'shortcuts-iphone-mobile-retina.png' | asset_url }} 2x" loading="lazy">
				</div>
			</div>
			<div class="shortcuts-info-block shortcuts-info-block-artboard shortcuts-info-block-between">
				<div class="shortcuts-info-block-between-image shortcuts-info-artboard-image">
					<img class="shortcuts-info-artboard-image-desktop" src="{{ 'shortcuts-artboard-desktop.png' | asset_url }}" srcset="{{ 'shortcuts-artboard-retina.png' | asset_url }} 2x" loading="lazy">
					<img class="shortcuts-info-artboard-image-mobile" src="{{ 'shortcuts-artboard-mobile.png' | asset_url }}" srcset="{{ 'shortcuts-artboard-mobile-retina.png' | asset_url }} 2x" loading="lazy">
				</div>
				<div class="shortcuts-info-block-between-text shortcuts-info-artboard-text">
					To activate Shortcuts, you need to switch the Active Control toggle to the "on" position using a pin or any other sharp object.
				</div>
			</div>
			<div class="shortcuts-info-block shortcuts-info-block-info shortcuts-info-block-between">
				<div class="shortcuts-info-block-between-image shortcuts-info-info-image">
					<img class="shortcuts-info-info-image-desktop" src="{{ 'shortcuts-info-icon.svg' | asset_url }}">
					<img class="shortcuts-info-info-image-mobile" src="{{ 'shortcuts-info-icon-mobile.svg' | asset_url }}">
				</div>
				<div class="shortcuts-info-block-between-text shortcuts-info-info-text">
					Shortcuts settings and changes are stored within the transmitter, enabling them to function when the phone is disconnected.
				</div>				
			</div>
		</div>
		<div class="shortcuts-features">
	    	<div class="shortcuts-features-item">
		    	<div class="shortcuts-features-item-image">
		    		<img src="{{ 'shortcuts-image-1-desktop.png' | asset_url }}" srcset="{{ 'shortcuts-image-1-retina.png' | asset_url }} 2x" loading="lazy">
		    	</div>
		    	<div class="shortcuts-features-item-info">
			    	<div class="shortcuts-features-item-info-title">
				    	<div class="shortcuts-features-item-info-title-text">
				    		Battery Preheat<br>for Supercharging
				    	</div>
				    	<div class="shortcuts-features-item-info-title-icon">
				    		<img src="{{ 'shortcuts-icon-01.svg' | asset_url }}">
				    	</div>			    		
			    	</div>
			    	<div class="shortcuts-features-item-info-description">
			    		Prepare your Tesla for Supercharging 10-20 minutes before <br>
			    		your scheduled session (not at a Tesla charging station). <br>
			    		Engage the battery preheating function to save time during <br>
			    		charging. Tesla typically preheats the battery before <br>
			    		charging, but this shortcut accelerates the process. The <br>
			    		preheating will automatically deactivate after 40 minutes.
			    	</div>
		    	</div>
	    	</div>
	    	<div class="shortcuts-features-item">
		    	<div class="shortcuts-features-item-image">
		    		<img src="{{ 'shortcuts-image-2-desktop.png' | asset_url }}" srcset="{{ 'shortcuts-image-2-retina.png' | asset_url }} 2x" loading="lazy">
		    	</div>
		    	<div class="shortcuts-features-item-info">
			    	<div class="shortcuts-features-item-info-title">
				    	<div class="shortcuts-features-item-info-title-text">
				    		Chill/Sport Mode<br>Switching via Kickdown
				    	</div>
				    	<div class="shortcuts-features-item-info-title-icon">
				    		<img src="{{ 'shortcuts-icon-02.svg' | asset_url }}">
				    	</div>			    		
			    	</div>
			    	<div class="shortcuts-features-item-info-description">
			    		In Chill mode, a full-throttle kickdown for 1 second will <br>
			    		seamlessly transition your Tesla into regular Sport mode. If <br>
			    		you refrain from full-throttle driving for 30 seconds, the <br>
			    		vehicle will revert to Chill mode automatically.
			    	</div>
		    	</div>
	    	</div>
	    	<div class="shortcuts-features-item">
		    	<div class="shortcuts-features-item-image">
		    		<img src="{{ 'shortcuts-image-3-desktop.png' | asset_url }}" srcset="{{ 'shortcuts-image-3-retina.png' | asset_url }} 2x" loading="lazy">
		    	</div>
		    	<div class="shortcuts-features-item-image shortcuts-features-item-image-winter">
		    		<img src="{{ 'falling-snow-desktop.png' | asset_url }}" srcset="{{ 'falling-snow-retina.png' | asset_url }} 2x" loading="lazy">
		    	</div>
		    	<div class="shortcuts-features-item-info">
			    	<div class="shortcuts-features-item-info-title">
				    	<div class="shortcuts-features-item-info-title-text">
				    		Wipers Deicing<br>Winter Mode
				    	</div>
				    	<div class="shortcuts-features-item-info-title-icon">
				    		<img src="{{ 'shortcuts-icon-03.svg' | asset_url }}">
				    	</div>			    		
			    	</div>
			    	<div class="shortcuts-features-item-info-description">
			    		Activate this mode to lift the wipers to the area  <br>
			    		where warm air from the heater blows through the  <br>
			    		windshield (service mode). When you step on the  <br>
			    		brake to start driving, the wipers will return to their  <br>
			    		normal position.
			    	</div>
		    	</div>
	    	</div>
	    	<div class="shortcuts-features-item">
		    	<div class="shortcuts-features-item-image">
		    		<img src="{{ 'shortcuts-image-4-desktop.png' | asset_url }}" srcset="{{ 'shortcuts-image-4-retina.png' | asset_url }} 2x" loading="lazy">
		    	</div>
		    	<div class="shortcuts-features-item-info">
			    	<div class="shortcuts-features-item-info-title">
				    	<div class="shortcuts-features-item-info-title-text">
				    		Regen<br>Settings
				    	</div>
				    	<div class="shortcuts-features-item-info-title-icon">
				    		<img src="{{ 'shortcuts-icon-04.svg' | asset_url }}">
				    	</div>			    		
			    	</div>
			    	<div class="shortcuts-features-item-info-description">
			    		Adjust regenerative braking strength to minimize or <br>
			    		completely eliminate sudden traction loss on <br>
			    		slippery roads. This shortcut allows you to customize <br>
			    		regenerative braking to suit your driving conditions.
			    	</div>
		    	</div>
	    	</div>
	    	<div class="shortcuts-features-item">
		    	<div class="shortcuts-features-item-image">
		    		<img src="{{ 'shortcuts-image-5-desktop.png' | asset_url }}" srcset="{{ 'shortcuts-image-5-retina.png' | asset_url }} 2x" loading="lazy">
		    	</div>
		    	<div class="shortcuts-features-item-info">
			    	<div class="shortcuts-features-item-info-title">
				    	<div class="shortcuts-features-item-info-title-text">
				    		Ice<br>mode
				    	</div>
				    	<div class="shortcuts-features-item-info-title-icon">
				    		<img src="{{ 'shortcuts-icon-05.svg' | asset_url }}">
				    	</div>			    		
			    	</div>
			    	<div class="shortcuts-features-item-info-description">
			    		This mode distributes torque evenly between the <br>
			    		axles in a 50/50 ratio, significantly reducing the <br>
			    		likelihood of skidding on slippery roads.
			    	</div>
		    	</div>
	    	</div>
	    	<div class="shortcuts-features-item">
		    	<div class="shortcuts-features-item-image">
		    		<img src="{{ 'shortcuts-image-6-desktop.png' | asset_url }}" srcset="{{ 'shortcuts-image-6-retina.png' | asset_url }} 2x" loading="lazy">
		    	</div>
		    	<div class="shortcuts-features-item-speedicons">
			    	<div class="shortcuts-features-item-speedicon">
			    		<img src="{{ 'speed-limit-75.svg' | asset_url }}">
			    	</div>
			    	<div class="shortcuts-features-item-speedicon">
			    		<img src="{{ 'speed-limit-60.svg' | asset_url }}">
			    	</div>
		    	</div>
		    	<div class="shortcuts-features-item-info">
			    	<div class="shortcuts-features-item-info-title">
				    	<div class="shortcuts-features-item-info-title-text">
				    		Traffic Fines<br>Avoidance
				    	</div>
				    	<div class="shortcuts-features-item-info-title-icon">
				    		<img src="{{ 'shortcuts-icon-06.svg' | asset_url }}">
				    	</div>			    		
			    	</div>
			    	<div class="shortcuts-features-item-info-description">
			    		Automatically reduce your speed to match the maximum <br>
			    		allowable speed limits in areas with enforced speed <br>
			    		restrictions, helping you avoid fines for speeding.
			    	</div>
		    	</div>
	    	</div>
		</div>
		<div class="shortcuts-features-mobile">
	  		<div class="shortcuts-features-scroller">
		    	<div class="shortcuts-features-item-mobile" data-show="image">
			    	<div class="shortcuts-features-item-mobile-wrap">
				    	<div class="shortcuts-features-item-image">
				    		<img draggable="false" src="{{ 'shortcuts-image-1-mobile.png' | asset_url }}" srcset="{{ 'shortcuts-image-1-mobile-retina.png' | asset_url }} 2x" loading="lazy">
				    	</div>
				    	<div class="shortcuts-features-item-description">
				    		Prepare your Tesla for Supercharging 10-20 minutes before your scheduled session (not at a Tesla charging station). Engage the battery preheating function to save time during charging. Tesla typically preheats the battery before charging, but this shortcut accelerates the process. The preheating will automatically deactivate after 40 minutes.
				    	</div>
				    	<div class="shortcuts-features-item-title">
					    	<div class="shortcuts-features-item-title-icon">
					    		<img class="shortcuts-features-item-title-icon-blue" src="{{ 'shortcuts-icon-01-mobile-blue.svg' | asset_url }}">
					    		<img class="shortcuts-features-item-title-icon-black" src="{{ 'shortcuts-icon-01-mobile-black.svg' | asset_url }}">
					    	</div>
					    	<div class="shortcuts-features-item-title-text">
					    		Battery<br>Preheat
					    	</div>
					    	<div class="shortcuts-features-item-title-chevron">
					    		<img class="shortcuts-features-item-title-chevron-down" src="{{ 'shortcuts-item-mobile-chevron-down.svg' | asset_url }}">
					    		<img class="shortcuts-features-item-title-chevron-up" src="{{ 'shortcuts-item-mobile-chevron-up.svg' | asset_url }}">
					    	</div>
				    	</div>
			    	</div>
		    	</div>
		    	<div class="shortcuts-features-item-mobile" data-show="image">
			    	<div class="shortcuts-features-item-mobile-wrap">
				    	<div class="shortcuts-features-item-image">
				    		<img draggable="false" src="{{ 'shortcuts-image-2-mobile.png' | asset_url }}" srcset="{{ 'shortcuts-image-2-mobile-retina.png' | asset_url }} 2x" loading="lazy">
				    	</div>
				    	<div class="shortcuts-features-item-description">
				    		In Chill mode, a full-throttle kickdown for 1 second will seamlessly transition your Tesla into regular Sport mode. If you refrain from full-throttle driving for 30 seconds, the vehicle will revert to Chill mode automatically.
				    	</div>
				    	<div class="shortcuts-features-item-title">
					    	<div class="shortcuts-features-item-title-icon">
					    		<img class="shortcuts-features-item-title-icon-blue" src="{{ 'shortcuts-icon-02-mobile-blue.svg' | asset_url }}">
					    		<img class="shortcuts-features-item-title-icon-black" src="{{ 'shortcuts-icon-02-mobile-black.svg' | asset_url }}">
					    	</div>
					    	<div class="shortcuts-features-item-title-text">
					    		Chill<br>Kickdown
					    	</div>
					    	<div class="shortcuts-features-item-title-chevron">
					    		<img class="shortcuts-features-item-title-chevron-down" src="{{ 'shortcuts-item-mobile-chevron-down.svg' | asset_url }}">
					    		<img class="shortcuts-features-item-title-chevron-up" src="{{ 'shortcuts-item-mobile-chevron-up.svg' | asset_url }}">
					    	</div>		    		
				    	</div>
			    	</div>
		    	</div>
		    	<div class="shortcuts-features-item-mobile" data-show="image">
			    	<div class="shortcuts-features-item-mobile-wrap">
				    	<div class="shortcuts-features-item-image">
				    		<img draggable="false" src="{{ 'shortcuts-image-3-mobile.png' | asset_url }}" srcset="{{ 'shortcuts-image-3-mobile-retina.png' | asset_url }} 2x" loading="lazy">
				    	</div>
				    	<!-- <div class="shortcuts-features-item-image shortcuts-features-item-image-winter">
				    		<img src="{{ 'falling-snow-desktop.png' | asset_url }}" srcset="{{ 'falling-snow-retina.png' | asset_url }} 2x" loading="lazy">
				    	</div> -->
				    	<div class="shortcuts-features-item-description">
				    		Activate this mode to lift the wipers to the area where warm air from the heater blows through the windshield (service mode). When you step on the brake to start driving, the wipers will return to their normal position.
				    	</div>
				    	<div class="shortcuts-features-item-title">
					    	<div class="shortcuts-features-item-title-icon">
					    		<img class="shortcuts-features-item-title-icon-blue" src="{{ 'shortcuts-icon-03-mobile-blue.svg' | asset_url }}">
					    		<img class="shortcuts-features-item-title-icon-black" src="{{ 'shortcuts-icon-03-mobile-black.svg' | asset_url }}">
					    	</div>
					    	<div class="shortcuts-features-item-title-text">
					    		Teslogic<br>Drift Mode
					    	</div>
					    	<div class="shortcuts-features-item-title-chevron">
					    		<img class="shortcuts-features-item-title-chevron-down" src="{{ 'shortcuts-item-mobile-chevron-down.svg' | asset_url }}">
					    		<img class="shortcuts-features-item-title-chevron-up" src="{{ 'shortcuts-item-mobile-chevron-up.svg' | asset_url }}">
					    	</div>		    		
				    	</div>
			    	</div>
		    	</div>
		    	<div class="shortcuts-features-item-mobile" data-show="image">
			    	<div class="shortcuts-features-item-mobile-wrap">
				    	<div class="shortcuts-features-item-image">
				    		<img draggable="false" src="{{ 'shortcuts-image-4-mobile.png' | asset_url }}" srcset="{{ 'shortcuts-image-4-mobile-retina.png' | asset_url }} 2x" loading="lazy">
				    	</div>
				    	<div class="shortcuts-features-item-description">
				    		This mode distributes torque evenly between the axles in a 50/50 ratio, significantly reducing the likelihood of skidding on slippery roads.
				    	</div>
				    	<div class="shortcuts-features-item-title">
					    	<div class="shortcuts-features-item-title-icon">
					    		<img class="shortcuts-features-item-title-icon-blue" src="{{ 'shortcuts-icon-04-mobile-blue.svg' | asset_url }}">
					    		<img class="shortcuts-features-item-title-icon-black" src="{{ 'shortcuts-icon-04-mobile-black.svg' | asset_url }}">
					    	</div>
					    	<div class="shortcuts-features-item-title-text">
					    		Snow<br>/ Ice mode
					    	</div>
					    	<div class="shortcuts-features-item-title-chevron">
					    		<img class="shortcuts-features-item-title-chevron-down" src="{{ 'shortcuts-item-mobile-chevron-down.svg' | asset_url }}">
					    		<img class="shortcuts-features-item-title-chevron-up" src="{{ 'shortcuts-item-mobile-chevron-up.svg' | asset_url }}">
					    	</div>		    		
				    	</div>
			    	</div>
		    	</div>
		    	<div class="shortcuts-features-item-mobile" data-show="image">
			    	<div class="shortcuts-features-item-mobile-wrap">
				    	<div class="shortcuts-features-item-image">
				    		<img draggable="false" src="{{ 'shortcuts-image-5-mobile.png' | asset_url }}" srcset="{{ 'shortcuts-image-5-mobile-retina.png' | asset_url }} 2x" loading="lazy">
				    	</div>
				    	<div class="shortcuts-features-item-description">
				    		Adjust regenerative braking strength to minimize or completely eliminate sudden traction loss on slippery roads. This shortcut allows you to customize regenerative braking to suit your driving conditions.
				    	</div>
				    	<div class="shortcuts-features-item-title">
					    	<div class="shortcuts-features-item-title-icon">
					    		<img class="shortcuts-features-item-title-icon-blue" src="{{ 'shortcuts-icon-05-mobile-blue.svg' | asset_url }}">
					    		<img class="shortcuts-features-item-title-icon-black" src="{{ 'shortcuts-icon-05-mobile-black.svg' | asset_url }}">
					    	</div>
					    	<div class="shortcuts-features-item-title-text">
					    		Regen Settings
					    	</div>
					    	<div class="shortcuts-features-item-title-chevron">
					    		<img class="shortcuts-features-item-title-chevron-down" src="{{ 'shortcuts-item-mobile-chevron-down.svg' | asset_url }}">
					    		<img class="shortcuts-features-item-title-chevron-up" src="{{ 'shortcuts-item-mobile-chevron-up.svg' | asset_url }}">
					    	</div>		    		
				    	</div>
			    	</div>
		    	</div>
		    	<div class="shortcuts-features-item-mobile" data-show="image">
			    	<div class="shortcuts-features-item-mobile-wrap">
				    	<div class="shortcuts-features-item-image">
				    		<img draggable="false" src="{{ 'shortcuts-image-6-mobile.png' | asset_url }}" srcset="{{ 'shortcuts-image-6-mobile-retina.png' | asset_url }} 2x" loading="lazy">
				    	</div>
				    	<div class="shortcuts-features-item-speedicons">
					    	<div class="shortcuts-features-item-speedicon">
					    		<img src="{{ 'speed-limit-75.svg' | asset_url }}">
					    	</div>
					    	<div class="shortcuts-features-item-speedicon">
					    		<img src="{{ 'speed-limit-60.svg' | asset_url }}">
					    	</div>
				    	</div>
				    	<div class="shortcuts-features-item-description">
				    		Automatically reduce your speed to match the maximum allowable speed limits in areas with enforced speed restrictions, helping you avoid fines for speeding.
				    	</div>
				    	<div class="shortcuts-features-item-title">
					    	<div class="shortcuts-features-item-title-icon">
					    		<img class="shortcuts-features-item-title-icon-blue" src="{{ 'shortcuts-icon-06-mobile-blue.svg' | asset_url }}">
					    		<img class="shortcuts-features-item-title-icon-black" src="{{ 'shortcuts-icon-06-mobile-black.svg' | asset_url }}">
					    	</div>
					    	<div class="shortcuts-features-item-title-text">
					    		Traffic Fines Avoidance
					    	</div>
					    	<div class="shortcuts-features-item-title-chevron">
					    		<img class="shortcuts-features-item-title-chevron-down" src="{{ 'shortcuts-item-mobile-chevron-down.svg' | asset_url }}">
					    		<img class="shortcuts-features-item-title-chevron-up" src="{{ 'shortcuts-item-mobile-chevron-up.svg' | asset_url }}">
					    	</div>		    		
				    	</div>
			    	</div>
		    	</div>
	    	</div>
		</div>
		<div class="shortcuts-more">
			<div class="shortcuts-more-gradient shortcuts-more-gradient-top">
				<img src="{{ 'shortcuts-more-gradient-top.png' | asset_url }}">
			</div>
			<div class="shortcuts-more-layer shortcuts-more-layer-3">
				<div class="shortcuts-more-text">
					This is only the beginning.<br>Many more to come...
				</div>
				<button class="shortcuts-more-button shortcuts-more-button-desktop">More Shortucts</button>
				<button class="shortcuts-more-button shortcuts-more-button-mobile">More</button>
			</div>
			<div class="shortcuts-more-gradient shortcuts-more-gradient-bottom">
				<img src="{{ 'shortcuts-more-gradient-bottom.png' | asset_url }}">
			</div>
			<div class="shortcuts-more-layer shortcuts-more-layer-2"></div>
			<div class="shortcuts-more-layer shortcuts-more-layer-1"></div>
			
		</div>
	</div>
</div>

<script type="text/javascript">
  	$(document).ready(function() {
  		new SimpleBar($('.shortcuts-features-scroller'), {
  			autoHide: false
  		})

		const slider = document.querySelector('.shortcuts-features-scroller');
		let isDown = false;
		let startX;
		let scrollLeft;

		slider.addEventListener('mousedown', (e) => {
		  isDown = true;
		  slider.classList.add('active');
		  startX = e.pageX - slider.offsetLeft;
		  scrollLeft = slider.scrollLeft;
		});
		slider.addEventListener('mouseleave', () => {
		  isDown = false;
		  slider.classList.remove('active');
		});
		slider.addEventListener('mouseup', () => {
		  isDown = false;
		  slider.classList.remove('active');
		});
		slider.addEventListener('mousemove', (e) => {
		  if(!isDown) return;
		  e.preventDefault();
		  const x = e.pageX - slider.offsetLeft;
		  const walk = (x - startX) * 1; //scroll-fast
		  slider.scrollLeft = scrollLeft - walk;
		  // console.log(walk);
		});

		$('.shortcuts-features-item-title-chevron').on('click', function() {
			let block = $(this).parents('.shortcuts-features-item-mobile')
			let show = $(block).data('show')
			if (show == 'image') {
				$(block).find('.shortcuts-features-item-image').hide()
				$(block).find('.shortcuts-features-item-description').show()
				$(this).find('.shortcuts-features-item-title-chevron-down').hide()
				$(this).find('.shortcuts-features-item-title-chevron-up').show()
				$(block).data('show', 'description')
				return
			}
			if (show == 'description') {
				$(block).find('.shortcuts-features-item-description').hide()
				$(block).find('.shortcuts-features-item-image').show()
				$(this).find('.shortcuts-features-item-title-chevron-up').hide()
				$(this).find('.shortcuts-features-item-title-chevron-down').show()
				$(block).data('show', 'image')
				return
			}
		}) 
  	})
</script>
