<link rel="stylesheet" href="{{ 'significant.css' | asset_url }}" media="print" onload="this.media='all'">

{% style %}
	
{% endstyle %}

<div class="significant" id="significant">
  <div class="significant__title">Significant Features</div>
  <div class="significant__features">
    {% for article in blogs['significant-features'].articles %}
    	{{ article | json }}
    	{{ article.image.src }}
  		<div class="significant__features-item">
  			<img class="significant__features-item-image" src="{{ article.image | img_url: '400x400' }}">
  			<div class="significant__features-item-title">{{ article.title }}</div>
  			<div class="significant__features-item-content">{{ article.content }}</div>
  		</div>
  	{% endfor %}
  </div>
</div>