<link rel="stylesheet" href="{{ 'significant.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'significant-responsive.css' | asset_url }}" media="print" onload="this.media='all'">

{% style %}
	
{% endstyle %}

<div class="significant" id="significant">
  <div class="significant__title">Significant dashboard features</div>
  <div class="significant__subtitle">Significant dashboard features</div>
  <div class="significant__features">
	  <div class="significant__features-scroller">
	    {% assign articles = blogs['significant-dashboard-features'].articles | sort: "title" %}
	    {% for article in articles %}
	  		<div class="significant__features-item">
  				{% assign title_array = article.title | split: " " %}
  				{% assign number = title_array.first %}
  				{% assign title = article.title | replace: number, "" %}
	  			<div class="significant__features-item-title">{{ title }}</div>
	  			<div class="significant__features-item-image">
	  				<img draggable="false" src="{{ article.image | img_url: '848x848' }}">
	  			</div>
		  		<div class="significant__features-item-content">{{ article.content }}</div>
	  			<!-- <div class="significant__features-item-info">
	  				{% assign title_array = article.title | split: " " %}
	  				{% assign number = title_array.first %}
	  				{% assign title = article.title | replace: number, "" %}
		  			<div class="significant__features-item-title">{{ title }}</div>
		  			<div class="significant__features-item-content">{{ article.content }}</div>
		  		</div> -->
	  		</div>
	  	{% endfor %}
	  	<div><div style="margin-left: -20px"></div></div>
	  </div>
		<div class="significant__features-scrollbar">
			<div class="significant__features-scrollbar-thumb"></div>
		</div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
  	var scrollbarThumbWidth
  	onWindowResize()
  	$(window).on('resize', onWindowResize)
  	function onWindowResize() {
  		if (window.innerWidth >= 1000) {
  			scrollbarThumbWidth = 80
  		}
  		else {
  			scrollbarThumbWidth = 56
  		}
  	}
  	
	  var content = document.querySelector('.significant__features-scroller');
		var scrollbar = document.querySelector('.significant__features-scrollbar');
	  var scrollbarThumb = document.querySelector('.significant__features-scrollbar-thumb');

		scrollbar.addEventListener('mousedown', function (event) {
		  var offsetX = event.clientX - scrollbar.getBoundingClientRect().left;
		  var scrollLeftPercentage = (offsetX / scrollbar.clientWidth) * 100;
		  content.scrollLeft = (content.scrollWidth - content.clientWidth) * (scrollLeftPercentage / 100);
		  updateScrollbarThumbPosition();
		});

		scrollbarThumb.addEventListener('mousedown', function (event) {
		  var startX = event.clientX;
		  var startThumbLeft = scrollbarThumb.offsetLeft;

		  function handleMouseMove(event) {
		    var deltaX = event.clientX - startX;
		    var newThumbLeft = startThumbLeft + deltaX;

		    newThumbLeft = Math.max(0, Math.min(newThumbLeft, scrollbar.clientWidth));

		    var newThumbLeftPercentage = (newThumbLeft / scrollbar.clientWidth) * 100;

		    scrollbarThumb.style.left = `calc(${newThumbLeftPercentage}% - ${scrollbarThumbWidth * newThumbLeftPercentage / 100}px)`;
		    content.scrollLeft = (content.scrollWidth - content.clientWidth) * (newThumbLeftPercentage / 100);
		  }

		  function handleMouseUp() {
		    document.removeEventListener('mousemove', handleMouseMove);
		    document.removeEventListener('mouseup', handleMouseUp);
		  }

		  document.addEventListener('mousemove', handleMouseMove);
		  document.addEventListener('mouseup', handleMouseUp);
		});

	  content.addEventListener('scroll', function () {
	  	updateScrollbarThumbPosition()
	  });

		function updateScrollbarThumbPosition() {
		  let scrollLeftPercentage = (content.scrollLeft / (content.scrollWidth - content.clientWidth)) * 100;
		  scrollbarThumb.style.left = `calc(${scrollLeftPercentage}% - ${scrollbarThumbWidth * scrollLeftPercentage / 100}px)`;
		}

		const slider = document.querySelector('.significant__features-scroller');
		let isDown = false;
		let startX;
		let scrollLeft;

		slider.addEventListener('mousedown', (e) => {
		  isDown = true;
		  slider.classList.add('active');
		  startX = e.pageX - slider.offsetLeft;
		  scrollLeft = slider.scrollLeft;
		});
		slider.addEventListener('mouseleave', () => {
		  isDown = false;
		  slider.classList.remove('active');
		});
		slider.addEventListener('mouseup', () => {
		  isDown = false;
		  slider.classList.remove('active');
		});
		slider.addEventListener('mousemove', (e) => {
		  if(!isDown) return;
		  e.preventDefault();
		  const x = e.pageX - slider.offsetLeft;
		  const walk = (x - startX) * 1; //scroll-fast
		  slider.scrollLeft = scrollLeft - walk;
		  // console.log(walk);
		});
  })
</script>
