<link rel="stylesheet" href="{{ 'significant.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'significant-responsive.css' | asset_url }}" media="print" onload="this.media='all'">

{% style %}
	
{% endstyle %}

<div class="significant" id="significant">
  <div class="block_title significant__title">Significant Features</div>
  <div class="significant__features">
	  <div class="significant__features-scroller">
	    {% assign articles = blogs['significant-features'].articles | sort: "title" %}
	    {% for article in articles %}
	  		<div class="significant__features-item">
	  			<div class="significant__features-item-image">
	  				<img draggable="false" src="{{ article.image | img_url: '848x848' }}">
	  			</div>
	  			<div class="significant__features-item-info">
	  				{% assign title_array = article.title | split: " " %}
	  				{% assign number = title_array.first %}
	  				{% assign title = article.title | replace: number, "" %}
		  			<div class="significant__features-item-title">{{ title }}</div>
		  			<div class="significant__features-item-content">{{ article.content }}</div>
		  		</div>
	  		</div>
	  	{% endfor %}
	  	<div style="width: 80px;"></div>
	  </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
		const slider = document.querySelector('.significant__features-scroller');
		let isDown = false;
		let startX;
		let scrollLeft;

		slider.addEventListener('mousedown', (e) => {
		  isDown = true;
		  slider.classList.add('active');
		  startX = e.pageX - slider.offsetLeft;
		  scrollLeft = slider.scrollLeft;
		});
		slider.addEventListener('mouseleave', () => {
		  isDown = false;
		  slider.classList.remove('active');
		});
		slider.addEventListener('mouseup', () => {
		  isDown = false;
		  slider.classList.remove('active');
		});
		slider.addEventListener('mousemove', (e) => {
		  if(!isDown) return;
		  e.preventDefault();
		  const x = e.pageX - slider.offsetLeft;
		  const walk = (x - startX) * 1; //scroll-fast
		  slider.scrollLeft = scrollLeft - walk;
		  // console.log(walk);
		});
  })
</script>
