<link rel="stylesheet" href="{{ 'store.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'store-responsive.css' | asset_url }}" media="print" onload="this.media='all'">

{% assign product = all_products['teslogic-transmitter-kit-v2'] %}
{% assign charger = all_products['teslogic-wireless-charger'] %}

<div class="store_block" id="shop-now">
	<div class="store_block-product">
		<div class="store_block-product-gallery">
			<div class="store_block-product-gallery-items">
				<div class="store_block-product-gallery-item">					
					<img class="store_block-product-gallery-item-ellipse" src="{{ 'box-ellipse-86-desktop.png' | asset_url }}" srcset="{{ 'box-ellipse-86-retina.png' | asset_url }} 2x" loading="lazy">
					<img class="store_block-product-gallery-item-image" src="{{ 'store-item-1-desktop.png' | asset_url }}" srcset="{{ 'store-item-1-retina.png' | asset_url }} 2x" loading="lazy">
				</div>
			</div>
			<div class="store_block-product-gallery-main">
				
			</div>
		</div>
		<div class="store_block-product-info">
			<div>
				<div class="store_block-product-title">{{ product.title }}</div>
				<div class="store_block-product-price">
  
					<div class="store_block-product-price-new">$219</div>
				</div>
				<div class="store_block-product-shipping">
					<img class="store_block-product-shipping-icon" src={{ 'package.svg' | asset_url }}>
					<div class="store_block-product-shipping-details">
						<div>Free shipping in all domestic orders</div>
						<div>No import tax for international orders</div>
					</div>
				</div>
				<div class="store_block-product-subtitle">
					{{ product.description }}
				</div>
			</div>
			<div>
				<!-- <div class="store_block-product-amount">
					<div class="store_block-product-amount-button store_block-product-amount-button-minus">
						<div></div>
					</div>
					<span class="store_block-product-amount-value" id="amount">1</span>
					<div class="store_block-product-amount-button store_block-product-amount-button-plus">
						<div></div>
						<div></div>
					</div>
				</div> -->
				<div class="store_block-product-select-text">Select your Tesla model and year:</div>
				<div class="store_block-product-select">
					<div class="store_block-product-select-dropdown-select store_block-product-selected">
						<span class="store_block-product-select-value">Select model</span>
						<div class="store_block-product-select-arrow">
							<img src="{{ 'select_arrow.png' | asset_url }}">
						</div>
					</div>
					<div class="store_block-product-select-dropdown">
						<div class="store_block-product-select-dropdown-select">
							<span class="store_block-product-select-value">Select model</span>
							<div class="store_block-product-select-arrow">
								<img src="{{ 'select_arrow.png' | asset_url }}">
							</div>
						</div>
						{%- for model in product.variants -%}
							<div 
								class="store_block-product-select-dropdown-item" 
								data-model_id="{{ model.id }}"
								data-sku="{{ model.sku }}" 
								data-price="{{ model.price }}"
								data-compare_at_price="{{ model.compare_at_price }}"
								data-stock="{{ model.inventory_quantity }}"
							>
								{{ model.title }}
							</div>
						{%- endfor -%}
					</div>
				</div>
				<div class="store_block-add-wireless-charger">
					<input type="checkbox" id="select-charger" class="store_block-add-wireless-charger-checkbox" checked>
					<label for="select-charger" class="store_block-add-wireless-charger-title">Add Wireless Charger</label>
					<span class="store_block-add-wireless-charger-price">+ $40</span>
				</div>
				<button class="store_block-product-add" id="add">Order now</button>
				<div class="store_block-add-wireless-charger-time">Shipping in {{ product.metafields.custom.delivery_days }} business days</div>
				<!-- <div class="store_block-product-subtitle" style="margin-top: calc(20 * 100vw / 1366);">
					No import tax for international orders
				</div> -->
			</div>
		</div>
	</div>								
	<div class="store_block-product-mobile">
		<div class="store_block-product-mobile-top">
			<div class="store_block-product-title">{{ product.title }}</div>
			<div class="store_block-product-price store_block-product-price-mobile">$219</div>
		</div>
		<div class="store_block-product-shipping">
			<img class="store_block-product-shipping-icon" src={{ 'package-outline.svg' | asset_url }}>
			<div class="store_block-product-shipping-details">
				<div>Free shipping in all domestic orders</div>
				<div>No import tax for international orders</div>
			</div>
		</div>
		<div class="store_block-product-gallery">
			<div class="store_block-product-gallery-image">
				<img src="{{ product.featured_media | image_url }}">
			</div>
		</div>
		<div class="store_block-product-info">
			<!-- <div class="store_block-product-subtitle">
				{{ product.description }}
			</div> -->
			<div class="store_block-product-info-bottom">
				<div class="store_block-product-select-wrap">
					<div class="store_block-product-select-text">Select your Tesla model and year:</div>
					<div class="store_block-product-select">
						<div class="store_block-product-select-dropdown-select store_block-product-selected">
							<span class="store_block-product-select-value">Select model</span>
							<div class="store_block-product-select-arrow">
								<img src="{{ 'select_arrow.png' | asset_url }}">
							</div>
						</div>
						<div class="store_block-product-select-dropdown">
							<div class="store_block-product-select-dropdown-select">
								<span class="store_block-product-select-value">Select model</span>
								<div class="store_block-product-select-arrow">
									<img src="{{ 'select_arrow.png' | asset_url }}">
								</div>
							</div>
							{%- for model in product.variants -%}
								<div 
									class="store_block-product-select-dropdown-item"  
									data-model_id="{{ model.id }}"
									data-sku="{{ model.sku }}" 
									data-price="{{ model.price }}"
									data-compare_at_price="{{ model.compare_at_price }}"
									data-stock="{{ model.inventory_quantity }}"
								>
									{{ model.title }}
								</div>
							{%- endfor -%}
						</div>
					</div>
					<div class="store_block-add-wireless-charger">
						<input type="checkbox" id="select-charger-mobile" class="store_block-add-wireless-charger-checkbox" checked>
						<label for="select-charger-mobile" class="store_block-add-wireless-charger-title">Add Wireless Charger</label>
						<span class="store_block-add-wireless-charger-price">+ $40</span>
					</div>
				</div>
				<button class="store_block-product-add">Order now</button>
				<div class="store_block-add-wireless-charger-time">
					Shipping in {{ product.metafields.custom.delivery_days }} business days
				</div>
				<!-- <div class="store_block-product-subtitle" style="margin-top: calc(40 * 100vw / 1366);">
					No import tax for international orders
				</div> -->
			</div>
		</div>
	</div>
	<input type="hidden" id="charger-id" value="{{ charger.id }}">				
	<input type="hidden" id="charger-variant-id" value="{{ charger.variants[0].id }}">				
</div>

<script type="text/javascript">
	$(document).ready(function() {
		/*var amount = Number($('#amount').text())
		$('.store_block-product-amount-button-minus').on('click', function() {
			if (amount <= 1) return
			amount -= 1
			$('#amount').text(amount)
		})
		$('.store_block-product-amount-button-plus').on('click', function() {
			amount += 1
			$('#amount').text(amount)
		})*/
		var model_id = null
		// selectModel('TT22')
		$('.store_block-product-select-dropdown-select').on('click', function() {
			let dropdown = $(this).parents('.store_block-product-select').find('.store_block-product-select-dropdown')
			if ($(dropdown).is(':visible')) {
				$(dropdown).css('display', 'none')
			}
			else {
				$(dropdown).css('display', 'flex')
			}
			// $(this).parents('.store_block-product-select').find('.store_block-product-select-dropdown').toggle()
		})
		$('.store_block-product-select-dropdown-item').on('click', function() {
			let sku = $(this).data('sku')
			selectModel(sku)
		})
		$(document).click(function(event) { 
			var $target = $(event.target)
			if (!$target.closest('.store_block-product-select').length && 
				!$target.closest('.store_block-product-select-dropdown').length && 
				$('.store_block-product-select-dropdown').is(":visible")) {
				$('.store_block-product-select-dropdown').hide()
			}        
		})
		function selectModel(sku) {
			let model = $(`.store_block-product-select-dropdown-item[data-sku="${sku}"]`).first()
			model_id = model.data('model_id')
			$('.store_block-product-selected').find('.store_block-product-select-value').text(model.text())
			$('.store_block-product-price-new').text('$' + (model.data('price') / 100))	
			$('.store_block-product-price-mobile').text('$' + (model.data('price') / 100))	
			/*if (model.data('compare_at_price')) {
				$('.store_block-product-price-old span').text('$' + (model.data('compare_at_price') / 100))
				$('.store_block-product-price-new').text('$' + (model.data('price') / 100))
				$('.store_block-product-price-current').hide()
				$('.store_block-product-price-old').show()
				$('.store_block-product-price-new').show()
			}
			else {
				$('.store_block-product-price-current').text('$' + (model.data('price') / 100))
				$('.store_block-product-price-old').hide()
				$('.store_block-product-price-new').hide()
				$('.store_block-product-price-current').show()
			}*/
			if (model.data('stock') <= 0) {
				$('.store_block-add-wireless-charger-time').show()
			}
			else {
				$('.store_block-add-wireless-charger-time').hide()
			}
			$('.store_block-product-select').find('.store_block-product-select-dropdown').hide()
		}
		var cart_qty = Number({{ cart.item_count }})
		$('.store_block-product-add').on('click', function() {
			console.log('click to add')
			if (model_id) {
				let items = [{
					'id': model_id,
					'quantity': 1
				}]
				let add_items_count = 1
				if ($('.store_block-add-wireless-charger-checkbox').prop('checked') === true) {
					let charger_variant_id = $('#charger-variant-id').val()
					console.log(Number(charger_variant_id))
					items.push({
						'id': Number(charger_variant_id),
						'quantity': 1
					})
					add_items_count++
				}
				console.log(items)
				let formData = {
				 	'items': items
				}
				fetch(window.Shopify.routes.root + 'cart/add.js', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify(formData)
				})
				.then(response => {
					cart_qty = cart_qty + add_items_count
					$('.cart-qty').text(cart_qty)
					$('.cart-link').fadeIn()
					var f = $('.store_block-product-gallery-image')
					var cart_total = $("#cart-animate");
					var clone = $('<div class="cart"></div>').append(f.clone());
					clone.appendTo('body');
					clone.css({
						'z-index': 100500,
						background: '#fff',
						top: f.offset().top,
						left: f.offset().left,
						width: f.width() + 'px',
						height: f.height() + 'px',
						position: 'absolute',
						overflow: 'hidden'
					}).animate({
						top: cart_total.offset().top,
						left: cart_total.offset().left,
						width: cart_total.width() + 'px',
						height: cart_total.height() + 'px',
						// opacity: 0.7
					}, 2000, function () {
						$(this).remove();
					});
					$('.menu__item-button').hide();
					$('.menu__item-cart').show();
					// console.log(response)
				  	// return response.json()
				})
				.catch((error) => {
				  	console.error('Error:', error)
				});
			}
		})
	})
</script>
