<style type="text/css">
	.store_block {
		width: 100%;
		height: 677px;
		margin: 0 auto;
		margin-top: 70px;
	}
	.store_block-title {
		font-family: 'SF Pro';
		font-style: normal;
		font-weight: 700;
		font-size: 52px;
		line-height: 64px;
		letter-spacing: 0.02em;
		color: #000000;
		/*margin-left: 128px;*/
		margin-bottom: 65px;
		text-align: center;
	}
	.store_block-product {
		display: flex;
		margin-left: 128px;
		margin-bottom: 170px;
	}
	.store_block-product-mobile {
		display: none;
	}
	.store_block-product-gallery {
		width: 545px;
		height: 378px;
		position: relative;
		margin-right: 114px;
	}
	.store_block-product-gallery-image {
		width: 100%;
		height: 100%;
		background: rgba(69, 79, 99, 0.1);
	}
	.store_block-product-gallery-nav {
		position: absolute;
		top: 165px;
		width: 60px;
		height: 48px;
		cursor: pointer;
	}
	.store_block-product-gallery-nav img {
		width: 100%;
		height: 100%;
	}
	.store_block-product-gallery-nav-prev {
		left: 0;
	}
	.store_block-product-gallery-nav-next {
		right: 0;
	}
	.store_block-product-info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.store_block-product-title {
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 500;
		font-size: 44px;
		line-height: 52px;
		color: #000000;
		margin-bottom: 24px;
	}
	.store_block-product-price {
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 500;
		font-size: 28px;
		line-height: 36px;
		color: #000000;
		margin-bottom: 24px;
	}
	.store_block-product-subtitle {
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: #000000;
		max-width: 450px;
	}
	.store_block-product-amount {
		width: 183px;
		height: 56px;
		background: #FFFFFF;
		border-radius: 64px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.store_block-product-amount-button {
		width: 56px;
		height: 56px;
		background: #FFFFFF;
		box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
		border: 1px solid #FFFFFF;
		border-radius: 100px;
		position: relative;
		cursor: pointer;
	}
	.store_block-product-amount-button-minus > div,
	.store_block-product-amount-button-plus > div {
		width: 20px; 
		height: 4px; 
		background: #0F0F0F; 
		position: absolute; 
		left: 18px; 
		top: 26px;
	}
	.store_block-product-amount-button-plus > div:last-child {
		transform: rotate(-90deg); 
		transform-origin: center;
	}
	.store_block-product-amount-value {
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 700;
		font-size: 22px;
		line-height: 30px;
		text-align: center;
		color: #0F0F0F;
	}
	.store_block-product-select {
		width: 236px;
		height: 56px;
		background: #FFFFFF;
		border-radius: 100px;
		position: relative;
		display: flex;
		/*justify-content: center;*/
		align-items: center;
		padding-left: 21px;
		padding-right: 14px;
		box-sizing: border-box;
	}
	.store_block-product-select:hover {
		box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
	}
	.store_block-product-select-dropdown-select {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		/*grid-column-gap: 10px;*/
		cursor: pointer;
	}
	.store_block-product-select-dropdown {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		padding: 12px 21px 18px;
		display: none;
		flex-direction: column;
		grid-row-gap: 16px;
		background: #FFFFFF;
		border: 1px solid #3374FB;
		box-sizing: border-box;
		box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
		border-radius: 35px;
	}
	.store_block-product-select-dropdown-item {
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 32px;
		color: #0F0F0F;
		cursor: pointer;
	}
	.store_block-product-select-value {
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 32px;
		color: #9FA1A8;
	}
	.store_block-product-select-arrow {
		width: 24px;
		height: 24px;
	}
	.store_block-product-select-arrow img {
		width: 100%;
		height: 100%;
	}
	.store_block-product-add {
		margin-top: 44px;
		width: 183px;
		height: 56px;
		background: #3374FB;
		border: 1px solid #3374FB;
		border-radius: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: 'Gotham';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 32px;
		color: #FFFFFF;
		cursor: pointer;
	}
	@media screen and (min-width: 1000px) and (max-width: 1366px) { 
		.store_block {
			height: calc(677 * 100vw / 1366);
			margin-top: calc(70 * 100vw / 1366);
		}
		.store_block-title {
			font-size: calc(52 * 100vw / 1366);
			line-height: calc(64 * 100vw / 1366);
			/*margin-left: calc(128 * 100vw / 1366);*/
			margin-bottom: calc(65 * 100vw / 1366);
		}
		.store_block-product {
			margin-left: calc(128 * 100vw / 1366);
			margin-bottom: calc(170 * 100vw / 1366);
		}
		.store_block-product-gallery {
			width: calc(545 * 100vw / 1366);
			height: calc(378 * 100vw / 1366);
			margin-right: calc(114 * 100vw / 1366);
		}
		.store_block-product-gallery-nav {
			top: calc(165 * 100vw / 1366);
			width: calc(60 * 100vw / 1366);
			height: calc(48 * 100vw / 1366);
		}
		.store_block-product-title {
			font-size: calc(44 * 100vw / 1366);
			line-height: calc(52 * 100vw / 1366);
			margin-bottom: calc(24 * 100vw / 1366);
		}
		.store_block-product-price {
			font-size: calc(28 * 100vw / 1366);
			line-height: calc(36 * 100vw / 1366);
			margin-bottom: calc(24 * 100vw / 1366);
		}
		.store_block-product-subtitle {
			font-size: calc(14 * 100vw / 1366);
			line-height: calc(17 * 100vw / 1366);
			max-width: calc(450 * 100vw / 1366);
		}
		.store_block-product-amount {
			width: calc(183 * 100vw / 1366);
			height: calc(56 * 100vw / 1366);
			border-radius: calc(64 * 100vw / 1366);
		}
		.store_block-product-amount-button {
			width: calc(56 * 100vw / 1366);
			height: calc(56 * 100vw / 1366);
			box-shadow: 0px calc(4 * 100vw / 1366) calc(16 * 100vw / 1366) rgba(0, 0, 0, 0.1);
			border: 1px solid #FFFFFF;
			border-radius: calc(100 * 100vw / 1366);
		}
		.store_block-product-amount-button-minus > div,
		.store_block-product-amount-button-plus > div {
			width: calc(20 * 100vw / 1366); 
			height: calc(4 * 100vw / 1366); 
			left: calc(18 * 100vw / 1366); 
			top: calc(26 * 100vw / 1366);
		}
		.store_block-product-amount-value {
			font-size: calc(22 * 100vw / 1366);
			line-height: calc(30 * 100vw / 1366);
		}
		.store_block-product-select {
			width: calc(236 * 100vw / 1366);
			height: calc(56 * 100vw / 1366);
			border-radius: calc(100 * 100vw / 1366);
			grid-column-gap: calc(10 * 100vw / 1366);
		}
		.store_block-product-select-value {
			font-size: calc(24 * 100vw / 1366);
			line-height: calc(32 * 100vw / 1366);
		}
		.store_block-product-select-arrow {
			width: calc(24 * 100vw / 1366);
			height: calc(24 * 100vw / 1366);
		}
		.store_block-product-add {
			margin-top: calc(44 * 100vw / 1366);
			width: calc(183 * 100vw / 1366);
			height: calc(56 * 100vw / 1366);
			border: 1px solid #3374FB;
			border-radius: calc(100 * 100vw / 1366);
			font-size: calc(24 * 100vw / 1366);
			line-height: calc(32 * 100vw / 1366);
		} 
	} 
	@media screen and (max-width: 999px) {  
		.store_block {
			height: 625px;
			margin-top: 113px;
			margin-bottom: 80px;
		}
		.store_block-product {
			display: none;
		}
		.store_block-product-mobile {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
		}
		.store_block-title {
			height: 28px;
			font-size: 36px;
			line-height: 43px;
			/*margin-left: 0;*/
			margin-bottom: 51px;
		}
		.store_block-product-title {
			font-weight: 700;
			font-size: 26px;
			line-height: 31px;
			margin-bottom: 10px;
		}
		.store_block-product-price {
			font-weight: 700;
			font-size: 22px;
			line-height: 140%;
			margin-bottom: 22.88px;
		}
		.store_block-product-gallery {
			width: 342px;
			height: 210.65px;
			margin-right: 0;
			margin-bottom: 23.85px;
		}
		.store_block-product-info {
			width: 342px;
			height: 216.61px;
		}
		.store_block-product-info-bottom {
			width: 100%;
			height: 146.61px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}
		.store_block-product-select {
			width: 197px;
			height: 56px;
			background: #FFFFFF;
			border-radius: 100px;
			display: flex;
			justify-content: center;
			align-items: center;
			grid-column-gap: 10px;
		}
		.store_block-product-select-value {
			font-family: 'Gotham';
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 140%;
			color: #9FA1A8;
		}
		.store_block-product-select-arrow {
			width: 24px;
			height: 24px;
		}
		.store_block-product-select-arrow img {
			width: 100%;
			height: 100%;
		}
		.store_block-product-add {
			margin-top: 0;
			width: 149px;
			height: 56px;
			font-size: 18px;
			line-height: 140%;
		}
	}
</style>

<div class="store_block" id="shop-now">
	<div class="store_block-title">Store</div>				
	<div class="store_block-product">
		<div class="store_block-product-gallery">
			<div class="store_block-product-gallery-image"></div>
			<!-- <div class="store_block-product-gallery-nav store_block-product-gallery-nav-prev">
				<img src="{{ 'gallery_prev.png' | asset_url }}">
			</div>
			<div class="store_block-product-gallery-nav store_block-product-gallery-nav-next">
				<img src="{{ 'gallery_next.png' | asset_url }}">
			</div> -->
		</div>
		<div class="store_block-product-info">
			<div>
				<div class="store_block-product-title">Teslogic transmitter</div>
				<div class="store_block-product-price">$195</div>
				<div class="store_block-product-subtitle">
					The pack contains Teslogic transmitter, phone holder and iOS / Android Teslogic app
				</div>
			</div>
			<div>
				<!-- <div class="store_block-product-amount">
					<div class="store_block-product-amount-button store_block-product-amount-button-minus">
						<div></div>
					</div>
					<span class="store_block-product-amount-value" id="amount">1</span>
					<div class="store_block-product-amount-button store_block-product-amount-button-plus">
						<div></div>
						<div></div>
					</div>
				</div> -->
				<div class="store_block-product-select">
					<div class="store_block-product-select-dropdown-select store_block-product-selected">
						<span class="store_block-product-select-value">Select model</span>
						<div class="store_block-product-select-arrow">
							<img src="{{ 'select_arrow.png' | asset_url }}">
						</div>
					</div>
					<div class="store_block-product-select-dropdown">
						<div class="store_block-product-select-dropdown-select">
							<span class="store_block-product-select-value">Select model</span>
							<div class="store_block-product-select-arrow">
								<img src="{{ 'select_arrow.png' | asset_url }}">
							</div>
						</div>
						<div class="store_block-product-select-dropdown-item">Model 3 '21+</div>
						<div class="store_block-product-select-dropdown-item">Model 3 '17-20</div>
						<div class="store_block-product-select-dropdown-item">Model Y</div>
					</div>
				</div>
				<button class="store_block-product-add" id="add">Add to cart</button>
			</div>
		</div>
	</div>								
	<div class="store_block-product-mobile">
		<div class="store_block-product-title">Teslogic transmitter</div>
		<div class="store_block-product-price">$99.99</div>
		<div class="store_block-product-gallery">
			<div class="store_block-product-gallery-image"></div>
		</div>
		<div class="store_block-product-info">
			<div class="store_block-product-subtitle">
				The pack contains Teslogic transmitter,<br>phone holder and iOS / Android Teslogic app
			</div>
			<div class="store_block-product-info-bottom">
				<div class="store_block-product-select">
					<span class="store_block-product-select-value">Select model</span>
					<div class="store_block-product-select-arrow">
						<img src="{{ 'select_arrow.png' | asset_url }}">
					</div>
				</div>
				<button class="store_block-product-add">Add to cart</button>
			</div>
		</div>
	</div>				
</div>

<script type="text/javascript">
	$(document).ready(function() {
		/*var amount = Number($('#amount').text())
		$('.store_block-product-amount-button-minus').on('click', function() {
			if (amount <= 1) return
			amount -= 1
			$('#amount').text(amount)
		})
		$('.store_block-product-amount-button-plus').on('click', function() {
			amount += 1
			$('#amount').text(amount)
		})*/
		$('.store_block-product-select-dropdown-select').on('click', function() {
			$(this).parents('.store_block-product-select').find('.store_block-product-select-dropdown').toggle()
		})
		$('.store_block-product-select-dropdown-item').on('click', function() {
			let selected = $(this).text()
			$('.store_block-product-selected').find('.store_block-product-select-value').text(selected)
			$(this).parents('.store_block-product-select').find('.store_block-product-select-dropdown').hide()
		})
		$('.store_block-product-add').on('click', function() {
			console.log('add')
		})
	})
</script>
