<link rel="stylesheet" href="{{ 'using.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'using-responsive.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="using" id="using">
	<div class="using__title">How to use Teslogic</div>
	<div class="using__subtitle">
		Smooth start with soft installation.
		<a>Watch Video<img src="{{ 'icons/chevron-right-blue.svg' | asset_url }}"></a>
	</div>
	<div class="using__content">
		<div class="using__row using__row-1">
			<div class="using__row-legend">
				<div class="using__row-legend-number">1</div>
				<div class="using__row-legend-text">Connect a small Teslogic transmitter to your Tesla </div>
			</div>
			<div class="using__row-image using__row-image-desktop using__row-image-1"><img src="{{ 'using_1.png' | asset_url }}" srcset="{{ 'using_1-retina.png' | asset_url }} 2x" loading="lazy"></div>
			<div class="using__row-image using__row-image-mobile using__row-image-mobile-1"><img src="{{ 'using_1_mobile.png' | asset_url }}" srcset="{{ 'using_1.png' | asset_url }} 2x" loading="lazy"></div>
		</div>
		<div class="using__arrow_right"><img src="{{ 'using_arrow_right.png' | asset_url }}"></div>
		<div class="using__arrow_down"><img src="{{ 'using_arrow_down.png' | asset_url }}"></div>
		<div class="using__row using__row-2">
			<div class="using__row-legend">
				<div class="using__row-legend-number">2</div>
				<div class="using__row-legend-text">Install magnetic phone holder with optional charger</div>
			</div>
			<div class="using__row-image using__row-image-desktop using__row-image-2"><img src="{{ 'using_2.png' | asset_url }}" srcset="{{ 'using_2-retina.png' | asset_url }} 2x" loading="lazy"></div>
			<div class="using__row-image using__row-image-mobile using__row-image-mobile-2"><img src="{{ 'using_2_mobile.png' | asset_url }}" srcset="{{ 'using_2.png' | asset_url }} 2x" loading="lazy"></div>
		</div>
		<div class="using__arrow_right"><img src="{{ 'using_arrow_right.png' | asset_url }}"></div>
		<div class="using__arrow_down"><img src="{{ 'using_arrow_down.png' | asset_url }}"></div>
		<div class="using__row using__row-3">
			<div class="using__row-legend">
				<div class="using__row-legend-number">3</div>
				<div class="using__row-legend-text">Run Teslogic app</div>
			</div>
			<div class="using__row-image using__row-image-desktop using__row-image-3"><img src="{{ 'using_3.png' | asset_url }}" srcset="{{ 'using_3-retina.png' | asset_url }} 2x" loading="lazy"></div>
			<div class="using__row-image using__row-image-mobile using__row-image-mobile-3"><img src="{{ 'using_3_mobile.png' | asset_url }}" srcset="{{ 'using_3.png' | asset_url }} 2x" loading="lazy"></div>
		</div>
		<div class="using__arrow_right"><img src="{{ 'using_arrow_right.png' | asset_url }}"></div>
		<div class="using__arrow_down"><img src="{{ 'using_arrow_down.png' | asset_url }}"></div>
		<div class="using__row using__row-4">
			<div class="using__row-legend">
				<div class="using__row-legend-number">4</div>
				<div class="using__row-legend-text">Turn your phone into a convinient and functional dashboard that you’ve been missing so much</div>
			</div>
			<div class="using__row-image using__row-image-desktop using__row-image-4"><img src="{{ 'using_4.png' | asset_url }}" srcset="{{ 'using_4-retina.png' | asset_url }} 2x" loading="lazy"></div>
			<div class="using__row-image using__row-image-mobile using__row-image-mobile-4"><img src="{{ 'using_4_mobile.png' | asset_url }}" srcset="{{ 'using_4.png' | asset_url }} 2x" loading="lazy"></div>
		</div>
	</div>
</div>
