<link rel="stylesheet" href="{{ 'where_to_install.css' | asset_url }}" media="print" onload="this.media='all'">

{% assign articles = blogs['where-to-install'].articles | sort: "id" %}

<div class="where">
	<div class="where__title">Where to install</div>
	<div class="where__body">
	    {% for article in articles %}
	    	{% assign blog_content = article.content | append: "<p></p>" %}
			{% assign blog_lines = article.content | split: "</p>" %}
			{% assign latlng = '' %}
			<div class="where__item">
				<div class="where__item-left">
					<div class="where__item-title">{{ article.title }}</div>
					<div class="where__item-data">
					  {% for line in blog_lines %}
					    {% assign line = line | remove:"<p>" | strip %}
					    {% if line != "" %}
					      {% assign parts = line | split:":" %}
					      <div class="where__item-data-item">
					      	{% assign key = parts[0] | remove: "<p>" | strip %}
					      	{% assign value = parts[1] | remove: "<p>" | strip %}
					      	{% if key == 'latlng' %}
					      		{% assign latlng = value %}
					      	{% else %}
						      	<div class="where__item-data-item-key">{{ key }}:</div>
						      	<div class="where__item-data-item-value">{{ value }}</div>
					    	{% endif %}
					      </div>
					    {% endif %}
					  {% endfor %}
					</div>
					
				</div>
				<div class="where__item-right">
					<div class="where__item-image">
						<img draggable="false" src="{{ article.image | img_url: '392x392' }}">
					</div>

					<div class="where__item-map">
						<iframe
						  width="392"
						  height="288"
						  style="border:0"
						  loading="lazy"
						  allowfullscreen
						  src="https://www.google.com/maps/embed/v1/view?key=AIzaSyAqbo5rx2oVhWCW_pSzNrWnywQSRSdlnQ4&center={{ latlng }}&zoom=15">
						</iframe>
					</div>
				</div>				
			</div>
	  	{% endfor %}
	</div>
</div>
